@charset "UTF-8";
/*
 @at-root {.class { } } 존속받지 않고 root에 위치
 */
/*
일반, 주의, 경고, 위험 색상단계 정의

일반 :
주의 : 노랑  $color-yellow-01  lever-caution
경고 : 주황  $color-orange-01  lever-warning
위험 : 빨강  $color-red-01     lever-danger
*/
section.container {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 80px 50px 0 50px;
  transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1); }
  section.container.on {
    padding-right: 380px; }

.tree_table {
  position: absolute;
  z-index: 1;
  width: 320px !important;
  float: left;
  margin: 20px 0 0 0;
  padding: 20px;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.02);
  -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.02);
  border-style: solid;
  border-width: 1px;
  border-color: #bcbcbc; }
  .tree_table ~ .form_type01 {
    padding: 20px 0 0 380px; }
  .tree_table .table_title_area {
    height: 40px; }
  .tree_table .tree_box {
    width: 100%;
    margin: 20px 0;
    /*
        & > ul > li > ul > li {
          &:after  {width:1px; bottom:-18px; top:-5px; left:-$tree-bwidth;}
          &:before {top:17px;  width:$tree-bwidth; height:1px; left:-$tree-bwidth;}
          &:last-of-type:after {display: none;}
        }
        */
    /*& > ul > li > ul > li > ul li {
      &:after, &:before {left:-($tree-bwidth - 2px); }
      &:after {width:1px; height:100%; top:-16px;}
      &:before {top:50%;  width:($tree-bwidth - 10px); height:1px; }
    }*/ }
    .tree_table .tree_box ul {
      font-size: 16px;
      white-space: nowrap; }
      .tree_table .tree_box ul, .tree_table .tree_box ul li, .tree_table .tree_box ul a, .tree_table .tree_box ul span {
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: none; }
      .tree_table .tree_box ul span.dynatree-icon {
        display: none; }
      .tree_table .tree_box ul a {
        position: relative; }
      .tree_table .tree_box ul li {
        position: relative; }
        .tree_table .tree_box ul li > span {
          height: 40px; }
          .tree_table .tree_box ul li > span, .tree_table .tree_box ul li > span > a {
            box-align: center;
            -webkit-box-align: center;
            -moz-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center; }
          .tree_table .tree_box ul li > span > a:before {
            content: "\e929";
            width: 26px;
            height: 26px;
            font-size: 26px;
            margin: 0 10px 0 0; }
          .tree_table .tree_box ul li > span > a span {
            font-weight: bold; }
          .tree_table .tree_box ul li > span > a:hover, .tree_table .tree_box ul li > span > a:focus {
            color: #be1e1e;
            background-color: transparent; }
          .tree_table .tree_box ul li > span span.dynatree-expander, .tree_table .tree_box ul li > span span.dynatree-connector {
            position: relative;
            z-index: 1;
            width: 26px;
            min-width: 26px;
            height: 26px;
            margin: 0 10px 0 0;
            background-image: none;
            /*
            &:after {
              position: absolute; top:($tree-bwidth / 2); left:7px;
              width:$tree-bwidth; height:1px; opacity: 0.4;
            }
            */ }
            .tree_table .tree_box ul li > span span.dynatree-expander ~ a:before, .tree_table .tree_box ul li > span span.dynatree-connector ~ a:before {
              display: none; }
            .tree_table .tree_box ul li > span span.dynatree-expander:before, .tree_table .tree_box ul li > span span.dynatree-expander:after, .tree_table .tree_box ul li > span span.dynatree-connector:before, .tree_table .tree_box ul li > span span.dynatree-connector:after {
              content: "";
              background-color: #2d2d2d; }
            .tree_table .tree_box ul li > span span.dynatree-expander:before, .tree_table .tree_box ul li > span span.dynatree-connector:before {
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              display: flexbox;
              display: box;
              box-align: center;
              -webkit-box-align: center;
              -moz-box-align: center;
              -webkit-align-items: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: center;
              -moz-box-pack: center;
              -webkit-justify-content: center;
              -ms-flex-pack: center;
              justify-content: center;
              -moz-border-radius: 200px;
              -webkit-border-radius: 200px;
              border-radius: 200px;
              -khtml-border-radius: 200px;
              width: 100%;
              height: 100%;
              color: #fff;
              z-index: 1; }
          .tree_table .tree_box ul li > span span.dynatree-connector:before {
            content: "·";
            font-weight: bold;
            line-height: 16px; }
          .tree_table .tree_box ul li > span span.dynatree-expander:before {
            content: "\e92b"; }
          .tree_table .tree_box ul li > span.dynatree-ico-e span.dynatree-expander:before {
            content: "\e92c";
            background-color: #be1e1e; }
    .tree_table .tree_box ul:after, .tree_table .tree_box ul:before, .tree_table .tree_box li:after, .tree_table .tree_box li:before {
      content: "";
      position: absolute;
      background-color: #bcbcbc; }
    .tree_table .tree_box > ul > li ul {
      padding: 0 0 0 36px; }
    .tree_table .tree_box > ul > li > ul {
      padding: 0; }
    .tree_table .tree_box > ul > li > ul li:before, .tree_table .tree_box > ul > li > ul li:after {
      width: 1px;
      left: 13px; }
    .tree_table .tree_box > ul > li > ul li ul li:before {
      top: -5px;
      height: 20px; }
    .tree_table .tree_box > ul > li > ul li:after {
      bottom: -10px;
      top: 10px; }
    .tree_table .tree_box > ul > li > ul li:last-of-type:after {
      display: none; }

.tr_table {
  /*padding: 20px 0 0 320px;*/ }

.code_list {
  float: left;
  position: relative;
  width: 100%; }
  .code_list > button, .code_list > div {
    overflow: hidden;
    float: left;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    border-radius: 200px;
    -khtml-border-radius: 200px;
    margin: 0 5px 0 0; }
    .code_list > button:hover, .code_list > div:hover {
      background-color: #109dcb;
      border-color: #109dcb;
      color: #fff; }
  .code_list > button, .code_list > div > button {
    height: 40px; }
    .code_list > button, .code_list > button:before, .code_list > div > button, .code_list > div > button:before {
      font-weight: bold; }
  .code_list > button {
    background-color: #4c4c4c;
    color: #fff;
    padding: 0 20px; }
    .code_list > button:before {
      content: "\e925";
      color: #fff;
      padding: 0 5px 0 0; }
  .code_list > div {
    border-style: solid;
    border-width: 1px;
    border-color: #4c4c4c; }
    .code_list > div > button:nth-of-type(1) {
      padding: 0 0 0 10px;
      line-height: 11px; }
    .code_list > div > button:nth-of-type(2):before {
      content: "\e91a";
      padding: 0 10px; }

.chartist-tooltip {
  min-width: 0  !important;
  width: 40px !important;
  height: 40px !important;
  padding: 12px 0 0 0 !important;
  background-color: #333240 !important;
  color: #fff !important;
  -moz-border-radius: 200px !important;
  -webkit-border-radius: 200px !important;
  border-radius: 200px !important;
  -khtml-border-radius: 200px !important; }
  .chartist-tooltip:before {
    margin: -2px 0 0 -5px  !important;
    border-style: solid !important;
    border-width: 10px 5px 0 5px !important;
    border-color: #333240 transparent transparent transparent !important; }

.left_table, .right_table {
  width: 50% !important; }

.width60p {
  width: 55% !important; }

.width40p {
  width: 45% !important; }

.width45p {
  width: 45% !important; }

.width10p {
  width: 10% !important; }

.left_table {
  float: left;
  padding: 20px 20px 20px 0; }

.center_table {
  float: left;
  padding: 20px 0; }

.right_table {
  float: right;
  padding: 20px 0 20px 20px; }

.table_title_area {
  position: relative;
  width: 100%;
  flex: 1 0 65px;
  -webkit-flex: 1 0 65px;
  flexbox: 1 0 65px;
  -webkit-box-flex: 0;
  -ms-flex: 1 0 65px;
  height: 65px;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .table_title_area > h4 {
    border: none; }

.table_btn_set {
  flex: 1;
  -webkit-flex: 1;
  flexbox: 1;
  position: relative;
  -webkit-box-pack: end;
  -moz-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .table_btn_set > select {
    width: 120px; }
  .table_btn_set > p {
    position: absolute;
    top: 50%;
    left: 0;
    height: 18px;
    margin: -9px 0 0 0;
    opacity: 0.8; }
    .table_btn_set > p > span {
      height: 100%; }
      .table_btn_set > p > span > em {
        padding: 0 5px 0 10px;
        font-weight: bold; }

textarea.noboder_type01 {
  border: none;
  min-height: 150px;
  background-color: transparent;
  font-family: inherit; }

.editable01 {
  overflow: auto;
  width: 100%;
  height: auto !important;
  margin: 10px 0;
  white-space: normal; }

.main_type00 {
  width: 40%;
  padding: 20px 40px 20px 0; }

.main_type01 {
  width: 40%;
  padding: 20px 40px 20px 0; }

.main_type02 {
  width: 60%; }

.main_type03 {
  width: 100%; }

.main_type04 {
  width: 30%;
  padding: 20px 20px 20px 0; }

.main_type05 {
  width: 30%;
  padding: 20px 0 20px 20px; }

.area_enrolment {
  display: none; }

.mon_ico {
  position: relative;
  height: 100%; }

.ico_mon:before {
  content: "\f133"; }

.ico_rev:before {
  content: "\f017"; }

.mon_ico:before {
  text-align: center;
  position: relative;
  top: 8px;
  width: 100%;
  font-size: 14px; }

.fc-day.fc-widget-content:hover {
  background-color: #bce8f1;
  opacity: .3; }

a.fc-more {
  position: relative;
  z-index: 2; }

.fc-day-number {
  position: relative;
  z-index: 2; }

.colorbox {
  width: 20px;
  height: 20px;
  margin: auto; }

/*# sourceMappingURL=admin.css.map */
