.sub_title_area, .top_gnb_area, .search_area, .search_contents, .search_btn, .search_contents > p, .search_contents > p > span,
.tree_box, .table_title_area, .maun_human, .code_list > div,.metro_root, .metro_parent, .metro_parent > div, .mc_bico,
.metro_parent > div:after, .mp_header, .mp_contents, .mc_element, .mp_contents > div, .ch_name, .mc_bico:before,  .mc_list > li,
.personnel , .personnel > div > div, .month_btn_set, .chart_table_area > div > div, .chartist-tooltip
{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

.metro_root, .metro_parent, .mc_bico:before, .mc_bico, .mc_list > li, .personnel, .personnel > div, .personnel > div > span,
.mc_element, .metro_child, .vh_mode, .mp_contents, .mp_header > h2, .mp_header > div, .ha_right_set > div, .ha_right_set,
.main_title_area, .menu_tree_set li, .dash_contents_area > div, .hrs_date > span, .month_btn_set
{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;display:flexbox;display:box;}

.mc_bico:before, .mc_bico, .mce_btn_area > button, .m_human, .check_th tbody tr:before, .check_th tbody tr td:first-of-type:before
{-moz-border-radius:200px;-webkit-border-radius:200px;border-radius:200px;-khtml-border-radius:200px;}


/* --------------------------------- 로그인 부분 시작 -----------------------------------------*/
.login_area > article {width: 100%; height: 100%; margin: auto; text-align: center;}
/*로그인 타이틀 영역 */
.login_logo_area {
    display: table; width: 100%; height: 60px;
    background-image: url(../images/logo/login_logo.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #5093e1;
}

.login_logo_area p {
    display: table-cell; vertical-align: middle; text-align: center;
    position: relative; z-index:1; width: 100%; height: 100%;
    font-size: 30px;color: #fff;
}
.login_input_area {position: relative; width: 260px; text-align: left; margin: 36px auto 0;}
.caps {position: absolute; left:0; bottom: 24px; width:100%; text-align:center; color:red; font-size:13px;}
/* --------------------------------- 로그인 부분 끝 -----------------------------------------*/



/*공통 헤더 로고 영역*/
.header_area {position: relative; width:100%; height:100%;}
.ha_right_set, .ha_right_set > div, .ha_right_set > div > * {height: 100%;}
.ha_right_set {overflow: hidden; position: absolute; top:0; right:50px;}
.ha_right_set > div {
    -webkit-box-align:   center;
    -moz-box-align:      center;
    -webkit-align-items: center;
    -ms-flex-align:      center;
    align-items:         center;
}
.ha_right_set > div > * {position: relative; color:#e0e0de;}

.ha_right_set > div.hrs_btn_set, .ha_right_set > div.hrs_btn_set > button {display: inline-block}
.ha_right_set > .hrs_btn_set > button {z-index: 1; width:40px; border:none; font-size:20px;}
.ha_right_set > .hrs_btn_set > button:hover:before {}

.ha_right_set > .hrs_btn_set > button.issue:after {
    content: "";
    position: absolute; z-index:-1; left:50%; top:50%; margin:-14px 0 0 -15px;
    width:30px; height:30px; background-color: #ff4c38;
    -moz-border-radius:    20px;
    -webkit-border-radius: 20px;
    border-radius:         20px;
    -khtml-border-radius:  20px;
    /*
    transition:        all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition:   all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -webkit-transition:all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition:     all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -ms-transition:    all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    */

}
/* 이벤트 감지 아이콘 애니메이션  */
.ha_right_set > .hrs_btn_set > button.issue_on:after {
    animation-name: issue;
    -webkit-animation-name: issue;
    -webkit-animation-duration: 5s;
    animation-duration:         5s;
    -webkit-animation-iteration-count:  1;
    animation-iteration-count:  1;
    animation-fill-mode:             both;
    -webkit-animation-fill-mode:     both;
}
@-webkit-keyframes issue {
    0%   {opacity: 1;}
    5%   {opacity: 0;}
    10%  {opacity: 1;}
    15%  {opacity: 0;}
    20%  {opacity: 1;}
    25%  {opacity: 0;}
    30%  {opacity: 1;}
    35%  {opacity: 0;}
    40%  {opacity: 1;}

    45%  {opacity: 0;}
    50%  {opacity: 1;}
    55%  {opacity: 0;}

    100% {opacity: 1;}
}

@keyframes issue {
    0%   {opacity: 1;}
    5%   {opacity: 0;}
    10%  {opacity: 1;}
    15%  {opacity: 0;}
    20%  {opacity: 1;}
    25%  {opacity: 0;}
    30%  {opacity: 1;}
    35%  {opacity: 0;}
    40%  {opacity: 1;}

    45%  {opacity: 0;}
    50%  {opacity: 1;}
    55%  {opacity: 0;}

    100% {opacity: 1;}
}

.hrs_date > span {
    -webkit-box-align:   center;
    -moz-box-align:      center;
    -webkit-align-items: center;
    -ms-flex-align:      center;
    align-items:         center;

    height:100%; padding:0 20px; font-size:12px;
}
.hrs_date > span:first-of-type {font-size:20px; }
.hrs_date > span:first-of-type:after {
    content:"";  position: absolute; right:0; top:50%; margin:-5px 0 0 0;
    width:1px; height:10px; background-color: #fff; opacity: 0.4;
}
.hrs_date > span:last-of-type {cursor:pointer;}
.hrs_date > span:last-of-type:before {content: "\e92f"; font-size:18px; padding:0 8px 4px 0; }


/* 데시보드 타이틀 영역 main_title_area,   어드민 타이틀 영역 .sub_title_area*/
.main_title_area, .sub_title_area {position: relative; width:100vh;  min-width: 100%;}
.main_title_area {height: 32px; padding: 0 20px; margin:6px 0 0 0;}
.sub_title_area  {
    height:45px;
    border-style:solid;
    border-width:0 0 2px 0;
    border-color:#333240;
}

/* 어드민 트리 박스 */
.tree_box {
    width:100%; padding:10px; margin:0 0 20px 0;
    border-width:1px;
    border-style:solid;
    border-color:#e4e4e4;
    background-color: #fff;
    box-shadow:         1px 2px 4px rgba(0,0,0,0.02);
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.02);
    -moz-box-shadow:    1px 2px 4px rgba(0,0,0,0.02);
}

/* 이벤트 관리 상세 조치코드 리스트 부분  */
.code_list {position: relative; width:100%;  height:100%; float:left;}
.code_list > button, .code_list > div {
    -moz-border-radius:    20px;
    -webkit-border-radius: 20px;
    border-radius:         20px;
    -khtml-border-radius:  20px;
}
.code_list > button {float:left; height:32px; background-color: #3e3e3e; color:#fff; padding:0 20px;}
.code_list > button:hover { background-color: #2692ec;}
.code_list > button:before {content:"\e922"; font-weight:bold; font-size:16px; color:#fff; padding:0 5px 0 0;}
.code_list > div {
    overflow: hidden; float:left; height:32px; margin:0 5px 5px 0;
    border-style:solid; border-width:1px; border-color:#b7b7b7;
}
.code_list > div:hover > button {background-color: #b11831 !important; color:#fff;}
.code_list > div > button, .code_list > div > button:nth-of-type(2):after {height:100%; font-weight: bold;}
.code_list > div > button:nth-of-type(1) {padding:0 0 0 10px; line-height: 11px;}
.code_list > div > button:nth-of-type(2):after {content:"\e925"; padding:0 10px; }


/* 데시보드 컨텐츠 영역 */
.dash_contents_area {position: relative; width:100%; height:calc(100% - 46px); outline: none;}
.dash_contents_area > div {
    height:100%;
    -webkit-box-orient:     column;
    -webkit-box-direction:  column;
    -webkit-flex-direction: column;
    -ms-flex-direction:     column;
    flex-direction:         column;
}


.metro_root, .metro_parent {width:100%;}
.metro_root { padding:0 10px;  flex:1; -webkit-flex:1; flexbox:1;}

/* 가로정렬  */
.metro_parent {
    -webkit-flex-flow: row wrap;
    -moz-flex-flow:    row wrap;
    -ms-flex-flow:     row wrap;
    flex-flow:         row wrap;
    position: relative;
}
/* 새로정렬 */
.v_mode {}
.vh_mode {
    -webkit-box-orient:     column;
    -webkit-box-direction:  column;
    -webkit-flex-direction: column;
    -ms-flex-direction:     column;
    flex-direction:         column;
    /*overflow: hidden;*/
}

.metro_parent.v_mode  > div {flex:1 0;-webkit-flex:1 0; flexbox:1 0; min-height:40%;}
.metro_parent.vh_mode > div {flex:1 0;-webkit-flex:1 0; flexbox:1 0;}
.metro_parent.v_mode  > .flex100 {flex:1 100%; -webkit-flex:1 100%; flexbox:1 100%;  min-height:auto;}

.metro_parent > div, .metro_parent > div:after {width:100%;}
.metro_parent > div {
    position: relative; width:100%;  margin:10px;
    background-color: #25252f;
    box-shadow:         0px 0px 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
}
.metro_parent > div:after {content:""; position: absolute; height:100%;}

.mp_header, .mp_contents {position: absolute; z-index:1; }
.mp_header {
    top:0; left:15px; right:15px; height:40px; margin:5px 0;
    border-width:0 0 1px 0; border-style:dotted; border-color:#131313;
}
.mp_contents {overflow: hidden;  top:50px; left:15px; right:10px; bottom:15px;}

.mc_element .mp_header   {position: relative; width:100%; left:auto; right:auto;}
.mc_element .mp_contents {left:0; right:0;}

.mc_element_set, .mc_element { flex:1 0; -webkit-flex:1 0; flexbox:1 0;}
.mc_element_set {width:100%; height:100%; /*max-height:300px;*/ margin: 0 0 20px 0;}
.mc_element     {/*width:calc(100% - 160px); width:-webkit-calc(100% - 160px);*/ height:100%; margin:0; }

.mc_element_set .mc_element {
    box-align: center;
    -webkit-box-align:   center;
    -moz-box-align:      center;
    -webkit-align-items: center;
    -ms-flex-align:      center;
    align-items:         center;
    width:100%; height:80px; min-height:80px; margin: 4px 0 8px 0 !important;
}

.mc_tline       {width:100%; height:100%; margin: 20px 0 0 0;}
.mc_tline.vtype {  height:100%; margin: 0 0 0 20px;}

.mc_tline:after, .mc_tline:before ,
.mc_tline.vtype:after, .mc_tline.vtype:before
{content:""; position: absolute; z-index:1; }

.mc_tline:before {background-color: #100f12; }
.mc_tline:after  {background-color: #363644;}

.mc_tline:after, .mc_tline:before             {width:100%; height:1px;  left:0;}
.mc_tline.vtype:after, .mc_tline.vtype:before {width:1px;  height:100%; top:auto;}

.mc_tline:before {top:-20px;}
.mc_tline:after  {top:-19px;}

.mc_tline.vtype:before {left:-20px;}
.mc_tline.vtype:after  {left:-19px;}

.mc_element_set {/*flex:2 0; -webkit-flex:2 0; flexbox:2 0;*/}
.mc_element_set + .mc_element {}

.mp_header > h2, .mp_header > div {
    box-align: center;
    -webkit-box-align:   center;
    -moz-box-align:      center;
    -webkit-align-items: center;
    -ms-flex-align:      center;
    align-items:         center;

    position: absolute; height:100%;
}
.mp_header > h2  {left:0; color:#fff; font-size:16px;}
.layer_popup .mp_header > h2  {font-size:20px;}
.mp_header > div {right:0px;width:auto; }
.mp_header > div > button, .mp_header > div > button:before {color:#fff;}


/* 상태 아이콘 정의 시작*/
.mp_contents > div {position: relative; flex:1; -webkit-flex:1; flexbox:1; }
.mc_bico:before, .mc_bico {
    box-align: center;
    -webkit-box-align:   center;
    -moz-box-align:      center;
    -webkit-align-items: center;
    -ms-flex-align:      center;
    align-items:         center;

    -webkit-box-pack:        center;
    -moz-box-pack:           center;
    -webkit-justify-content: center;
    -ms-flex-pack:           center;
    justify-content:         center;
}
.mc_bico.type01, .mc_bico.type01:before {border-style:solid; border-color:#01d65a; color:#01d65a;}
.mc_bico.type01 {
    width:     160px;
    min-width: 160px;
    max-width: 160px;
    height:    160px;
    min-height:160px;
    min-height:160px;
    margin:0 20px; border-width:6px;
}
.mc_bico.type01:before {padding:18px; font-size:90px; border-width:2px;}

.mc_bico.type02 {}
.mc_bico.type02 {
    width:70px; height:70px; min-height:70px;
    border-style:solid;
    border-color:#01d65a;
    border-width:2px 2px 2px 2px;
    color:#01d65a; background-color: #1e1d23;
}
.mc_bico.type02:before {font-size:50px;}

.mc_bico.type03 {
    width:auto; height:100%; min-height: 100px; max-height: 220px;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: 55%;
    -webkit-align-self: center;
    align-self:         center;
}

.layer_popup .mc_bico.type03 {background-size: 70%; background-position: 50% 0;}


.mc_bico.type03.gas_level01 {background-image: url(../images/ico/gas_level01.png);}
.mc_bico.type03.gas_level02 {background-image: url(../images/ico/gas_level02.png);}
.mc_bico.type03.gas_level03 {background-image: url(../images/ico/gas_level03.png);}

.mc_bico.type03 > p {
    position: absolute; bottom:0; left:0;
    width:100%; text-align: center; color:#999; background-color: rgba(37,37,47,0.7);
}

.level03:after {border-style:solid;border-width:4px;border-color:#fe4d3b;}
.level03 .mp_header > div > button.alra_btn,
.mp_header > div > button.alra_btn.on {background-color: #fe4d3b;}

.level03 .mc_bico.type01 {border-color:#fe4d3b;}
.level03 .mc_bico.type01:before {background-color: #fe4d3b; border-color:#fe4d3b; color:#1e1d23;}

.mc_bico.type02.level03 {border-color:#fe4d3b; background-color: #fe4d3b;}
.mc_bico.type02.level03:before {color:#1e1d23;}

.level02 .mc_bico.type01 {border-color:#ffce53;}
.level02 .mc_bico.type01:before {border-color:#ffce53; color:#ffce53;}


/* 구역 이슈 시작 */
.mce_btn_area > button.level03 { background-color: #fe4d3b; color:#fff;}
.mce_btn_area > button.level02 { border-style:solid; border-width:3px; border-color: #ffce53; color:#ffce53;}
/* 구역 이슈 끝 */


/* 엘로우 경고
.on_type02 .mc_bico.type01,
.on_type02 .mc_bico.type01:before {}
.on_type02 .mc_bico.type01:before {background-color:#ffce53; color:#1f1e24;}
*/

/* 이슈 아이콘 설정 시작  */
.worker, .worker:before {}
.crane, .crane:before   {}
.going, .going:before   {}
.etc, .etc:before       {}
/* 이슈 아이콘 설정 끝  */

.mc_box {flex:1; -webkit-flex:1; flexbox:1; overflow: hidden; margin: 0 20px;}
.mc_box > p {
    overflow:     hidden;
    text-overflow:ellipsis;
    white-space:  nowrap;
    word-wrap:    normal;
    color:#fff;
}
.mc_box > p:nth-of-type(1) {font-size:18px; margin:0 0 4px 0;}
.mc_box > p:nth-of-type(2) {
    display: inline-block;
    font-size:16px; color:#999; font-weight:bold;
    padding: 4px 10px;
    background-color: #1e1d23;
}

.mce_btn_area, .mce_btn_area > button, .mce_btn_area > button > span {overflow: hidden;}

.mce_btn_area > button {
    float:left;
    position: relative;
    width:     110px;
    min-width: 110px;
    height:    110px;
    min-height:110px;
    margin:5px;padding: 12px;

    transition:        all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition:   all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -webkit-transition:all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition:     all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -ms-transition:    all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);

    background-color: #3a3a44; color:#fff;
}


.mce_btn_area > button > span {
    overflow: hidden;
    position: relative;
    width:100%;/*height:100%;*/ font-size:15px; word-break:break-all; line-height: 16px;
}


.mce_btn_area > button > span:nth-of-type(1)
{/*flex:1; -webkit-flex:1; flexbox:1; min-height:calc(100% - 20px); max-height:calc(100% - 20px); */
    max-height:32px;
}
.mce_btn_area > button > span:nth-of-type(1) > em {display: inline-block; height:100%;}
.mce_btn_area > button > span:nth-of-type(2) {
    position: absolute; z-index:1; left:0; bottom:15px;
    font-size:16px; font-weight:bold;
}



.mce_btn_area > button > span:nth-of-type(2) > em {padding:0 0 0 3px; opacity: 0.7;}

.mc_list {padding:0 20px 0 0}
.mc_list > li {
    box-align: center;
    -webkit-box-align:   center;
    -moz-box-align:      center;
    -webkit-align-items: center;
    -ms-flex-align:      center;
    align-items:         center;
    height:26px; padding:0 10px; margin:0 0 3px 0;
}

.mc_list > li.level02 > span {color:#ffce53;}
.mc_list > li.level03 {background-color: #fe4d3b;}
.mc_list > li.level03 > span {color:#fff;}

.mc_list > li > span {
    color:#999;

    overflow:     hidden;
    text-overflow:ellipsis;
    white-space:  nowrap;
    word-wrap:    normal;

}
.mc_list > li > span:nth-of-type(1) {width:60px; }
.mc_list > li > span:nth-of-type(2) {flex:1 }
.mc_list > li > span:nth-of-type(3) {width:60px; text-align: right; }

.personnel {position: relative; width:100%; padding:10px 0 0 0;}
.personnel > div {
    flex:1; -webkit-flex:1; flexbox:1;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow:    row wrap;
    -ms-flex-flow:     row wrap;
    flex-flow:         row wrap;
    height:100%; margin:0 10px;
}

.personnel > div > p   {width:100%; height:20px; min-height:20px; color:#999;}
.personnel > div > span {
    -webkit-box-pack:        center;
    -moz-box-pack:           center;
    -webkit-justify-content: center;
    -ms-flex-pack:           center;
    justify-content:         center;

    box-align: end;
    -webkit-box-align:   end;
    -moz-box-align:      flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align:      flex-end;
    align-items:         flex-end;

    width:100%; height:110px; color:#fff; font-size:100px; font-weight: bold;
}
.personnel > div.past > span {color:#999; font-size:80px;}
.personnel > div > div {
    flex:1; -webkit-flex:1; flexbox:1; position: relative; height:70px; padding:27px 0 0 0;
    text-align: center; font-size:36px; color:#999; margin:0 1px;
}
.personnel > div > div:before {
    position: absolute; top:0; left:0; width:100%; font-size:20px; color:#fff;
    background-color: #4c4c54;
}

.personnel > div.now > div:nth-of-type(1) {color:#a8d164;}
.personnel > div.now > div:nth-of-type(2) {color:#cc3dd3;}
.personnel > div > div:nth-of-type(1):before {content: "IN";}
.personnel > div > div:nth-of-type(2):before {content: "OUT";}


/* 메뉴관리권한 UI */
.menu_tree_set {width:100%; height:100%;}
.menu_tree_set > li,
.menu_tree_set > li button {border-style:solid;}
.menu_tree_set > li        {border-color:#e4e4e4;}
.menu_tree_set > li button {border-color:#b3b2b2;}

.menu_tree_set li, .menu_tree_set li ul {position: relative;}
.menu_tree_set > li {
    /* display:inline-block  flex알쓸때 */
    width:100%; border-width:0 0 1px 0; padding:10px 0;
}

.menu_tree_set > li button {
    text-align: left; width:220px; min-width:220px; height:40px;
    padding:0 10px 0 40px; margin:3px 0; border-width:1px;
}
.menu_tree_set > li button:hover {border-color:#b11831;}
.menu_tree_set > li button:before
{content: "\e915"; position: absolute; top:50%; left:8px; margin:-13px 0 0 0; width:26px; height:26px; font-size:26px;}

.menu_tree_set > li button.on {background-color: #29a1f7; border-color:#29a1f7; color:#fff;}
.menu_tree_set > li button.on:before {content: "\e91a";}
.menu_tree_set > li ul {margin:0 0 0 20px}

.menu_tree_set > li ul:before,
.menu_tree_set > li > ul button:after,
.menu_tree_set > li ul li:after{
    content:""; position: absolute; background-color:#d0d0d0;
}
/*.menu_tree_set > li ul:after {top:24px; left:-10px; height:calc(100% - 48px);height:-webkit-calc(100% - 48px);  width:1px;}*/
.menu_tree_set > li ul:before,
.menu_tree_set > li > ul button:after {width:10px; height:1px;}
.menu_tree_set > li ul:before         {top:24px; left:-20px;}
.menu_tree_set > li > ul button:after {top:50%;  left:-10px; margin:1px 0 0 -1px;}

.menu_tree_set > li ul li:after {top:24px;; left:-10px; bottom:-25px; width:1px;}
.menu_tree_set > li ul li:first-of-type:after {}
.menu_tree_set > li ul li:last-of-type:after  {display: none;}
/*.menu_tree_set > li ul {margin: -50px 0 0 240px;} flex알쓸때  */




/* 마키 시작 */
.marquee {
    /* position: absolute;
    top:50%; left:200px; right:20px; margin:-15px 0 0 0; */
    overflow: hidden; position: relative; width:100%; height:30px; flex:1; -webkit-flex:1; flexbox:1;
}
.marquee:after, .marquee:before {
    content:"";  position: absolute; z-index:1; width:50px; height:100%; top:0;
}
.marquee:after  {
    left:0;
    background: -moz-linear-gradient(left,   rgba(30,29,35,1) 0%, rgba(30,29,35,0) 100%);
    background: -webkit-linear-gradient(left,rgba(30,29,35,1) 0%, rgba(30,29,35,0) 100%);
    background: linear-gradient(to right,    rgba(30,29,35,1) 0%, rgba(30,29,35,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1d23', endColorstr='#001e1d23',GradientType=1 );
}
.marquee:before {
    right:0;
    background: -moz-linear-gradient(left,   rgba(30,29,35,0) 0%, rgba(30,29,35,1) 100%);
    background: -webkit-linear-gradient(left,rgba(30,29,35,0) 0%, rgba(30,29,35,1) 100%);
    background: linear-gradient(to right,    rgba(30,29,35,0) 0%, rgba(30,29,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1d23', endColorstr='#001e1d23',GradientType=1 );
}
.admin_mode .marquee:after  {
    background: -moz-linear-gradient(left,   rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left,rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,    rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1d23', endColorstr='#001e1d23',GradientType=1 );
}
.admin_mode .marquee:before {
    background: -moz-linear-gradient(left,   rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left,rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,    rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1d23', endColorstr='#001e1d23',GradientType=1 );
}

.marquee, .marquee * {
    height:100%; color:#29a1f7;
    transition:        all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition:   all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -webkit-transition:all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition:     all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -ms-transition:    all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);

}
.marquee button {opacity: 0.8; height:100%; margin:0 15px; padding:6px 0 0 20px; font-size:14px; }
.marquee button span {display:initial; font-weight:bold; font-size:16px;}
.marquee button:hover *{opacity: 1; color:#fff;}
.marquee button:before {
    content:"●"; position: absolute; left: 5px; top: 50%; margin: -4px 0 0 0; font-size:10px;
}

/*
.marquee > div, .marquee > div * {height:100%; color:#29a1f7;}
.marquee > div button {opacity: 0.8; height:100%; margin:0 15px; padding:0 0 0 20px; font-size:14px; }
.marquee > div button span {display:initial; font-weight:bold; font-size:16px;}
.marquee > div button:hover {opacity: 1;}
.marquee > div button:before {
    content:"●"; position: absolute; left: 5px; top: 50%; margin: -7px 0 0 0; font-size:10px;
}

.marquee > div {
    position: absolute; z-index:1;
    top:8px;
    box-align: center;
    -webkit-box-align:   center;
    -moz-box-align:      center;
    -webkit-align-items: center;
    -ms-flex-align:      center;
    align-items:         center;

    animation-name: marquee;
    -webkit-animation-name: marquee;
    -webkit-animation-duration: 30s;
    animation-duration:         30s;
    -webkit-animation-iteration-count:  infinite;
    animation-iteration-count:  infinite;

    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.marquee > div:hover {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .marquee > div {top:2px;}
}

@-webkit-keyframes marquee {
    0%   {left:0;}
    100% {left:-100%;}
}
@keyframes marquee {
    0%   {left:0;}
    100% {left:-100%;}
}
*/
/* 마키 끝 */



/* 데시보드 라인 차트 시작  */
.personnel + .ct-chart {padding:20px 0 0 0; height:210px;}
/*
.personnel + .ct-chart {
    -webkit-flex-flow: row wrap;
    -moz-flex-flow:    row wrap;
    -ms-flex-flow:     row wrap;
    flex-flow:         row wrap;

    flex:1; -webkit-flex:1; flexbox:1;
    box-align: end;
    -webkit-box-align:   end;
    -moz-box-align:      flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align:      flex-end;
    align-items:         flex-end;
}
*/

.mp_contents .ct-chart-line {overflow: hidden; position: relative; margin:10px 0 0 0;}
.personnel + .ct-chart .ct-chart-line {}
.mp_contents .ct-chart-line > g:nth-of-type(2) {position: absolute; left:0; top:0; bottom:0;  right:0;}

.ct-label {fill: #fff;  font-size: 13px !important; }
.ct-labels * {color:#8d8e90 !important; fill:#8d8e90 !important;}

.mp_contents .ct-grids, .mp_contents .ct-grids * {color:#fff !important;}
.mp_contents .ct-grid {
    stroke: rgba(152,152,152,.16) !important;
    stroke-width: 1px;
    stroke-dasharray: 0 !important;
}
.mp_contents .ct-grid.ct-horizontal {opacity: 0.1 !important;}

.ct-series .ct-line, .ct-series .ct-point {stroke-linecap: square;}
.ct-series .ct-line  { stroke-width: 1px !important; }
.ct-series .ct-point { stroke-width: 3px !important; }

/*
.mp_contents .ct-series-a .ct-line,
.mp_contents .ct-series-a .ct-point {stroke: #01d65a !important; }
.mp_contents .ct-series-b .ct-line,
.mp_contents .ct-series-b .ct-point {stroke: #cc3dd3 !important; }
.mp_contents .ct-series-c .ct-line,
.mp_contents .ct-series-c .ct-point {stroke: #ffce53 !important; }
*/

/*
.ct-series-a .ct-area,
.ct-series-a .ct-slice-pie, 파이차트
.ct-series-a .ct-bar,
.ct-series-a .ct-line,
.ct-series-a .ct-point, 라이차트 포인트
.ct-series-a .ct-slice-donut
*/

/* 1 #01d65a */
.ct-series-a .ct-area,
.ct-series-a .ct-slice-pie,
.ct-series-a .ct-bar,
.ct-series-a .ct-slice-donut
{fill: #01d65a !important; stroke: #01d65a !important;}
.ct-series-a .ct-line, .ct-series-a .ct-point {stroke: #01d65a !important;} /* .co_gren {background-color: #01d65a;} !* rgba(0,212,88,1) 작업자 */

/* 2 #cc3dd3 */
.ct-series-b .ct-area,
.ct-series-b .ct-slice-pie,
.ct-series-b .ct-bar,
.ct-series-b .ct-slice-donut
{fill: #cc3dd3 !important; stroke: #cc3dd3 !important;}
.ct-series-b .ct-line, .ct-series-b .ct-point {stroke: #cc3dd3 !important;} /* .co_purp {background-color: #cc3dd3;} !* rgba(204,61,211,1) *! 크레인상태 */

/* 3 #ffce53 */
.ct-series-c .ct-area,
.ct-series-c .ct-slice-pie,
.ct-series-c .ct-bar,
.ct-series-c .ct-slice-donut
{fill: #ffce53 !important; stroke: #ffce53 !important;}
.ct-series-c .ct-line, .ct-series-c .ct-point {stroke: #ffce53 !important;} /* .co_yell {background-color: #ffce53;} !* rgba(255,206,83,1) *! 유해가스상태 */

/* 4 #fe4d3b */
.ct-series-d .ct-area,
.ct-series-d .ct-slice-pie,
.ct-series-d .ct-bar,
.ct-series-d .ct-slice-donut
{fill: #fe4d3b !important; stroke: #fe4d3b !important;}
.ct-series-d .ct-line, .ct-series-d .ct-point {stroke: #fe4d3b !important;}

/* 5 #9753dc */
.ct-series-e .ct-area,
.ct-series-e .ct-slice-pie,
.ct-series-e .ct-bar,
.ct-series-e .ct-slice-donut
{fill: #9753dc !important; stroke: #9753dc !important;}
.ct-series-e .ct-line, .ct-series-e .ct-point {stroke: #9753dc !important;}

/* 6 #29a1f7 */
.ct-series-f .ct-area,
.ct-series-f .ct-slice-pie,
.ct-series-f .ct-bar,
.ct-series-f .ct-slice-donut
{fill: #29a1f7 !important; stroke: #29a1f7 !important;}
.ct-series-f .ct-line, .ct-series-f .ct-point {stroke: #29a1f7 !important;}

/* 7 #56c96e */
.ct-series-g .ct-area,
.ct-series-g .ct-slice-pie,
.ct-series-g .ct-bar,
.ct-series-g .ct-slice-donut
{fill: #56c96e !important; stroke: #56c96e !important;}
.ct-series-g .ct-line, .ct-series-g .ct-point {stroke: #56c96e !important;}

/* 8 #ff7a39 */
.ct-series-h .ct-area,
.ct-series-h .ct-slice-pie,
.ct-series-h .ct-bar,
.ct-series-h .ct-slice-donut
{fill: #ff7a39 !important; stroke: #ff7a39 !important;}
.ct-series-h .ct-line, .ct-series-h .ct-point {stroke: #ff7a39 !important;}

/* 9  #de4ec1 */
.ct-series-i .ct-area,
.ct-series-i .ct-slice-pie,
.ct-series-i .ct-bar,
.ct-series-i .ct-slice-donut
{fill: #de4ec1 !important; stroke: #de4ec1 !important;}
.ct-series-i .ct-line, .ct-series-i .ct-point {stroke: #de4ec1 !important;}

/* 10  #7894c2 */
.ct-series-j .ct-area,
.ct-series-j .ct-slice-pie,
.ct-series-j .ct-bar,
.ct-series-j .ct-slice-donut
{fill: #7894c2 !important; stroke: #7894c2 !important;}
.ct-series-j .ct-line, .ct-series-j .ct-point {stroke: #7894c2 !important;}

/*
.co_gren {background-color: #01d65a;} !* rgba(0,212,88,1)   *! 작업자상태
.co_purp {background-color: #cc3dd3;} !* rgba(204,61,211,1) *! 크레인상태
.co_yell {background-color: #ffce53;} !* rgba(255,206,83,1) *! 유해가스상태

.co_blue {background-color: #29a1f7;} !* rgba(41,161,247,1) *!
.co_oran {background-color: #ff7a39;} !* rgba(255,122,57,1) *!
.co_redd {background-color: #fe4d3b;} !* rgba(254,77,59,1)  *!

*/


/* 원 차트 */
.chart_table_area {width:100%; }
.chart_table_area table {border-collapse: separate;}
.chart_table_area > div {
    position: relative; display: inline-block;  float: left; /*overflow: hidden;*/  margin:40px 0 0 0;
}

.chart_table_area.type01 > div {min-width:50%; height:320px;}
.chart_table_area.type02 > div {width:100%; }

.adaptive_min .chart_table_area > div {min-width:100%;}

.chart_table_area.type01 > div > div {float: left;  position: relative; height:100%;}
/* 차트 부분 */
.chart_table_area.type01 > div > div:first-of-type
{width:-webkit-calc(100% - 380px);width:calc(100% - 380px); padding:50px 0 0 0;}
/* 테이블 부분 */
.chart_table_area.type01 > div > div:last-of-type  {width:380px;}

.chart_table_area.type01 table {height: calc(100% - 67px);height: -webkit-calc(100% - 67px);}
.chart_table_area.type01 table tbody { overflow-y: scroll; position: absolute; top:36px; bottom:0; width:100%;}
.chart_table_area.type01 table thead th:first-of-type,
.chart_table_area.type01 table tbody td:first-of-type {width:100%;}
.chart_table_area.type01 table thead th:last-of-type,
.chart_table_area.type01 table tbody td:last-of-type {width:80px;min-width:80px;}
.chart_table_area.type01 table tbody td:last-of-type {padding:0 4px 0 22px;}

/*
.check_th thead th {cursor: pointer;}
.check_th thead th:before {
    box-align: center;
    -webkit-box-align:   center;
    -moz-box-align:      center;
    -webkit-align-items: center;
    -ms-flex-align:      center;
    align-items:         center;

    -webkit-box-pack:        center;
    -moz-box-pack:           center;
    -webkit-justify-content: center;
    -ms-flex-pack:           center;
    justify-content:         center;

    content: "\e921";
    position: absolute; right:0; top:0; width:36px; height:100%; color:#fff;
    opacity: 0.6;
}
.check_th thead th.on:before {
    opacity: 1;
    font-weight: bold;
    text-shadow:         1px 2px 4px rgba(0,0,0,0.8);
    -webkit-text-shadow: 1px 2px 4px rgba(0,0,0,0.8);
    -moz-text-shadow:    1px 2px 4px rgba(0,0,0,0.8);
}
*/


.check_th tbody tr.top01 {}
.check_th tbody tr.top00 td:first-of-type:before {background-color: #ccc;}
.check_th tbody tr.top01 td:first-of-type:before,
.chart_label > span:nth-of-type(1):before {background-color: #01d65a;} /* 1 #01d65a */
.check_th tbody tr.top02 td:first-of-type:before,
.chart_label > span:nth-of-type(2):before {background-color: #cc3dd3;} /* 2 #cc3dd3 */
.check_th tbody tr.top03 td:first-of-type:before,
.chart_label > span:nth-of-type(3):before {background-color: #ffce53;} /* 3 #ffce53 */
.check_th tbody tr.top04 td:first-of-type:before,
.chart_label > span:nth-of-type(4):before {background-color: #fe4d3b;} /* 4 #fe4d3b */
.check_th tbody tr.top05 td:first-of-type:before,
.chart_label > span:nth-of-type(5):before {background-color: #9753dc;} /* 5 #9753dc */
.check_th tbody tr.top06 td:first-of-type:before,
.chart_label > span:nth-of-type(6):before {background-color: #259dcf;} /* 6 #29a1f7 */
.check_th tbody tr.top07 td:first-of-type:before,
.chart_label > span:nth-of-type(7):before {background-color: #56c96e;} /* 7 #56c96e */
.check_th tbody tr.top08 td:first-of-type:before,
.chart_label > span:nth-of-type(8):before {background-color: #ff7a39;} /* 8 #ff7a39 */
.check_th tbody tr.top09 td:first-of-type:before,
.chart_label > span:nth-of-type(9):before {background-color: #de4ec1;} /* 9 #de4ec1 */
.check_th tbody tr.top10 td:first-of-type:before,
.chart_label > span:nth-of-type(10):before {background-color: #7894c2;} /* 10  #7894c2 */

.check_th tbody tr td:first-of-type {padding:0 4px 0 30px;}
.check_th tbody tr td:first-of-type:before
{content:""; position: absolute; width:10px; height:10px; left:10px; top:50%; margin:-4px 0 0 0;}

.chart_table_area.type02 {}
.chart_table_area.type02 > div.table_title_area > div {position: absolute; top:0; height:100%;}
.month_btn_set {
    box-align: center;
    -webkit-box-align:   center;
    -moz-box-align:      center;
    -webkit-align-items: center;
    -ms-flex-align:      center;
    align-items:         center;

    left:0; width:auto;
}
.month_btn_set > p { text-align:center; font-size:30px; padding:0 20px;}
.month_btn_set > button {font-size:36px;}
.month_btn_set > button:before {font-weight:bold;}
.month_btn_set > button:hover:before { color: #b11831;}
.month_btn_set > button:first-of-type:before {content:"\e927";}
.month_btn_set > button:last-of-type:before  {content:"\e926";}

.depthtabs_btn_set {right:0; height:100%;}
.depthtabs_btn_set > button {height:100%; margin:0 15px 0 0;  }
.depthtabs_btn_set > button:hover, .depthtabs_btn_set > button.tabs_on {color: #b11831;}
.depthtabs_btn_set > button.tabs_on:after {opacity: 1}
.depthtabs_btn_set > button:before {padding:0 4px 0 0;}
.depthtabs_btn_set > button:first-of-type:before {content:"\e908";}
.depthtabs_btn_set > button:last-of-type:before  {content:"\e91f";}
.depthtabs_btn_set > button:after
{content:"";  position: absolute; left:0; bottom:10px; width:100%; height:1px; background-color: #b11831; opacity: 0;}

.depthtabs_set > div {}

/*.chart_box {min-height:320px;}*/
.chart_box.type01 {overflow-x:auto;}
.chart_box.type02 {overflow-y:auto;}

.chart_label {margin:14px 0 0 0;}
.chart_label > span {position: relative; margin:0 20px 0 0;}
.chart_label > span:before {
    content: "";  display: inline-block;
    width:10px; height:10px; margin:0 5px 0 0;
}

/* 통계 툴팁 */
.chartist-tooltip {
    min-width:0  !important;
    width:  40px !important;
    height: 40px !important;
    padding: 12px 0 0 0 !important;
    background-color: #333240 !important;
    color: #fff !important;

    -moz-border-radius:    200px !important;
    -webkit-border-radius: 200px !important;
    border-radius:         200px !important;
    -khtml-border-radius:  200px !important;
}

.chartist-tooltip:before {
    margin: -2px 0 0 -5px  !important;
    border-style:solid !important;
    border-width: 10px 5px 0 5px !important;
    border-color:#333240 transparent transparent transparent !important;
}