.sub_title_area, .top_gnb_area, .search_area, .search_contents, .search_btn, .search_contents > p, .search_contents > p > span,
.tree_box, .table_title_area, .maun_human, .code_list > div,.metro_root, .metro_parent, .metro_parent > div, .mc_bico,
.metro_parent > div:after, .mp_header, .mp_contents, .mc_element, .mp_contents > div, .ch_name, .mc_bico:before,  .mc_list > li,
.personnel , .personnel > div > div
{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

.metro_root, .metro_parent, .mc_bico:before, .mc_bico, .mc_list > li, .personnel, .personnel > div, .personnel > div > span,
.mc_element, .metro_child, .vh_mode, .mp_contents, .mp_header > h2, .mp_header > div
{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;display:flexbox;display:box;}



.login_area > article {width:260px; height:100%; margin:auto;}
/*로그인 타이틀 영역 */
.login_logo_area {
    display: table; position: absolute; top: 0; left: 0; width: 100%; height: 60px;
    background-image: url(../images/logo/login_logo.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #5093e1;
}

.login_logo_area p {
    display: table-cell; vertical-align: middle; text-align: center;
    position: relative; z-index:1; width: 100%; height: 100%;
    font-size: 30px;color: #fff;
}

.login_input_area {
    width: 100%;
    text-align: left; margin: 100px auto 20px;
}

/*헤더 로고 영역*/
.ha_right_set, .ha_right_set > div, .ha_right_set > div > * {height:100%;}
.ha_right_set {overflow: hidden; position: absolute; top:0; right:0; }
.ha_right_set > div {float: left; display: table;}
.ha_right_set > div > * {position: relative; display: table-cell;  vertical-align: middle; color:#e0e0de;}

.ha_right_set > div.hrs_btn_set, .ha_right_set > div.hrs_btn_set > button {display: inline-block}
.ha_right_set > .hrs_btn_set > button {z-index: 1; width:40px; border:none; font-size:20px;}
.ha_right_set > .hrs_btn_set > button:hover:after,
.ha_right_set > .hrs_btn_set > button.on:after {opacity: 1;}
.ha_right_set > .hrs_btn_set > button:after {
    content: ""; opacity: 0;
    position: absolute; z-index:-1; left:50%; top:50%; margin:-14px 0 0 -15px; width:30px; height:30px; background-color: #ff4c38;
    -moz-border-radius:    20px;
    -webkit-border-radius: 20px;
    border-radius:         20px;
    -khtml-border-radius:  20px;
    transition:        all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition:   all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -webkit-transition:all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition:     all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -ms-transition:    all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);

}

.ha_right_set > .hrs_btn_set > button:before {}
.ha_right_set > .hrs_btn_set > button.issue:before {content:"\e907";}
.ha_right_set > .hrs_btn_set > button.loginout:before  {content:"\e900";}

.hrs_date > span {padding:0 20px; font-size:12px; line-height: 12px;}
.hrs_date > span:first-of-type {font-size:20px; line-height: 20px;}
.hrs_date > span:first-of-type:after {
    content:"";
    position: absolute; right:0; top:20px;/* margin:-5px 0 0 0;*/
    width:1px; height:10px; background-color: #fff;
    opacity: 0.4;
}
.hrs_date > span:last-of-type:before {content: "\e92f"; font-size:16px; padding:0 8px 0 0; }


/* 2depth 타이틀 영역 */
.main_title_area, .sub_title_area {position: relative;width:100%;}
.main_title_area {height: 32px; padding: 0 20px; margin:12px 0 4px 0;}
.sub_title_area  {
    border-style:solid;
    border-width:0 0 2px 0;
    border-color:#333240;
}
.tree_box {
    widtH:100%;
    padding:10px;
    margin:0 0 20px 0;
    border-width:1px;
    border-style:solid;
    border-color:#e4e4e4;
    background-color: #fff;
    box-shadow:         1px 2px 4px rgba(0,0,0,0.02);
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.02);
    -moz-box-shadow:    1px 2px 4px rgba(0,0,0,0.02);
}

.m_human {
    position: absolute;
    width:80px;
    height:80px;
    top:50%;
    left:30px;
    margin:-40px 0 0 0;
    border:1px solid #e4e4e4;
    background-image: url(../images/ico/human.png);
    background-position: center 16px;
    background-repeat: no-repeat;
    -moz-border-radius:    500px;
    -webkit-border-radius: 500px;
    -khtml-border-radius:  500px;
    border-radius:         500px;
    overflow: hidden;
}

span.holiday_span {
    position: absolute;
    left: 10px;
    right: 20px;
    text-align: left;
    text-overflow: ellipsis;
    white-space:   nowrap;
    word-wrap:     normal;
    overflow:      hidden;
    font-size: 11px;
}
span.holiday_span > span {display: inline;   cursor: pointer;}

.page_loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/ico/loading.gif);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    z-index: 1;
    left: 0;
    display: none;
}

.code_view_area {position: relative;  width:100%; height:100%;}
.code_list {position: relative; width:100%;  height:100%; float:left;}

.code_list > button, .code_list > div {
    -moz-border-radius:    20px;
    -webkit-border-radius: 20px;
    border-radius:         20px;
    -khtml-border-radius:  20px;
}
.code_list > button {
    float:left; height:32px; background-color: #3e3e3e; color:#fff; padding:0 20px;
}
.code_list > button:hover { background-color: #2692ec;}
.code_list > button:before {content:"\e922"; font-weight:bold; font-size:16px; color:#fff; padding:0 5px 0 0;}
.code_list > div {
    float:left; height:32px; margin:0 5px 5px 0; border-style:solid; border-width:1px; border-color:#b7b7b7;
}
.code_list > div > button, .code_list > div > button:nth-of-type(2):after {height:100%; font-weight: bold;}
.code_list > div > button:nth-of-type(1) {padding:0 0 0 10px; line-height: 11px;}
.code_list > div > button:nth-of-type(2):after {content:"\e925"; padding:0 10px; }

.area_enrolment  {display:none;}

.dash_contents_area {position: relative; width:100%; height:calc(100% - 48px); outline: none;}

/* 스클롤바 스타일 */
.nano > .nano-content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top           : 0;
    right         : 0;
    bottom        : 0;
    left          : 0;
    outline: none;
}

.nano > .nano-pane {
    background : rgba(0,0,0,.25);
    position   : absolute;
    width      : 6px;
    right      : 0;
    top        : 0;
    bottom     : 0;
    visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
    opacity    :1;
    -webkit-transition    : .2s;
    -moz-transition       : .2s;
    -o-transition         : .2s;
    transition            : .2s;
    -moz-border-radius    : 5px;
    -webkit-border-radius : 5px;
    border-radius         : 5px;
}
.nano > .nano-pane > .nano-slider {
    background: #444;
    background: rgba(0,0,0,.5);
    position              : relative;
    margin                : 0 1px;
    -moz-border-radius    : 3px;
    -webkit-border-radius : 3px;
    border-radius         : 3px;
}


.metro_root, .metro_parent {width:100%;}

.metro_root { padding:0 10px;}
.metro_root.mr_h100 {min-height:620px; height:100%; }
.metro_root.mr_h70 {min-height:620px; height:70%; }
.metro_root.mr_h30 {min-height:270px; height:30%; }

/* 가로정렬  */
.metro_parent {
    -webkit-flex-flow: row wrap;
    -moz-flex-flow:    row wrap;
    -ms-flex-flow:     row wrap;
    flex-flow:         row wrap;
    position: relative;
}
/* 새로정렬 */
.v_mode {}
.vh_mode {
    -webkit-box-orient:     column;
    -webkit-box-direction:  column;
    -webkit-flex-direction: column;
    -ms-flex-direction:     column;
    flex-direction:         column;
    overflow: hidden;
}


.metro_parent.v_mode > div  {flex:1 0; min-height:40%;}
.metro_parent.v_mode > .flex100 {flex:1 100%;  -webkit-flex:1 100%; flexbox:1 100%;  min-height:auto;}

.metro_parent.vh_mode > div {flex:1 0;-webkit-flex:1 0; flexbox:1 0;}




.metro_parent > div, .metro_parent > div:after {width:100%;}
.metro_parent > div {
    position: relative;
    width:100%;  margin:10px;
    background-color: #25252f;
    box-shadow:         0px 0px 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
}
.metro_parent > div:after {content:""; position: absolute; height:100%;}


.mp_header, .mp_contents {
    overflow: hidden; position: absolute; z-index:1;
    left:20px; right:20px;
}
.mp_header {
    top:0; height:50px;
    border-style:solid;
    border-color:#1e1d22;
    border-width:0 0 1px 0;
}
.mp_contents {top:80px; bottom:20px;}


.mp_contents.vh_mode .mc_element {
    box-align: center;
    -webkit-box-align:   center;
    -moz-box-align:      center;
    -webkit-align-items: center;
    -ms-flex-align:      center;
    align-items:         center;
    width:100%; height:100%; margin:0;
}
.mp_contents.vh_mode .mc_element {height:80px; min-height:80px; margin: 0 0 20px 0;}
.mp_contents.vh_mode .mc_element.nano {height:100%; margin: 20px 0 0 0; padding:20px 0 0 0;}
.mp_contents.vh_mode .mc_element.nano:after,
.mp_contents.vh_mode .mc_element.nano:before {content:""; position: absolute; width:100%;}
.mp_contents.vh_mode .mc_element.nano:before {height:1px; top:-15px; background-color: #100f12; }
.mp_contents.vh_mode .mc_element.nano:after  {height:1px; top:-14px; background-color: #363644;}


.mp_header > h2, .mp_header > div {
    box-align: center;
    -webkit-box-align:   center;
    -moz-box-align:      center;
    -webkit-align-items: center;
    -ms-flex-align:      center;
    align-items:         center;

    position: absolute; height:100%;
}
.mp_header > h2  {left:0; color:#fff; font-size:16px;}
.mp_header > div {right:0;width:auto; }
.mp_header > div > button {color:#fff;}


/* 상태 아이콘 정의 시작*/
.mp_contents > div, .mc_bico {position: relative;}
.mc_bico:before, .mc_bico {
    box-align: center;
    -webkit-box-align:   center;
    -moz-box-align:      center;
    -webkit-align-items: center;
    -ms-flex-align:      center;
    align-items:         center;

    -webkit-box-pack:        center;
    -moz-box-pack:           center;
    -webkit-justify-content: center;
    -ms-flex-pack:           center;
    justify-content:         center;

    -moz-border-radius:    200px;
    -webkit-border-radius: 200px;
    border-radius:         200px;
    -khtml-border-radius:  200px;
}
.mc_bico.type01, .mc_bico.type01:before {border-style:solid; border-color:#01d65a; color:#01d65a;}
.mc_bico.type01 {width:180px; height:180px; min-height:180px; border-width:6px;}
.mc_bico.type01:before {padding:18px; font-size:90px; border-width:2px;}


.mc_bico.type02 {}
.mc_bico.type02 {
    width:80px; height:80px; min-height:80px;
    border-style:solid;
    border-color:#01d65a #01d65a #01d65a transparent;
    border-width:2px 2px 2px 2px;
    color:#01d65a; background-color: #1e1d23;
}
.mc_bico.type02:before {font-size:50px;}

.mc_bico.type03 {
    width:260px; height:100%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 200px;
}
.mc_bico.type03.gas_level01 {background-image: url(../images/ico/gas_level01.png);}
.mc_bico.type03.gas_level02 {background-image: url(../images/ico/gas_level02.png);}
.mc_bico.type03.gas_level03 {background-image: url(../images/ico/gas_level03.png);}

.mc_bico.type03 > p {
    position: absolute; bottom:0; left:0;
    width:100%; text-align: center; color:#999;
}

/*
경고
1단계 그린
2단계 노랑
3단계 주황
*/
.level03:after {border-style:solid;border-width:5px;border-color:#fe4d3b;}
.level03 .mp_header > div > button.alra_btn,
.mp_header > div > button.alra_btn.on {background-color: #fe4d3b;}

.level03 .mc_bico.type01 {border-color:#fe4d3b;}
.level03 .mc_bico.type01:before {background-color: #fe4d3b; border-color:#fe4d3b; color:#1e1d23;}

.mc_bico.type02.level03 {border-color:#fe4d3b; background-color: #fe4d3b;}
.mc_bico.type02.level03:before {color:#1e1d23;}

.level02 .mc_bico.type01 {border-color:#ffce53;}
.level02 .mc_bico.type01:before {border-color:#ffce53; color:#ffce53;}


/* 구역 이슈 시작 */
.mce_btn_area > button.level03 { background-color: #fe4d3b; color:#fff;}
.mce_btn_area > button.level02 { border-style:solid; border-width:3px; border-color: #ffce53; color:#ffce53;}
/* 구역 이슈 끝 */


/* 엘로우 경고
.on_type02 .mc_bico.type01,
.on_type02 .mc_bico.type01:before {}
.on_type02 .mc_bico.type01:before {background-color:#ffce53; color:#1f1e24;}
*/

/* 이슈 아이콘 설정 시작  */
.worker, .worker:before {}
.crane, .crane:before   {}
.going, .going:before   {}
.etc, .etc:before       {}

.worker:before {content: "\e90b";} /*작업자 상태 */
.crane:before  {content: "\e90c";} /*크래인 상태 */
.going:before  {content: "\e90d";} /*진출입 상태 */
.gas:before    {content: "\e910";} /*유해가스 상태 */

.etc:before    {content: "\e907";} /*기타 상태   */
/* 이슈 아이콘 설정 끝  */


.mc_element {width:calc(100% - 200px);width:-webkit-calc(100% - 200px); height:100%; margin:0 0 0 20px; }

.mc_element > div {float:left;}
.mc_box {margin:0 0 0 20px;}
.mc_box > p { color:#fff;}
.mc_box > p:nth-of-type(1) {font-size:20px; margin:0 0 4px 0;}
.mc_box > p:nth-of-type(2) {
    display: inline-block;
    font-size:16px; color:#999; font-weight:bold;
    padding: 4px 10px;
    background-color: #1e1d23;
}

.mce_btn_area {overflow: hidden;}
.mce_btn_area > button {
    width:86px; height:86px; margin: 5px 5px 7px 5px;
    -moz-border-radius:    200px;
    -webkit-border-radius: 200px;
    border-radius:         200px;
    -khtml-border-radius:  200px;
    background-color: #3a3a44; color:#fff;
}
.mce_btn_area > button > span {position: relative; width:100%; font-size:16px; }
.mce_btn_area > button > span:nth-of-type(2) {font-size:20px; font-weight:bold;}
.mce_btn_area > button > span:nth-of-type(2) > em {padding:0 0 0 3px; opacity: 0.7}

.mc_list {padding:0 20px 0 0}
.mc_list > li {
    box-align: center;
    -webkit-box-align:   center;
    -moz-box-align:      center;
    -webkit-align-items: center;
    -ms-flex-align:      center;
    align-items:         center;

    height:26px; padding:0 10px; margin:0 0 4px 0;
}

.mc_list > li.level02 > span {color:#ffce53;}
.mc_list > li.level03 {background-color: #fe4d3b;}
.mc_list > li.level03 > span {color:#fff;}


.mc_list > li > span {color:#999;}
.mc_list > li > span:nth-of-type(1) {width:60px; }
.mc_list > li > span:nth-of-type(2) {flex:1 }
.mc_list > li > span:nth-of-type(3) {width:120px; text-align: right; }


.personnel {position: relative; width:100%; height:220px;}
.personnel > div {
    flex:1; -webkit-flex:1; flexbox:1;

    -webkit-flex-flow: row wrap;
    -moz-flex-flow:    row wrap;
    -ms-flex-flow:     row wrap;
    flex-flow:         row wrap;

    height:100%;
}
.personnel > div > p   {color:#999;}
.personnel > div > span {
    -webkit-box-pack:        center;
    -moz-box-pack:           center;
    -webkit-justify-content: center;
    -ms-flex-pack:           center;
    justify-content:         center;

    box-align: end;
    -webkit-box-align:   end;
    -moz-box-align:      flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align:      flex-end;
    align-items:         flex-end;

    width:100%; height:120px; color:#fff; font-size:100px; font-weight: bold;
}
.personnel > div.past > span {color:#999; font-size:80px;}
.personnel > div > div {
    flex:1; -webkit-flex:1; flexbox:1; position: relative; height:70px; padding:27px 0 0 0;
    text-align: center; font-size:36px; color:#999; margin:0 1px;
}
.personnel > div > div:before {
    position: absolute; top:0; left:0; width:100%; font-size:20px; color:#fff;
    background-color: #4c4c54;
}

.personnel > div.now > div:nth-of-type(1) {color:#a8d164;}
.personnel > div.now > div:nth-of-type(2) {color:#cc3dd3;}
.personnel > div > div:nth-of-type(1):before {content: "IN";}
.personnel > div > div:nth-of-type(2):before {content: "OUT";}


/* 마키 시작 */
.marquee {
    overflow: hidden; position: absolute;
    top:50%; left:200px; right:20px; margin:-15px 0 0 0; height:30px;
}
.marquee:after, .marquee:before {
    content:"";  position: absolute; z-index:1; width:50px; height:100%; top:0;
}
.marquee:after  {
    left:0;
    background: -moz-linear-gradient(left,   rgba(30,29,35,1) 0%, rgba(30,29,35,0) 100%);
    background: -webkit-linear-gradient(left,rgba(30,29,35,1) 0%, rgba(30,29,35,0) 100%);
    background: linear-gradient(to right,    rgba(30,29,35,1) 0%, rgba(30,29,35,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1d23', endColorstr='#001e1d23',GradientType=1 );
}
.marquee:before {
    right:0;
    background: -moz-linear-gradient(left,   rgba(30,29,35,0) 0%, rgba(30,29,35,1) 100%);
    background: -webkit-linear-gradient(left,rgba(30,29,35,0) 0%, rgba(30,29,35,1) 100%);
    background: linear-gradient(to right,    rgba(30,29,35,0) 0%, rgba(30,29,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1d23', endColorstr='#001e1d23',GradientType=1 );
}


.dashboard_mode.db_mode .marquee:after  {
    background: -moz-linear-gradient(left,   rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left,rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,    rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1d23', endColorstr='#001e1d23',GradientType=1 );
}
.dashboard_mode.db_mode .marquee:before {
    background: -moz-linear-gradient(left,   rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left,rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,    rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1d23', endColorstr='#001e1d23',GradientType=1 );
}

.marquee > div, .marquee > div * {height:100%; color:#29a1f7;}
.marquee > div button {opacity: 0.8; height:100%; margin:0 10px; padding:0 0 0 20px; font-size:16px;}

.marquee > div button:hover {opacity: 1;}
.marquee > div button:before {
    content:"●"; position: absolute; left: 6px; top: 50%; margin: -8px 0 0 0; font-size:10px;
}
/* 마키 끝 */
