@charset "UTF-8";
/*
 @at-root {.class { } } 존속받지 않고 root에 위치
 */
.dashboard_mode select, .dashboard_mode input, .dashboard_mode textarea, .dashboard_mode div[contenteditable] {
  color: #fff;
  font-size: 16px;
  background-color: #1e1e1e;
  border: none; }
.dashboard_mode select {
  background-image: url(../images/ico/select_allow_w.svg); }
.dashboard_mode input::-webkit-input-placeholder {
  letter-spacing: -1px;
  color: rgba(255, 255, 255, 0.4); }
.dashboard_mode select::-webkit-input-placeholder {
  letter-spacing: -1px;
  color: rgba(255, 255, 255, 0.4); }
.dashboard_mode textarea::-webkit-input-placeholder {
  letter-spacing: -1px;
  color: rgba(255, 255, 255, 0.4); }
.dashboard_mode input:-ms-input-placeholder {
  letter-spacing: -1px;
  color: rgba(255, 255, 255, 0.4); }
.dashboard_mode select:-ms-input-placeholder {
  letter-spacing: -1px;
  color: rgba(255, 255, 255, 0.4); }
.dashboard_mode textarea:-ms-input-placeholder {
  letter-spacing: -1px;
  color: rgba(255, 255, 255, 0.4); }

.main_title_area {
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100vh;
  min-width: 100%;
  height: 45px;
  flex: 1 0 45px;
  -webkit-flex: 1 0 45px;
  flexbox: 1 0 45px;
  padding: 5px 10px 0 10px; }
  .main_title_area + .dash_contents_area {
    height: calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    margin: 0; }

* .dash_contents_area {
  position: relative;
  width: 100%;
  height: calc(100% - 10px);
  height: -webkit-calc(100% - 10px);
  margin: 5px 0 0 0;
  flex: 0 1 100%;
  -webkit-flex: 0 1 100%;
  flexbox: 0 1 100%;
  outline: none;
  /* 진출입 모드 1개만 보일때
  .dash_contents_area.exit-mode > div > div:nth-of-type(1) > div:nth-of-type(1),
  .dash_contents_area.exit-mode > div > div:nth-of-type(2)
  { display: none; }
  */ }
  * .dash_contents_area > div {
    height: 100%;
    -webkit-box-orient: column;
    -webkit-box-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
* .metro_root, * .metro_parent {
  width: 100%; }
* .metro_root {
  overflow: hidden;
  padding: 0 5px;
  flex: 0 1 100%;
  -webkit-flex: 0 1 100%;
  flexbox: 0 1 100%;
  -webkit-box-flex: 1;
  -ms-flex: 0 1 100%; }
* .metro_parent {
  -webkit-box-orient: column;
  -webkit-box-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative; }
  * .metro_parent.v_mode > .flex100 {
    flex: 0 1 100%;
    -webkit-flex: 0 1 100%;
    flexbox: 0 1 100%;
    min-height: auto; }
  * .metro_parent > div {
    position: relative;
    width: 100%;
    padding: 6px;
    -webkit-box-orient: column;
    -webkit-box-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    flex: 0 1 100%;
    -webkit-flex: 0 1 100%;
    flexbox: 0 1 100%; }
    * .metro_parent > div:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      background-color: #2d2d2d;
      border-style: solid;
      border-width: 1px;
      border-color: rgba(0, 0, 0, 0.6); }
* .mp_header, * .mp_contents {
  position: relative; }
* .mp_header {
  padding: 0 15px;
  flex: 1 0 50px;
  -webkit-flex: 1 0 50px;
  flexbox: 1 0 50px;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  * .mp_header > h2, * .mp_header > div {
    box-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%; }
  * .mp_header > h2 {
    left: 0;
    color: #fff;
    font-size: 20px; }
  .layer_popup * .mp_header > h2 {
    font-size: 20px; }
  * .mp_header > div {
    position: absolute;
    right: 10px;
    width: auto; }
    * .mp_header > div > button, * .mp_header > div > button:before {
      color: #fff; }
* .mp_contents {
  overflow: hidden;
  padding: 5px;
  flex: 0 1 100%;
  -webkit-flex: 0 1 100%;
  flexbox: 0 1 100%; }
  * .mp_contents ::-webkit-scrollbar {
    width: 10px;
    height: 10px; }
  * .mp_contents ::-webkit-scrollbar-track {
    background-color: #000; }
  * .mp_contents ::-webkit-scrollbar-thumb {
    min-height: 30px;
    border: 3px solid #000;
    background-color: rgba(94, 94, 94, 0.6);
    background-clip: content-box; }
  * .mp_contents ::-webkit-scrollbar-thumb:hover {
    background-color: #5e5e5e; }
  * .mp_contents > div {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    padding: 0 5px;
    flex: 0 1 100%;
    -webkit-flex: 0 1 100%;
    flexbox: 0 1 100%; }
    * .mp_contents > div.lmc_btn_area {
      -webkit-box-pack: end;
      -moz-box-pack: flex-end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: flex-end;
      justify-content: flex-end;
      height: auto;
      padding: 10px 0 0 0 !important;
      flex: 1 0 50px;
      -webkit-flex: 1 0 50px;
      flexbox: 1 0 50px; }
* .mc_element {
  margin: 0; }
  * .mc_element .mp_header {
    position: relative;
    width: 100%; }
* .mc_element_set {
  margin: 0 0 5px 0; }
  * .mc_element_set > div {
    width: 100%; }
  * .mc_element_set .mc_element {
    box-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 80px;
    min-height: 80px;
    margin: 4px 0 !important; }
* .mc_tline {
  overflow: hidden !important;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 !important; }
  * .mc_tline:after, * .mc_tline:before {
    content: "";
    position: absolute;
    z-index: 12; }
  * .mc_tline:before {
    background-color: rgba(0, 0, 0, 0.8); }
  * .mc_tline:after {
    background-color: rgba(255, 255, 255, 0.12); }
  * .mc_tline:after, * .mc_tline:before {
    width: auto;
    height: 1px;
    left: 5px;
    right: 5px; }
  * .mc_tline:before {
    top: 0px; }
  * .mc_tline:after {
    top: 1px; }
  * .mc_tline.vtype {
    height: 100%; }
    * .mc_tline.vtype .mc_list {
      margin: 10px 0 0 15px; }
    * .mc_tline.vtype:after, * .mc_tline.vtype:before {
      content: "";
      position: absolute;
      z-index: 12; }
    * .mc_tline.vtype:before {
      background-color: rgba(0, 0, 0, 0.8); }
    * .mc_tline.vtype:after {
      background-color: rgba(255, 255, 255, 0.12); }
    * .mc_tline.vtype:after, * .mc_tline.vtype:before {
      width: 1px;
      height: auto;
      top: 5px;
      bottom: 5px; }
    * .mc_tline.vtype:before {
      left: 0px; }
    * .mc_tline.vtype:after {
      left: 1px; }
* .v_mode {
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
* .vh_mode {
  -webkit-box-orient: column;
  -webkit-box-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
* .fl_mode {
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 20px; }
  * .fl_mode > div {
    width: 48% !important; }
* .metro_root.mr_h100 {
  min-height: 620px;
  max-height: 620px; }
* .metro_root.mr_h70 {
  /*min-height:640px; height:640px; max-height:640px;*/ }
* .metro_root.mr_h30 {
  min-height: 200px;
  flex: 1 0 27%;
  -webkit-flex: 1 0 27%;
  flexbox: 1 0 27%; }

.mc_bico {
  position: relative;
  overflow: hidden; }
  .mc_bico, .mc_bico:before {
    box-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .mc_bico.type01, .mc_bico.type01:before {
    border-style: solid;
    border-color: #01d65a;
    color: #01d65a; }
  .mc_bico.type01 {
    position: relative;
    overflow: hidden !important;
    flex: 1 0 160px;
    -webkit-flex: 1 0 160px;
    flexbox: 1 0 160px;
    -webkit-box-flex: 0;
    -ms-flex: 1 0 160px;
    width: 160px;
    min-width: 160px;
    max-width: 160px;
    height: 160px;
    min-height: 160px;
    min-height: 160px;
    margin: 0 15px;
    border-width: 6px;
    box-shadow: 0 20px 8px -10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 20px 8px -10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 20px 8px -10px rgba(0, 0, 0, 0.6); }
    .mc_bico.type01:before {
      padding: 18px;
      font-size: 90px;
      border-width: 2px; }
    .level03 .mc_bico.type01.type01 {
      border-color: #e41717; }
      .level03 .mc_bico.type01.type01:before {
        background-color: #e41717;
        border-color: #e41717;
        color: #1e1e1e; }
    .level02 .mc_bico.type01.type01 {
      border-color: #ffce53; }
      .level02 .mc_bico.type01.type01:before {
        border-color: #ffce53;
        color: #ffce53; }
  .mc_bico.type02 {
    border-style: solid;
    border-width: 2px;
    border-color: #01d65a;
    color: #01d65a;
    background-color: #1e1e1e; }
    .mc_bico.type02:before {
      font-size: 50px; }
    .mc_bico.type02.level03 {
      border-color: #e41717;
      background-color: #e41717; }
    .mc_bico.type02.level03:before {
      color: #1e1e1e; }
  .mc_bico.type02, .mc_bico.type04 {
    width: 70px;
    height: 70px;
    min-height: 70px;
    margin: 0 0 0 5px;
    flex: 1 0 70px;
    -webkit-flex: 1 0 70px;
    flexbox: 1 0 70px;
    box-shadow: 0px 15px 5px -10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 15px 5px -10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 15px 5px -10px rgba(0, 0, 0, 0.6); }
  .mc_bico.type03 {
    width: auto;
    height: 100%;
    min-height: 100px;
    max-height: 220px;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: 55%;
    -webkit-align-self: center;
    align-self: center; }
    .mc_bico.type03 > p {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      color: #999;
      background-color: #1e1e1e; }
    .mc_bico.type03.gas_level01 {
      background-image: url(../images/ico/gas_level01.png); }
    .mc_bico.type03.gas_level02 {
      background-image: url(../images/ico/gas_level02.png); }
    .mc_bico.type03.gas_level03 {
      background-image: url(../images/ico/gas_level03.png); }
    .layer_popup .mc_bico.type03.type03 {
      background-size: 70%;
      background-position: 50% 0; }
  .mc_bico.type04 {
    background-color: #01d65a; }
    .mc_bico.type04.level03 {
      background-color: #e41717; }
    .mc_bico.type04.level02 {
      background-color: #ffce53; }
    .mc_bico.type04:before {
      z-index: 2;
      width: 45%;
      height: 45%;
      background-color: rgba(0, 0, 0, 0.8);
      box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.6);
      -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.6); }
  .mc_bico.type01:after, .mc_bico.type02:after, .mc_bico.type04:after, .mc_bico.type04:before {
    content: "";
    position: absolute;
    border: none !important; }
  .mc_bico.type01:after, .mc_bico.type02:after, .mc_bico.type04:after {
    z-index: 1;
    top: 0;
    left: 50%;
    bottom: 0;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.2);
    -moz-border-radius: 0 200px 200px 0;
    -webkit-border-radius: 0 200px 200px 0;
    border-radius: 0 200px 200px 0;
    -khtml-border-radius: 0 200px 200px 0; }

.level02 + .mc_box * {
  color: #ffce53 !important; }

.level03:before {
  border-width: 4px !important;
  border-color: #e41717 !important; }
.level03 + .mc_box * {
  color: #e41717 !important; }

.level02 + .mc_box *, .level03 + .mc_box * {
  font-weight: bold;
  opacity: 1 !important; }

.level03 button.alra_btn, button.alra_btn.on {
  background-color: #e41717; }

.treffic_set {
  max-width: 90%;
  min-height: 200px;
  max-height: 200px;
  margin: 0 0 20px 0;
  flex: 1 0 200px;
  -webkit-flex: 1 0 200px;
  flexbox: 1 0 200px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-align-self: center;
  align-self: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-around;
  -ms-flex-pack: justify;
  justify-content: space-around; }
  .treffic_set, .treffic_set > div, .treffic_set > div:before {
    -moz-border-radius: 400px;
    -webkit-border-radius: 400px;
    border-radius: 400px;
    -khtml-border-radius: 400px;
    box-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .treffic_set > div {
    overflow: hidden;
    position: relative;
    width: 170px;
    height: 170px;
    opacity: 0.3;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 20px 8px -10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 20px 8px -10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 20px 8px -10px rgba(0, 0, 0, 0.6);
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .treffic_set > div.on {
      opacity: 1; }
    .treffic_set > div:nth-of-type(1) {
      background-color: #01d65a; }
    .treffic_set > div:nth-of-type(2) {
      background-color: #ffce53; }
    .treffic_set > div:nth-of-type(3) {
      background-color: #e41717; }
    .treffic_set > div > span {
      position: relative;
      z-index: 10;
      font-size: 50px;
      color: rgba(255, 255, 255, 0.8); }
    .treffic_set > div:after, .treffic_set > div:before {
      content: "";
      position: absolute;
      border: none !important; }
    .treffic_set > div:before {
      z-index: 2;
      width: 45%;
      height: 45%;
      background-color: rgba(0, 0, 0, 0.8);
      box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.6);
      -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.6); }
    .treffic_set > div:after {
      z-index: 1;
      top: 0;
      left: 50%;
      bottom: 0;
      width: 50%;
      background-color: rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.2); }

.gas_panel_set {
  /*
  <div class="gas_panel_set">
      <div class="gas_panel">
          <div class="gas_pointer">
              <div></div>
          </div>
          <div class="level01"></div>
          <div class="level02"></div>
          <div class="level03"></div>
      </div>
  </div>
  */
  overflow: hidden;
  position: relative;
  max-width: 300px;
  height: 150px;
  box-shadow: 0 40px 30px -20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 40px 30px -20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 40px 30px -20px rgba(0, 0, 0, 0.5); }
  .gas_panel_set, .gas_panel_set:before {
    -moz-border-radius: 400px 400px 0 0;
    -webkit-border-radius: 400px 400px 0 0;
    border-radius: 400px 400px 0 0;
    -khtml-border-radius: 400px 400px 0 0; }
  .gas_panel_set:before {
    z-index: 5;
    width: 80%;
    height: 80%;
    bottom: 0;
    left: calc(50% - 40%);
    border: none !important;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5); }
  .gas_panel_set.level02 .gas_panel:before, .gas_panel_set.level02 .gas_pointer {
    transform: rotate(0);
    ms-transform: rotate(0);
    -ms-transform: rotate(0);
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0); }
  .gas_panel_set.level03 .gas_panel:before, .gas_panel_set.level03 .gas_pointer {
    transform: rotate(60deg);
    ms-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    -o-transform: rotate(60deg); }
  .gas_panel_set .gas_panel {
    position: relative;
    max-width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5); }
    .gas_panel_set .gas_panel, .gas_panel_set .gas_panel:before, .gas_panel_set .gas_panel:after, .gas_panel_set .gas_panel > div:after {
      -moz-border-radius: 400px;
      -webkit-border-radius: 400px;
      border-radius: 400px;
      -khtml-border-radius: 400px; }
    .gas_panel_set .gas_panel:before {
      z-index: 20;
      width: 4px;
      height: 60%;
      left: calc(50% - 2px);
      top: calc(50% - 30%);
      background-color: #fff !important;
      transform: rotate(-60deg);
      ms-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
      -moz-transform: rotate(-60deg);
      -webkit-transform: rotate(-60deg);
      -o-transform: rotate(-60deg); }
    .gas_panel_set .gas_panel:after {
      z-index: 19;
      width: 40%;
      height: 40%;
      left: calc(50% - 20%);
      top: calc(50% - 20%);
      background-color: #000; }
    .gas_panel_set .gas_panel > div, .gas_panel_set .gas_panel .gas_pointer {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0; }
    .gas_panel_set .gas_panel > div .level01 {
      z-index: 2;
      transform: rotate(-30deg);
      ms-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      -moz-transform: rotate(-30deg);
      -webkit-transform: rotate(-30deg);
      -o-transform: rotate(-30deg); }
    .gas_panel_set .gas_panel > div .level02 {
      z-index: 1;
      transform: rotate(0);
      ms-transform: rotate(0);
      -ms-transform: rotate(0);
      -moz-transform: rotate(0);
      -webkit-transform: rotate(0);
      -o-transform: rotate(0); }
    .gas_panel_set .gas_panel > div .level03 {
      z-index: 3;
      transform: rotate(30deg);
      ms-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      -moz-transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      -o-transform: rotate(30deg); }
    .gas_panel_set .gas_panel > div .level01:before {
      left: 0;
      background-color: #01d65a; }
    .gas_panel_set .gas_panel > div .level02:before {
      left: calc(50% - 25%);
      background-color: #ffce53; }
    .gas_panel_set .gas_panel > div .level03:before {
      left: 50%;
      background-color: #e41717; }
    .gas_panel_set .gas_panel > div .level01:before,
    .gas_panel_set .gas_panel > div .level03:before {
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.7); }
    .gas_panel_set .gas_panel > div .level01:before {
      border-width: 0 5px 0 0; }
    .gas_panel_set .gas_panel > div .level03:before {
      border-width: 0 0 0 5px; }
    .gas_panel_set .gas_panel > div:before, .gas_panel_set .gas_panel > div:after, .gas_panel_set .gas_panel .gas_pointer:before, .gas_panel_set .gas_panel .gas_pointer:after {
      width: 50%;
      height: 100%;
      top: 0; }
  .gas_panel_set .gas_pointer {
    z-index: 10;
    transform: rotate(-60deg);
    ms-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    -o-transform: rotate(-60deg); }
    .gas_panel_set .gas_pointer:after, .gas_panel_set .gas_pointer:before {
      background-color: rgba(0, 0, 0, 0.8);
      -moz-border-radius: 0 !important;
      -webkit-border-radius: 0 !important;
      border-radius: 0 !important;
      -khtml-border-radius: 0 !important; }
    .gas_panel_set .gas_pointer:after {
      right: -12px;
      transform: rotate(30deg);
      ms-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      -moz-transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      -o-transform: rotate(30deg); }
    .gas_panel_set .gas_pointer:before {
      left: -12px;
      transform: rotate(-30deg);
      ms-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      -moz-transform: rotate(-30deg);
      -webkit-transform: rotate(-30deg);
      -o-transform: rotate(-30deg); }
  .gas_panel_set:before, .gas_panel_set:after, .gas_panel_set .gas_panel:before, .gas_panel_set .gas_panel:after,
  .gas_panel_set .gas_panel > div:before, .gas_panel_set .gas_panel > div:after,
  .gas_panel_set .gas_pointer:after, .gas_panel_set .gas_pointer:before {
    content: "";
    position: absolute;
    border: none; }

/* 엘로우 경고
.on_type02 .mc_bico.type01,
.on_type02 .mc_bico.type01:before {}
.on_type02 .mc_bico.type01:before {background-color:#ffce53; color:#1f1e24;}
*/
.mce_btn_area > button {
  float: left;
  position: relative;
  margin: 4px;
  padding: 10px;
  width: 120px;
  min-width: 120px;
  height: 120px;
  min-height: 120px;
  background-color: #484848;
  color: #fff;
  box-shadow: 0 18px 5px -12px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 18px 5px -12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 18px 5px -12px rgba(0, 0, 0, 0.3); }
  .mce_btn_area > button:hover {
    background-color: #29a1f7; }
  .mce_btn_area > button.level03 {
    background-color: #e41717;
    color: #fff; }
  .mce_btn_area > button.level02 {
    border-style: solid;
    border-width: 3px;
    border-color: #ffce53;
    color: #ffce53; }
  .mce_btn_area > button, .mce_btn_area > button > span {
    overflow: hidden; }
  .mce_btn_area > button > span {
    overflow: hidden;
    position: relative;
    width: 100%;
    word-break: break-all; }
    .mce_btn_area > button > span:nth-of-type(1) {
      max-height: 40px; }
      .mce_btn_area > button > span:nth-of-type(1) em {
        display: inline-block;
        height: 100%; }
    .mce_btn_area > button > span:nth-of-type(2) {
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: 15px;
      font-weight: bold; }
      .mce_btn_area > button > span:nth-of-type(2) em {
        padding: 0 0 0 3px;
        opacity: 0.7; }

.mc_box {
  overflow: hidden;
  flex: 0 1 100%;
  -webkit-flex: 0 1 100%;
  flexbox: 0 1 100%;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 10px 0 20px;
  /*margin: 0 20px;*/ }
  .mc_box > p {
    overflow: hidden;
    word-wrap: normal;
    color: #fff; }
    .mc_box > p:nth-of-type(1) {
      flex: 0 1 100%;
      -webkit-flex: 0 1 100%;
      flexbox: 0 1 100%;
      font-size: 18px;
      /*margin:0 0 4px 0;*/ }
    .mc_box > p:nth-of-type(2) {
      flex: 1 0 100px;
      -webkit-flex: 1 0 100px;
      flexbox: 1 0 100px;
      text-align: right;
      padding: 0 5px 0 0;
      font-size: 36px;
      color: #999;
      font-weight: bold;
      letter-spacing: -3px;
      /*padding: 4px 10px; background-color: $color-dark-01;*/ }

.mc_list {
  overflow: auto;
  width: 100%;
  margin: 10px 0 0 0; }
  .mc_list > li {
    box-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 30px;
    padding: 0 10px;
    margin: 0 0 3px 0; }
    .mc_list > li.level02 > span {
      color: #ffce53; }
    .mc_list > li.level03 {
      background-color: #e41717; }
      .mc_list > li.level03 > span {
        color: #fff; }
    .mc_list > li > span {
      overflow: hidden;
      color: #999;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal; }
      .mc_list > li > span:nth-of-type(1) {
        flex: 1 0 60px; }
      .mc_list > li > span:nth-of-type(2) {
        flex: 0 1 100%; }
      .mc_list > li > span:nth-of-type(3) {
        flex: 1 0 100px;
        padding: 0 2px 0 0;
        text-align: right; }

.personnel {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 100%; }
  .personnel > div {
    /*flex:0 1 100%; -webkit-flex:0 1 100%; flexbox:0 1 100%;*/
    flex: 0 1 45%;
    -webkit-flex: 0 1 45%;
    flexbox: 0 1 45%;
    -webkit-box-flex: 1;
    -ms-flex: 0 1 45%;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    height: 100%;
    margin: 0 10px; }
    .personnel > div > p {
      text-align: center;
      width: 100%;
      height: 30px;
      min-height: 30px;
      font-size: 20px;
      line-height: 27px;
      color: rgba(255, 255, 255, 0.8);
      background-color: #1e1e1e;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal; }
    .personnel > div > span {
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      box-align: end;
      -webkit-box-align: end;
      -moz-box-align: flex-end;
      -webkit-align-items: flex-end;
      -ms-flex-align: flex-end;
      align-items: flex-end;
      width: 100%;
      height: 110px;
      color: white;
      font-size: 120px;
      font-weight: bold;
      line-height: 120px; }
    .personnel > div > div {
      flex: 1;
      -webkit-flex: 1;
      flexbox: 1;
      position: relative;
      height: 90px;
      padding: 27px 0 0 0;
      text-align: center;
      font-size: 50px;
      color: white;
      margin: 0 1px; }
      .personnel > div > div:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 20px;
        letter-spacing: -2px;
        color: #fff;
        background-color: #1e1e1e; }
      .personnel > div > div:nth-of-type(1):before {
        content: "들어옴"; }
      .personnel > div > div:nth-of-type(2):before {
        content: "나감"; }
      .personnel > div > div > p {
        letter-spacing: -6px; }
      .personnel > div > div > em {
        bottom: 30px;
        left: 0;
        position: absolute;
        min-width: 110px;
        min-height: 27px;
        opacity: 0.8;
        font-size: 20px;
        color: #fff;
        font-weight: 100; }
        .personnel > div > div > em:before {
          position: absolute;
          right: 0;
          top: -27px;
          font-size: 30px; }
    .personnel > div.past span {
      font-size: 100px;
      line-height: 100px; }
    .personnel > div.past span, .personnel > div.past div {
      color: rgba(255, 255, 255, 0.6); }
    .personnel > div.now > div:nth-of-type(1) > em:before {
      content: "\e922"; }
    .personnel > div.now > div:nth-of-type(2) > em:before {
      content: "\e923"; }
    .personnel > div.now > div:nth-of-type(1) *, .personnel > div.now > div:nth-of-type(1):before {
      color: #a8d164; }
    .personnel > div.now > div:nth-of-type(2) *, .personnel > div.now > div:nth-of-type(2):before {
      color: #ffce53; }
  .metro_parent:nth-of-type(1) .personnel > div > div > em {
    min-width: 180px;
    min-height: 40px; }
    .metro_parent:nth-of-type(1) .personnel > div > div > em:before {
      top: -40px;
      font-size: 40px; }
  .personnel + .ct-chart {
    padding: 20px 0 0 0;
    height: 210px; }

.area_title {
  color: #fff;
  font-size: 20px;
  padding: 10px; }
  .area_title + div {
    margin: 0 0 10px 0;
    padding: 0; }

.time_select_contents {
  width: 100%;
  padding: 10px 0; }
  .time_select_contents > button:before {
    content: "\e915 ";
    color: #fff;
    font-size: 30px; }
  .time_select_contents > button:hover:before {
    color: #e41717; }
  .time_select_contents + div {
    width: calc(100% - 20px);
    width: -webkit-calc(100% - 20px); }
  .time_select_contents > div {
    box-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 45px; }
    .time_select_contents > div > .check_box_set {
      flex: 1 0 40px;
      -webkit-flex: 1 0 40px;
      flexbox: 1 0 40px;
      -webkit-box-flex: 0;
      -ms-flex: 1 0 40px;
      margin: 0 10px 0 0; }
    .time_select_contents > div > .select_edit {
      flex: 0 1 100%;
      -webkit-flex: 0 1 100%;
      flexbox: 0 1 100%;
      -webkit-box-flex: 1;
      -ms-flex: 0 1 100%; }
    .time_select_contents > div > p {
      flex: 1 0 110px;
      -webkit-flex: 1 0 110px;
      flexbox: 1 0 110px;
      -webkit-box-flex: 0;
      -ms-flex: 1 0 110px; }
      .time_select_contents > div > p:before {
        content: "~";
        padding: 0 5px; }
    .time_select_contents > div > p, .time_select_contents > div > span {
      letter-spacing: 1px;
      font-size: 20px; }
    .time_select_contents > div > textarea {
      width: 100%;
      height: 288px; }

/*# sourceMappingURL=dashboard.css.map */
