@charset "utf-8";
@import "filters";

/*
form-bg-effect :
@include box-shadow01(0px, 30px, 40px, -20px, #000, 0.7);
*/


////// 마키 시작
.marquee {
  overflow: hidden; position: relative; width:100%; height:30px; margin:0 0 0 50px; @include flex-width-one(1);
  &, & * {color:$color-blue-01;}
  button {
    opacity: 0.8; height:100%; margin:0 15px; padding:6px 0 0 20px; font-size:14px;
    span {display:initial; font-weight:bold; font-size:16px;}
    &:hover { &, & span, &:before {opacity: 1; color:#fff;} }
    &:before { content:"●"; position: absolute; left: 5px; top: 50%; margin: -4px 0 0 0; font-size:10px; }
  }
}
////// 마키 End


////// 어드민 검색영역  Start
.search_area {
  @include flex-align-items-center;
  width:100%; min-height:65px; padding:5px 0;
  @include border01(0 0 1px 0,$color-gray-06,1);

  .search_contents {@include flex-option(0, 1, 100%); }
  .search_btn, .table_btn_set {@include flex-option(1, 0, 160px); text-align: right; }

  .tr_table & {border-width:1px 0 0 0;}

  .search_contents > * {
    float: left; display: table; position: relative; padding: 0 20px 0 0; margin: 5px 0; letter-spacing: -1px;

    & > *:not(select) {display: table-cell; height: 100%; vertical-align: middle;}
    & > span > em  {padding:0 3px;}
    & > span:first-child {padding:0 10px 0 0;}

    & > span > input {max-width:170px;}
    & > span > input.hasDatepicker {width:110px;}
    & > span > input.hasDatepicker ~ select {width: 75px;}
  }
}
////// 어드민 검색영역  End


////// 시,분, 초 선택 폼 Start
.select_edit {
  position: relative; height:40px;
  & > div {
    position: relative; height:100%; margin:0 2px; @include flex-option(0, 1, 100%);

    input, select {position: absolute; top:0; left:0; height:100%;}
    input  {width:calc(100% - 25px);width:-webkit-calc(100% - 25px); z-index: 1;}
    select {width:100%;}
  }
  &.disabled {opacity: 0.2; input, select {pointer-events:none;} }
}
////// 시,분, 초 선택 폼 End


//////...... 차트 상태 표시 시작
* {
  // 상태 표시
  .ch_name, .chart_label span, .mh_name {
    position: relative; margin:0 20px 0 0; background-color: transparent;
    &:before {
      content:""; display: inline-block; position: relative; top:1px;
      width:14px; height:14px; margin:0 5px 0 0; @include border-radius(20px);
    }
  }

  /*
   &.co_gren:before {background-color: rgba(0,212,88,  0.4);} !*1 작업자상태, 안전복 미착용*!
   &.co_purp:before {background-color: rgba(204,61,211,0.4);} !*2 크레인상태, 헬멧 미착용 *!
   &.co_yell:before {background-color: rgba(255,206,83,0.4);} !*3 유해가스상태, 배회 쓰러짐*!
   &.co_redd:before {background-color: rgba(254,77,59,0.4); } !*4 위험지역 감지  *!
   &.co_viol:before {background-color: rgba(151,83,220,0.4);} !*5  *!
   &.co_blue:before {background-color: rgba(41,161,247,0.4);} !*6  *!
   */

  .check_th tbody tr.top00 td:first-of-type:before {background-color: #ccc;}
  .check_th tbody tr.top01 td:first-of-type:before,
  .chart_label > span:nth-of-type(1):before,
  .mp_header > div > .ch_name:nth-of-type(1):before
  {background-color: $color-green-01;} // 1 #01d65a 작업자상태, 안전복 미착용

  .check_th tbody tr.top02 td:first-of-type:before,
  .chart_label > span:nth-of-type(2):before,
  .mp_header > div > .ch_name:nth-of-type(2):before
  {background-color: $color-purple-01;} // 2 #cc3dd3 크레인상태, 헬멧 미착용

  .check_th tbody tr.top03 td:first-of-type:before,
  .chart_label > span:nth-of-type(3):before,
  .mp_header > div > .ch_name:nth-of-type(3):before
  {background-color: $color-yellow-01;} // 3 #ffce53 유해가스상태, 배회 쓰러짐

  .check_th tbody tr.top04 td:first-of-type:before,
  .chart_label > span:nth-of-type(4):before,
  .mp_header > div > .ch_name:nth-of-type(4):before
  {background-color: $color-red-01;} // 4 #e41717 위험지역 감지

  .check_th tbody tr.top05 td:first-of-type:before,
  .chart_label > span:nth-of-type(5):before,
  .mp_header > div > .ch_name:nth-of-type(5):before
  {background-color: $color-purple-02;} // 5 #9753dc

  .check_th tbody tr.top06 td:first-of-type:before,
  .chart_label > span:nth-of-type(6):before,
  .mp_header > div > .ch_name:nth-of-type(6):before
  {background-color: $color-blue-02;} // 6 #29a1f7

  .check_th tbody tr.top07 td:first-of-type:before,
  .chart_label > span:nth-of-type(7):before,
  .mp_header > div > .ch_name:nth-of-type(7):before
  {background-color: $color-green-02;} // 7 #56c96e

  .check_th tbody tr.top08 td:first-of-type:before,
  .chart_label > span:nth-of-type(8):before,
  .mp_header > div > .ch_name:nth-of-type(8):before
  {background-color: $color-yellow-02;} // 8 #ff7a39

  .check_th tbody tr.top09 td:first-of-type:before,
  .chart_label > span:nth-of-type(9):before,
  .mp_header > div > .ch_name:nth-of-type(9):before
  {background-color: $color-blue-03;} // 9 #de4ec1

  .check_th tbody tr.top10 td:first-of-type:before,
  .chart_label > span:nth-of-type(10):before,
  .mp_header > div > .ch_name:nth-of-type(10):before
  {background-color: $color-purple-03;} // 10  #7894c2

}
//////...... 차트 상태 표시 끝


//////...... 달력 datepicker Start
input.datepicker {width:100px;}
// datepicker Start
button.ui-datepicker-trigger {
  @include length-wh01; @include border(1px 1px 1px 0,$color-gray-01);
  background-color: #fff;
  &:before {content:"\e91f"; font-size:1.8rem; margin:0 1px 0 0; color:$color-dark-01;}
  &:hover:before {color:$color-red-01;}
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
{@include border-radius(0px);}

.ui-datepicker {
  display: none;
  width:320px; padding:10px; background-color:$color-white-01;
  @include border01(1px,$color-gray-01,1);
  @include box-shadow01(0px, 30px, 40px, -20px, #000, 0.7);

  //.ui-datepicker-header start
  .ui-datepicker-header {
    position: relative; height:40px; margin:10px 0;

    // .ui-datepicker-header 좌우 화살표 Start
    & > a {
      overflow: hidden; position: absolute; top:0;  @include length-wh01;

      &:hover > span:before {color:$color-red-01;}
      &.ui-datepicker-prev {left:0;}
      &.ui-datepicker-next {right:0;}
      &.ui-datepicker-prev > span:before {content:"\e918";}
      &.ui-datepicker-next > span:before {content:"\e919";}

      & > span {
        @include flex-midddle; position:relative; width:100%; height:100%;
        &:before {font-size:1.8rem; color:$color-dark-01; }
      }
    } // .ui-datepicker-header 좌우 화살표 End

    // .ui-datepicker-header 타이틀 Start
    .ui-datepicker-title {
      @include flex-midddle;
      position: absolute; top:0; left:40px; right:40px; height:40px; cursor: pointer;
      & > select  {font-size:1.6rem; line-height: 1.8rem; width:110px;}
      &, & > span {font-size:2rem;}
    } // .ui-datepicker-header 타이틀 End

  } //.ui-datepicker-header End

  //.ui-datepicker-calendar Start
  .ui-datepicker-calendar {
    thead {opacity: 0.5;}
    th, td {
      height:40px; text-align: center; padding:0; border:none;
      & > span, & > a {@include flex-midddle; height:100%; font-size:16px;}
      &.ui-datepicker-week-end, &.ui-datepicker-week-end > a {color:$color-dark-01;}
      & > a.ui-state-highlight {color:$color-red-01; font-weight:bold;}
      & > a:hover {background-color: $color-orange-01; color:$color-white-01;}
      & > a.ui-state-active {background-color: $color-red-01; color:$color-white-01; border:none;}
    }
  }//.ui-datepicker-calendar End
}

.dpk_normal_type.dpk_open {
  display: inline-block;
  position: absolute; z-index:1; top:0; left:0;
  .ui-datepicker {
    @include border01(1px, $color-gray-01, 0);
    @include box-shadow01(0px, 30px, 40px, -20px, #000, 0.0);
  }
  .ui-datepicker-calendar {display: none;}

  &:hover .ui-datepicker-calendar {display: table;}
  &:hover .ui-datepicker {
    @include border01(1px, $color-gray-01, 1);
    @include box-shadow01(0px, 30px, 40px, -20px, #000, 0.7);
  }

}

.dpk_open_type {
  display: inline-block;
  & > .ui-datepicker {
    background-color: transparent; border:none; @include box-shadow-none;
    & > .ui-datepicker-header {
      & > a > span:before {color:$color-dark-01;}
    }
  }
}
/////...... 달력 datepicker End


/////...... timepicker Start
.timepicker {@include flexbase;  @include flex-align-items-center;  height: 40px;}
.timepicker > div, .in-timepicker, .w_input {
  display: inline-block; position: relative; min-width:70px; width:auto; margin:0 2px;

  &, & > select {min-height:40px;}
  &:first-child {margin:0 2px 0 0;}
  & > select {width:100%; min-width:0; height: 100%;}
  & > input  {
    position: absolute; z-index:1; top: 1px; left: 1px;
    width: calc(100% - 30px) !important; width: -webkit-calc(100% - 30px) !important;
    height: calc(100% - 2px) !important; height: -webkit-calc(100% - 2px) !important;
    border: none;
  }
  & > input:focus + select { border-color: $color-red-01; }
}

input.datepicker + button + .in-timepicker {z-index:1; left:-1px; margin:0;}
.timepicker, .filter_box, .filter_set { & em {margin:0 10px;} }
/////...... timepicker End


/////...... input[type="file"] base 정의 Start
.infile_set {
  /*
  <div class="infile_set">
      <input type="text" readonly="readonly" title="File Route" id="file_route">
      <span class="btn_infile btype03 bstyle04">
          <input type="file" name="file" onchange="javascript:document.getElementById('file_route').value=this.value">
      </span>
      <p class="before_file">
          <a href="" title=""></a>
      </p>
  </div>
  */
  width:auto;height:30px;
  & > * {position: relative; height: 100%;}
  & > input, & > select {@include flex-option(0, 1, 100%);}
  & > span, & > button {@include flex-option(1, 0, 100px); height:100%;}
  & > span  {
    &:before {
      content:"파일찾기";
      position:absolute;top:0; left:0; width:100%; height: 100%; color:#fff; background-color: $bas-color;
      @include flex-justify-content-center;
      @include flex-align-items-center;
    }
    input[type="file"]
    {position: absolute;z-index: 1;left:0;top:0;width:100%;height:100%;opacity: 0; cursor:pointer;}
  }
  & > p {
    padding:0 0 0 10px;
    @include flex-option(0, 1, 100%);  @include flex-align-items-center;
    a {
      text-align: left; text-decoration:underline; color:#3e3e3e; @include text-overflow-ellipsis;
      &:hover {color:#f37949;}
    }
  }


}
.infile_sets {
  /*
  <div class="infile_set">
     <input type="text" disabled >
     <input type="file" onchange="this.previousElementSibling.value=this.value">
     <button></button>
 </div>
   */
  position:relative; height:40px; float: left;
  & * {float: left;}
  & > input[type="text"] {width:calc(100% - 40px); width:-webkit-calc(100% - 40px);}
  & > input[type="file"] {position: absolute; z-index:1; top:0; left:0; width:100%; height:100%; opacity: 0; cursor:pointer;}
  & > input[type="file"]:hover + button:before {color:$color-blue-01; font-weight:bold;}
  & > button {
    @include border01(1px 1px 1px 0, $color-gray-01, 1);
  }
}
/////...... input[type="file"] base 정의 End


/////...... input[type="checkbox"] checkBox label base 정의 Start
.check_box_set {
  position:relative; width:auto !important; height:40px !important; float: left;
  & > *:not(span) {width:100%; height:40px;}
  &, & > label {@include flexbase; @include flex-align-items-center; }
  & > input {position: absolute; z-index:1;top:0;left:0;opacity:0; margin:0; cursor: pointer; }
  & > span {margin:0 10px; & + input {left:auto !important; right:0; margin:0;} }

  //라벨 스타일 csl_style01 Start
  &, &.csl_style01 {
    /*
  <div class="checkbox_set csl_style01">
      <input type="checkbox"  name="" />
      <label></label>
      <span>자동로그인</span>
  </div>
  */

    & > input, & > label {width:40px !important;height:40px !important;}
    & > input {
      &:checked + label, &.on + label {
        &:before { @include text-shadow(1px, 2px, 2px, #000, 0.3); opacity: 1; }
      }
    }

    & > label {
      @include flex-justify-content-center;
      &:before {content:"\e901";  font-size:22px; opacity: 0.5; }
    }

  } // 라벨 스타일 csl_style01 End

  // 라벨 스타일 csl_style02 Start
  &.csl_style02 {
    /*
  <div class="checkbox_set csl_style02">
      <span>자동로그인</span>
      <input type="checkbox"  name="" />
      <label></label>
  </div>
  */
    margin:0 45px 0 0;
    & > input, & > label {width:80px; min-width:80px; max-width:80px;}

    & > input {
      &:checked + label , &.on + label{
        background-color:$color-red-01; border:none;
        &:before {left:50px; background-color:$color-white-01;}
        &:after  {content:"ON"; right:5px; color:$color-white-01;}
      }
    }

    & > label {
      background-color:$color-white-01;  @include border01(1px,$color-gray-01,1 );
      &, &:before {@include border-radius(200px);}
      &:before {content:""; left:10px; width:20px; height:20px; background-color: $color-gray-01;}
      &:after  {content:"OFF"; right:-20px; color:$color-dark-01;}
    }

  } // 라벨 스타일 csl_style02 End
}
/////...... input[type="checkbox"] checkBox label base 정의 End


/////...... button base 정의 Start
* {
  a.btn {
    @include flex-midddle;
    span {width:100%; text-align:center;}
  }

  button.btn, a.btn, input[type="button"].btn, .btn, .cbtn {@include box_btn;} // 면 버튼 정의
  button.btn ~ button.btn {margin:0 0 0 5px;}

  .lbtn, .lcbtn {@include line_btn;} //라인 버튼 정의
  .lcbtn, .cbtn {@include border-radius(200px);} //사이클 버튼 정의

  .dim   {@include dim_btn;}
  .btn   {@include length-wh02;}
  .lbtn  {@include length-wh02;}
  .lcbtn {@include length-wh01;}
  .cbtn  {@include length-wh01;}

  body.dashboard_mode {
    button.btn {@include border01(1px, $color-gray-06, 1); &:hover {border:none;} }
  }

  .list_select_box > button /* 알림센터 이력 알림해제 버튼 */,
  .filter_area > button     /* 검색영역 버튼 */,
  .table_bottom > button   /* 엑셀다운로드 버튼  */
  {@include box_btn; @include length-wh02;}

  .tree_area > header > button  /* 트리 헤더 버튼  */
  {@include box_btn;}
  .ibtn, .l-popup header > button, .file_btn {@include icon_btn;}
  .file_btn:before {content: "\e915";}
  .l-popup header > button:before {content: "\e904";}
  .excel_btn {background-color: $color-green-01 !important;}

  /*버튼 공통 정리
  검색 영역 삽입 버튼   = .btype01 + .bstyle01
  테이블 타이틀 버튼 튼 = .btype01 + .bstyle03
  테이블 삽입 버튼     = .btype02 + .bstyle02
  */

  // 일반형 버튼
  .btype01 {}

  // 테이블 안에 삽입되는 버튼
  .btype02 {min-width:60px; height:25px; font-size:13px; @include border-radius(20px); }

  // 파일 첨부 버튼 및 높이값이 작은 버튼
  .btype03 {min-width:100px;height:30px;font-size:14px;}

  .db_btn, .alra_btn {@include icon_btn;} //아이콘버튼
  .alra_btn {
    width:80px; height:30px;  padding: 0 5px 4px 5px; margin:0;
    line-height: 0; font-size:1.3rem; background-color: $color-red-01;
    @include border-radius(20px);
    &:before {content: "\e907"; position: relative; top: 1px; padding: 0 5px 0 0; font-size:1.3rem;}

    &:hover {&:before {color:#fff !important;}}
  }
  .stion_btn {
    width:64px;
    padding:1px 0 !important;
    display: inline-block;
    text-align:center;
    font-size:13px;
    color:#fff;
    -moz-border-radius:    20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius:  20px;
    border-radius:         20px;
  }

  // 화면 확대 축소 버튼
  .change_btn {
    position: fixed; z-index:10; top:0; right:0; width:45px; height:45px !important;
    &:before {font-size:26px; color:#fff;}
  }

  .issue_btn, .loginout_btn, .skin_btn, .change_btn {
    &:hover { background-color: $color-blue-01; &:before {color:#fff !important;} }
  }

  .zoom_btn, .sett_btn, .refl_btn, .zoomclose_btn {margin:0 0 0 15px;}
  .zoom_btn:before      {content: "\e904";}
  .zoom_btn.on:before   {content: "\e903";}
  .zoomclose_btn:before {content: "\e91a";}
  .sett_btn:before      {content: "\e905";}
  .issue_btn:before     {content: "\e907";}
  .loginout_btn:before  {content: "\e900";}
  .skin_btn:before      {content: "\e924";}

  // 이벤트 감지 아이콘 애니메이션
  button.issue:after {
    content: ""; position: absolute; z-index:-1; left:0; top:0;
    width:100%; height:100%; background-color:$color-red-01;

    animation-name: issue;
    -webkit-animation-name: issue;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
  @-webkit-keyframes issue {
    0%   {opacity: 1;}
    5%   {opacity: 0;}
    10%  {opacity: 1;}
    15%  {opacity: 0;}
    20%  {opacity: 1;}
    25%  {opacity: 0;}
    30%  {opacity: 1;}
    35%  {opacity: 0;}
    40%  {opacity: 1;}
    45%  {opacity: 0;}
    50%  {opacity: 1;}
    55%  {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes issue {
    0%   {opacity: 1;}
    5%   {opacity: 0;}
    10%  {opacity: 1;}
    15%  {opacity: 0;}
    20%  {opacity: 1;}
    25%  {opacity: 0;}
    30%  {opacity: 1;}
    35%  {opacity: 0;}
    40%  {opacity: 1;}
    45%  {opacity: 0;}
    50%  {opacity: 1;}
    55%  {opacity: 0;}
    100% {opacity: 1;}
  }
}
/////...... button base 정의 End


/////...... contenteditable 정의 Start
div[contenteditable] {}
/////...... contenteditable 정의 End


/////...... Table_layout 정의 Start
.table_area {width:100%;}
.layer_contents .table_area
{overflow: auto; @include flex-option(0, 1, 100%); padding: 0;}
.table_set, .table_contents {position: relative; }
.table_set {display: inline-block;}
.table_contents {width:100%; }



/*
.tablebase : table, div 모두 허용
.t_defalut : table 테이블
.d_defalut : div 테이블
*/

// 테이블 base 정의 Start
div.tablebase, .d_defalut {display: inline-block;}

.tablebase, .t_defalut, .d_defalut {
   /*
   <table class="tablebase" or "t_defalut">
     <thead> <tr> <td> <div> ...
     <tbody> <tr> <td> <div> ...

  <div class="tablebase" or "d_defalut">
    <div class="d_thead"> <div> <p> <*> ...
    <div class="d_tbody"> <div> <span> <*> ...

  <th>, <div class="d_thead">에 모든테그 = <p>
  <td>, <div class="d_tbody">에 모든테그 = <span>
  */
  @mixin table_padding {padding:0 10px; }

  position: relative; width:100%; margin:0 0 20px 0;
  background-color:rgba( $color-white-02, 0.8);
  @include borderwidth(1px 0 0 0); border-color:$color-gray-06;
  @include box-shadow01(0, 3px, 15px, 0, #000, 0.15);

  th,td, & > div > div > * {
    position: relative; text-align: left; height:$td-height;
    @include table_padding; @include borderwidth(0 0 1px 0);
    & > input[type="checkbox"], & > input[type="radio"] {float:none; margin:0 10px !important;}

    & > input[name="licenseText"] {
      float:none !important; margin:0 5px 0 0; width:80px !important;
      @include borderwidth(0 1px); border-color:$color-gray-06;
    }


  }
  th, & > div > div > p, & > div.d_thead > div > * {
    color:$color-white-01; background-color: $color-gray-05; border-color:$color-gray-03;
    &.point {background-color:$color-orange-01;  border-color:$color-orange-02; }
  }
  td, & > div > div > * {border-color:$color-gray-06; }

  td {

    & > input, & > select, & > div[contenteditable], & > textarea , & > .infile_set,
    & > .timepicker, & > .in-timepicker, & > .filter_set {
      float:left; width:calc(100% + 20px); width:-webkit-calc(100% + 20px); height:100%;
      border-color:transparent; margin:0 0 0 -10px;
    }

    & > select[name="deviceCode"] {
      //width:calc(100% - 130px); width:-webkit-calc(100% - 130px);
      //& + br {display: none; }
      //& ~ button { position: absolute; right:0; top:0; height:100%; max-width:100px;}
    }
    @mixin table_in_divset {height:100%; border-color: transparent $color-gray-01 transparent $color-gray-01;}

    .filter_set { input, select {@include table_in_divset; width:100%;  min-width:0;} }

    .timepicker, .in-timepicker, .w_input { input, select {height:100%; border-color: transparent;} }

    .infile_set { input, button, select {height:100%; border:none;} }

    .checkbox_set.csl_style02 {margin:0 20px 0 10px;}

    textarea, div[contenteditable] {min-height:165px; resize: none}

    .inwidth150 input {width:150px;}

    & > input[type="radio"] + input[type="radio"] {margin: -4px 5px 0 10px;}

    span {position: relative; font-weight:bold; padding: 0 10px 0 0;}


  }

  //div형 테이블
  & > div {// thead, tbody
    & > div {//tr
      //display: table;
      @include flexbase;
      width:100%;
      & > * {//td, th
        //display: table-cell;
        @include flex-option(0, 1, 100%);
        @include flexbase;
        @include flex-align-items-center;
        overflow: hidden;
        vertical-align: middle;
        height:auto; min-height:55px;

      }
    }
  }

  .align_c {text-align: center !important;}
  .align_l {text-align: left !important;}
  .align_r {text-align: right !important;}

  //리스트, 목록
  &.list_type, &.t_type01 {
    th, & > div > div > p, & > div.d_thead > div > *
    {
      @include borderwidth(1px 1px 1px 0);
      /* th에 정렬 버튼 아이콘
      &:before, &:after {content:""; position: absolute; right:10px; width:0; height:0; border-style:solid;}
      &:before {@include triangle-top(0 4px 6px 4px,#fff); top:10px;}
      &:after  {@include triangle-bot(6px 4px 0 4px,#fff); bottom:10px;}
      &.up {
        th, & > div > div > p {
          &:before {opacity:1;}
          &:after  {opacity:0.5;}
        }
      }
      &.down {
        th, & > div > div > p {
          &:before {opacity:0.5;}
          &:after  {opacity:1;}
        }
      }
      */
    }

    &.notbefore { th, & > div > div > p { &:before, &:after {display: none !important;}  }  }

    th:last-of-type, & > div > div > p:last-of-type
    {@include borderwidth(1px 0);}

    tr:hover td, & > div > div:hover > p
    {background-color: $color-gray-04;}
  }
  //읽기, 쓰기
  &.write_type, &.t_type02 {
    th, td, & > div > div > p, & > div.d_thead > div > * {@include borderwidth(0 1px 1px 0);}
    th {width:160px;}
    td { /*padding:0; & > span {@include table_padding;}*/}
  }

}

// div 테이블 base 정의 Start
div.d_defalut {
  & > div > div > * {min-width:90px;}
  // 이벤트 통계 좌우 스크롤 테이블 타입
  &.d_type01 {
    & > div {float:left;}
    .d_thead {
      position: relative; z-index:2;  width:200px;
      & > div {
        @include flex-row-wrap;
        & > * {
          @include borderwidth(0 1px 1px 0);
          &:first-of-type {@include borderwidth(1px 1px 1px 0);}
          &:last-of-type  {@include flex-option(0, 1, 100%);}
        }
      }
    }
    .d_tbody {
      overflow-x: auto; position: absolute;  z-index:1; width:100%; padding:0 0 0 200px;
      & > div:first-of-type > * {
        color:$color-white-01; background-color: $color-gray-05; border-color:$color-gray-03;
        @include borderwidth(1px 1px 1px 0);
      }
    }
  }
}

// UL 테이블 base 정의 Start  :  dashBoard list type
ul.u_defalut {
  overflow: auto;
  & + button {margin:20px 0 0 0;}

  li {@include flexbase; padding:0 0 20px 0;}

  &.event_list_type {
    li {
      span {
        font-size: 1.1rem; letter-spacing: 0; vertical-align: top; padding:0 40px 0 0; opacity: 0.7;
        @include flex-option(1, 0, 130px);
        &:nth-of-type(1) {@include flex-option(1, 0, 100px);}
        &:nth-of-type(2) {}
        &:nth-of-type(3) {@include flex-option(0, 1, 100%);}
        &:nth-of-type(4) {}
        &:nth-of-type(5) {}
        &:nth-of-type(6) {}
        &:nth-of-type(7) {}
        &:nth-of-type(8) {}
        &:nth-of-type(9) {}
      }
    }
  }

  &.time_set_type {
    .timepicker {
      order:1;
      & > * {margin:0 10px 0 0;}
      & > input {width:70px;}
    }

    .checkbox_set.csl_style02 {
      order:2;
      margin:0 20px;
      & + .timepicker {
        input, select {pointer-events: none;}
        & > div, & > input {opacity: 0.6;}
      }
      &.on + .timepicker {
        input, select {pointer-events: auto;}
        & > div, & > input {opacity: 1;}
      }
    }
  }

}

// Paging 정의  [총건수 + 현재페이지 번호 + 총페이지 수 + 이전 + 이후 ] Start
.pasing {
  /*
  <div class="pasing">
       <p>120</p><!-- 총 건수 -->
       <div class="page_count">
           <div>
               <input type="number" name="" value="01">
               <select onchange="this.previousElementSibling.value=this.value">
                   <option value="01" selected="selected">01</option>
                   <option value="02">02</option>
               </select>
           </div>
           <p>5</p>
       </div><!-- 현재 페이지 -->
       <button class="pre"></button>
       <button class="nex"></button>
       <!-- 좌우버튼 -->
   </div>
  */
  display:inline-block; height:40px;
  & * {font-size:15px; @include flex-midddle;}
  & > * {
    float: left; position: relative; height:100%;
    @include border01(1px 0 1px 1px, $color-gray-01, 1); background-color: $color-white-01;
  }
  & p {
    &:before, &:after
    {@include flex-midddle; position: absolute; top:0; height:100%; opacity: 0.5;}
  }
  & > p {
    width:90px; font-weight:bold;
    &:before {content:"총"; left:10px;}
    &:after  {content:"건"; right:10px;}
  }

  & > .page_count {
    width:100px;
    & * {position: relative; border:none; height:100%;  }
    & > div {
      width:60px;
      & > input  {position: absolute; z-index:1; top:0; left:0; width:40px; font-weight:bold;}
      & > select {width:100%;}
    }
    & > p { width:30px; opacity: 0.5; }
  }

  & > button {
    width:40px;
    &:hover {
      background-color: $color-blue-01; color:$color-white-01; border:none;
      &:before, &:after {color:#fff;}
    }
    &.nex {border-width:1px;}
    &:before, &:after {font-size:16px; color:#2d2d2d;}
    &.pre:before {content:"\e918";}
    &.nex:before {content:"\e919";}
  }

}

// page 정의 Start [처음 + 이전 + 페이지 + 다음 + 마지막]
.page {
   /*
   <div class="page">
       <p class="paging">
           <button class="p_arrow pll">《</button>
           <button class="p_arrow pl"> 〈</button>
           <button class="page_select ">1</button>
           <button >2</button>
           <button class="p_arrow pl"> 〉</button>
           <button class="p_arrow pll">》</button>
       </p>
   </div>
   */
  position:relative; width:100%; height:40px; margin:20px 0; text-align:center;

  .paging {
    display:inline-block;
    button {
      width:40px; height:40px; margin:0 2px;
      @include border01(1px, $color-gray-01, 1); background-color: $color-white-01;
      &:hover, &.page_select {
        @include borderwidth(1); background-color: $color-blue-01; color:$color-white-01; border:none;
      }

      &.p_arrow {
        overflow: hidden; text-indent: -1000px;

        &:before, &:after {
          @include flex-midddle; position: absolute; top:0; left:0;
          width:100%; height:100%; text-indent: 0;
        }

        &:first-of-type, &:last-of-type {
          &:before, &:after {width:15px; left:50%; }
        }
        &:first-of-type {
          &:before, &:after {content:"\e918";}
          &:before {margin:0 0 0 -6px}
          &:after  {margin:0 0 0 -12px}
        }
        &:last-of-type  {
          &:before, &:after {content:"\e919";}
          &:before {margin:0 0 0 -9px}
          &:after  {margin:0 0 0 -3px}
        }

        &:nth-of-type(2):before {content:"\e918";}
        &:nth-last-of-type(2):before {content:"\e919";}
      }

    }
  }
}
/////...... Table_layout 정의 End


/////...... menu_tree_set 메뉴관리권한, tree UI 정의 시작
.menu_tree_set {
  @mixin tree-hover
  {background-color: $color-blue-01 !important; border-color:transparent !important; color:#fff !important;}
  @mixin tree-on
  {background-color:$color-red-01; border-color:transparent; color:#fff; opacity: 0.4; &:before {content: "\e92c";} }
  @mixin tree-normal
  {background-color:rgba($color-white-01,0.7); border-color:$color-gray-01; color:$color-dark-01; opacity: 1;}

  //버튼기본
  @mixin tree-button {
    text-align: left; margin:0 0 6px 0;
    background-color: $color-white-02;
    @include border01(1px,$color-gray-01,1 );
    @include box-shadow01(0px, 10px, 8px, -10px, #000, 0.4);
    &:hover {@include tree-hover;}
  }

  width:100%; height:100%; padding:50px 0;
  ul, li {position: relative; @include transition(400ms);}

  ul:before, ul:after, li:after, li:before, .dynatree-expander:before
  {content:""; position: absolute; background-color:$color-gray-06; }
  ul:before, li:before, .dynatree-expander:before {width:10px; height:1px;}

  ul:before {top:20px; left:-20px;}
  li:before {top:20px; left:-10px;}

  li {
    &:after {top:20px; left:-10px; bottom:-21px; width:1px;}
    &:last-of-type:after {display: none;}
  }

  button {@include tree-button; min-height:40px; padding:5px 10px 5px 40px; }

  input[type="checkbox"] {
    position: absolute; z-index: 5; left:0; top:0; margin:0; padding:0;
    border:none; background-color: transparent; cursor: pointer;
    opacity: 0;
    &:hover + button {@include tree-hover;}
  }

  & > li {
    width:100%;
    ul {margin:0 0 0 20px}
    &:before {display: none;}
  }

  &, &.divtree_type {
    li {@include flexbase; @include flex-align-items-start;}
    button, input { width:220px; min-width:220px;}

    button:before {
      content: "\e92b";
      @include flex-midddle; position: absolute; top:0; left:0;
      width:40px; height:40px; font-size:22px;
    }

    button {&.on ,  &.on + ul li button {@include tree-on;} }

    // 체크가 삽입될 때
    input[type="checkbox"] {
      &:checked + button,  &:checked + button + ul li button {@include tree-on;}
    }

  }

  &.view_type, &.libaray_type {
    a, button {
      width:auto; min-width:120px; padding: 5px 10px;
      white-space: nowrap; @include font-size15; font-weight:bold;
    }
  }

  @mixin plus_icon {
    content: "\e919";
    @include flex-midddle;
    width:26px; height:26px; background-color: $color-dark-01; color:#fff;
    @include border-radius(200px);
    @include box-shadow01(0px, 7px, 6px, -6px, #000, 0.4);
  }

  &.view_type {
    overflow: auto; padding:20px;

    li {display: inline-block;  margin:0 0 0 41px;}

    & > li {
      width:auto;
      //& > input[type="checkbox"], & > button {pointer-events: none;}
      &:before, & > ul:before {display: block !important;}
      &:after {left:-21px;}

      ul {
        margin:0 0 0 0;
        &:after {@include plus_icon; z-index:5; top:-39px; left:-34px;}
        &:before {display: none; top:-6px; left:20px; width:1px; height:26px;}

        li {
          &:before, &:after {top:20px; left:-21px;}
          &:before {width:20px;}
          &:after  {bottom:-21px; width:1px;}
        }

      }

      ul li ul li {display: none;  height:0;}
      /* 전체 열기 닫기
      & > .all_see_btn {
        &:checked ~ ul li ul li {display: inline-block;}
        &:checked ~ ul li ul:after {content:"-";}
        &:checked ~ ul li ul:before {display: block;}
      }
      */

      input[type="checkbox"] {
        z-index:6; left:-40px; width:40px; min-width:40px;
        & + button {
          &:hover {@include tree-hover;}
        }
        &:hover + button  {
          @include tree-hover;
          & + ul {
            &:after {background-color: $color-red-01;}
          }
        }
        &:checked + button {
          &, & + ul li button { @include tree-normal; }
          & + ul {
            & > li {display: inline-block !important; height:auto;}
            &:after {content:"\e91a" !important;}
            &:before {display: block;}
          }
        }
      }
    }
  }

  &.libaray_type {
    overflow: auto; width:100%; height: 100%;  padding: 20px;
    a, li > span {@include flexbase; @include flex-align-items-center; }
    li > span { height:40px; margin:0 0 6px 0;}
    a {@include tree-button; height:100%; margin:0; }

    li {
      &:before {display: none;}
      &:after {z-index: -1; left:19px; }
      ul {
        margin:0 0 0 41px;
        &:before {top:-7px; left:19px; width:1px; height:14px; }
      }
    }

    .dynatree-icon {display: none;}
    .dynatree-expander {
      position: relative; width:26px; height:26px; margin:0 9px 0 6px; cursor: pointer;
      &:before {top:13px; right:-10px;}
      &:after {@include plus_icon;}
      &:hover:after {background-color: $color-red-01;}
      &:hover ~ a {@include tree-hover;}
    }
    .dynatree-expanded .dynatree-expander:after {content:"\e91a" !important;}

    & > ul {width: 100%;  padding: 0 0 50px 0; &:before {display: none;} }

    .ui-dynatree-disabled ul.dynatree-container { opacity: 0.5;}

  }
}
///// menu_tree_set 메뉴관리권한, tree UI 정의 끝


/////...... quick_nav 정의 시작
.quick_nav {
  overflow: hidden; display: none;
  position: fixed; z-index:10;
  top:92px; left:-360px; bottom:0; width:180px;
  background-color: rgba(0,0,0,0.8);

  transition:        all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition:   all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition:all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -o-transition:     all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -ms-transition:    all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);

  &.on {left:0;}
  & > button {
    position: absolute; z-index:10; text-align: right; bottom:0; right:0; width:100%; height:50px;
    color:#fff; padding:0 10px 0 0;
  }
}
///// quick_nav 정의 끝


/////...... navigation 정의 시작
.navigation {
  position: absolute;right:0;bottom:10px;
  span {
    position: relative; color:#8e8e8e; padding:0 10px;
    &:after {content: "〉"; position: absolute;right:-5px; top:0; }
    &:last-child {padding:0 0 0 10px;}
    &:last-child:after {display: none;}
  }
}
/////...... navigation 정의 끝


/////...... 탭 영역 정의 Start
.tabs_area {
  width:100%; padding: 10px 0;

  .tabs, .tabs > li, .tabs_contents_area {position: relative;}

  .tabs {
    z-index: 1; width: 100%; height:40px;

    li {
      float: left; min-width:120px; height: 100%; margin:0 2px 0 0;

      button {
        text-align: center; width:100%; height:100%; font-size:15px;
        @include border01(1px 1px 0 1px,$color-gray-06,1 );
      }
      button:hover, &.tabs_on button {color:#fff; border: none; background-color: $bas-color;}
    }
  }

  .tabs_contents_area {
    display: inline-block;
    width:100%; min-height: calc(100vh - 180px); min-height: -webkit-calc(100vh - 180px);
    margin:auto; padding:0 20px 20px 20px;

    @include border01(1px,$color-gray-06,1 );

    & > div {display: none;}
  }

}
/////...... 탭 영역 정의 End


/////...... 차트 색상 정의 Start
.ct-series {
  /*
  .ct-series-a .ct-area,
  .ct-series-a .ct-slice-pie, 파이차트
  .ct-series-a .ct-bar,
  .ct-series-a .ct-line,
  .ct-series-a .ct-point, 라이차트 포인트
  .ct-series-a .ct-slice-donut
  */

  & {
    .ct-line, .ct-series .ct-point {stroke-linecap: square;}
    .ct-line  { stroke-width: 1px !important; }
    .ct-point { stroke-width: 3px !important; }
  }

  &-a {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $color-green-01 !important; stroke: $color-green-01 !important;}
    .ct-line, .ct-point {stroke: $color-green-01 !important;}
  } // 1 #01d65a // rgba(0,212,88,1) 작업자상태, 차트01

  &-b {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $color-purple-01 !important; stroke: $color-purple-01 !important;}
    .ct-line, .ct-point {stroke: $color-purple-01 !important;}
  }  // 2 #cc3dd3; // rgba(204,61,211,1) 크레인상태, 차트02

  &-c {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $color-yellow-01 !important; stroke: $color-yellow-01 !important;}
    .ct-line, .ct-point {stroke: $color-yellow-01 !important;}
  } // 3 #ffce53; // rgba(255,206,83,1) 유해가스상태, 주위, 차트03

  &-d {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $color-red-01 !important; stroke: $color-red-01 !important;}
    .ct-line, .ct-point {stroke: $color-red-01 !important;}
  } // 4 #e41717; // rgba(254,77,59,1) 감지, 차트04

  &-e {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $color-purple-02 !important; stroke: $color-purple-02 !important;}
    .ct-line, .ct-point {stroke: $color-purple-02 !important;}
  } // 5 #9753dc; // rgba(151,83,220,1) 차트05

  &-f {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $color-blue-02 !important; stroke: $color-blue-02 !important;}
    .ct-line, .ct-point {stroke: $color-blue-02 !important;}
  } // 6 #259dcf;   // rgba(37,157,207,1) 차트06

  &-g {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $color-green-02 !important; stroke: $color-green-02 !important;}
    .ct-line, .ct-point {stroke: $color-green-02 !important;}
  }  // 7 #56c96e;  // rgba(86,201,110,1) 차트07

  &-h {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $color-yellow-02 !important; stroke: $color-yellow-02 !important;}
    .ct-line, .ct-point {stroke: $color-yellow-02 !important;}
  } // 8 #ef8116; // rgba(239,129,22,1) 차트08

  &-i {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $color-blue-03 !important; stroke: $color-blue-03 !important;}
    .ct-line, .ct-point {stroke: $color-blue-03 !important;}
  } // 9 #259dcf;   // rgba(37,157,207,1) 차트09

  &-j {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $color-purple-03 !important; stroke: $color-purple-03 !important;}
    .ct-line, .ct-point {stroke: $color-purple-03 !important;}
  } // 10 #7894c2; // rgba(120,148,194,1) 차트10

}
/////...... 차트 색상 정의 End


///// 데시보드 라인 차트 시작
.ct-chart-line {
  overflow: hidden; position: relative; margin:10px 0 0 0;
  & > g:nth-of-type(2) {position: absolute; left:0; top:0; bottom:0;  right:0;}
}
.ct-grids, .ct-grids * {color:#fff !important;}
.ct-grid {
  stroke: rgba(0,0,0,.4) !important;
  stroke-width: 1px;
  stroke-dasharray: 0 !important;

  &.ct-horizontal {opacity: 0.4 !important;}
}
.ct-label {
  font-size: 13px !important;
  color:$color-gray-05 !important; fill:$color-gray-05 !important;
}
///// 데시보드 라인 차트 끝


/////......  이벤트 통계 원 차트 시작
.chart_table_area {
  width:100%;

  & > div {position: relative; float:left; margin:40px 0 0 0; }
  &.type01 {
    & > div {
      min-width:50%; height:320px;
      & > div {
        float: left; position: relative; height:100%;

        &:first-of-type {
          width:-webkit-calc(100% - 380px);width:calc(100% - 380px); padding:50px 0 0 0;
        } // 차트
        &:last-of-type  {width:380px;} // 테이블
      }
    }
    table {
      height: $td-height * 5;
      tbody { overflow-y: scroll; position: absolute; top:$td-height + 1px; bottom:1px; width:100%;}
      th, td { &:first-of-type {width:100%;}  &:last-of-type {width:80px;min-width:80px;} }
      td:first-of-type:before
      {content:""; display: inline-block; width: 14px; height: 14px; margin: 0 10px 0 0; }
      td:last-of-type {padding:0 4px 0 22px;}
    }
  }
  &.type02 > div {width:100%;}
}
/////......  이벤트 통계 원 차트 끝


/////...... 날짜 선택 버튼 셋 정의 Start
.month_btn_set {
  width:auto; @include flex-align-items-center;
  p { text-align:center; font-size:30px; padding:0 20px;}
  button {
    font-size:36px;
    &:before {font-weight:bold;}
    &:first-of-type:before {content:"\e918";}
    &:last-of-type:before  {content:"\e919";}
    &:hover:before { color: $color-red-01;}
  }
}
/////...... 날짜 선택 버튼 셋 정의 End


///// 그래프로 보기 , 표로보기 버튼 셋 정의 Start
.depthtabs_btn_set {
  button {
    height:40px; margin:0 0 0 15px;
    &:hover, &.tabs_on {color: $color-red-01;}
    &.tabs_on:after {opacity: 1}
    &:before {padding:0 4px 0 0;}
    &:first-of-type:before {content:"\e908";}
    &:last-of-type:before  {content:"\e91f";}
    &:after {
      content:"";  position: absolute; left:0; bottom:0; width:100%; height:1px;
      background-color: $color-red-01; opacity: 0;
    }
  }
}
///// 그래프로 보기 , 표로보기 버튼 셋 정의 End


.chart_box.type01 {overflow-x:auto;}
.chart_box.type02 {overflow-y:auto;}







