@charset "utf-8";
@import "filters" ;

body.adaptive_landscape {}
body.adaptive_mobile    {}
body.adaptive_tablet    {}
body.adaptive_pc        {}
body.adaptive_ios       {}
body.adaptive_android   {}
body.adaptive_window    {}


header  {}
section {}
article {}
footer  {}
nav     {}
aside   {}
menu    {}

body {
  width:100%; min-width:$body-minwidth; min-height:768px;
  //@include webkit_scroll;
  .wrap {width:100%;}

  &.dashboard_mode {
    overflow: hidden; position: absolute; top:0; left:0; height:100%; padding:0 $dash-margin;
    .wrap {height:100%;}
  }

  @media screen and (min-width: 0) and (max-width: $body-minwidth){

    .wrap > header {position: absolute !important; min-width:$body-minwidth;}
    &.dashboard_mode {

      .db_area {
        position: absolute; height:calc(100vh - 90px);
        right:auto; left:($body-minwidth - ($noticecenter-width + $dash-margin));}

    }

    &.admin_mode {
      section.container.on {padding-right:$admin-margin;}
    }
  }

}






///// ----------------- <h> START
h1,h2,h3,h4,h5,h6 {position: relative; }
h1,h3,h4 {display: inline-block; }
h1 {
  min-width:130px; height:100%; border:none;
  background-image: url(../images/logo/top_logo.svg);
  background-position: 0 50%; background-repeat: no-repeat; background-size: 130px;

  .login_area & {height:70px; background-size:170px;}
}
h2 {font-size:2rem;}
h3 {
  font-size:1.5rem;
  .main_title_area & {color:$color-blue-01;}
  .main_title_area &::selection {background-color: transparent}
}
h4 {
  font-size:1.5rem;color:#4d4d4d;
  .main_area & {color:#fff;}
}
///// ----------------- <h> END



///// ----------------- 이벤트 감지 level  START
.level {
  &-caution {background-color: rgba($color-gray-03,1) !important;}   // .level-caution 주의
  &-warning {background-color: rgba($color-orange-01,1) !important;} // .level-warning 경고
  &-danger  {background-color: rgba($color-red-01,1) !important;}    // .level-danger  위험
}
///// ----------------- 이벤트 감지 level  End


////// ----------------- 로그인 영역 Start
.login_area {
  position: absolute; @include flex-midddle; width:100%; height:100%;

  &:after, &:before {content:""; z-index:-1; position: absolute;  background-color: rgba(0,0,0,0.05); }
  &:after  {width:100vw; height:1px; top:50%;  left:0;}
  &:before {width:1px; height:100vh; left:50%; top:0; }

  article {
    width: 500px; padding:20px 30px 40px 30px; background-color: #fff;
    @include box-shadow02(0px, 55px, 90px, -50px, 0, 0, 0, 0.8);

    & > * {position: relative;  }

    .login_input_area {
      width:100%; height:125px; text-align: left;  margin:10px 0;
      & > input {width:100%;height:40px;margin:0 0 10px 0;}
      & > input.log_pw.red {border-color:red;}
      & > input[type="checkbox"] {width:18px; height:18px;vertical-align: bottom; margin:0;}
    }

    button {float:right;}
    .caps {color:$color-red-01; }
  }

}
////// ----------------- 로그인 영역 End


////// ----------------- header Start
header {
  @include flexbase; @include flex-align-items-center; @include flex-justify-content-between;
  position: fixed; @include z-index-header; top:0; left:0; width:100%; height:$headerHeight;
  padding:0 $dash-margin; background-color: $color-white-02;
  //border-bottom:2px solid rgba(0,0,0,0.1);
  &:before {
    content:"";
    z-index: -1; overflow: hidden; opacity: 0;
    position: absolute; bottom:0; left:30px; right:30px; height:0;
    background-color: rgba(0,0,0,0.0);
    @include box-shadow02(0px, 18px, 24px, -17px, 0, 0, 0, 0.5);
    @include transition01(500ms);
  }
  &.up:before {opacity: 1; height:50px;}

  .header_area {
    @include flexbase;
    position: relative; width:100%; height:$headerHeight - 10px;

    & > * {display: inline-block; height: 100%;}

    h1 { a {width:100%; height:100%;} }

    .header_right_area {
      margin:0 0 0 auto;
      & * {height:100%;}
      & > * {float:left;}
      .header_btn_set {
        padding:0 0 0 20px;
        button {
          width:40px; float: left;
          &.issue_btn.issue {
            width:($noticecenter-width - 80px);
            &:before {color:#fff !important;}

            &:after {
              content: ""; position: absolute; z-index:-1; left:0; top:0;
              width:100%; height:100%; background-color:$color-red-01;
              @include issue;
            }
          }
          &.issue_btn:before     {content: "\e907";}
          &.loginout_btn:before  {content: "\e900";}
          &.user_btn:before      {content: "\e90e";}
          &:before {font-size:1.6rem;}
          &:hover, &.on {
            background-color: $color-blue-01;
            &:before {color:#fff !important;}
          }
        }
      }
    }
  }
}
////// ----------------- header End


//////......   menu Start
menu {
  overflow: hidden; display: inline-block; margin:0 0 0 50px;

  @mixin mbHover  {background-color: $color-blue-01; color: $color-white-01; opacity:1;} // @include mbHover;
  @mixin mbOn     {color: $color-blue-01; @include border01(1px,$color-blue-01,1);} // @include mbOn;
  @mixin mbBefore {
    &:before {
      content:""; position:absolute; left:0; bottom:1px;
      width:100%; height:1px; background-color: $color-blue-01;
    }
  } // @include mbBefore;

  button {
    overflow: hidden; text-align: left; word-break: break-all;
    width:100%; height:40px; padding:0 10px;

    &.on { @include mbOn;}
    &:hover {@include mbHover;}
  }

  & > ul {
    display: inline-block;

    & > li {
      float:left; margin:0 10px 0 0;

      & > button {
        @include font-size-menubtn; text-align: center; &.on {border:none;}
      } // menu > ul > li > button

      & > ul {
        @include flexbase; @include flex-row-wrap;
        overflow-y: auto; overflow-x: hidden; position: absolute; @include z-index-menu;
        top:40px; left:0; width:100%; height:auto !important; max-height:0; padding:0 40px;
        background-color:$color-white-01;
        @include box-shadow02(0px, 60px, 100px, -50px, 0, 0, 0, 1); @include transition(400ms);

        & > li {
          @include flex-width-one(7); max-width: 220px; min-width:200px; margin: 20px;

          & > button {
            @include font-size-navbtn; @include mbBefore;
            &.on {border:none;font-weight:bold;}
          }
        }
      }// menu > ul > li > ul

      &:hover {
        & > ul {
          max-height:calc(100vh - 200px); padding:40px 40px; z-index:81;
          @include border01(3px,$color-blue-01,1 );
        }
        & > button {@include mbHover;}
      }

      //&.menu_dashboard  { & > ul {@include flex-justify-content-center;} }
      &.menu_admin { }

    }// menu > ul > li
  }// menu > ul
}
//////......   menu End



/////..... 팝업 공통 효과 START

@mixin popupdiv {
  background-color: $adm-color; padding:$popup-margin;
  @include box-shadow02(0px, 60px, 100px, -50px, 0, 0, 0, 1);
  @include border01(3px,$color-blue-01,1 );
  @include transition(400ms);
}

.popupbase {

  /*
   <div class="iocount_popup">
       <div>
           <div>
               <header>
                   <h2><span>(구역명 삽입)</span> 진출입 조회주기 설정</h2>
                   <button class="close_btn"></button>
               </header>

               <article>
                   <!-- 진출입 모두 보기 셋션 -->
                   <section></section>
                   <!-- 진출입 설정 셋션 -->
                   <section></section>
               </article>

               <footer>
                   <button class="btn">저장</button>
               </footer>

           </div>
       </div>
       <div class="bg"></div>
   </div>
   */

  display: none; position: fixed; @include z-index-popup;
  right:0; bottom:0; left:0; width:auto !important;

  & > div {
    @include flex-midddle; position: relative; width:100%; height:100%;
    & > div {

      display: inline-block; overflow: auto; z-index: 10;
      position: relative; max-width:70%; max-height:90%; min-width:40%; min-height:50%;

      & > * { position: relative; width:100%;}
      & > header {
        background-color: transparent; padding:0;
        h2 , h3  {@include title_icon; margin:0 auto 0 0;}
        button:before {content:"\e91a"; font-size: 1.8rem;}
        &:before {display: none !important;}
      }
      & > footer {
        display: inline-block; text-align: right;
        button {right:0;}
      }
    }
  }
  & > .bg {
    display: inline-block !important; position:absolute !important;
    left:0; top:0; width:100% !important; height:100% !important;
    background-color: rgba($color-dark-01,0.8);
  }

  /////.......... 진출입 조회주기설정 팝업 시작
  &.iocount_popup {
    position: absolute !important;  top:$headerHeight;
    & > div > div {
      & > article {

        @include flex-column-row; margin:30px 0 0 0;
        & > * {
          &:first-of-type  {width:340px; min-width:340px;  margin:0 110px 0 0;}
          &:nth-of-type(2) {width:500px; min-width:480px;  }
        }

        section > h3 {margin:0 0 20px 0;}

        .personnel_set {

          @include flex-row-wrap; @include flex-justify-content-start;

          & > div {
            @include flex-option(0, 1, 47%); opacity:0.6; margin:0 0 10px 0;

            & > p:nth-of-type(4) {
              @include flexbase; @include flex-row-wrap;
              white-space: normal; padding:4px 8px;
              & > * {width:100%; display: inline-block; text-align: left;}
              em   {font-size:0.8rem; order:1;} // 날짜
              span {font-size:1rem; order:2;} // 시간

            }

          }

          & > div:first-of-type {
            @include flex-option(0, 1, 100%); opacity:1; margin:0 0 30px 0;

            p {
              letter-spacing: normal;
              &:nth-of-type(1) {top:-5px; font-size:5rem; line-height: 4.6rem; letter-spacing: -0.2rem;}

              &:nth-of-type(2), &:nth-of-type(3) {

                font-size:2rem; line-height: 2.2rem; font-weight:bold;
                /*padding:0 1px 0 60px;*/

                &:before {font-size:1.6rem; line-height: 2.3rem;}

              }

              &:nth-of-type(4) {

                & > * {text-align: center; }
                em   {font-size:1rem; } // 날짜
                span {font-size:1.5rem;} // 시간

              }
            }
          }

          & > div:nth-of-type(even) {margin-right:6%;}

        }
        .iotime_set {
          .timepicker > input {width:100%; margin:0;}
          li {@include flex-justify-content-end; padding:0 0 22px 0;}
        }
      }
    }
  }
  /////.......... 진출입 조회주기설정 팝업 끝


  /////..... 레이어 팝업 Start
  &.admin_popup {
    top:0;
    & > div > div {
      form {width:100%;}
      & > article {@include common_contents; @include flex-column;}
    }
  }
  /////..... 레이어 팝업 End

}


.personal_popup, .popupbase > div > div  {
  background-color: $adm-color; padding:$popup-margin;
  @include box-shadow02(0px, 60px, 100px, -50px, 0, 0, 0, 1);
  @include border01(3px,$color-blue-01,1 );
  @include transition(400ms);
}

/////..... 팝업 공통 효과 END


/////..... 사용자 보기 팝업 popup_type_01 Start
.personal_popup {
  @include flexbase; @include flex-column; z-index:101;
  position: fixed; top:($headerHeight - 10px); right:-($noticecenter-width + 100px);
  width:$noticecenter-width;

  h2 {padding:0 0 30px 0;}
  & > section {@include flex-option(0, 1, 100%); padding:0 0 20px 0;}
  & > div {@include flex-option(1, 0, 40px);}

  &.on {right:20px;}
}
/////..... 사용자 보기 팝업 popup_type_01 End


/////..... 토스트 팝업 시작
.toast_popup {
  display: none;
  position: fixed; @include z-index-toast; top:($headerHeight - 10px); right:100px;
  width:($noticecenter-width - 80px);

  &.on {display: block;}

  & > div {
    position: relative; width:100%; padding:$popup-margin; margin:10px 0 0 0;
    background-color: $color-red-01; @include box-shadow02(0px, 30px, 50px, -20px, 0, 0, 0, 1);
    & * {color:$color-white-01; @include text-shadow(0, 1px, 2px, #000, 0.7);}
    .btn_x {
      position: absolute; top:10px; right:10px;
      &:before {content:"\e91a"; font-size:20px;}
    }
    .tp_contents {
      text-align: left; width:calc(100% - 10px);
      span {
        width:100%;
        &:first-of-type {font-size:1.1rem; padding:0 0 5px 0;}
        &:last-of-type  {font-size:1.3rem; font-weight:bold;}
      }
    }
  }

}
/////..... 토스트 팝업 끝


/////..... 알림센터 Start
.db_area {

  body.admin_mode & {
    right:-($noticecenter-width * 2);
    &.on {right:$dash-margin;}
  }

  position: fixed; @include z-index-notice;
  top:($btnarea-height + 30px); bottom:$dash-margin; right:$dash-margin;
  width:$noticecenter-width; background-color: $adm-color;


  &:before {content: ""; position: absolute; top:0; right:-20px; width:20px; height:100%; background-color: $adm-color}

  & > * {width:100%;}

  &, h2, section, section > div {@include flexbase;}
  &, section, .db_cancel_set {@include flex-column; @include transition(400ms);}

  h2 {
    @include flex-align-items-center; @include flex-option(1, 0, $btnarea-height);
    @include flex-justify-content-between; margin:0 0 10px 0;
    &:before {content:"알림센터";}

    & > div {
      span {
        @include flex-midddle; @include border-radius(200px);
        @include box-inset-shadow(0, 2px, 4px, #000, 0.2);
        float:left; min-width:35px; height:35px; margin:0 0 0 5px; padding:0 10px;
        font-size:1.4rem; color:$color-white-01; line-height: 1.4rem;
        @include text-shadow(0, 1px, 2px, #000, 0.7);
        &:nth-of-type(1) {background-color: $color-gray-03;  }
        &:nth-of-type(2) {background-color: $color-orange-01;}
        &:nth-of-type(3) {background-color: $color-red-01;   }
      }
    }
  }

  // 알림센터
  section.db_list_box {
    @include flex-option(0, 1, 100%); position: relative; z-index:10; overflow: hidden;
    @include border01( 1px,$color-gray-01,1); background-color: $adm-color;

    & > div {
      @include flex-option(1, 0, 40px);
      background-color: $color-white-01;
      & > div, & > select {@include border01( 0 1px 1px 0,$color-gray-01,1);}
      & > div    {@include flex-option(1, 0, $btnarea-height);  }
      & > select {/*@include flex-option(0, 1, 100%);*/ width:100%;}
      & > button {
        pointer-events: none; opacity: 0.5;
        @include flex-option(1, 0, $btnarea-height);
        &:before {content:"\e937"; font-size: 1.5rem;}
        &.on {pointer-events: auto; opacity: 1; background-color: $bas-color;}
        &.on.active {background-color: $color-blue-01;}
      }

      // 알림해지 사유
      &.db_cancel_set {
        position: absolute; z-index: 1; top:$btnarea-height; bottom:0; left:100%;
        width:100%;  padding: 20px; background-color: $color-white-01;
        @include border01(1px 0 0 0,$color-gray-01,1);

        textarea, div[contenteditable] {
          @include flex-option(0, 1, 100%); position: relative; margin:0 0 20px 0;
          border: none; resize: none; outline: none;
        }


        .btn_set {@include flex-option(1, 0, 40px);}

        &.on {
          left:0;
          &:before {content:"알림해지"; position:absolute; top:-35px; font-size:1.3rem;}
        }
      }

      // 알림해지 노출 시 체크박스 및 셀렉트 박스 감춤
      &.open_cancel {
        & > div, & > select {opacity: 0; visibility: hidden}
      }
    }

    // 알림이력
    & > ul {
      @include flex-option(0, 1, 100%);

      overflow: auto;
      li {
        @include flexbase; @include flex-align-items-center;
        position: relative; width:100%; margin:0 0 2px 0; padding:5px 0;
        //@include border01(0 0 1px 0,$color-gray-01,1);
        & * {color:$color-white-01;}
        & > .checkbox_set, & > button {@include flex-option(1, 0, 40px);}


        & > button {
          $spot-width:4px;
          height:40px; margin: 0 5px;

          &:before, &:after, span:before, span:after {
            content:""; position:absolute;
            @include border-radius(200px);
            @include transition(400ms);
            @include box-shadow01(0, 1px, 2px, 0px, #000, 0.5);
          }

          &:before {top:50%; left:50%; margin: -2px 0 0 -2px;}
          &:after {top:0; left:0; width:100%; height:40px; opacity: 0;
            @include border01(2px,$color-white-01,1 );
          }

          &:before, span:before, span:after {
            width:$spot-width; height:$spot-width; background-color:$color-white-01;
          }

          span {
            position: absolute; top:50%; left:0; margin:-2px 0 0 0; width:100%; height:5px;
            @include transition(200ms);
            &:before {left: 10px;}
            &:after  {right:10px;}

            &:nth-of-type(2) {opacity: 0;}
          }

          &.on {
            span:nth-of-type(1) {margin:-9px 0 0 0;}
            span:nth-of-type(2) {margin:6px 0 0 0; opacity: 1;}
            &:after {opacity: 1;}
          }
        }

        &:hover { & > button:after {opacity: 1;} }
      }
    }
  }

  // 알림상세
  section.db_infor_box {
    visibility: hidden;
    position: absolute; z-index:1; bottom:0; top:($btnarea-height + 10px); right:20px;
    width:($noticecenter-width / 2); padding:50px 100px;
    @include box-shadow02(-60px, 0, 100px, -50px, 0, 0, 0, 1);

    & > * {
      position: relative;
      display: inline-block;  width:100%; margin: 0 0 40px 0;
      & * {color:$adm-color; @include text-shadow(0, 1px, 2px, #000, 0.7);}
      *:last-of-type {margin:0;}
    }

    .dbi {

      &_event {
        p {
          &:nth-of-type(odd) {font-size:3rem; opacity: 0.8; line-height: 2.5rem;}
          &:nth-of-type(2)   {font-size:3.5rem; padding:0 0 20px 0;}
          &:last-of-type     {font-size:6rem; line-height:5.2rem;}
        }
      }

      &_cctv {
        button {
          @include border01(1px,$color-white-01,1); width: 100%;

          &:before, &:after {position:relative;}
          &:before {content:"\e91c"; font-size: 4rem;}
          &:after  {content:"CCTV 확인"; font-size: 2rem; top:-15px; padding:0 0 0 15px;}

          &:hover {
            background-color: $color-white-01;
            &:before, &:after {color:$color-dark-01;}
          }
        }
      }

      &_copy {
        @include flex-width-one(1);
        textarea {
          position: absolute; top:0; left:0; width:100%; height:100%;
          background-color: transparent; border:none; resize: none;
        }
        p {font-size:1.5rem; }
      }

      &_contact {
        /*
        <div class="dbi_contact">
            <p>
                <span>입주자</span>
                <span>나주인</span>
                010-1234-5678
            </p>
            <p>
                <span>현장책임</span>
                <span>홍길동 소장</span>
                010-1234-5678
            </p>
            <p>
                <span>안전담당</span>
                <span>이순신 안전요원</span>
                010-9876-5432
            </p>
        </div>
        */
        p {
          font-size:1.1rem; padding:5px 0 0 0; opacity: 1;
          span {
            position:relative;
            &:first-of-type {width:90px;}
            &:last-of-type  {width:160px;}
          }
        }
      }

    }

    &.on {visibility: visible; width:($noticecenter-width * 2); right:($noticecenter-width + 20px); }
  }
}
//// 알림리스트
.infor_set {
  @include flex-option(0, 1, 100%);
  p {@include text-shadow(0, 1px, 2px, #000, 0.7);}
  p:nth-of-type(1) {}
  p:nth-of-type(2) {font-size:1.1rem; font-weight:bold; padding:5px 10px 5px 0;}
  p:nth-of-type(3) {word-spacing: 2px; letter-spacing:0; font-size:0.9rem;}
}
/////..... 알림센터 End


/////...... sub_title_area 정의 시작
.sub_title_area {

  body.admin_mode & {margin: 0 0 10px 0 !important;}

  @include flexbase; @include flex-option(1, 0, $btnarea-height); margin: 0 0 10px 0;

  &, .navigation, .navigation span {position: relative;}

  h2, h3 {@include font-size-h2; @include title_icon;}

  .navigation {
    @include flex-align-self-end; margin:0 0 0 30px; padding:0 0 3px 0;
    span {
      color:$color-gray-01; padding:0 15px; cursor:pointer;
      &:before, &:after {position: absolute;}
      &:before {content: "〉" !important; right:-5px; top:0; }
      &:last-of-type { /*font-weight:bold; color:$color-blue-01;*/}
      &:last-of-type:before {display: none;}
      &:after {
        content:""; display: none; bottom:-5px; left:10px; right:10px; height:2px;
        background-color: $color-blue-01;
      }
      &:hover {
        color:$color-blue-01;
        &:after {display: block;}
      }
    }
    .admin_mode & span {    pointer-events: none;}
  }

}
/////...... sub_title_area 정의 끝


.m_human, .check_th tbody tr:before,
.check_th tbody tr td:first-of-type:before
{@include border-radius(200px);}

.mp_header,
.main_title_area,

.month_btn_set,
.infile_set,
.infile_set > p,
.btn_infile:before,
.select_edit,
.table_title_area,
.table_btn_set,
.tree_box li span, .tree_box li span a

{@include flexbase;}






