@charset "UTF-8";
/*
 @at-root {.class { } } 존속받지 않고 root에 위치
 */
/*
일반, 주의, 경고, 위험 색상단계 정의

일반 :
주의 : 회색  $color-gray-03    level-caution
경고 : 주황  $color-orange-01  level-warning
위험 : 빨강  $color-red-01     level-danger
*/
body {
  width: 100%;
  min-width: 1400px;
  min-height: 768px; }
  body .wrap {
    width: 100%; }
  @media screen and (min-width: 0) and (max-width: 1400px) {
    body .wrap > header {
      position: absolute; }
    body.dashboard_mode {
      overflow: auto !important;
      /*
      .db_area {
        position: absolute; height:calc(100vh - 90px);
        right:auto; left:($body-minwidth - ($noticecenter-width + $dash-margin));
      }
      */ }
    body.admin_mode section.container.on {
      padding-right: 150px; } }

h1, h2, h3, h4, h5, h6 {
  position: relative;
  letter-spacing: 0; }

h1, h3, h4 {
  display: inline-block; }

h1 {
  min-width: 250px;
  height: 100%;
  border: none;
  background-image: url(../images/logo/icent_isaver.svg);
  background-size: 100% 32px;
  background-repeat: no-repeat;
  background-position: 0 50%; }
  .login_area h1 {
    height: 70px;
    background-size: 170px; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }
  h3 .main_title_area {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flexbox;
    display: box; }
  .main_title_area h3 {
    color: #109dcb; }
  .main_title_area h3::selection {
    background-color: transparent; }

h4 {
  font-size: 1.5rem;
  color: #4d4d4d; }
  .main_area h4 {
    color: #fff; }

/* 감시별 아이콘
.ico-safeeye:before    {content:"\e941";}
.ico-blinker:before    {content:"\e944";}
.ico-tracker:before    {content:"\e943";}
.ico-detector:before   {content:"\e940";}
.ico-pool:before       {content:"\e942";}
.ico-health:before     {content:"\e93f";}
.ico-nhr:before        {content:"\e945";}

.ico-invasion:before {content:"\e93e";} // 침입
.ico-exhibit:before  {content:"\e93c";} // 전시물보호
 */
.ico-safeeye:before {
  content: "\e941"; }
.ico-blinker:before {
  content: "\e944"; }
.ico-tracker:before {
  content: "\e943"; }
.ico-detector:before {
  content: "\e940"; }
.ico-pool:before {
  content: "\e942"; }
.ico-health:before {
  content: "\e93f"; }
.ico-nhr:before {
  content: "\e945"; }
.ico-invasion:before {
  content: "\e93e"; }
.ico-exhibit:before {
  content: "\e93c"; }
.ico-speaker:before {
  content: "\e93a"; }
.ico-wlight:before {
  content: "\e93b"; }
.ico-mobile:before {
  content: "\e939"; }
.ico-close:before {
  content: "\e91a"; }
.ico-plus:before {
  content: "\e92b"; }
.ico-minus:before {
  content: "\e92c"; }

.login_area {
  position: absolute;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flexbox;
  display: box;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%; }
  .login_area:after, .login_area:before {
    content: "";
    z-index: -1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.05); }
  .login_area:after {
    width: 100vw;
    height: 1px;
    top: 50%;
    left: 0; }
  .login_area:before {
    width: 1px;
    height: 100vh;
    left: 50%;
    top: 0; }
  .login_area article {
    width: 500px;
    padding: 20px 30px 40px 30px;
    background-color: #fff;
    box-shadow: 0px 55px 90px -50px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 55px 90px -50px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 55px 90px -50px rgba(0, 0, 0, 0.8); }
    .login_area article > * {
      position: relative; }
    .login_area article .login_input_area {
      width: 100%;
      height: 125px;
      text-align: left;
      margin: 10px 0; }
      .login_area article .login_input_area > input {
        width: 100%;
        height: 40px;
        margin: 0 0 10px 0; }
      .login_area article .login_input_area > input.log_pw.red {
        border-color: red; }
      .login_area article .login_input_area > input[type="checkbox"] {
        width: 18px;
        height: 18px;
        vertical-align: bottom;
        margin: 0; }
    .login_area article button {
      float: right; }
    .login_area article .caps {
      color: #be1e1e; }

header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flexbox;
  display: box;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1400px;
  height: 50px;
  padding: 0 20px;
  background-color: #f5f5f5; }
  header:before {
    content: "";
    z-index: -1;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 30px;
    right: 30px;
    height: 0;
    background-color: transparent;
    box-shadow: 0px 18px 24px -17px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 18px 24px -17px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 18px 24px -17px rgba(0, 0, 0, 0.5);
    transition: all 500ms;
    -moz-transition: all 500ms;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    -ms-transition: all 500ms; }
  header.up:before {
    opacity: 1;
    height: 50px; }
  header .header_area {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flexbox;
    display: box;
    position: relative;
    width: 100%;
    height: 40px; }
    header .header_area > * {
      display: inline-block;
      height: 100%; }
    header .header_area h1 a {
      width: 100%;
      height: 100%; }
    header .header_area .header_right_area {
      margin: 0 0 0 auto; }
      header .header_area .header_right_area * {
        height: 100%; }
      header .header_area .header_right_area > * {
        float: left; }
      header .header_area .header_right_area .header_btn_set {
        padding: 0 0 0 20px; }
        header .header_area .header_right_area .header_btn_set button {
          width: 40px;
          float: left;
          /*
          &.issue_btn.issue {
            width:($noticecenter-width - 80px); !*background-color:$color-red-01;*!
            &:before {color:#fff !important;}
            &.on {@include issue;}
          }
          */ }
          header .header_area .header_right_area .header_btn_set button.issue_btn:before {
            content: "\e907"; }
          header .header_area .header_right_area .header_btn_set button.loginout_btn:before {
            content: "\e900"; }
          header .header_area .header_right_area .header_btn_set button.user_btn:before {
            content: "\e90e"; }
          header .header_area .header_right_area .header_btn_set button:before {
            font-size: 1.6rem; }
          header .header_area .header_right_area .header_btn_set button:hover, header .header_area .header_right_area .header_btn_set button.on:not(.issue_btn) {
            background-color: #109dcb; }
            header .header_area .header_right_area .header_btn_set button:hover:before, header .header_area .header_right_area .header_btn_set button.on:not(.issue_btn):before {
              color: #fff !important; }
          header .header_area .header_right_area .header_btn_set button.level-caution.issue_btn, header .header_area .header_right_area .header_btn_set button.level-warning.issue_btn, header .header_area .header_right_area .header_btn_set button.level-danger.issue_btn {
            width: 220px;
            /*background-color:$color-red-01;*/ }
            header .header_area .header_right_area .header_btn_set button.level-caution.issue_btn:before, header .header_area .header_right_area .header_btn_set button.level-warning.issue_btn:before, header .header_area .header_right_area .header_btn_set button.level-danger.issue_btn:before {
              color: #fff !important; }
            header .header_area .header_right_area .header_btn_set button.level-caution.issue_btn.on, header .header_area .header_right_area .header_btn_set button.level-warning.issue_btn.on, header .header_area .header_right_area .header_btn_set button.level-danger.issue_btn.on {
              animation-name: issue;
              -webkit-animation-name: issue;
              -webkit-animation-duration: 0.5s;
              animation-duration: 0.5s;
              -webkit-animation-iteration-count: 10;
              animation-iteration-count: 10; }
@-webkit-keyframes issue {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1; } }
@keyframes issue {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1; } }
menu {
  overflow: hidden;
  display: inline-block;
  margin: 0 0 0 25px; }
  menu button {
    overflow: hidden;
    text-align: left;
    word-break: break-all;
    width: 100%;
    height: 40px;
    padding: 0 10px; }
    menu button.on {
      color: #109dcb;
      border-style: solid;
      border-width: 1px;
      border-color: #109dcb; }
    menu button:hover {
      background-color: #109dcb;
      color: #fff;
      opacity: 1; }
  menu > ul {
    display: inline-block; }
    menu > ul > li {
      float: left;
      margin: 0 10px 0 0; }
      menu > ul > li > button {
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase; }
        menu > ul > li > button.on {
          border: none; }
      menu > ul > li > ul {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        display: flexbox;
        display: box;
        -webkit-flex-flow: row wrap;
        -moz-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
        z-index: 50;
        top: 40px;
        left: 0;
        width: 100%;
        height: auto !important;
        max-height: 0;
        padding: 0 40px;
        background-color: #fff;
        box-shadow: 0px 60px 100px -50px black;
        -webkit-box-shadow: 0px 60px 100px -50px black;
        -moz-box-shadow: 0px 60px 100px -50px black;
        transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
        -moz-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
        -webkit-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
        -o-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
        -ms-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1); }
        menu > ul > li > ul > li {
          flex: 7;
          -webkit-flex: 7;
          flexbox: 7;
          -webkit-box-flex: 7;
          -ms-flex: 7;
          max-width: 220px;
          min-width: 200px;
          margin: 20px; }
          menu > ul > li > ul > li > button {
            font-size: 1.25rem; }
            menu > ul > li > ul > li > button:before {
              content: "";
              position: absolute;
              left: 0;
              bottom: 1px;
              width: 100%;
              height: 1px;
              background-color: #109dcb; }
            menu > ul > li > ul > li > button.on {
              border: none;
              font-weight: bold; }
      menu > ul > li:hover > ul {
        max-height: calc(100vh - 200px);
        padding: 40px 40px;
        z-index: 81;
        border-style: solid;
        border-width: 3px;
        border-color: #109dcb; }
      menu > ul > li:hover > button {
        background-color: #109dcb;
        color: #fff;
        opacity: 1; }

.tpopupbase, .personal_popup, .popupbase > div > div {
  padding: 20px;
  box-shadow: 0px 60px 100px -50px black;
  -webkit-box-shadow: 0px 60px 100px -50px black;
  -moz-box-shadow: 0px 60px 100px -50px black;
  border-style: solid;
  border-width: 3px;
  border-color: #109dcb;
  transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1); }
  .tpopupbase *:not(button), .personal_popup *:not(button), .popupbase > div > div *:not(button) {
    color: #3c3c3c; }
  .tpopupbase, .tpopupbase header, .personal_popup, .personal_popup header, .popupbase > div > div, .popupbase > div > div header {
    background-color: #f5f5f5; }

.popupbase {
  /*
   <div class="iocount_popup">
       <div>
           <div>
               <header>
                   <h2><span>(구역명 삽입)</span> 진출입 조회주기 설정</h2>
                   <button class="close_btn"></button>
               </header>

               <article>
                   <!-- 진출입 모두 보기 셋션 -->
                   <section></section>
                   <!-- 진출입 설정 셋션 -->
                   <section></section>
               </article>

               <footer>
                   <button class="btn">저장</button>
               </footer>

           </div>
       </div>
       <div class="bg"></div>
   </div>
   */
  display: none;
  position: fixed;
  z-index: 10;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto !important; }
  .popupbase > div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flexbox;
    display: box;
    box-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%; }
    .popupbase > div > div {
      display: inline-block;
      overflow: auto;
      z-index: 10;
      position: relative;
      max-width: 70%;
      max-height: 90%;
      min-width: 40%;
      min-height: 50%; }
      .popupbase > div > div > * {
        position: relative;
        width: 100%; }
      .popupbase > div > div > header {
        min-width: 0;
        background-color: transparent;
        padding: 0; }
        .popupbase > div > div > header h2, .popupbase > div > div > header h3 {
          padding: 0 0 0 15px;
          font-weight: bold;
          margin: 0 auto 0 0; }
          .popupbase > div > div > header h2:before, .popupbase > div > div > header h3:before {
            content: "";
            position: absolute;
            left: 0;
            top: 6px;
            bottom: 4px;
            width: 5px;
            background-color: #109dcb; }
        .popupbase > div > div > header button:before {
          content: "\e91a";
          font-size: 1.8rem; }
        .popupbase > div > div > header:before {
          display: none !important; }
      .popupbase > div > div > footer {
        display: inline-block;
        text-align: right;
        margin: 40px 0 0 0; }
        .popupbase > div > div > footer button {
          right: 0; }
  .popupbase > .bg {
    display: inline-block !important;
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(76, 76, 76, 0.8); }
  .popupbase.iocount_popup {
    position: absolute !important;
    top: 50px; }
    .popupbase.iocount_popup > div > div > article {
      -webkit-box-orient: row;
      -webkit-box-direction: row;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      margin: 30px 0 0 0; }
      .popupbase.iocount_popup > div > div > article > *:first-of-type {
        width: 350px;
        min-width: 350px;
        margin: 0 90px 0 0; }
      .popupbase.iocount_popup > div > div > article > *:nth-of-type(2) {
        width: 500px;
        min-width: 480px; }
      .popupbase.iocount_popup > div > div > article section > h3 {
        margin: 0 0 20px 0; }
      .popupbase.iocount_popup > div > div > article .personnel_set {
        -webkit-flex-flow: row wrap;
        -moz-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-pack: start;
        -moz-box-pack: flex-start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: flex-start;
        justify-content: flex-start; }
        .popupbase.iocount_popup > div > div > article .personnel_set > div {
          flex: 0 1 47%;
          -webkit-flex: 0 1 47%;
          flexbox: 0 1 47%;
          -webkit-box-flex: 1;
          -ms-flex: 0 1 47%;
          opacity: 0.6;
          margin: 0 0 10px 0; }
          .popupbase.iocount_popup > div > div > article .personnel_set > div > p:nth-of-type(4) {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            display: flexbox;
            display: box;
            -webkit-flex-flow: row wrap;
            -moz-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            white-space: normal;
            padding: 4px 8px; }
            .popupbase.iocount_popup > div > div > article .personnel_set > div > p:nth-of-type(4) > * {
              width: 100%;
              display: inline-block;
              text-align: left; }
            .popupbase.iocount_popup > div > div > article .personnel_set > div > p:nth-of-type(4) em {
              font-size: 0.8rem;
              order: 1; }
            .popupbase.iocount_popup > div > div > article .personnel_set > div > p:nth-of-type(4) span {
              font-size: 1rem;
              order: 2; }
        .popupbase.iocount_popup > div > div > article .personnel_set > div:first-of-type {
          flex: 0 1 100%;
          -webkit-flex: 0 1 100%;
          flexbox: 0 1 100%;
          -webkit-box-flex: 1;
          -ms-flex: 0 1 100%;
          opacity: 1;
          margin: 0 0 30px 0; }
          .popupbase.iocount_popup > div > div > article .personnel_set > div:first-of-type p {
            letter-spacing: normal; }
            .popupbase.iocount_popup > div > div > article .personnel_set > div:first-of-type p:nth-of-type(1) {
              top: -5px;
              font-size: 5rem;
              line-height: 4.6rem;
              letter-spacing: -0.2rem; }
            .popupbase.iocount_popup > div > div > article .personnel_set > div:first-of-type p:nth-of-type(2), .popupbase.iocount_popup > div > div > article .personnel_set > div:first-of-type p:nth-of-type(3) {
              font-size: 2rem;
              line-height: 2.2rem;
              font-weight: bold;
              /*padding:0 1px 0 60px;*/ }
              .popupbase.iocount_popup > div > div > article .personnel_set > div:first-of-type p:nth-of-type(2):before, .popupbase.iocount_popup > div > div > article .personnel_set > div:first-of-type p:nth-of-type(3):before {
                font-size: 1.6rem;
                line-height: 2.3rem; }
            .popupbase.iocount_popup > div > div > article .personnel_set > div:first-of-type p:nth-of-type(4) > * {
              text-align: center; }
            .popupbase.iocount_popup > div > div > article .personnel_set > div:first-of-type p:nth-of-type(4) em {
              font-size: 1rem; }
            .popupbase.iocount_popup > div > div > article .personnel_set > div:first-of-type p:nth-of-type(4) span {
              font-size: 1.5rem; }
        .popupbase.iocount_popup > div > div > article .personnel_set > div:nth-of-type(even) {
          margin-right: 6%; }
      .popupbase.iocount_popup > div > div > article .iotime_set .timepicker > input {
        width: 100%;
        margin: 0; }
      .popupbase.iocount_popup > div > div > article .iotime_set li {
        -webkit-box-pack: end;
        -moz-box-pack: flex-end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: flex-end;
        justify-content: flex-end; }
        .popupbase.iocount_popup > div > div > article .iotime_set li:last-of-type {
          padding: 0; }
  .popupbase.admin_popup {
    top: 0; }
    .popupbase.admin_popup > div > div form {
      width: 100%; }
    .popupbase.admin_popup > div > div > article {
      flex: 0 1 100%;
      -webkit-flex: 0 1 100%;
      flexbox: 0 1 100%;
      -webkit-box-orient: column;
      -webkit-box-direction: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }

.tpopupbase, .personal_popup {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flexbox;
  display: box;
  -webkit-box-orient: column;
  -webkit-box-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 101;
  position: fixed;
  top: 40px;
  right: -400px;
  width: 300px; }
  .tpopupbase h2, .personal_popup h2 {
    padding: 0 0 30px 0; }
  .tpopupbase > section, .personal_popup > section {
    flex: 0 1 100%;
    -webkit-flex: 0 1 100%;
    flexbox: 0 1 100%;
    -webkit-box-flex: 1;
    -ms-flex: 0 1 100%;
    padding: 0 0 20px 0; }
  .tpopupbase > div, .personal_popup > div {
    flex: 1 0 40px;
    -webkit-flex: 1 0 40px;
    flexbox: 1 0 40px;
    -webkit-box-flex: 0;
    -ms-flex: 1 0 40px; }
  .tpopupbase.on, .personal_popup.on {
    right: 20px; }

.toast_popup {
  display: none;
  position: fixed;
  z-index: 40;
  top: 40px;
  right: 100px;
  width: 220px; }
  .toast_popup.on {
    display: block; }
  .toast_popup > div {
    position: relative;
    width: 100%;
    padding: 20px;
    margin: 10px 0 0 0;
    background-color: #be1e1e;
    box-shadow: 0px 30px 50px -20px black;
    -webkit-box-shadow: 0px 30px 50px -20px black;
    -moz-box-shadow: 0px 30px 50px -20px black; }
    .toast_popup > div * {
      color: #fff;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
      -webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
      -moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7); }
    .toast_popup > div .btn_x {
      position: absolute;
      top: 10px;
      right: 10px; }
      .toast_popup > div .btn_x:before {
        content: "\e91a";
        font-size: 20px; }
    .toast_popup > div .tp_contents {
      text-align: left;
      width: calc(100% - 10px); }
      .toast_popup > div .tp_contents span {
        width: 100%; }
        .toast_popup > div .tp_contents span:first-of-type {
          font-size: 1.1rem;
          padding: 0 0 5px 0; }
        .toast_popup > div .tp_contents span:last-of-type {
          font-size: 1.3rem;
          font-weight: bold; }

.db_area {
  position: fixed;
  z-index: 20;
  top: 70px;
  bottom: 20px;
  right: 20px;
  /*right:-($noticecenter-width * 2);*/
  width: 300px;
  background-color: #f5f5f5; }
  body.admin_mode .db_area {
    right: -600px; }
    body.admin_mode .db_area.on {
      right: 20px; }
  .db_area.on {
    right: 20px; }
  .db_area:before {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 20px;
    height: 100%;
    background-color: #f5f5f5; }
  .db_area > * {
    width: 100%; }
  .db_area, .db_area h2, .db_area section, .db_area section > div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flexbox;
    display: box; }
  .db_area, .db_area section, .db_area .db_cancel_set {
    -webkit-box-orient: column;
    -webkit-box-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1); }
  .db_area h2 {
    box-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    flex: 1 0 40px;
    -webkit-flex: 1 0 40px;
    flexbox: 1 0 40px;
    -webkit-box-flex: 0;
    -ms-flex: 1 0 40px;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 0 10px 0; }
    .db_area h2 > div span {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      display: flexbox;
      display: box;
      box-align: center;
      -webkit-box-align: center;
      -moz-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -moz-border-radius: 200px;
      -webkit-border-radius: 200px;
      border-radius: 200px;
      -khtml-border-radius: 200px;
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
      float: left;
      min-width: 40px;
      height: 40px;
      margin: 0 0 0 5px;
      padding: 0 10px;
      font-size: 1.4rem;
      color: #fff;
      line-height: 1.4rem;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
      -webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
      -moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7); }
      .db_area h2 > div span:nth-of-type(1) {
        background-color: #999; }
      .db_area h2 > div span:nth-of-type(2) {
        background-color: #ff8400; }
      .db_area h2 > div span:nth-of-type(3) {
        background-color: #be1e1e; }
  .db_area section.db_list_box {
    flex: 0 1 100%;
    -webkit-flex: 0 1 100%;
    flexbox: 0 1 100%;
    -webkit-box-flex: 1;
    -ms-flex: 0 1 100%;
    position: relative;
    z-index: 10;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
    background-color: #f5f5f5; }
    .db_area section.db_list_box .db_filter_set {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      display: flexbox;
      display: box;
      flex: 1 0 41px;
      -webkit-flex: 1 0 41px;
      flexbox: 1 0 41px;
      -webkit-box-flex: 0;
      -ms-flex: 1 0 41px;
      max-height: 41px;
      border-style: solid;
      border-width: 0 0 1px 0;
      border-color: darkgray;
      background-color: #fff; }
      .db_area section.db_list_box .db_filter_set > * {
        flex: 0 1 100%;
        -webkit-flex: 0 1 100%;
        flexbox: 0 1 100%;
        -webkit-box-flex: 1;
        -ms-flex: 0 1 100%;
        width: 100%;
        border-style: solid;
        border-width: 0 1px 0 0;
        border-color: darkgray; }
      .db_area section.db_list_box .db_filter_set .checkbox_set, .db_area section.db_list_box .db_filter_set button {
        flex: 1 0 40px;
        -webkit-flex: 1 0 40px;
        flexbox: 1 0 40px;
        -webkit-box-flex: 0;
        -ms-flex: 1 0 40px;
        max-width: 40px; }
      .db_area section.db_list_box .db_filter_set button {
        flex: 1 0 40px;
        -webkit-flex: 1 0 40px;
        flexbox: 1 0 40px;
        -webkit-box-flex: 0;
        -ms-flex: 1 0 40px;
        max-width: 40px;
        margin-left: auto;
        border: none !important; }
        .db_area section.db_list_box .db_filter_set button:before {
          font-size: 1.5rem; }
        .db_area section.db_list_box .db_filter_set button.on.active {
          background-color: #109dcb; }
        .db_area section.db_list_box .db_filter_set button.dbc_open_btn {
          pointer-events: none;
          opacity: 0.5; }
          .db_area section.db_list_box .db_filter_set button.dbc_open_btn.on {
            pointer-events: auto;
            opacity: 1;
            background-color: #3c3c3c; }
          .db_area section.db_list_box .db_filter_set button.dbc_open_btn:before {
            content: "\e937"; }
        .db_area section.db_list_box .db_filter_set button.dbc_close_btn:before {
          content: "\e91a"; }
      .db_area section.db_list_box .db_filter_set h3 {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        display: flexbox;
        display: box;
        box-align: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 10px; }
    .db_area section.db_list_box .db_cancel_set {
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 100%;
      width: 100%;
      background-color: #fff; }
      .db_area section.db_list_box .db_cancel_set textarea, .db_area section.db_list_box .db_cancel_set div[contenteditable] {
        flex: 0 1 100%;
        -webkit-flex: 0 1 100%;
        flexbox: 0 1 100%;
        -webkit-box-flex: 1;
        -ms-flex: 0 1 100%;
        position: relative;
        border: none;
        resize: none;
        outline: none; }
      .db_area section.db_list_box .db_cancel_set .btn_set {
        flex: 1 0 40px;
        -webkit-flex: 1 0 40px;
        flexbox: 1 0 40px;
        -webkit-box-flex: 0;
        -ms-flex: 1 0 40px;
        margin: 10px; }
      .db_area section.db_list_box .db_cancel_set.on {
        left: 0; }
    .db_area section.db_list_box .open_cancel > div, .db_area section.db_list_box .open_cancel > select {
      opacity: 0;
      visibility: hidden; }
    .db_area section.db_list_box > ul {
      flex: 0 1 100%;
      -webkit-flex: 0 1 100%;
      flexbox: 0 1 100%;
      -webkit-box-flex: 1;
      -ms-flex: 0 1 100%;
      overflow: auto; }
      .db_area section.db_list_box > ul li {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        display: flexbox;
        display: box;
        box-align: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        width: 100%;
        margin: 0 0 2px 0;
        padding: 5px 0; }
        .db_area section.db_list_box > ul li * {
          color: #fff; }
        .db_area section.db_list_box > ul li > .checkbox_set, .db_area section.db_list_box > ul li > button {
          flex: 1 0 40px;
          -webkit-flex: 1 0 40px;
          flexbox: 1 0 40px;
          -webkit-box-flex: 0;
          -ms-flex: 1 0 40px; }
        .db_area section.db_list_box > ul li > button {
          height: 40px;
          margin: 0 5px; }
          .db_area section.db_list_box > ul li > button:before, .db_area section.db_list_box > ul li > button:after, .db_area section.db_list_box > ul li > button span:before, .db_area section.db_list_box > ul li > button span:after {
            content: "";
            position: absolute;
            -moz-border-radius: 200px;
            -webkit-border-radius: 200px;
            border-radius: 200px;
            -khtml-border-radius: 200px;
            transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
            -moz-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
            -webkit-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
            -o-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
            -ms-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
            box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.5);
            -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.5); }
          .db_area section.db_list_box > ul li > button:before {
            top: 50%;
            left: 50%;
            margin: -2px 0 0 -2px; }
          .db_area section.db_list_box > ul li > button:after {
            top: 0;
            left: 0;
            width: 100%;
            height: 40px;
            opacity: 0;
            border-style: solid;
            border-width: 2px;
            border-color: white; }
          .db_area section.db_list_box > ul li > button:before, .db_area section.db_list_box > ul li > button span:before, .db_area section.db_list_box > ul li > button span:after {
            width: 4px;
            height: 4px;
            background-color: #fff; }
          .db_area section.db_list_box > ul li > button span {
            position: absolute;
            top: 50%;
            left: 0;
            margin: -2px 0 0 0;
            width: 100%;
            height: 5px;
            transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
            -moz-transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
            -webkit-transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
            -o-transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
            -ms-transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1); }
            .db_area section.db_list_box > ul li > button span:before {
              left: 10px; }
            .db_area section.db_list_box > ul li > button span:after {
              right: 10px; }
            .db_area section.db_list_box > ul li > button span:nth-of-type(2) {
              opacity: 0; }
          .db_area section.db_list_box > ul li > button.on span:nth-of-type(1) {
            margin: -9px 0 0 0; }
          .db_area section.db_list_box > ul li > button.on span:nth-of-type(2) {
            margin: 6px 0 0 0;
            opacity: 1; }
          .db_area section.db_list_box > ul li > button.on:after {
            opacity: 1; }
        .db_area section.db_list_box > ul li:hover > button:after {
          opacity: 1; }
  .db_area section.db_infor_box {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    bottom: 0;
    top: 50px;
    right: 20px;
    width: 150px;
    padding: 50px 100px;
    box-shadow: -60px 0 100px -50px black;
    -webkit-box-shadow: -60px 0 100px -50px black;
    -moz-box-shadow: -60px 0 100px -50px black; }
    .db_area section.db_infor_box > * {
      position: relative;
      display: inline-block;
      width: 100%;
      margin: 0 0 40px 0; }
      .db_area section.db_infor_box > * * {
        color: #f5f5f5;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
        -webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
        -moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7); }
      .db_area section.db_infor_box > * *:last-of-type {
        margin: 0; }
    .db_area section.db_infor_box .dbi_event p:nth-of-type(odd) {
      font-size: 3rem;
      opacity: 0.8;
      line-height: 2.5rem; }
    .db_area section.db_infor_box .dbi_event p:nth-of-type(2) {
      font-size: 3.5rem;
      padding: 0 0 20px 0; }
    .db_area section.db_infor_box .dbi_event p:last-of-type {
      font-size: 6rem;
      line-height: 5.2rem; }
    .db_area section.db_infor_box .dbi_cctv button {
      border-style: solid;
      border-width: 1px;
      border-color: white;
      width: 100%; }
      .db_area section.db_infor_box .dbi_cctv button:before, .db_area section.db_infor_box .dbi_cctv button:after {
        position: relative; }
      .db_area section.db_infor_box .dbi_cctv button:before {
        content: "\e91c";
        font-size: 4rem; }
      .db_area section.db_infor_box .dbi_cctv button:after {
        content: "CCTV VIEW";
        font-size: 2rem;
        top: -15px;
        padding: 0 0 0 15px; }
      .db_area section.db_infor_box .dbi_cctv button:hover {
        background-color: #fff; }
        .db_area section.db_infor_box .dbi_cctv button:hover:before, .db_area section.db_infor_box .dbi_cctv button:hover:after {
          color: #4c4c4c; }
    .db_area section.db_infor_box .dbi_copy {
      flex: 1;
      -webkit-flex: 1;
      flexbox: 1;
      -webkit-box-flex: 1;
      -ms-flex: 1; }
      .db_area section.db_infor_box .dbi_copy textarea {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        resize: none; }
      .db_area section.db_infor_box .dbi_copy p {
        font-size: 1.5rem; }
    .db_area section.db_infor_box .dbi_contact {
      /*
      <div class="dbi_contact">
          <p>
              <span>입주자</span>
              <span>나주인</span>
              010-1234-5678
          </p>
          <p>
              <span>현장책임</span>
              <span>홍길동 소장</span>
              010-1234-5678
          </p>
          <p>
              <span>안전담당</span>
              <span>이순신 안전요원</span>
              010-9876-5432
          </p>
      </div>
      */ }
      .db_area section.db_infor_box .dbi_contact p {
        font-size: 1.1rem;
        padding: 5px 0 0 0;
        opacity: 1; }
        .db_area section.db_infor_box .dbi_contact p span {
          position: relative; }
          .db_area section.db_infor_box .dbi_contact p span:first-of-type {
            width: 90px; }
          .db_area section.db_infor_box .dbi_contact p span:last-of-type {
            width: 160px; }
    .db_area section.db_infor_box.on {
      visibility: visible;
      width: 600px;
      right: 320px; }

.infor_set {
  flex: 0 1 100%;
  -webkit-flex: 0 1 100%;
  flexbox: 0 1 100%;
  -webkit-box-flex: 1;
  -ms-flex: 0 1 100%; }
  .infor_set p {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    -webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    -moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7); }
  .infor_set p:nth-of-type(2) {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 5px 10px 5px 0; }
  .infor_set p:nth-of-type(3) {
    word-spacing: 2px;
    letter-spacing: 0;
    font-size: 0.9rem; }
  .infor_set p:nth-of-type(4) {
    padding: 5px 0 0 0;
    margin: 5px 0 0 0;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: rgba(17, 17, 17, 0.3); }
    .infor_set p:nth-of-type(4), .infor_set p:nth-of-type(4) ~ p {
      letter-spacing: 0; }

.sub_title_area {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flexbox;
  display: box;
  flex: 1 0 40px;
  -webkit-flex: 1 0 40px;
  flexbox: 1 0 40px;
  -webkit-box-flex: 0;
  -ms-flex: 1 0 40px;
  margin: 0 0 10px 0; }
  body.admin_mode .sub_title_area {
    margin: 0 0 10px 0 !important; }
  .sub_title_area, .sub_title_area .navigation, .sub_title_area .navigation span {
    position: relative; }
  .sub_title_area h2, .sub_title_area h3 {
    font-size: 1.8rem;
    padding: 0 0 0 15px;
    font-weight: bold; }
    .sub_title_area h2:before, .sub_title_area h3:before {
      content: "";
      position: absolute;
      left: 0;
      top: 6px;
      bottom: 4px;
      width: 5px;
      background-color: #109dcb; }
  .sub_title_area .navigation {
    -webkit-align-self: flex-end;
    align-self: flex-end;
    margin: 0 0 0 30px;
    padding: 0 0 3px 0; }
    .sub_title_area .navigation span {
      color: #a9a9a9;
      padding: 0 15px;
      cursor: pointer; }
      .sub_title_area .navigation span:before, .sub_title_area .navigation span:after {
        position: absolute; }
      .sub_title_area .navigation span:before {
        content: "〉" !important;
        right: -5px;
        top: 0; }
      .sub_title_area .navigation span:last-of-type {
        /*font-weight:bold; color:$color-blue-01;*/ }
      .sub_title_area .navigation span:last-of-type:before {
        display: none; }
      .sub_title_area .navigation span:after {
        content: "";
        display: none;
        bottom: -5px;
        left: 10px;
        right: 10px;
        height: 2px;
        background-color: #109dcb; }
      .sub_title_area .navigation span:hover {
        color: #109dcb; }
        .sub_title_area .navigation span:hover:after {
          display: block; }
    .admin_mode .sub_title_area .navigation span {
      pointer-events: none; }

.confirm {
  background-color: #259dcf !important; }

.level-caution {
  background-color: #999999; }
.level-warning {
  background-color: #ff8400; }
.level-danger {
  background-color: #be1e1e; }
.level-caution *, .level-caution *:before, .level-caution *:after, .level-warning *, .level-warning *:before, .level-warning *:after, .level-danger *, .level-danger *:before, .level-danger *:after {
  color: #fff; }
.level-caution.type-list, .level-caution .watch_area > div, .level-warning.type-list, .level-warning .watch_area > div, .level-danger.type-list, .level-danger .watch_area > div {
      /*

      &.level {
        &-caution:before {@include border01(2px,$color-gray-03,1 );} // .level-caution 주의
        &-warning:before {@include border01(2px,$color-orange-01,1 );} // .level-warning 경고
        &-danger:before  {@include border01(2px,$color-red-01,1 );} // .level-danger  위험
      }
      */ }
  .level-caution.type-list *, .level-caution.type-list *:before, .level-caution.type-list *:after, .level-caution .watch_area > div *, .level-caution .watch_area > div *:before, .level-caution .watch_area > div *:after, .level-warning.type-list *, .level-warning.type-list *:before, .level-warning.type-list *:after, .level-warning .watch_area > div *, .level-warning .watch_area > div *:before, .level-warning .watch_area > div *:after, .level-danger.type-list *, .level-danger.type-list *:before, .level-danger.type-list *:after, .level-danger .watch_area > div *, .level-danger .watch_area > div *:before, .level-danger .watch_area > div *:after {
    color: inherit; }
  .level-caution.type-list, .level-caution.type-list:before, .level-caution .watch_area > div, .level-caution .watch_area > div:before, .level-warning.type-list, .level-warning.type-list:before, .level-warning .watch_area > div, .level-warning .watch_area > div:before, .level-danger.type-list, .level-danger.type-list:before, .level-danger .watch_area > div, .level-danger .watch_area > div:before {
    background-color: transparent !important; }
  .level-caution.type-list .m_marqueebox *, .level-caution.type-list .m_marqueebox:before, .level-caution .watch_area > div .m_marqueebox *, .level-caution .watch_area > div .m_marqueebox:before, .level-warning.type-list .m_marqueebox *, .level-warning.type-list .m_marqueebox:before, .level-warning .watch_area > div .m_marqueebox *, .level-warning .watch_area > div .m_marqueebox:before, .level-danger.type-list .m_marqueebox *, .level-danger.type-list .m_marqueebox:before, .level-danger .watch_area > div .m_marqueebox *, .level-danger .watch_area > div .m_marqueebox:before {
    color: #be1e1e !important; }
  .level-caution.type-list .m_marqueebox:before, .level-caution .watch_area > div .m_marqueebox:before, .level-warning.type-list .m_marqueebox:before, .level-warning .watch_area > div .m_marqueebox:before, .level-danger.type-list .m_marqueebox:before, .level-danger .watch_area > div .m_marqueebox:before {
    background-color: #fff !important; }
  .level-caution.type-list .safeeye_set .s_lbox, .level-caution .watch_area > div .safeeye_set .s_lbox, .level-warning.type-list .safeeye_set .s_lbox, .level-warning .watch_area > div .safeeye_set .s_lbox, .level-danger.type-list .safeeye_set .s_lbox, .level-danger .watch_area > div .safeeye_set .s_lbox {
    color: #be1e1e; }
    .level-caution.type-list .safeeye_set .s_lbox:after, .level-caution .watch_area > div .safeeye_set .s_lbox:after, .level-warning.type-list .safeeye_set .s_lbox:after, .level-warning .watch_area > div .safeeye_set .s_lbox:after, .level-danger.type-list .safeeye_set .s_lbox:after, .level-danger .watch_area > div .safeeye_set .s_lbox:after {
      animation-name: issue05;
      -webkit-animation-name: issue05;
      -webkit-animation-duration: 0.5s;
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      animation-timing-function: linear;
      -webkit-animation-timing-function: linear;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
      -webkit-animation-duration: 0.8s;
      animation-duration: 0.8s; }
@-webkit-keyframes issue05 {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  100% {
    opacity: 0;
    padding: 20%; } }
@keyframes issue04 {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  100% {
    opacity: 0;
    padding: 20%; } }
.level-caution .m_marqueebox > p, .level-warning .m_marqueebox > p, .level-danger .m_marqueebox > p {
  animation-name: marquee;
  -webkit-animation-name: marquee;
  /*  animation-delay:         2s;
    -webkit-animation-delay: 2s;*/
  animation-duration: 15s;
  -webkit-animation-duration: 15s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }
@-webkit-keyframes marquee {
  0% {
    left: 100%;
    opacity: 1; }
  99% {
    opacity: 1; }
  100% {
    left: -120%;
    opacity: 0; } }
@keyframes marquee {
  0% {
    left: 100%;
    opacity: 1; }
  99% {
    opacity: 1; }
  100% {
    left: -120%;
    opacity: 0; } }
.level-caution .m_marqueebox *, .level-caution .m_marqueebox:before, .level-warning .m_marqueebox *, .level-warning .m_marqueebox:before, .level-danger .m_marqueebox *, .level-danger .m_marqueebox:before {
  color: #fff !important; }
.level-caution .treffic_set .ts-caution:before {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(153, 153, 153, 0.4); }
.level-caution .treffic_set .ts-caution:before {
  box-shadow: 0px 14px 8px -8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 14px 8px -8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 14px 8px -8px rgba(0, 0, 0, 0.5);
  background-color: #fff; }
.level-caution .treffic_set .ts-caution:after {
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.5); }
.level-caution .treffic_set .ts-caution p {
  color: #fff !important; }
.level-caution .treffic_set .ts-caution > p:before {
  border-style: solid;
  border-width: 2px;
  border-color: #999999;
  animation-name: issue06;
  -webkit-animation-name: issue06;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s; }
@-webkit-keyframes issue06 {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  100% {
    opacity: 0;
    padding: 70%; } }
@keyframes issue04 {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  100% {
    opacity: 0;
    padding: 70%; } }
.level-caution .ts-caution:after, .level-caution .m_marqueebox:before {
  background-color: #999; }
.level-warning .treffic_set .ts-warning:before {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 132, 0, 0.4); }
.level-warning .treffic_set .ts-warning:before {
  box-shadow: 0px 14px 8px -8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 14px 8px -8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 14px 8px -8px rgba(0, 0, 0, 0.5);
  background-color: #fff; }
.level-warning .treffic_set .ts-warning:after {
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.5); }
.level-warning .treffic_set .ts-warning p {
  color: #fff !important; }
.level-warning .treffic_set .ts-warning > p:before {
  border-style: solid;
  border-width: 2px;
  border-color: #ff8400;
  animation-name: issue06;
  -webkit-animation-name: issue06;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s; }
@-webkit-keyframes issue06 {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  100% {
    opacity: 0;
    padding: 70%; } }
@keyframes issue04 {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  100% {
    opacity: 0;
    padding: 70%; } }
.level-warning .treffic_set .ts-warning:after, .level-warning .m_marqueebox:before {
  background-color: #ff8400; }
.level-danger .treffic_set .ts-danger:before {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(190, 30, 30, 0.4); }
.level-danger .treffic_set .ts-danger:before {
  box-shadow: 0px 14px 8px -8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 14px 8px -8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 14px 8px -8px rgba(0, 0, 0, 0.5);
  background-color: #fff; }
.level-danger .treffic_set .ts-danger:after {
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.5); }
.level-danger .treffic_set .ts-danger p {
  color: #fff !important; }
.level-danger .treffic_set .ts-danger > p:before {
  border-style: solid;
  border-width: 2px;
  border-color: #be1e1e;
  animation-name: issue06;
  -webkit-animation-name: issue06;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s; }
@-webkit-keyframes issue06 {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  100% {
    opacity: 0;
    padding: 70%; } }
@keyframes issue04 {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  100% {
    opacity: 0;
    padding: 70%; } }
.level-danger .treffic_set .ts-danger:after, .level-danger .m_marqueebox:before {
  background-color: #be1e1e; }

body.adaptive_mobile menu, body.adaptive_mobile .datetime_set {
  display: none; }
body.adaptive_mobile, body.adaptive_mobile header {
  min-width: 0 !important; }
body.adaptive_mobile.dashboard_mode .wrap > article {
  min-width: 0 !important;
  right: 20px; }
body.adaptive_mobile.dashboard_mode button.issue_btn.issue {
  width: 40px !important; }

/*# sourceMappingURL=layouts.css.map */
