
aside.db_area, aside.dbs_area, header, nav {
    transition:        all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition:   all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -webkit-transition:all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition:     all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -ms-transition:    all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

aside, header, section, .wrap, header, .header_area, article
{-webkit-box-sizing: border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

html, body {}
body {
    overflow: auto;
    width:100%;  min-width:1680px; min-height:768px;
    background-color: #333240;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}

::-webkit-scrollbar {width: 8px;height: 8px; }
/* Track */
::-webkit-scrollbar-track {background:#fdfdfd;}
/* Handle */
::-webkit-scrollbar-thumb {
    min-height: 30px;
    border: 2px solid #fff;
    background-clip: content-box;
    background-color: #e1e1e1;
    -moz-border-radius:    20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius:  20px;
    border-radius:         20px;
}
::-webkit-scrollbar-thumb:hover {background-color: rgba(94,94,94,0.8);  border: 1px solid #fff;}


body.login_mode {
    background: #333240; /* Old browsers */
    background: -moz-linear-gradient(160deg,  #333240 0%, #333240 50%, #2e2e3a 50%, #2e2e3a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(160deg,  #333240 0%,#333240 50%,#2e2e3a 50%,#2e2e3a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(160deg,  #333240 0%,#333240 50%,#2e2e3a 50%,#2e2e3a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333240', endColorstr='#2e2e3a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
body.dashboard_mode {position: absolute;}

body:after {content: ""; position: fixed; top:50px; left:0; bottom:0; width:120px; z-index: -1; background-color: #25252f;}



.wrap {overflow: hidden; width:100%; height:100%; margin:auto;}
body.dashboard_mode .wrap {position: absolute;}

nav,section {display: inline-block; }

header  {position: fixed; z-index:40; top:0; left:0; width:100%; height:50px; background-color: #333240;}
header .header_area {position: relative; width:100%; height:100%;}

nav.nav {overflow: hidden; position: absolute; top:50px;  left:0; bottom:0; width:120px; background-color: #25252f;}


section.container {overflow: scroll; }
body.dashboard_mode section.container {
    overflow: hidden; position: absolute; top:50px; right:0;  left:120px; bottom:0; padding:0;
    background-color:#1e1d23;
}



body.admin_mode section.container {
    height:calc(100% - 50px);height:-webkit-calc(100% - 50px);
    margin: 50px 0 0 120px; padding:30px; background-color:#fcfcfc;}



body.adaptive_max.admin_mode section.container {padding: 30px 120px;}


body.on header  {top:-50px;}
body.on nav.nav {left:-120px;}
body.on section.container {top:0px; left:0px; margin:0; height:100%;}
body.on aside.db_area, body.on aside.dbs_area  {top:0;}

body.on .layer_popup, .admin_popup {top:0; left:0;}
/*로그인 영역 */
.login_area {
    overflow: hidden;
    position: absolute;
    width:490px; height:330px;
    top:50%;
    left:50%;
    margin:-165px 0 0 -245px;
    background-color: #EEF0F5;

    box-shadow:         0px 0px 8px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
    -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.1);

    -moz-border-radius:    16px;
    -webkit-border-radius: 16px;
    border-radius:         16px;
    -khtml-border-radius:  16px;
}

.change_btn {position: fixed; z-index:10; top:0; right:0; width:50px; height:50px;}
.change_btn:before {font-size:26px; color:#fff;}

body.admin_mode.on .zoom_btn.on:before {color:#3e3e3e;}

