@CHARSET "UTF-8";

.table_contents {
    padding: 0 50px;
}

.table_area {
   float:left;
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0 0 24px 0;
    width:100%;
}
.tabe_left { padding: 0 12px 0 0;  }
.tabw01 {width:50% !important;}
.tabw02 {width:30% !important;}
.tabw03 {width:70% !important;}
.tabw04 {width:40% !important;}
.tabw05 {width:60% !important;}

.table_title_set {
    position:relative;
    width:100%;
    height:34px;
    margin:0 0 12px 0;
}

.table_title_set:hover {
    cursor: pointer;
}

.table_title_set > button {
    position:absolute;
    height:100%;
    padding:0 14px;
    font-size: 16px;
    color:#fff;
    background-color: #333;
    background-position: center;
    background-repeat: no-repeat;
    border:none;
    margin:0;
    border-left:1px solid #555;
}

.table_title_set > button:hover {
    background-color:#000;
    text-decoration: underline;
    font-weight: bold;
}

.table_more_btn {
    width:70px;
    right:35px;
}
.table_refresh_btn {
    right:0px;
    width:35px;
    background-image: url(../images/main/refresh_all.png) ;
}

.table_tit01 {
    position: absolute;
    padding: 8px 0 8px 40px;
    box-sizing: border-box;
    left: 0;
    right: 105px;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #fff !important;
    background-color: #333;
    background-repeat: no-repeat;
    background-position: 15px center;
}

.tit001 {right: 35px !important;}

.table_tit01:hover {background-color:#000;}

.table_refresh_btn02 {
    width:18px;
    height:18px;
    display:inline-block;
    background:url(../images/main/refresh_one.png) no-repeat center;
}
.table_refresh_btn02:hover {
    cursor:pointer;
    background-color:#ededed;
    font-weight: bold;
}

.table_tit02,.table_more_btn02 {
    position:absolute;
    font-size: 14px;
    color:#333;
    top:4px;
}
.table_tit02 {left:15px; font-weight: bold;}
.table_more_btn02 {
    right:15px;
    background: none;
    border: 0;
}
.table_more_btn02:hover {
    color:#5eb4d8;
    text-decoration: underline;
}
.man_ico {
    width:100%;
    height:58px;
    display:inline-block;
    background:url(../images/main/user_img.png) no-repeat center;
}

.tit_01 {background-image:url(../images/main/system.png); }
.tit_02 {background-image:url(../images/main/proces.png); }
.tit_03 {background-image:url(../images/main/position.png); }
.tit_04 {background-image:url(../images/main/user.png); }
.tit_05 {background-image:url(../images/main/offer.png); }
.tit_06 {background-image:url(../images/main/log.png); }
/*테이블 기본*/
.t_defalut {
    width:100%;
    font-size:14px;
    border:1px solid #e4e6e9;
    table-layout:fixed;
    float:left;
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.t_defalut th, .t_defalut td, .t_defalut td span {
    position:relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family:"돋음", Dotum;
    letter-spacing:0px;
    padding-top: 5px;
}
.t_defalut th, .t_defalut td {padding:0 10px;}
.t_defalut th  {}

/*테이블 HOVER*/
/*.t_hover tbody tr:hover td {background: #f9f9fa; }*/
.text_hover:hover span { cursor:pointer; color:#0e97d1;}

/*테이블 타입01 .t_type01 */
.t_type01 th, .t_type01 td {}
.t_type01 th, .t_type02 th, .t_type03 th {
    height:30px;
    color:#212121;
    background-color:#f9f9fa;
}

.t_type01 th {}
.t_type01 th:after {
    content:"";
    position:absolute;
    width:100%;
    height:1px;
    bottom:-1px;
    background:#0d97d1;
    z-index:1;
    left:0;
}
.t_type02 th, .t_type03 th {}
.t_type02 th:after, .t_type03 th:after {
    content:"";
    position:absolute;
    width:100%;
    height:3px;
    bottom:-3px;
    background:#0d97d1;
    z-index:1;
    left:0;
}
.t_type01 td, .t_type02 td,  .t_type03 td  {
    height:40px;
    color:#212121;
    font-weight:bold;
    border-style:solid;
    border-width:0 1px 1px 0;
    border-color:#e4e6e9;
    font-weight:bold;
}
 .t_type03 td {border:0; font-weight:normal;}

/*왼쪽정렬 .t_style01 */
.t_style01 th, .t_style01 td {text-align:center;}
.t_style02 th {text-align:center;}
.t_style02 td {text-align:left; overflow:hidden;}
.t_style02 td span.ell {
    width:94%;
    vertical-align:middle;
    display:inline-block;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
}

.t_style03 th, .t_type03 td {padding:0 20px 0 0 !important;}

.t_border01 {border-top: 1px solid #c7ccd0 !important;}
.t_bolred   {font-weight:bold !important; color:#fa311c !important;}
/*상태표시*/
.tc76 {width:76px;}
.tc54 {width:54px;}
.t_condition {
    position:relative;
    height:24px;
    color:#fff;
    font-size:12px;
    font-weight:bold;
    text-align:center;
    vertical-align:middle;
    display:inline-block;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius:  10px;
    border-radius:         10px;
}

.con_2000 {background:#ff8543;} /* 접수 */
.con_3000 {background:#0d97d1;} /* 검토중 */
.con_4000 {background:#0d97d1;} /* 개발중 */
.con_5000 {background:#333;} /* 처리완료 */
.con_9000 {background:#878989;} /* 반려 */
.con_on {background:#0d97d1;}
.con_off {background:#878989;}
.con_failure {background:#ff8543;}
.con_08 {background:#0d97d1;}
.con_09 {background:#ff8543;}

.con_loading {
    width:69px;
    height:23px;
    display:inline-block;
    background:url(../images/main/wait.gif) no-repeat center;
}

/*테이블 리스트 페이징*/
.page {
    position:relative;
    width:100%;
    height:30px;
    margin:15px 0 0 0 ;
    text-align:center;
}
.paging, .popup_paging {display:inline-block;}

.paging a {
    height:30px;
    margin:0 5px 0 0;
    color:#c7ccd0;
    font-size:13px;
    font-weight:bold;
    color:#5b6779;
    float:left;
    padding:4px 10px  ;
    border:1px solid #c7ccd0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:    3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius:  3px;
    border-radius:         3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.paging a.page_select {
    background:#f58026;
    color:#fff !important;
    border:1px solid #e97c2a;
}
.paging a:hover {
    color:#e97c2a;
    border:1px solid #e97c2a;
}
.p_arrow {
    width: 30px;
    padding: 4px 0 !important;
}

.popup_paging a, .popup_paging a.p_arrow {
    position:relative;
    height:26px;
    margin:0 4px 0 0;
    color:#c7ccd0;
    font-size:14px;
    font-weight:bold;
    color:#5b6779;
    float:left;
    padding:4px 8px;
    vertical-align:middle;
    cursor:pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.popup_paging a:nth-child(3):after {content:"";background:none !important;}
.popup_paging a:after {
    content:"";
    position:absolute;
    width:1px;
    height:10px;
    background:#ddd;
    left:0;
    top:9px;
}
.popup_paging a:hover {color:#e97c2a;}
.popup_paging a.p_arrow {width:24px; padding:4px !important;}
.popup_paging a.p_arrow:after {content:"";background:none !important;}
.popup_paging a.page_select {color:#f58026 !important;}

.pll       {background:url(../images/sub/lle.png) no-repeat center;}
.pl        {background:url(../images/sub/le.png)  no-repeat center;}
.pr        {background:url(../images/sub/re.png)  no-repeat center;}
.prr       {background:url(../images/sub/rre.png) no-repeat center;}
.pll:hover {background:url(../images/sub/lle_on.png) no-repeat center;}
.pl:hover  {background:url(../images/sub/le_on.png)  no-repeat center;}
.pr:hover  {background:url(../images/sub/re_on.png)  no-repeat center;}
.prr:hover {background:url(../images/sub/rre_on.png) no-repeat center;}
