h1,h2,h3,h4, .lnb *,.nav_area > button, h2, .tabs > li, .tabs_contents_area, .lr_btn_set00 > button
{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

/*로고 영역 */
h1 {
    position: absolute; z-index: 1; top:0; left:0; background-color: #333240;
    display: inline-block; min-width: 180px; height: 100%;
}
h1 button {
    width: 100%; height: 100%; padding: 0 20px 10px 20px;
    font-size:30px; color: #fff; border:none;
    background-image: url(../images/logo/top_logo.png);
    background-position: 10px 50%;
    background-repeat: no-repeat;
    background-size: 110px;
}

/*1depth 타이틀 */
h2 {}

/*2depth 타이틀 */
h3 {
    font-size:24px;display: inline-block; cursor: pointer;
    outline: none;
}
.main_title_area h3 {
    color:#278dd8; padding:0 30px;
    background-image: url(../images/logo/main_bl.png);
    background-position: 0 50%;
    background-repeat: no-repeat;

    -webkit-user-select: none;
    -ms-user-select:     none;
    -moz-user-select:    none;

}
.main_title_area h3::selection {background-color: transparent}


body.on.navzoom .quick_nav,
body.on .quick_nav,
body.navzoom .quick_nav {display: block;}

.quick_nav {
    overflow: hidden; display: none;
    position: fixed; z-index:10;
    top:92px; left:-360px; bottom:0; width:180px;
    background-color: rgba(0,0,0,0.8);

    transition:        all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition:   all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -webkit-transition:all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition:     all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -ms-transition:    all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);

    /* 가로 100% 일때
    position: absolute; z-index:10;
    top:40px; left:20px; right:20px;
    background-color: rgba(30,29,35,1);
    border-style:solid;
    border-width:0 0 1px 0;
    border-color:#2e2c35;
    */
}
.quick_nav.on {left:0;}
.quick_nav > button {
    position: absolute; z-index:10; text-align: right; bottom:0; right:0; width:100%; height:50px;
    color:#fff; padding:0 10px 0 0;
}
/*
.quick_nav > button {
    position: absolute; z-index:10; right:5px; top:10px; width:50px; height:50px;
}
.quick_nav:after {
    content: "";position: absolute; width:100%; height:1px; left:0; bottom:1px;
    background-color: #121115;
}


.quick_nav > button {
    position: absolute; z-index:10; right:5px; top:10px; width:50px; height:50px;
}
.quick_nav > button:before {content:"\e925"; color:#fff; font-size:24px; opacity: 0.6;}
.quick_nav > button:hover:before {color:#29a1f7; opacity: 1;}
*/

/*

.nano.quick_nav > .nano-pane > .nano-slider {background: rgba(255,255,255,.5);}
.quick_nav.on {display: block;}
.quick_nav ul {display: inline-block; width:calc(100% - 50px);   padding:10px; }

.quick_nav ul > li {position: relative; width:auto; height:auto; float: left;}
.quick_nav ul > li:before, .quick_nav .lnb > li:after {display: none;}
.quick_nav ul > li > button {
    text-align: left;  max-width:180px; height:52px; padding:0 20px;
    color:#fff; font-size:15px; opacity: 0.7;
    border-style:solid;border-width:0 0 1px 0; border-color:transparent;
}
.quick_nav ul > li:hover > button
{opacity: 1; color: #278dd8; border-color:#278dd8;}
*/



.db_header h3 {color:#fff; font-size:22px; padding:0 0 0 5px;}
.db_header h3:before {content:"\e923"; padding:0 4px 0 0;}

/*테이블  타이틀 */
h4 {display: inline-block;font-size:18px;color:#4d4d4d;}
.main_area h4 {color:#fff;}

/*nav Start */
.nav_area {position: relative;  height:100%; text-align: center;  z-index: 1; }

.nav_area.depthno:hover {width:120px !important;}


.nav_area:hover {overflow: hidden; width:300px;  }
.nav_area:hover .lnb {overflow-y: auto; overflow-x: hidden;  width:calc(100% + 20px);}

/*.nav_area.nano > .nano-pane {z-index:-100}*/
.lnb {position: absolute; top:45px; bottom:0; left:0;   /*background-color: rgba(0,0,0,0.8);*/}
.lnb:before {content: ""; position: fixed; top:0; left:0; bottom:0; width:120px; background-color: #25252f; z-index: 1}
/*
.nav_area.on {width:100vw !important;}
.nav_area.on .lnb {width:100vw !important;}
*/


.lnb > li {position: relative; width:120px; height:86px; z-index:1; text-align: left;}
.lnb > li > div > ul > li,
.nav_type > li
{position: relative; z-index:10; height:auto;}

.lnb > li:after, .lnb > li:before {content:"";position:absolute; bottom:0; /*left:20px; right:20px;*/ width:80px; left:20px; height:1px; }
.lnb > li:after  {background-color:#0a090c; bottom:-1px; }
.lnb > li:before {background-color:#343446; bottom:-2px;}

.lnb > li > button {width:120px !important;}
.lnb > li > button,
.lnb > li > div > ul > li > button,
.nav_type > li > button {width:100%; height:100%; color:#fff; font-size:14px; opacity: 0.7;}

.lnb > li > div > ul > li > button,
.nav_type > li > button {text-align:left; padding:10px 20px 10px 10px;  }

.lnb > li:hover > button, .lnb > li.on > button {background-color: #27577f; opacity: 1;}
.lnb > li.on > button:after {
    content:""; position: absolute; top:0; left:0; width:4px; height:100%; background-color: #29a1f7;
}



.lnb > li > div {
    display: none;  z-index: 1;
    /*overflow: hidden; position: fixed; z-index:110; left:120px; top:50px; bottom:0; width:160px;*/  /*margin:-86px 0 0 0;*/
    position: absolute; left:120px; width:180px; height:100%; margin:-86px 0 0 0;
}
.lnb > li:hover > div {display: block;}

/*

.lnb > li.nl_dash > div { width:auto; height:100vh; background-color: rgba(0,0,0,0.8)}
.lnb > li.nl_dash > div > .menu_tree_set {width:100%; }
.lnb > li.nl_dash > div > ul:before {display: none !important;}
*/

.lnb > li > div > ul, .nav_type {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flexbox;
    display: box;

    -webkit-box-orient:     column;
    -webkit-box-direction:  column;
    -webkit-flex-direction: column;
    -ms-flex-direction:     column;
    flex-direction:         column;
}
.lnb > li > div > ul{
    -webkit-box-pack:        center;
    -moz-box-pack:           center;
    -webkit-justify-content: center;
    -ms-flex-pack:           center;
    justify-content:         center;
}

.nav_type {
    -webkit-box-pack:        start;
    -moz-box-pack:           flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack:           flex-start;
    justify-content:         flex-start;

    overflow: auto; position: absolute; top:0; bottom:50px;
    width: calc(100% + 20px);width: -webkit-calc(100% + 20px);
}
/*

.nav_type.menu_tree_set {display: inline-block}
.nav_type.menu_tree_set {padding:0 20px;}
.nav_type.menu_tree_set > li button {width:auto; min-width:160px; max-width:180px; height: 50px; padding:4px 8px; color:#fff;}
.nav_type.menu_tree_set > li button:before {display: none;}
.nav_type.menu_tree_set > li {border:none;}
.nav_type.menu_tree_set > li ul:before   {top:27px !important;}
.nav_type.menu_tree_set > li ul li:after {top:28px !important;; left:-10px; bottom:-27px !important;; width:1px;}
.nav_type.menu_tree_set > li ul:before,
.nav_type.menu_tree_set > li > ul button:after,
.nav_type.menu_tree_set > li ul li:after{content:""; position: absolute; background-color:rgba(255,255,2550,.3);}

.nav_type01.menu_tree_set {display: inline-block; text-align: left;}
.nav_type01.menu_tree_set {padding:0 20px;}
.nav_type01.menu_tree_set > li,
.nav_type01.menu_tree_set > li button {border:none;}
.nav_type01.menu_tree_set li {display: inline-block}
.nav_type01.menu_tree_set > li ul {margin:0 0 0 30px}
.nav_type01.menu_tree_set > li button {
    width:100%; min-width:150px;
    height: auto;
    padding:4px; color:#fff;
}
.nav_type01.menu_tree_set > li button:before,
.nav_type01.menu_tree_set > li ul:after,
.nav_type01.menu_tree_set > li ul:before,
.nav_type01.menu_tree_set > li ul li:after,
.nav_type01.menu_tree_set > li ul button:after
{display: none;}
.nav_type01.menu_tree_set > li ul:before {top:29px;}
*/



.lnb > li > div > ul > li:hover > button,
.lnb > li > div > ul > li.on > button,
.nav_type > li:hover > button,
.nav_type > li.on > button {background-color: #29a1f7; opacity: 1;}

.lnb > li > button + div > ul:before {
    content:""; display: none;  position: fixed;  top:45px; left:120px; bottom:0; width:0;
    background-color: rgba(0,0,0,0.8); opacity: 1;
}

.lnb > li:hover > button + div > ul:before {display: block; width:180px;}
.lnb > li > button:before {
    display: inline-block; width: 100%; padding: 0 0 5px 0; font-size: 35px;
}

.lnb > li.nl_dash > button:before {content: "\e90a";} /*데시보드 */
.lnb > li.nl_reco > button:before {content: "\e908";} /*이력 */
.lnb > li.nl_stat > button:before {content: "\e906";} /*통계 */
.lnb > li.nl_user > button:before {content: "\e92f";} /*사용자관리 */
.lnb > li.nl_syst > button:before {content: "\e92d";} /*시스템관리 */
.lnb > li.nl_even > button:before {content: "\e934";} /*이벤트조치관리 */
.lnb > li.nl_watc > button:before {content: "\e910";} /*감시구역관리 */
.lnb > li.nl_devi > button:before {content: "\e93b";} /*장치관리 */
.lnb > li.nl_lice > button:before {content: "\e908";} /*라이센스관리 */

/*.lnb > li {height:145px;}
.gnb > li, .gnb > li > ul > li, .lnb > li > ul > li  {height:56px;}
.lnb > li > button, .lnb > li > ul > li > button,
.gnb > li > button, .gnb > li > ul > li > button {width:100%; height:100%; color:#fff; opacity: 0.7;}
.gnb > li > button, .gnb > li > ul > li > button, .lnb > li > ul > li > button
{text-align:left; padding:0 10px;}
.gnb > li:hover > button, .gnb > li.on > button,
.lnb > li:hover > button, .lnb > li.on > button
{background-color: #27577f; opacity: 1;}
.gnb > li.on > button:after,
.lnb > li.on > button:after,
.gnb > li > ul > li.on > button:after {
    content:""; position: absolute; top:0; left:0; width:4px; height:100%; background-color: #29a1f7;
}
.gnb > li > ul, .lnb > li > ul {display: none; position: absolute; left:120px; width:140px; z-index:110;}
.gnb > li > ul {margin:-56px 0 0 0;}
.lnb > li > ul {margin:-145px 0 0 0;}
.gnb > li:hover > ul, .lnb > li:hover > ul {display: block; opacity: 1;}
.gnb > li > ul > li:hover > button, .gnb > li > ul > li.on > button,
.lnb > li > ul > li:hover > button, .lnb > li > ul > li.on > button
{background-color: #29a1f7; opacity: 1;}
.gnb > li > ul:after, .lnb > li > ul:after {
    content:""; display: none;  position: fixed; z-index:-1; top:50px; left:120px; bottom:0; width:140px;
    background-color: rgba(0,0,0,0.8);
}
.gnb > li:hover > button + ul:after, .lnb > li:hover > button + ul:after {display: block;}
.lnb > li> button {}
.lnb > li> button:before {display: inline-block; width: 100%; padding: 0 0 5px 0; font-size: 40px;}
.lnb > li.nl_dash > button:before   {content: "\e90a";}
.lnb > li.nl_record > button:before {content: "\e908";}
.lnb > li.nl_stat > button:before   {content: "\e906";}*/
/*nav End */


/*navigation Start*/
.navigation {position: absolute;right:0;bottom:10px;}
.navigation span {position: relative;font-size:12px; color:#8e8e8e; padding:0 10px;}
.navigation span:after {
    content: "〉";
    position: absolute;right:-5px; top:0;
}
.navigation span:last-child {padding:0 0 0 10px;}
.navigation span:last-child:after {display: none;}
/*navigation End*/


/*탭 영역 */
.tabs_area {width:100%;padding: 10px 0;}
.tabs {
    position: relative; z-index: 1; width: 100%; height:40px;
    border-bottom: 1px solid #ccc;
}
.tabs > li {
    float: left;
    position: relative; min-width:100px; height: 100%; margin:0 2px 0 0;
}



.tabs > li > button {
    text-align: center; position: relative; width:100%; height:100%;
    font-size:14px;
    background-color: #f4f4f4;
    border-style: solid;
    border-color: #ccc;
    border-width:1px 1px 0 1px;
}

.tabs > li > button:hover, .tabs > li.tabs_on > button {
    color:#fff;
    border-color: #0e2c45;
    border-width:1px 1px 0 1px;
    background-color: #0e2c45;
}
/*

.tabs > li.tabs_on > button:after {
    content:"";
    position: absolute; left:50%; bottom:-12px; width:0px; height:0px;
    margin:0 0 0 -7px;
    border-style: solid;
    border-color: #0e2c45  transparent  transparent transparent;
    border-width:12px 10px 0 10px;
}
*/

.tabs_contents_area {
    display: inline-block; position: relative;
    width:100%; min-height: calc(100vh - 180px); min-height: -webkit-calc(100vh - 180px);
    margin:auto; padding:0 20px 20px 20px;
    background-color:#fff;border-style: solid;border-color: #ccc;border-width:0 1px 1px 1px;
}

.tabs_contents_area > div {display: none;}
