@charset "utf-8";

@import url(base.css);
@import url(layout.css);
@import url(table.css);

/**********************************
layout
***********************************/

#wrap {
    width: 1024px;
    height: 100%;
    min-width: 100%;
    margin: 0 auto;
    min-height: 100%;
}

*html #wrap {
    height: 100%;
    min-height: 100%;
}

#header {
    clear: both;
    width: 100%;
    height: 100px;

}

#id_contents {
    width: 100%;
    min-height: 100%;
    height: 100%;
    padding:80px 0;
    /*min-width: 1200px;*/
}
/************************************************************************************
Log In
*************************************************************************************/
/* -S- log_win_01 */
.logwrap{}
.login{width:400px; margin:200px auto;}
.log_win{border:1px solid #d4d4d4; font-size:0.75em; border-radius:10px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;}
.top_logo{margin:0  auto 10px;text-align:center;}
.log_win h2{color:#fff; background:#19a1da; padding:20px 0;font-size:18px;  border-radius:10px 10px 0 0; text-align:center;}
.logbox{margin:0 auto; padding:30px 20px 10px; overflow:hidden; height:auto; font-size:12px;}
.log_input label{display:inline-block; width:17%; font-weight:bold;}
.log_input input{border:1px solid #ababab; width:80%; padding-left:1%; height:28px; line-height:28px;color:#777; border-radius:5px;}
.log_id {margin:0 0 5px 0;}
.btn_log{text-align:center; border-top:1px dotted #d4d4d4;}
.btn_log a{width:100%; height:50px; line-height:50px; display:block;color:#fff;background:#333;font-weight:bold;border-radius:5px;font-size:16px}
.btn_log a:hover,.btn_log01 a:focus{color:#2d2d2d; background:#808080;}

.logbox > p{clear:left; padding:15px 0 10px;}
.logbox > p > input{padding:0 8px 0 0;}

.log_join{overflow:hidden;}
.log_join li{padding:2px 0;}

/* -E- log_win_01 */


/**********************************
header
***********************************/

.top {
    clear: both;
    width: 100%;
    height: 50px;
    background-color: #fff;
    position:relative;
}

.top .top_logo {
    float: left;
    width: 141px;
    height: 23px;
    padding:0 0 22px 0;
}

.top .top_logo img {
    margin: 16px 0 0 46px;
}

.top .top_login {
    float: left;
    position: absolute;
    right:50px;
    top: 12px;
    font: 11px  dotum, sans-serif, arial;
    color: #555;
    display: inline;
}

.top .top_login a {
    font: 11px  dotum, sans-serif, arial;
    color: #555;
}

.top .loginfo {
    float: left;
    position: absolute;
    right:50px;
    top: 30px;
    text-align: right;
    font: bold 12px  dotum, sans-serif, arial;
    color: #0178aa;
}

.gnb {
    clear: both;
    width: 100%;
    height: 44px;
    min-width: 1400px;

    margin-bottom: -40px;
    background-color: #0d95ce;
    border-bottom:44px solid #c9c9c9;
}
.gnb > ul{

    padding:0 0 0 46px;
    height:88px;overflow:hidden;

}

.gnb > ul > li {
    position:relative;
    float:left;
}
.gnb > ul > li > a {
    float: left;
    height: 44px;
    width:180px;
    text-align:center;
    font: 12px dotum, sans-serif, arial;
    color: #fff;
    font-weight: bold;
    border-right:1px solid #fff;
    transition:.3s ease;
    line-height:44px;

}
.gnb > ul > li > ul{
    position:absolute;
    left:-1px;
    top:44px;
    z-index:10;
    width:1400px;
}
.gnb > ul > li > ul > li{
    float:left;
}
.gnb > ul > li > ul > li > a {
    height: 44px;
    width:181px;
    text-align:center;
    font-weight: bold;
    transition:.3s ease;
    line-height:44px;
}
.gnb > ul > li > a:hover,
.gnb > ul > li > a:focus,
.gnb > ul > li > a:active,
.gnb > ul > li > a.over,
.gnb > ul > li > a.on{
    background:#696969;
}

.gnb > ul ul{display:none;}
.gnb > ul .active a{display:block}
.gnb > ul .active ul{
    display:block;
}
.gnb .active ul a{
    border:none;
    color:#696969;
}
/*.gnb .active ul.sub_menu01{left:0px;}
.gnb .active ul.sub_menu02{left:118px;}
.gnb .active ul.sub_menu03{left:250px;}
.gnb .active ul.sub_menu04{left:383px;}
.gnb .active ul.sub_menu05{left:501px;}*/

.gnb li{float:left;margin:0 1px 0 0}
.gnb ul > li > ul > li > a:hover,
.gnb ul > li > ul > li > a:focus,
.gnb ul > li > ul > li > a:active,
.gnb ul > li > ul > li > a.on{
    color: #006995;
    background:#fff;
    text-decoration: none;
}

/**********************************
contents
***********************************/

.css_contents {
    height: 100%;
    min-height: 100%;
    background: #fff;
    padding:0 50px;
}

.css_contents .board_tit {
    float: left;
}

.css_contents .board_tit span{
    font: bold 14px dotum, arial, sans-serif;
    color: #000;
}

.css_contents .board_tit span img{
    border: none;
    margin: -2px 7px 0 0;
}

.css_contents .board_tit02{clear:both;}
.css_contents .board_tit02 span {
    margin:20px 0 5px 0;
}

.css_contents .board_tit02 span img {
    border: none;
    margin: -2px 7px 0px 0;
}

.css_contents .board_tit03{
    font-size:11px;
    padding:15px 0 5px 5px;
}

.css_contents .board_tit03 img{
    padding:0 8px 0 0;
}

.css_contents .board_ln {
    clear: both;
    width: 100%;
    height: 5px;
    border-bottom: 3px solid #0e97d1;
    margin-bottom: 30px;
}

* html .css_contents .board_ln { /* IE6 */
    height: 0;
    margin-top: -11px;
}

.css_contents .board_location {
    float: right;
    position: relative;
    top: 1px;
}

.css_contents .board_location li {
    font: 12px dotum, arial, sans-serif;
    color: #666;
    text-align: right;
    display: inline;
}

.css_contents .board_location li a.fb {
    font: bold 12px dotum, arial, sans-serif;
    color: #666;
    text-align: right;
    display: inline;
}

.css_contents .txt1 {
    font: 12px  dotum, Arial, sans-serif;
    color: #666;
    line-height: 29px;
}

.css_contents .txt1 img {
    margin-bottom: 3px;
}

.css_contents .txt1 span.bold {
    font: 12px  dotum, Arial, sans-serif;
    color: #666;
    font-weight: bold;
}

.css_contents .txt2 {
    color: #2E81CE;
    font: bold 12px  dotum, Arial, sans-serif;
    line-height: 29px;
}

/***********************************
contents : tab
************************************/
.tab{margin:0 0 15px 0; overflow:hidden;}
.tab li{float:left; border-right:1px solid #fff;}
.tab li a{display:block; padding:16px 30px ;font-size: 12px; color: #9C9C9C; text-decoration: none;
    border: 1px solid #EFEFEF;
    font: 12px Dotum, "Apple Gothic", sans-serif;
    color: #666;
    font-weight: bold;
    background-color: #EFEFEF;
    text-align: center;
}
.tab li a:hover,.tab li a:focus, .tab li a.select{
    border: 1px solid #979797;
    font: 12px Dotum, "Apple Gothic", sans-serif;
    color: #fff;
    font-weight: bold;
    background-color: #696969;
    text-align: center;
    line-height: 14px;}

/***********************************
contents : board pageNum
************************************/
.pageNum{
    margin: 40px 0 20px 0;
    text-align: center;
}

.pageNum li {
    display:inline;
    font-size: 11px;
}

.pageNum li a {
    border:1px solid #e4e4e4;
    color:#555;
    font-weight: bold;
    padding:4px 8px;
}

.pageNum li a:hover,.pageNum li a:focus,.pageNum li a.on{
    background:#333;
    border:1px solid #333;
    color:#fff;
    text-decoration: none;
}
.tree_con{
    float:right;
    width:78%
}
.filetree{
    width:20%;
    float:left;

}
.filetreeBox{
    clear:both;
    border:1px solid #efefef;
    font-size:.75em;
    background:#fff;
    box-shadow:0 1px 2px rgba(0,0,0,0.2);
    font-family:'나눔고딕';
    box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    overflow-y:scroll;
    height:100%;

}
.filetree_list>li>a{
    background:url(../images/bul_filetree03_off.png) no-repeat 10px 50%;
    font-size:12px;
    display:block;
    color:#6d6d6d;
    height:32px;
    line-height:32px;
    padding:0 0 0 26px
}
.filetree_list>li>a:hover,.filetree_list03>li>a:active,.filetree_list03>li>a.on{
    background:url(../images/bul_filetree03_on.png) no-repeat 10px 50%
}
.filetree_2dep03>li>a{
    background:url(../images/ico_folder.png) no-repeat 20px 50%;
    display:block;
    height:32px;
    line-height:32px;
    padding:0 0 0 40px
}
.filetree_2dep03>li>a:hover,.filetree_2dep02>li>a:active,.filetree_2dep02>li>a.selected{
    color:#000;font-weight:bold
}
.filetree_3dep03>li>a{
    background:url(../images/ico_file.png) no-repeat 35px 50%;
    display:block;
    height:32px;
    line-height:32px;
    padding:0 0 0 60px
}
.filetree_3dep03>li>a:hover,.filetree_3dep32>li>a:active,.filetree_3dep3>li>a.selected{
    color:#3b3b3b;font-weight:bold
}

.detailbox2 .summery{
    background: #fff29e !important;
}

.detailbox2 .summery > td{
    font-weight: bold;
}