.t_defalut, .t_defalut th, .t_defalut td,
.left_table, .right_table, .tr_table,
.before_file > p,
.table_contents,
.table_title_area > h4 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
textarea.noboder_type01 {
    border:none; min-height:150px; background-color: transparent; font-family: inherit;
}
.editable01{
    overflow: auto;
    width:100%; height:auto !important; /*max-height:200px*/ !important; margin:10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space:  normal;
}
/*달력 CSS*/
.ui-jqgrid-sortable {
    padding:8px 0;
    font-size:13px !important;
    font-weight:bold !important;
    color:#5b5b5b !important;
}
.ui-widget {font-family: '맑은고딕', 'Malgun Gothic' !important;}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family:'맑은고딕', 'Malgun Gothic' !important;
}
.table_area {width:100%; padding: 20px 0;}
.layer_contents .table_area {
    overflow: auto;
    height: calc(100% - 50px); height: -webkit-calc(100% - 120px); padding: 0;
}
.layer_contents .table_area + .table_title_area {margin:20px 0 0 0;}

.left_table, .right_table { width:50% !important;}

.left_table.width60p  { width:55% !important;}
.right_table.width40p { width:45% !important;}

.left_table  {float: left;  padding: 20px 10px 20px 0;}
.right_table {float: right; padding: 20px 0 20px 10px;}
/*트리 테이블 삽입 */
.tree_table  {width:280px !important; float: left; padding:20px 0 0 0;}
.tr_table    { padding: 20px 0 0 320px;}

.main_type00 {width:40%;  padding:20px 40px 20px 0;}
.main_type01 {width:40%;  padding:20px 40px 20px 0;}
.main_type02 {width:60%; }
.main_type03 {width:100%;}
.main_type04 {width:30%; padding:20px 20px 20px 0;}
.main_type05 {width:30%; padding:20px 0 20px 20px;}

/*테이블 스크롤*/
.t_scroll {
    width: calc(100% - 1px);
    /* left: 1px; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height:180px;
    border-width:0 1px 1px 1px;
    border-style:solid;
    border-color:#e4e4e4;
    box-shadow:         1px 2px 4px rgba(0,0,0,0.05);
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.05);
    -moz-box-shadow:    1px 2px 4px rgba(0,0,0,0.05);
    background-color: #fff;
}
.t_scroll .t_defalut {
    border-width:0;
    box-shadow:         1px 2px 4px rgba(0,0,0,0.0);
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.0);
    -moz-box-shadow:    1px 2px 4px rgba(0,0,0,0.0);
}
.t_height01 {height:182px;}

.table_contents {position:relative;  width:100%; }
.main_type05 > .table_contents {
    width: 100%;
    height: 214px;
    background-color: #fdfdfd;
    padding: 15px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #e4e4e4;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.05);
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.05);
    -moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.05);
}
.table_contents_hide {height:0; border-top:1px dotted #e4e4e4; }

/*테이블 타이틀 영역 */
.table_title_area {
    position: relative;
    width:100%;
    height:50px;
    display: table;

}

.table_title_area > h4 {
    padding:10px 0 0 0;
    border-width:0 0 0 0;
    border-style:solid;
    border-color: #e4e4e4;
}

.table_title_area > h4, .table_btn_set {
    display: table-cell;
    vertical-align: middle;
}

.main_area .table_title_area {
    height:40px;
    padding:0 15px;
    border-width:0 1px;
    border-style:solid;
    border-color: #e4e4e4;
    background-color: #8e8e8e;
}
.main_area .table_title_area > h4 {padding:0; border:0;}
.table_btn_set {text-align: right;}
.table_btn_set > select {width:120px;}

.m_ttable {
    position: absolute;
    right:40px;
    top:50%;
    margin:-37px 0 0 0;
    display: inline-block;
}
.m_ttable > p > span {width:70px; font-size:14px; padding:4px 0; display: inline-block; }
.m_ttable > p > span:first-child  { color:#4d4d4d;}
.m_ttable > p > span:last-child   { text-align:right; color:#b80000; }
/*테이블 기본
테이블 라인 색상 #e4e4e4
조회 리스트는 10개 한정 함
thead 기본 백그라운드 컬러 #787878

*/
.t_defalut {
    position:relative;
    width:100%;
    font-size:13px;
    letter-spacing:-1px;
    border-width:0 1px;
    border-style:solid;
    border-color:#e4e4e4;
    box-shadow:         1px 2px 4px rgba(0,0,0,0.05);
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.05);
    -moz-box-shadow:    1px 2px 4px rgba(0,0,0,0.05);

}
.t_defalut thead th, .t_defalut tbody td {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*
    transition:        all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition:   all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -webkit-transition:all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition:     all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -ms-transition:    all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);*/
}
.t_defalut th {background-color:#5093e1; color:#fff; font-weight:bold; font-size:12px;}
.t_defalut td {background-color:#fdfdfd; color:#4d4d4d;}
.t_defalut tbody td > span {
    font-weight:bold;
    font-weight: bold;
    vertical-align: middle;
    position: relative;
    padding: 0 10px 0 0;
}
.t_defalut th.point {background-color:#f37949; border: 1px solid #e05f2d;}
.t_defalut td.point input,
.t_defalut td.point select {border-color:#f37949;}
.t_defalut td.point > span {color:#f37949;}

/*테이블 타입01 .t_type01 */
.t_type01 tbody tr:hover td
    /*
    , .fchover
    td.fc-day:hover,
    .fc-content-skeleton thead td:hover,
    .fc-content-skeleton tbody td:hover
    */
{
    background-color: #cde6f7 !important;
    cursor: pointer;
}
.cursor_no tbody tr:hover td {cursor:default !important;}
.t_type01 thead th, .t_type01 tbody td {
    height: 36px;
    padding: 0 4px;
    font-size:14px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .t_type01 thead th, .t_type01 tbody td{height: 36px; padding: 0px 4px;}
}

.t_type01 th { }
.t_type01 tbody td {border-bottom: 1px solid #e4e4e4;  }
.t_type01 tbody tr:nth-child(even) td {background-color:#f8f8f8;}


/*테이블 타입02 .t_type02 */
.t_type02 {border-top: 1px solid #e4e4e4;}
.t_type02 th, .t_type02 td {
    height: 41px;
    padding:5px;

}
.t_type02 th {border: 1px solid #4583CC;}
.t_type02 td {border: 1px solid #e4e4e4;}

/*테이블 정렬 스타일*/
.t_style01 th, .t_style01 td {text-align:left;}
.t_style02 th, .t_style02 td {text-align:left;}
.main_area .t_style02 th, .main_area .t_style02 td {text-align:center;}
.t_style03 th {text-align:center;} .t_style03 td {text-align:left;}

.main_area table td {height:36px;}
/*테이블 리스트 페이징*/
.page {
    position:relative;
    width:100%;
    height:30px;
    margin:20px 0 0 0 ;
    text-align:center;
}
.paging {display:inline-block;}
.paging button {

    margin:0 5px 0 0;

    font-size:12px;

    float:left;
    padding:3px 8px;
    border:1px solid #c7ccd0;
    vertical-align:middle;
    cursor:pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.paging button.page_select,
.paging button:hover {border:1px solid #0e2c45;}

.paging button.pll {background-color:#f2f2f2 ; padding:3px 8px;}
.paging button.pl  {background-color:#f9f9f9 ; }

.mon_ico {
    position: relative;

    height:100%;
}
.ico_mon:before {content:"\f133";}
.ico_rev:before {content:"\f017";}
.mon_ico:before {
    position: relative;
    width: 100%;
    font-size: 14px;
    text-align: center;
    /* padding: 0px 5px 0 0; */
    top: 8px;
}

.point > td {background-color: #d5d5d5 !important; font-weight:bold !important;}
.point_td   {font-weight:bold; color:#f55e13 !important;}

.min_td td {min-width:105px;}
td.fplus {
    background-image: url(../images/ico/btn_file.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 0 10px 0 18px !important
}

.colorcode {width:80px; height:20px;}

.fc-day.fc-widget-content:hover{
    background-color: #bce8f1;
    opacity: .3;
}

a.fc-more {
    position: relative;
    z-index: 2;
}

.fc-day-number{
    position: relative;
    z-index: 2;
}

.colorbox {width: 20px; height: 20px; margin: auto;}

/* 이벤트 목록 테이블 */
.eventManagement_table {}
.eventManagement_table td button {font-weight:bold;}