<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icent.isaver.admin.dao.CodeDao">

    <!--
        코드 목록을 가져온다.
        @author dhj
    -->
    <select id="findListCode" parameterType="map" resultType="CodeBean">
        SELECT      a.group_code_id     as groupCodeId
                    ,a.code_id            as codeId
                    ,a.code_name         as codeName
                    ,a.code_desc         as codeDesc
                    ,a.use_yn             as useYn
                    ,a.sort_order        as sortOrder
                    ,a.insert_user_id    as insertUserId
                    ,a.insert_datetime   as insertDatetime
                    ,a.update_user_id    as updateUserId
                    ,a.update_datetime   as updateDatetime
                    ,(SELECT user_name FROM isaver.users b WHERE b.user_id = a.insert_user_id) as insertUserName
                    ,(SELECT user_name FROM isaver.users b WHERE b.user_id = a.update_user_id) as updateUserName
        FROM        isaver.code a
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="groupCodeId != null and groupCodeId != ''">
                AND     a.group_code_id = #{groupCodeId}
            </if>
            <if test="useYn != null">
                AND     a.use_yn=#{useYn}
            </if>
        </trim>
        ORDER BY    a.sort_order;
    </select>

    <!--
        코드를 등록한다.
        @author dhj
    -->
    <insert id="addCode" parameterType="map">
        INSERT INTO isaver.code(
            group_code_id
            ,code_id
            ,code_name
            ,use_yn
            ,insert_user_id
            ,insert_datetime
            ,code_desc
        <if test="sortOrder != null">
            ,sort_order
        </if>
        ) VALUES (
            #{groupCodeId}
            ,#{codeId}
            ,#{codeName}
            ,#{useYn}
            ,#{insertUserId}
            ,NOW()
            ,#{codeDesc}
        <if test="sortOrder != null">
            ,${sortOrder}
        </if>
        );
    </insert>

    <!--
        코드를 저장한다.
        @author dhj
    -->
    <update id="saveCode" parameterType="map">
        UPDATE      isaver.code
        <trim prefix="SET" prefixOverrides=",">
            ,code_name=#{codeName}
            ,use_yn=#{useYn}
            ,code_desc=#{codeDesc}
            <if test="sortOrder != null">
                ,sort_order=${sortOrder}
            </if>
            ,update_user_id=#{updateUserId}
            ,update_datetime=NOW()
        </trim>
        WHERE       group_code_id=#{groupCodeId}
        AND         code_id=#{codeId};
    </update>

    <!--
        코드를 제거한다.
        @author dhj
    -->
    <delete id="removeCode" parameterType="map">
        DELETE FROM isaver.code
        WHERE       group_code_id=#{groupCodeId}
        <if test="codeId != null">
          AND code_id=#{codeId}
        </if>
    </delete>

    <!--
        코드 목록을 가져온다. 라이센스용
        @author psb
    -->
    <select id="findListCodeDevice" resultType="CodeBean">
        SELECT      a.code_id as codeId
                    ,a.code_name as codeName
                    ,count(device_id) as deviceCnt
        FROM        isaver.code a
        LEFT OUTER JOIN isaver.device b
        ON	        a.code_id = b.device_code
        AND         b.del_yn = 'N'
        WHERE       a.group_code_id = 'DEV'
        AND         a.use_yn = 'Y'
        GROUP BY    a.code_id
        ORDER BY    a.sort_order;
    </select>
</mapper>
