<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icent.isaver.admin.dao.InoutConfigurationDao" >

    <!--
        진출입 환경설정 목록을 가져온다.
        @author psb
    -->
    <select id="findListInoutConfiguration" parameterType="map" resultType="InoutConfigurationBean">
        SELECT	area_id as areaId
                ,inout_starttime as inoutStarttime
                ,inout_endtime as inoutEndtime
        FROM	isaver.inout_configuration
        WHERE   user_id = #{userId}
        AND		area_id = #{areaId}
        ORDER BY inout_starttime
    </select>

    <!--
        구역별 진출입 환경설정 목록을 가져온다.
        @author psb
    -->
    <select id="findListInoutConfigurationForArea" parameterType="map" resultType="InoutConfigurationBean">
        SELECT  a.area_id as areaId
            ,CASE
                WHEN inout.startDatetime is null THEN (to_char(now(),'yyyy-mm-dd 00:00:00'))::timestamp
                ELSE inout.startDatetime
            END as startDatetime
            ,CASE
                WHEN inout.endDatetime is null THEN (to_char(now(),'yyyy-mm-dd 23:59:59'))::timestamp
                ELSE inout.endDatetime
            END as endDatetime
        FROM    isaver.area a
        LEFT OUTER JOIN(
            SELECT	area_id
                    ,(to_char(now(),'yyyy-mm-dd') || ' ' || inout_starttime)::timestamp as startDatetime
                    ,(to_char(now(),'yyyy-mm-dd') || ' ' || inout_endtime)::timestamp as endDatetime
            FROM	isaver.inout_configuration
            WHERE   user_id = #{userId}
            AND		to_char(now(),'hh24:mi:ss') between inout_starttime and inout_endtime
        ) inout
        ON      a.area_id = inout.area_id
        WHERE	a.area_id in
        <foreach collection="areaIds" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>


    <!--
        진출입환경설정을 등록한다.
        @author psb
    -->
    <insert id="addInoutConfiguration" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            insert into isaver.inout_configuration(
                config_id
                ,user_id
                ,area_id
                ,inout_starttime
                ,inout_endtime
                ,insert_user_id
                ,insert_datetime
            ) values (
                #{item.configId}
                ,#{item.userId}
                ,#{item.areaId}
                ,#{item.inoutStarttime}
                ,#{item.inoutEndtime}
                ,#{item.insertUserId}
                ,now()
            )
        </foreach>
    </insert>

    <!--
        진출입환경설정을 제거한다.
        @author psb
    -->
    <delete id="removeInoutConfigurationFromArea" parameterType="map" >
        delete from isaver.inout_configuration
        WHERE user_id =#{userId}
        AND    area_id =#{areaId}
    </delete>
</mapper>