<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icent.isaver.admin.dao.TargetDao" >

    <!--
      고객사 상세를 가져온다.
      @author psb
    -->
    <select id="findByTarget" resultType="TargetBean" parameterType="map" >
        select target_id as targetId
                , target_name as targetName
        from    isaver.target
    </select>

    <!--
      고객사를 저장한다.
      @author psb
    -->
    <update id="saveTarget" parameterType="map" >
        update isaver.target
        set   target_id = #{targetId,jdbcType=VARCHAR}
            , target_name = #{targetName,jdbcType=VARCHAR}
    </update>
</mapper>