@charset "UTF-8";
/*
 @at-root {.class { } } 존속받지 않고 root에 위치
 */
/*
일반, 주의, 경고, 위험 색상단계 정의

일반 :
주의 : 회색  $color-gray-03    level-caution
경고 : 주황  $color-orange-01  level-warning
위험 : 빨강  $color-red-01     level-danger
*/
body {
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flexbox;
  display: box;
  -webkit-box-orient: column;
  -webkit-box-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3c3c3c; }
  body ::-webkit-scrollbar, body ::-webkit-scrollbar-corner {
    height: 8px;
    width: 8px;
    background-color: #f5f5f5; }
  body ::-webkit-scrollbar-thumb {
    background-color: #3c3c3c;
    border-style: solid;
    border-width: 2px;
    border-color: whitesmoke; }
    body ::-webkit-scrollbar-thumb:hover {
      background-color: #4c4c4c; }
  body ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4); }
  body ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.4); }
  body :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.4); }
  body :-moz-placeholder {
    color: rgba(255, 255, 255, 0.4); }

header, article {
  height: 100%; }

header {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flexbox;
  display: box;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 60px;
  min-height: 150px;
  max-height: 150px;
  color: #fff; }
  header:before {
    content: url("../images/logo/icent_isaver_w.svg");
    width: 340px; }
  header:after {
    content: "DashBoard Simulator";
    font-size: 2.8rem;
    text-transform: uppercase; }

article {
  overflow: auto;
  padding: 50px 390px 50px 0; }

aside {
  overflow: auto;
  position: fixed;
  top: 150px;
  right: 50px;
  bottom: 20px;
  width: 340px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: #000;
  color: #fff;
  opacity: 0.5; }

button {
  width: 90px;
  height: 90px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flexbox;
  display: box;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0.7; }
  button:hover {
    opacity: 1; }
  button, button:after {
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    border-radius: 500px;
    -khtml-border-radius: 500px; }

.level-caution, .level-warning, .level-danger, .level-start {
  margin: 0 32px 0 0; }
  .level-caution:before, .level-warning:before, .level-danger:before, .level-start:before {
    color: #fff; }
  .level-caution.on, .level-warning.on, .level-danger.on, .level-start.on {
    animation-name: issue01;
    -webkit-animation-name: issue01;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    opacity: 1; }
@-webkit-keyframes issue01 {
  0% {
    opacity: 0.2; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes issue {
  0% {
    opacity: 0.2; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }
    .level-caution.on:after, .level-warning.on:after, .level-danger.on:after, .level-start.on:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-style: solid;
      border-width: 3px; }
.level-caution {
  background-color: #999; }
  .level-caution:before {
    content: "주의"; }
  .level-caution.on:after {
    animation-name: issue02;
    -webkit-animation-name: issue02;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    border-color: #999; }
@-webkit-keyframes issue02 {
  0% {
    width: 100%;
    height: 100%; }
  90% {
    width: 160%;
    height: 160%; }
  100% {
    opacity: 0; } }
@keyframes issue02 {
  0% {
    width: 100%;
    height: 100%; }
  90% {
    width: 160%;
    height: 160%; }
  100% {
    opacity: 0; } }
.level-warning {
  background-color: #ff8400; }
  .level-warning:before {
    content: "경고"; }
  .level-warning.on:after {
    animation-name: issue02;
    -webkit-animation-name: issue02;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    border-color: #ff8400; }
@-webkit-keyframes issue02 {
  0% {
    width: 100%;
    height: 100%; }
  90% {
    width: 160%;
    height: 160%; }
  100% {
    opacity: 0; } }
@keyframes issue02 {
  0% {
    width: 100%;
    height: 100%; }
  90% {
    width: 160%;
    height: 160%; }
  100% {
    opacity: 0; } }
.level-danger, .level-start {
  background-color: #be1e1e; }
  .level-danger.on:after, .level-start.on:after {
    animation-name: issue02;
    -webkit-animation-name: issue02;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    border-color: #be1e1e; }
@-webkit-keyframes issue02 {
  0% {
    width: 100%;
    height: 100%; }
  90% {
    width: 160%;
    height: 160%; }
  100% {
    opacity: 0; } }
@keyframes issue02 {
  0% {
    width: 100%;
    height: 100%; }
  90% {
    width: 160%;
    height: 160%; }
  100% {
    opacity: 0; } }
.level-danger:before {
  content: "위험"; }
.level-start:before {
  content: "START"; }

.reset {
  background-color: #fff; }
  .reset:before {
    content: "STOP"; }

select, input {
  float: left;
  height: 50px;
  padding: 0 40px 0 20px;
  margin: 0 5px 5px 0;
  color: #fff;
  border-color: #000;
  background-color: #3c3c3c; }

select {
  background-position: calc(100% - 12px) 50%;
  background-image: url(../images/logo/select_allow_w.svg); }

article section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flexbox;
  display: box;
  padding: 0 60px;
  padding-bottom: 50px; }
  article section .set {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flexbox;
    display: box;
    box-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0 80px 100px; }
  article section .button_set {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flexbox;
    display: box;
    box-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  article section .select_set {
    width: 500px;
    margin: 0 100px 0 0; }
    article section .select_set select {
      width: calc(50% - 5px); }
    article section .select_set input {
      width: calc(100% - 5px); }
article h2, article p {
  color: #fff; }
article h2 {
  width: 250px;
  min-width: 250px;
  font-size: 3rem; }
  article h2:before {
    content: "";
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000; }
article p {
  font-size: 1.2rem;
  padding: 0 0 10px 0; }

/*# sourceMappingURL=gs.css.map */
