@charset "utf-8";  @import "filters";  @import "schoolfilters";

/////..... 데시보드 입력폼 스타일 시작
body.dashboard_mode {
  @include webkit_scroll_dashboard; @include dashboard-bg;

  .sub_title_area {
    @include flex-option(1, 0, $headerHeight); @include mmheight($headerHeight);
    padding: 0 0 0 ($admin-margin) / 2;
    //background-color: rgba($color-dark-01, 0.05);
    &.hide {margin-top: -75px;}
  }

}
/////..... 데시보드 입력폼 스타일 끝


@mixin notice-common-01 {
  &:before, &:after {content:""; position: absolute;  }
  &:before {z-index: -2; width:100%; height:100%;}
  &:after {z-index: -1;}
} // @include notice-common-01;





/////..... 구역 표시 영역
.watch_area {

  @include flexbase; @include flex-row-wrap;
  @include flex-option(0, 1, 100%); position: relative; width:100%; height:100%;
  &:before {@include bbl(12,0,0,auto,0,100%,1px,$color-bline);}

  & > div {

    @include flexbase; @include flex-column; width:100%;
    overflow: hidden; position: relative; background-color: transparent !important;

    &:before {@include bbl(1,0,0,0,auto,1px,100%,$color-bline);}
    &:after  {@include bbl(1,auto,0,0,0,100%,1px,$color-bline);}

    &.on {
      & > article {opacity: 0;}
      .device_popup {right:0;}
    }

    & > header, & > article { overflow: hidden; position: relative; width:100%; @include transition(200ms);}

    & > header {
      @include flex-justify-content-start;
      @include mmheight($headerHeight - 10px); @include flex-option(1, 0, ($headerHeight - 10px));
      background-color: rgba(0,0,0,0.06); padding:0 0 0 $m_lr;

      &:after  {@include bbl(1,auto,0,0,0,100%,1px,$color-bline);}

      h3 {
        @include text-overflow-ellipsis;
        letter-spacing:0; font-size:1rem !important; margin: -3px auto 0 0; padding:0 5px 0 0;
      }

      &.wid > h3:hover {
        font-size:1.1rem; line-height: 1.3rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height:100%; white-space: normal;
        padding: 10px 0;
      }

      ///// ----------------- 설치센서   START
      .in_sensor {
        @include flexbase; @include flex-align-items-center;
        position: relative; right:-5px; height:30px; margin:0 0 0 auto;
        @include border-radius(200px); background-color: rgba(0,0,0,0.3);
        color:$color-white-01;

        & > div {
          width:100%; max-width:110px; @include text-overflow-ellipsis; padding:0 10px;
          span:before {font-size:1.2rem; }
        }

      }
      ///// ----------------- 설치센서   End

      button {
        min-width: ($headerHeight); height:($headerHeight - 10px);
        &:before, &:after {@include transition(200ms); font-size:1.4rem;}
        &.one-screen:before   {content:"\e90a";}
        &.area:before   {content:"\e91b";}
        &.device:before {content:"\e935"; }
        &.ioset:before, &.date_select:before  {content:"\e909"; }
        &.chart_select:before {content:"\e908";  }
        &.on {background-color: $color-on;}
        &:hover:before, &:hover:after {color:$color-ho;}

        &.device_view {order: 10; &:before {content:"\e92f";} }

        &.screen_view { &:before {content:"\e90a";} }


        &.level-die {
          /*@mixin notice-die {
            animation-name: notice-die;
            -webkit-animation-name: notice-die;
            @include infinite;

            -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;

            @-webkit-keyframes notice-die {
              0%   { color:#000; }
              10%  { color:$color-yellow-01; }
              40%  { color:$color-yellow-01; }
              100% { color:#000 }
            }
            @keyframes notice-die {
              0%   { color:#000; }
              10%  { color:$color-yellow-01; }
              40%  { color:$color-yellow-01; }
              100% { color:#000 }
            }
          } // ex) @include notice-die;*/

          &:after {@include die02;}
          //&:before {@include  notice-die;}
        }
      }

    }

    & > article {
      @include flex-option(0, 1, 100%); @include flexbase;
      & > section {
        overflow: visible; @include flex-midddle; @include flex-option(0, 1, 100%); width:100%; height:100%;
        &, & > div {position: relative;}
        & > * {@include flexbase;}
      }
    }
  }

  //// 구역개수에 따른 레이아웃 변동
  /*
  #1 .area01
  w:100%, h:100%
  #2 .area02
  W:50%, h:100%
  #3 .area04
  w:50%, h:50%
  #4 .area06
  W:100/3, h:50%
  #5 .arewa8
  w:25%, h:50%
  #6 .area09
  w:100/3, h:100/3

  #7 .area12
  w:25%, h:100/3
  #8 .area16
  w:25%, h:25%

  w:100% - .area01
  w:50% - .area02, .area04
  w:100/3 - .area06, .area09
  w:25% - .area08, .area12, .area16

  h:100% - .area01, .area02
  h:50% - .area04, .area06, .area08
  h:100/3 - .area09, .area12
  h:25% - .area16

  */


  // 넓이
  &.area01 { & > div {width:100%; &:before {display: none;} } }
  &.area02, &.area04 { & > div {width:50%;} }
  &.area06, &.area09, &.area12 { & > div {width:calc(100% / 3);} }
  &.area08, &.area16, &.area00 { & > div {width:25%;} }
  &.area02.warea02{ & > div {width:100%;}}

  //높이
  &.area01, &.area02 { & > div {height:100%;} }
  &.area02.warea02{ & > div {height:50%;}}
  &.area04, &.area06, &.area08 { & > div {min-height:50%; max-height:50%; height:50%;} }
  &.area09 { & > div {height:calc(100% / 3);} }
  &.area12, &.area16, &.area00 { & > div {min-height:25%; height:calc(100% / 3);} }

  &.area01 {
    .blinker_set {
      width:80%;
      .s_lbox.inout {
        @include flex-width-one(4); max-width:none;
        & > div {
          &:before {font-size:$se_bsize;}
          & > p {font-size:($bs_bsize * 2); letter-spacing: -0.2rem;}
          & > div > p { font-size:($bs_psize * 2); line-height:($bs_psize + 0.4rem); }
        }
      }
      .s_rbox .inout {

        h3 {font-size: 1rem; letter-spacing: -0.1rem; }
        & > div {
          & > p {font-size:$bs_psize; line-height:2.8rem; }
          & > div > p { font-size: ($bs_psize / 2); line-height:1.2rem;}
        }
      }

    }
  }
  .s_rbox .inout.current_view{
    padding:0 15px;
    h3 {display: block; font-size: 1.5rem; letter-spacing: -0.1rem; color:#ffffff !important;
    }
    & > div {
      &:before {display: none;}
      & > p {font-size:5rem; line-height:(5rem + 0.2rem); }
      & > div > p {
        font-size: (5rem / 2); line-height:1.2rem;
        &:after {top:1px;}
        &:nth-of-type(2) {top:-4px;}
      }
    }
  }

  &.area01,&.area04 { .entrance_ico:after {padding:8%;} }
  &.area02 {
    .treffic_set {@include scale(0.7);}
    .safeeye_set .s_lbox {@include scale(0.9);}
  }

  &.area01,&.area02 {
    .entrance_ico:after {min-width:300px; min-height:300px;}
  }
  &.area02, &.area04 {
    .kinout {
      .out {font-size:($ks_bsize - 4rem); letter-spacing: 0;}
      .title {
        em:first-of-type {font-size:($ks_ssize - 2rem); padding:50px 0 10px 0;}
        em:last-of-type  {font-size:($ks_ssize);}
      }
    }
  }
  &.area04 {
    .treffic_set {@include scale(0.6);}
    .safeeye_set .s_lbox {@include scale(0.7);}
    .s_lbox.inout  {@include scale(0.7);}

    .entrance_set {
      canvas {}
      .s_rbox {
        .entrance_ico {@include scale(0.6);}
        .c_time {
          p {@include scale(0.7);}
          button {@include transform-st(1, 0, -20px); }
        }
      }
    }

  }

  &.area06, &.area09 {
    .treffic_set {@include scale(0.5);}
  }

  &.area08, &.area12, &.area16, &.area00 {
    .treffic_set {@include scale(0.4);}
  }

  &.area06, &.area09, &.area08, &.area12, &.area00 {
    .blinker_set {
      .s_lbox.inout {
        @include flex-width-one(2);
        h3 + div:before { font-size:($se_bsize / 2); line-height:6rem; }
        & > div {
          & > p {font-size:($bs_bsize_ss);  letter-spacing: -0.2rem; }
          & > div > p { font-size:$bs_psize_ss; line-height:($bs_psize_ss + 0.1rem);}
        }
      }

      .s_rbox .inout {
        h3 {font-size:1rem; letter-spacing: -0.1rem;}
        & > div {
          & > p {font-size:2.2rem; line-height:3rem; letter-spacing: -0.2rem;}
          & > div > p { font-size:1rem; line-height:1.4rem;}
        }
      }
    }
    .safeeye_set .s_lbox {@include scale(0.55);}

    .entrance_set {
      canvas {width:70%;}
      h3 {@include scale(0.9);}
      .entrance_ico {@include transform-st(0.6, 0, 10px); }
      .c_time {
        p {@include transform-st(0.7, 0, 10px); }
        button {@include transform-st(1, 0, -10px); }
      }
    }
  }

  &.area09, &.area12, &.area16, &.area00  {
    .entrance_set {

      h3 {@include scale(0.7);}
      .entrance_ico {@include scale(0.4);}
      .c_time {
        @include scale(0.9);

        p {@include transform-st(0.4, 0, 20px); }
        button { @include transform-st(.9, 0, -40px);}
      }
    }
  }

  &.area12, &.area16, &.area00 { .m_marqueebox {display: none !important;} }

  &.area02 { .guard_set .s_rbox ul li {min-height:200px; max-height:200px;} }
  &.area04, &.area06 { .guard_set .s_rbox ul li {min-width: 200px; max-width: 200px;} }
  &.area08 { .guard_set .s_rbox ul li {min-height:100px; max-height:100px;} }

}

/*
.watch_area.area04 div:nth-of-type(2):before,.watch_area.area04 div:nth-of-type(4):before{background:none;}
.watch_area.area06 div:nth-of-type(3):before,.watch_area.area06 div:nth-of-type(6):before{background:none;}
.watch_area.area08 div:nth-of-type(3):before,.watch_area.area08 div:nth-of-type(6):before{background:none;}
.watch_area.area09 div:nth-of-type(3):before,.watch_area.area09 div:nth-of-type(6):before,.watch_area.area09 div:nth-of-type(9):before{background:none;}
*/


/////..... .watch_area > div > article > * >  좌 / 우
.s_lbox {@include flex-width-one(2); overflow: visible; height:100%; order:1;
  h4{position: absolute; color:#ffffff ; top:10px; left:10px;}
}
.s_rbox {
  @include flex-align-items-center; @include flex-width-one(1); order:2;
  overflow-y: auto; overflow-x: hidden !important; position: relative;
  right:0; height:100%; min-width:150px; padding: 0 $m_lr 0 0;


  & > * {
    position: absolute; left:0; right:0; max-height:100%;
    li {
      @include flexbase; @include flex-align-items-center; position: relative;
      margin:0 0 15px 0; padding:0 8px;
      &:last-of-type {margin:0;}
    }
  }

  &.marquee_box {
    overflow: hidden;
    & > * { max-height:none !important;}
  }
  &.marquee_h:hover {overflow: auto;}
}
/////..... .watch_area > div > article > * >


/////.....신호등 상태 아이콘 일반, 경고, 감지 정의 section Start
$treffic_b:10%; // 신호등 before 크기
$treffic_s:20%;
$treffic_c:40%;
$treffic_w:32%;
@mixin trefficwidth($width) {top:$width; right:$width; bottom:$width; left:$width;} // @include trefficwidth($width);
.treffic_set {

  /*
  <section class="treffic_set">
    <div class="s_lbox">
      <div class="treffic">
          <div class="ts-caution"><p></p></div>
          <div class="ts-warning"><p></p></div>
          <div class="ts-danger "><p></p></div>
        </div>
      </div>
    <div class="device_box"></div>
  </section>
  */

  .s_lbox, .treffic, .treffic * {@include flex-midddle;}
}

.treffic {
  position: relative; width:100%;  max-width:1000px;
  & > div {
    position: relative; @include flex-option(0, 1, (100% / 3)); padding:(100% / 6) 0; font-size:30px;


    &, &:before, &:after, p {@include border-radius(1000px); @include transition(200ms);}
    &:before, &:after {content:""; position: absolute; }
    &:before {@include mhwidth(90%);}
    &:after {border-style:solid;}
    &:before, p {@include box-shadow01(0px, 15px, 15px, -10px, #000, 0.5);}
    &:after,  p {@include mhwidth(68%); }

    &.ts {
      &-caution{
        &:before {background-color: rgba($color-caution,1); }
        &:after  {border-color:rgba($color-caution, 1);}
        p {color:$color-caution;}
      }   // &-caution 주의
      &-warning{

        &:before {background-color: rgba($color-warning,1); }
        &:after  {border-color:rgba($color-warning,1);}
        p {color:$color-warning;}
      }  // &-warning 경고
      &-danger {

        &:before {background-color: rgba($color-danger,1);  }
        &:after  {border-color:rgba($color-danger,1);}
        p {color:$color-danger;}
      }  // &-danger  위험
    }

    p {position: absolute; z-index: 5; font-size:5rem; background-color: rgba($color-white-01,1);}

  }
}

.level {
  &-caution { .ts-caution { & {@include notice-scale-01;} p {@include notice-opacity;} &:after  {@include notice-border;} } }
  &-warning { .ts-warning { & {@include notice-scale-01;} p {@include notice-opacity;} &:after  {@include notice-border;} } }
  &-danger  { .ts-danger  { & {@include notice-scale-01;} p {@include notice-opacity;} &:after  {@include notice-border;} } }
}

/////.....  신호등 상태 아이콘 일반, 경고, 감지 정의 section End


/////..... 진출입 section Start
.blinker_set {
  min-height:65px;
  .s_lbox {@include flex-midddle;}
  .s_rbox {
    max-width:250px;
    & > ul {opacity: 0.6; li {@include flex-row-wrap;} }
  }
}
.inout {
  /*
  <div class="inout ">
      <h3>구역명 삽입</h3>
      <div>
          <p>54</p>
          <div>
              <p>121</p>
              <p>67</p>
          </div>
      </div>
  </div>
  */

  @include flex-justify-content-center; height:auto;
  h3 {
    display: none; float:left; width:100%; padding:0 0 2px 0;
    font-size:$bs_hsize; letter-spacing: -0.3rem;
    @include text-overflow-ellipsis;
    @include border01(0 0 1px 0,#000,1 );
  }

  & > div {
    @include flexbase; @include flex-align-items-center; @include flex-justify-content-between;
    @include flex-row-wrap;
    width:100%; max-width:900px; background-color: transparent !important;

    &:before  {
      content:"\e944"; font-size:14rem; text-align: center; width:100%; @include border01( 0 0 1px 0,#000,1 );
      @include text-shadow(0, 20px, 40px, #000, 0.5);
    }
    & > p {font-size:$bs_bsize; line-height:-($bs_bsize - 1rem); letter-spacing: -0.2rem;}
    & > div {
      font-weight:bold; text-align:right;
      & > p {
        position: relative; font-size:$bs_psize; line-height:$bs_psize; font-weight:bold;
        &:after {position: relative; top:2px; font-weight:normal; padding:0 0 0 15px;}
        &:nth-of-type(1) {&:after {content:"\e922"; right:1px;} }
        &:nth-of-type(2) {&:after {content:"\e923"; } opacity: 0.7;}
      }
    }
  }

  .s_rbox & {
    padding:0 15px;
    h3 {display: block; font-size: 1rem; letter-spacing: -0.1rem; }
    & > div {
      &:before {display: none;}
      & > p {font-size:$bs_psize; line-height:($bs_psize + 0.2rem); }
      & > div > p {
        font-size: ($bs_psize / 2); line-height:1.2rem;
        &:after {top:1px;}
        &:nth-of-type(2) {top:-4px;}
      }
    }
  }

  .s_rbox .inout.current_view {
    padding:0 15px;
    h3 {display: block; font-size: 1.5rem; letter-spacing: -0.1rem; color:#ffffff !important;
    }
    & > div {
      &:before {display: none;}
      & > p {font-size:5rem; line-height:(5rem + 0.2rem); }
      & > div > p {
        font-size: (5rem / 2); line-height:1.2rem;
        &:after {top:1px;}
        &:nth-of-type(2) {top:-4px;}
      }
    }
  }

}


/////..... 진출입 section End
//.marquee_h ul { @include marquee_h; cursor:pointer;}


/////..... safeeye section Start
.safeeye_set {
  .s_lbox {
    overflow: hidden;
    &, &:before, &:after {@include flex-midddle; }
    &:before, &:after {position: absolute; @include border-radius(500px); @include mhwidth(300px);}
    &:before {
      z-index: 1; font-size:20rem; @include text-shadow(0, 20px, 40px, #000, 0.5);
    }
    &:after {content:"";  border-style:solid; }
  }
  .s_rbox {}
  li {
    //@include flex-justify-content-between;
    position: relative; font-size:$se_fsize; opacity: 0.7;
    &:before {
      font-size:($se_fsize + 0.7rem); color:$color-white-01 !important; padding:8px; margin:0 20px 0 0;
      background-color: rgba(0,0,0,0.4); @include border-radius(200px);

    }
    &:after  {content:"OFF"; font-weight:bold; color:$color-gray-03;}

    &.on {
      opacity: 1;
      &:before {background-color:$color-red-01;}
      &:after  {content:"ON"; letter-spacing: 0.08rem; color:$color-red-01; }
    }
  }
}

.level {

  &-caution, &-warning, &-danger {
    .safeeye_set .s_lbox { &:before {@include notice-opacity; } }
  }

  &-caution {
    .safeeye_set .s_lbox {color:$color-caution; &:after {border-color:$color-caution; @include notice-border;} }
  } // .level-caution 주의

  &-warning {
    .safeeye_set .s_lbox {color:$color-warning; &:after {border-color:$color-warning; @include notice-border;} }
  } // .level-warning 경고

  &-danger  {
    .safeeye_set .s_lbox {color:$color-danger; &:after {border-color:$color-danger; @include notice-border;} }
  } // .level-danger  위험

  &-die  {
    .safeeye_set .s_lbox {
      color:$color-gray-03;  opacity: 0.4 !important;
      &:after {display: none !important;}
      &:before {content:"\e90f";}
    }
  } // .level-danger  위험

}
/////..... safeeye section End

/////..... NHR section Start
.detector_set {

  .s_lbox:hover .chart_select_set {top:0;}

  .detector_set li {
    &.ts, &.level {
      &-caution { &:after, &:before {background-color: rgba($color-caution,1) !important;  } }    // &-caution 주의
      &-warning { &:after, &:before {background-color: rgba($color-warning,1) !important;} }    // &-warning 경고
      &-danger  { &:after, &:before {background-color: rgba($color-danger,1) !important;   } }    // &-danger  위험
      &-die     {@include notice-scale-01; opacity: 0.2; }    // &-die  위험

      &-caution, &-warning, &-danger {
        color:$color-white-01; opacity: 1;
        &:after {border:none !important;}
        &:before {
          //@include border(0 2px 2px 2px, $color-white-01 $color-white-01 $color-white-01 transparent);
        }
      }
    }
  } // 디바이스 보기 팝업으로 해당 레이어 삭제. 사용안함

}
/////..... NHR section End


/////..... Guard section Start
.guard_set {
  $watchpadding:115px;

  .s_lbox, .s_rbox {height:100%; /*background-color: $color-bas;*/  @include transition(200ms);}

  .s_lbox { order:1; @include flex-width-one(1);  }
  .s_rbox { order:2; @include flex-option(0, 1, auto); min-width:auto;  @include flex-align-items-start; }
  .device_box {order:3;}


  .s_lbox {
    @include flex-midddle; overflow: hidden;

    .gm-style {
      &-pbc { opacity: 1 !important; & + div * {box-shadow: none !important;} }
      iframe + div, .gmnoprint {display: none !important;}
    }

  }

  .s_rbox {
    right:0; background-color: #000;
    &, & * {margin:0; padding:0;}
    &:before {display: none;}
    &.on {@include mmwidth(350px);}
    & > ul {
      @include flexbase; @include flex-column; position: relative; height: 100%;
      li {
        overflow: hidden; position: relative; width:0; background-color: transparent !important; order:4;

        @include transition(200ms);

        &:before {@include bbl(1,auto,0,0,0,100%,1px,$color-bline);}

        & > span {
          @include flexbase; @include flex-align-items-center;
          position: absolute; z-index: 10; top:0; left:0; height:26px; padding:0 15px 0 35px;
          background-color: rgba(0,0,0,0.7); opacity: 0.8;
          &:before {content:"\e964"; position: absolute;  left:0; padding:0 0 0 7px; font-size:1.2rem;}
        }

        & > div {
          position: relative; @include flex-midddle;
          &, &:before {width:100%; height:100%;}
          &:before {content:""; position: absolute; z-index: 1; top:0; left:0; }

          & > video {width: 100%; height:100%;}
        }

        /////..... 임계치 적용 표시 Start
        &.level {
          &-caution,&-warning,&-danger,&-die {
            $camerawidth:370px;
            width:$camerawidth; max-width:$camerawidth; min-width:$camerawidth; height:25%; min-height:25%; max-height:25%;
            & > div:before {border-style:solid; border-width:4px; @include notice-opacity;}
          }

          &-die {
            opacity: 0.3;
            & > div:after {content:"\e90f"; font-size:3rem; position: absolute; z-index: -1;}
            span {background-color:$color-gray-05;}
          }

          &-caution {order:3; & > div:before {border-color:$color-caution;  } span {background-color:$color-caution;}    }
          &-warning {order:2; & > div:before {border-color:$color-warning;  } span {background-color:$color-warning;}    }
          &-danger  {order:1; & > div:before {border-color:$color-danger;   } span {background-color:$color-danger;}     }
        }
        /////..... 임계치 적용 표시 End
      }
    }
  }

  &.bas {}

  &.big {
    .s_rbox {
      @include flex-option(0, 1, 100%);
      & > ul {

        @include flex-column-none; @include flex-row-wrap;
        width:100%;

        $biglisize:50%;

        li {
          width:50%; max-width:$biglisize; min-width:$biglisize;
          height:$biglisize; min-height:$biglisize; max-height:$biglisize;
          @include bbl(12,0,auto,auto,0,1px,100%,$color-bas);
        }

      }
    }
  }

  &.sma { .s_rbox {@include flex-option(0, 0, 0);} }

  .device_box {
    &:before {@include bbl(1,0,auto,0,0,1px,100%,$color-bline);}
    position: relative !important; @include mmwidth(0); padding:0;
    &.on {@include mmwidth($ds-w + 10px); padding:5px 5px 5px 5px;}

    .device_set {@include mmwidth($ds-w);overflow-y:auto;height:100%;}
  }
}

.vxgplayer-loader {margin:-25px 0 0 -25px !important;}
.vxgplayer-error  {margin:-60px 0 0 0 !important;}
/////.......................................... Guard End


/////..... entrance section Start 재실감시
.entrance_set {

  & > * {@include transition(200ms); overflow: hidden !important;}

  .ir_btn {
    overflow:hidden; position: absolute !important; z-index: 10; bottom:0; left:0;
    @include length03; @include action_boxbtn;

    &:before {content:"IR";  background-color:$color-bline; opacity: 0.5;}
    &.on ~ .s_lbox {@include flex-width-one(2);}
  }

  .s_lbox {
    @include flex-width-one(0); @include flex-align-items-center;
    @include flex-justify-content-center; background-color: #000;
    canvas {width:100%; height:100%;}
  }
  .s_rbox {
    @include flex-column; @include flex-justify-content-center; padding:0;

    @include notice-common-01;

    & > * {@include flex-midddle; position: relative !important; width:100%; max-height: none;}

    h3 {
      order:1; width:auto; font-size:2rem !important; font-weight:bold; opacity: 0.7; padding-bottom:20px;
      &:before {
        @include bbl(1,auto,auto,-6px,auto,30px,5px,rgba($color-white-01,0.7));
        @include border-radius(500px);
      }
    }

    .entrance_ico {
      @include flex-width-one(1.5); order:2; max-height:45%;

      &:before, &:after {@include flex-midddle; @include border-radius(1000px); @include transition(400ms);}
      &:before {content:"\e975"; font-size:16rem; opacity: 0.5; @include text-shadow(0, 0, 15px, #000, .5);}
      //&:after {content:""; position: absolute; min-width:130px; min-height:130px; }


      &.ico-ex01:before {content:"\e969";}
      &.ico-ex02:before {content:"\e904";}

      &.enter:before {content:"\e932"; opacity: 1;}
      &.sign:before  {content:"\e93d";}
      &.fall:before  {content:"\e94f";}

      &.enter, &.sign , &.fall { & ~ .c_time {@include flex-width-one(1); max-height:35%;} }
    }

    .c_time {
      @include flex-width-one(1); order:3; overflow: hidden; @include flex-column; max-height:0;
      p {font-size:5rem;}
      button {
        @include btn-box; @include box-shadow01(0px, 15px, 15px, -15px, #000, 0.5); margin:10px 0 20px 0;
        &:before {content:"Reset"; font-size:.9rem !important;}
      }
    }
  }
}

.level-danger, .level-warning, .level-caution {
  .entrance_set .s_rbox:before {@include notice-opacity;}
  .entrance_ico {
    &.enter, &.sign, &.fall {
      &:before {@include notice-opacity;}
      //&:after  {@include notice-border; border-style:solid; }
    }
  }
}

.level-danger {

  .entrance_ico {
    &.enter, &.sign, &.fall {
      & ~ .c_time > p, &:before, & ~ h3 {color: $color-danger;}
      &:after {border-color:$color-danger;}
    }
  }
}

.level-warning {

  .entrance_ico {
    &.enter, &.sign, &.fall {
      & ~ .c_time > p, &:before, & ~ h3 {color: $color-warning;}
      &:after {border-color:$color-warning;}
    }
  }
}

.level-caution {

  .entrance_ico {
    &.enter, &.sign, &.fall {
      & ~ .c_time > p, &:before, & ~ h3 {color: $color-caution;}
      &:after {border-color:$color-caution;}
    }
  }
}
/////..... entrance section End


/////..... device section Start
$ds-sw:50px; // 스크린설정 가로 넓이
.device_box ,.screen_box {
  @include flexbase; @include flex-align-items-start; @include transition(200ms);
  @include flex-option(0, 0, 0); width:0; height:100%;
  //background-color: rgba(0,0,0,0.4);
  //&:before {@include bbl(12,0,auto,0,0,1px,100%,$color-bline);}
}

.device_box {
  overflow: hidden; position: absolute !important; z-index: 2;
  width:$ds-w; order:4; padding:5px; right:-($ds-w * 2);
  &.on {right:0;}
}
.screen_box {
  position: relative;  order:3; overflow-y: auto; overflow-x: hidden;
  &.on {@include flex-option(0, 1, 40px);  width:40px; }
}

// 디바이스 상태 보기
.device_set {
  /*
  <div class="device_set">
    <div class="ico-? level-?">
      <p>디바이스아이디 or 이름</p>
    </div>
  </div>
   */

  @include flexbase; @include flex-column; @include flex-width-one(1);
  overflow: hidden; position: relative; width:100%; max-height: 100%;
  //padding: 15px 15px 15px 0; margin: 0 0 0 50px;

  & > * {
    order:10; opacity: 0.8; cursor: pointer; padding:0 5px;
    @include flexbase; @include flex-justify-content-center; @include flex-column;
    position: relative; min-height:$ds-sw; margin: 0 0 5px 0;
    background-color: transparent !important;

    &:before {
      content:""; @include flexbase; @include flex-align-items-center;
      position: absolute; z-index:-1; top:0; left:0; width:100%; height:100%;
      background-color: $color-gray-08; @include border01(1px,$color-bline,1 );
      padding:10px; font-size:1.6rem; color:$color-white-01;
      @include box-shadow01(0px, 15px, 10px, -15px, #000, 0.5);
    }
    &:hover:before  {background-color: $color-ho !important;}
    &:active:before {background-color: $color-ac !important;}
    &.on:before     {border-color:$color-on; border-width:3px; opacity: 1; }

    & > * {width:100%; }

    @mixin recording-ani {
      animation-name: recording-ani;
      -webkit-animation-name: recording-ani;

      @include infinite; @include duration(1.2s);

      @-webkit-keyframes recording-ani {
        0%   { background-color: rgba($color-red-01,0); border-width:4px;}
        30%  { background-color: rgba($color-red-01,1); border-width:2px;}
        70%  { background-color: rgba($color-red-01,1); border-width:2px;}
        100% { background-color: rgba($color-red-01,0); border-width:4px;}
      }
      @keyframes recording-ani {
        0%   { background-color: rgba($color-red-01,0); border-width:4px;}
        30%  { background-color: rgba($color-red-01,1); border-width:2px;}
        70%  { background-color: rgba($color-red-01,1); border-width:2px;}
        100% { background-color: rgba($color-red-01,0); border-width:4px;}
      }
    } // ex) @include recording-ani;

    &.recording > p:nth-of-type(1) {
      &:after {
        content:""; position: relative; display: inline-block; @include mhwidth(20px); margin: 0 0 0 10px;
        @include border-radius(400px); @include border01(4px ,#000,1 ); @include recording-ani;
      }
    }

    p {
      //@include flexbase; @include flex-align-items-center;
      @include flexbase; @include flex-align-items-center; @include flex-justify-content-between;
      position: relative; font-size:.9rem; word-break: break-word; color:$color-white-01; padding:0 5px 0 50px;
      &:nth-of-type(2) {font-size:1.2rem;}
    }

    select {position: absolute; z-index:12; top:0; left:0; @include mmheight($ds-sw);  opacity: 0; cursor: pointer;}

    //&.on { select {display: block !important;} }

    &.level {
      &-caution, &-warning, &-danger, &-die { }
      &-caution {order: 4; &:before { background-color: $color-gray-03; } }
      &-warning {order: 3; &:before { background-color: $color-orange-01; } }
      &-danger  {order: 2; &:before { background-color: $color-red-01; } }
      &-die {
        &:before {background-color: #000;}
        &:after {@include die; }
      }
    }
    &.issue {order: 1 !important;}
  }

}

// Guard 화면 분활
.screen_box {
  @include flex-column; @include flex-justify-content-between;
   & > div {width:100%;}

  .sb_top {}
  .sb_bottom {}

  button {
    width:100%; height:40px;

    &:before {font-size:1.2rem; display: inline-block;}
    &.bas { &:before {content:""; width:10px; height:18px; @include border01(2px,#fff,1 );} }
    &.big { &:before {content:"\e904"; } }
    &.sma { &:before {content:"\e903"; } }

    &.on:before {border-color: $color-ho; color:$color-ho;}
    &:hover {background-color: $color-ho; &:before {border-color: #fff; color:#fff;} }
  }
}

/////..... device section End

/////..... marquee 시작
.copybox_area, .m_marqueebox {
  overflow: hidden; position: absolute; z-index: 1;
  em {letter-spacing: 0;}
  &, & * {color:$color-white-01;}
}
.m_marqueebox, .copybox {
  display: none;
  &:after {content:""; position: absolute; z-index: -1; top:0; left:0; width:100%; height:100%; opacity: 0.6;}
}

.copybox {
  position: relative; width:auto; top:0; padding:10px 20px; background-color: transparent !important;
  &:before {}

  p {
    display: block;
    &:first-of-type {font-size:2rem;    letter-spacing: -1px; font-weight:bold;}
    &:last-of-type  {font-size: 1.5rem; letter-spacing: 1px; opacity: 0.7;}
  }
  em {
    position: relative; top:-7px; font-size:2rem;
    &:before {content:"\e935"; margin:0 5px 0 0;}
  }

  span {
    font-size:3.5rem; position: relative; left: -3px;
    &:before { content:"\e950"; font-size:3rem; }
  }
}

.m_marqueebox {
  left:0; bottom:0; width:100%; height:24px; line-height:1.1rem; display: none !important;
  &:before, p {@include flex-midddle; height:100%; }
  &:before {content:"\e946"; position: absolute; z-index: 1; left:0; width:40px; font-size:1.2rem;}
  p {
    overflow: hidden; position: relative; margin:0 0 0 40px;
    span {
      display: inline-block; position: absolute; left:100%;
      white-space:nowrap; word-wrap:normal; font-weight:bold;
      &:before {content:"ㆍ";}
    }
  }
} // 사용안함 - 각 구역 하단에 이벤트 내용 표기 마키박스

/////..... marquee 끝



/////..... 차트 영역 Start
.chart_area {
  width:100%;
  select {
    z-index: 1; position: absolute; top:-24px; right:0; width:120px;
    background-color: $color-gray-09;
    border-color:$color-gray-09;
    &, & * {color:$color-white-02 !important;}
    background-image: url(../images/ico/select_allow_w.svg);
  }
}
.chart_select_set {
  @include flexbase;
  position: absolute !important; z-index:1; top:-100px; right:0; @include transition(200ms);
  padding:10px; background-color: rgba(0,0,0,.3);
  button {
    @include btn-itype01b;
    &:before {z-index: -1 !important; position: absolute;}
  }
}
.chart_box {position: relative; width:100%; height:100%; margin:10px 0; }
.date_select {
  z-index: 1; position: absolute; top:0; right:0; width:auto;
  select {background-color: $color-gray-09;}
}
/////..... 차트 영역 End


/////..... 아이콘 일반, 경고, 감지 표시 expl 시작
.date_select, .chart_select {
  overflow: hidden; width: 40px;
  & * {opacity: 0; position: absolute; bottom:0; left:0; height:100%; color:#3c3c3c !important;}
}

/////..... 아이콘 일반, 경고, 감지 표시 expl 끝




////// ----------------- ONNLE MAP 설정 Start
.device > * {
  &:before, &:after {}

  &:before, &:after {
    @include flex-midddle;
    width:100%; height:100%; font-size:1.5rem; color:$color-white-01; background-color: transparent;
    @include border-radius(200px); @include transition(400ms); cursor: pointer;
  }
  &:before {position:absolute; }
}

.icon-tof, .icon-ptz {
  position: absolute; width:$devi_w; height:$devi_w; @include border-radius(200px); background-color: $color-bas;
  &:before {@include text-shadow(0, 3px, 8px, #000, 1);}
  & > span {
    @include flex-midddle; position: absolute; height:20px; bottom:-($devi_w - 10px);
    padding:0 10px 2px 10px; font-size:0.9rem; line-height: 0.9rem;
    background-color:$color-gray-09; @include border-radius(200px);
  }

  /////..... 임계치 적용 표시 Start
  &.level {
    &-caution,&-warning,&-danger {@include notice-opacity;}

    &-caution:after {@include border01(2px,$color-gray-05,1);  }
    &-warning:after {@include border01(2px,$color-orange-01,1);}
    &-danger:after  {@include border01(2px,$color-red-01,1);   }
    &-die:after {}

    &-caution { &,& > span {background-color:$color-gray-05;   } }
    &-warning { &,& > span {background-color:$color-orange-01; } }
    &-danger  { &,& > span {background-color:$color-red-01;    } }
    &-die     {
      @include notice-scale-01; background-color:$color-gray-09;
      &:before {opacity: 0.6;}
      &:after {
        content:""; position: absolute; left:calc(50% - 2px); top:0; width:4px; height:100%;
        @include rotate(45deg); background-color:rgba($color-gray-09,0.8); @include loding;
      }
    }
  }
  /////..... 임계치 적용 표시 End
}


/////.......... 디바이스 보기 Popup Start
.device_popup {
    /*
    <div class="device_popup">
        <ul>
            <li>연기 감지센서</li>
            <li>유해가스 감지센서</li>
            <li class="cctv_view">CCTV 01<button></button></li>
            <li>일산화탄소 감지센서</li>
            <li>진출입 감지센서</li>
        </ul>
    </div>
    */
    $dp_mlr:($m_lr - 5px);

    z-index:1; position: absolute; top:$btnarea-height; right:-100%; bottom:$dp_mlr; width:100%;
    @include transition(400ms);

    & *,& *:before, & *:after {color:#3c3c3c !important;}

    &:before {
      content:"DEVIC LIST";
      position: absolute; z-index: -1; top:0; left:$dp_mlr; right:$dp_mlr; bottom:0;
      background-color: $color-adm; padding:7px $m_lr; font-size: 1.2rem;
      color:$color-ho !important; @include box-shadow01(0px, 25px, 35px, -10px, #000, 0.6);
    }

    ul {
      overflow: auto; position: absolute; top:$btnarea-height; left:$m_lr; right:$m_lr; bottom:0; padding:0 $m_lr;

      li {
        @include flexbase; @include flex-align-items-center;
        position: relative; width:100%; height:40px; font-weight:bold;

        button {
          width:90px; height:30px; margin:0 0 0 auto; padding:0 0 2px 0;
          @include border01(1px,$color-gray-01, 1);
          &:before {
            content:"VIEW"; font-weight:normal; font-size:0.9rem;
          }
          &:hover {
            background-color: $color-ho; border-color:$color-ho;
            &:before {color:#fff !important;}
          }
        }


        &:before {content:"\e92f"; font-size:1.2rem; padding:0 10px 0 0; }
        &.cctv_view {
          &:before {content:"\e91c" !important; font-size:1.4rem;}
        }

      }
    }

  }
/////.......... 디바이스 보기 Popup End


