@charset "utf-8";
@import "filters";

.ico {
  &-safeeye:before  {content:"\e941" !important;} // -safeeye
  &-blinker:before  {content:"\e944" !important;} // -blinker
  &-tracker:before  {content:"\e943" !important;} // -tracker
  &-function:before {content:"\e940" !important;} // 설정새로고침
  &-pool:before     {content:"\e942" !important;} // 수영장
  &-health:before   {content:"\e93f" !important;} // 의료
  &-nhr:before      {content:"\e945" !important;} // detector
  &-invasion:before {content:"\e93e" !important;} // 침입
  &-exhibit:before  {content:"\e93c" !important;} // 전시물보호
  &-speaker:before  {content:"\e93a" !important;} // 스피커
  &-wlight:before   {content:"\e93b" !important;} // 경광등
  &-mobile:before   {content:"\e939" !important;} // 모바일
  &-close:before    {content:"\e91a" !important;} // 닫기
  &-plus:before     {content:"\e92b" !important;} // 더보기
  &-minus:before    {content:"\e92c" !important;} // 빼기
  &-login:before    {content:"\e900" !important;} // 로그인
  &-admin:before    {content:"\e909" !important;} // 관리자
  &-user:before     {content:"\e90e" !important;} // 사용자
  &-update:before   {content:"\e961" !important;} // 업데이트
  &-confirm:before  {content:"\e941" !important;} // 확인
  &-cancle:before   {content:"\e937" !important;} // 알림해지
  &-more:before     {content:"\e95c" !important;} // 더보기
  &-zoom:before     {content:"\e925" !important;} // 자세히보기
  &-area:before     {content:"\e91b" !important;} // 장소
  &-tof:before      {content:"\e962" !important;} // TOF 센서
  &-m8:before       {content:"\e95f" !important;} // m8 센서
  &-ptz:before, &-camera:before
                    {content:"\e961" !important;} // PTZ 카메라
  &-chart:before    {content:"\e908" !important;} // 차트
  &-four:before     {content:"\e938" !important;} // 4분할
  &-gate:before     {content:"\e92f" !important;} // 게이트 웨이 센서
  &-temp:before     {content:"\e949" !important;} // 온도
  &-humi:before     {content:"\e947" !important;} // 습도
  &-co2:before      {content:"\e955" !important;} // CO2
  &-co:before       {content:"\e956" !important;} // CO
  &-plug:before     {content:"\e933" !important;} // 스마트 플러그
  &-smok:before     {content:"\e963" !important;} // 연기
  &-gas:before      {content:"\e910" !important;} // 가스
  &-hlds:before     {content:"\e959" !important;} // 근거리 HLDS 센서
  &-device:before   {content:"\e92f" !important;} // 근거리 HLDS 센서
  &-led:before      {content:"\e963" !important;} // LED
  &-sioc:before     {content:"\e96e" !important;} // sioc
  &-qguard:before   {content:"\e96c" !important;} // q가드 서버
  &-shock:before    {content:"\e942" !important;} // 압전센서
  &-server:before   {content:"\e96b" !important;} // 서버
  &-check:before    {content:"\e901" !important;} // 체크
  &-open:before, &-up:before, &-add:before
                    {content:"\e917" !important;} // 열기
  &-save:before     {content:"\e98e" !important;} // 저장
  &-reso:before     {content:"\e964" !important;} // 리소스 모니터링
  &-docker:before   {content:"\e938" !important;} // 도커
  &-qguard:before   {content:"\e96c" !important;} // Q가드
  &-play:before     {content:"\e97a" !important;} // 플레이
  &-copy:before     {content:"\e98d" !important;} // 복사
  &-chartb:before   {content:"\e98f" !important;} // 바 복사
  &-chartl:before   {content:"\e990" !important;} // 라인 차트
  &-chartt:before   {content:"\e98c" !important;} // 테이블 차트
  &-chartc:before   {content:"\e916" !important;} // 파이 차트
  &-option:before   {content:"\e959" !important;} // 옵션, 메뉴

  &-straw:before    {content:"\e993" !important;} // 딸기
  &-grape:before    {content:"\e994" !important;} // 포도
  &-tomato:before   {content:"\e995" !important;} // 토마토
  &-tanger:before   {content:"\e996" !important;} // 귤
  &-ginseng:before  {content:"\e997" !important;} // 인삼

  &-straw-x:before    {content:"\e998" !important;} // 딸기
  &-grape-x:before    {content:"\e999" !important;} // 포도
  &-tomato-x:before   {content:"\e99a" !important;} // 토마토
  &-tanger-x:before   {content:"\e99b" !important;} // 귤
  &-ginseng-x:before  {content:"\e99c" !important;} // 인삼

  &-sprout:before     {content:"\e99d" !important;} // 새싹
  &-car:before        {content:"\e99e" !important;} // 자동차

  &-pdf:before        {content:"\e99f" !important;} // PDF
  &-excel:before      {content:"\e9a0" !important;} // EXCEL
}

.cursor_cros {cursor:crosshair !important;}
.cursor_auto {cursor:auto !important;}
.cursor_default {cursor:default !important;}
.cursor_poin {cursor:pointer !important;}


////// 시계 Start
.datetime_set {
  @include flex-midddle; opacity: 0.6;
  & span {
    @include font-size-h3; height:auto !important; letter-spacing: 1px;
    &.c-Day,&.c-Date,&.c-Week {padding:0 10px 0 0;}
  }
}
////// 시계 End

////// form_area  Start
.form_area {
  span, input {width:100%;}
  span  {margin: 0 0 5px 0;}
  input {margin: 0 0 20px 0;}
}
////// form_area  End


////// btn_set 정의 Start
.btn_set {
  @include flexbase; @include flex-justify-content-between;
  position: relative;
  & > button {
    @include flex-width-option(1, 100%);
    @include mmwidth(auto);  max-width: none !important;
    margin:0 0 0 5px;
    &:first-of-type {margin:0;}
  }
}
////// btn_set 정의 End


////// 시,분, 초 선택 폼 Start
.select_edit {
  @include flexbase;
  position: relative; height:40px;
  & > div {
    position: relative; height:100%; margin:0 2px; @include flex-option(0, 1, 100%);

    input, select {position: absolute; top:0; left:0; height:100%;}
    input  {width:calc(100% - 25px);width:-webkit-calc(100% - 25px); z-index: 1;}
    select {width:100%;}
  }
  &.disabled {opacity: 0.2; input, select {pointer-events:none;} }
}
////// 시,분, 초 선택 폼 End



//////...... 달력 datepicker Start
input.datepicker {width:100px;}
// datepicker Start
button.ui-datepicker-trigger {
  @include mhwidth(40px); @include border(1px 1px 1px 0,$color-gray-01);
  background-color: #fff;
  &:before {content:"\e91f" !important; font-size:1.5rem; color:$color-dark-01;}
  &:hover:before {color:$color-red-01;}
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
{@include border-radius(0px);}

.ui-datepicker {
  display: none;
  width:320px; padding:10px; background-color:$color-white-01;
  //@include border01(1px,$color-gray-01,1);
  @include box-shadow01(0px, 30px, 40px, -20px, #000, 0.7);

  table {width: 100%;  font-size: .9em; border-collapse: collapse;}

  //.ui-datepicker-header start
  .ui-datepicker-header {
    position: relative; height:40px; margin:10px 0;

    // .ui-datepicker-header 좌우 화살표 Start
    & > a {
      overflow: hidden; position: absolute !important; top:0;  @include mhwidth(40px);

      &:hover > span:before {color:$color-red-01;}
      &.ui-datepicker-prev {left:0;}
      &.ui-datepicker-next {right:0;}
      &.ui-datepicker-prev > span:before {content:"\e918";}
      &.ui-datepicker-next > span:before {content:"\e919";}

      &:before, &:after {display: none !important;}

      & > span {
        @include flex-midddle; position:relative; width:100%; height:100%;
        &:before {font-size:1.8rem; color:$color-dark-01; }
      }
    } // .ui-datepicker-header 좌우 화살표 End

    // .ui-datepicker-header 타이틀 Start
    .ui-datepicker-title {
      @include flex-midddle;
      position: absolute; top:0; left:40px; right:40px; height:40px; cursor: pointer;
      & > select  {
        font-size:1.4rem; line-height: 1.5rem; width:110px;
        //&:first-of-type {border-right-width:0;}
        & ~ select {border-left-width:0;}
      }
      &, & > span {font-size:2rem;}
    } // .ui-datepicker-header 타이틀 End

  } //.ui-datepicker-header End

  //.ui-datepicker-calendar Start
  .ui-datepicker-calendar {
    thead {opacity: 0.5;}
    th, td {
      height:40px; text-align: center; padding:0; border:none;
      & > span, & > a {@include flex-midddle; height:100%; font-size:16px;}
      &.ui-datepicker-week-end, &.ui-datepicker-week-end > a {color:$color-dark-01;}
      & > a.ui-state-highlight {color:$color-red-01; font-weight:bold;}
      & > a:hover {background-color: $color-orange-01; color:$color-white-01;}
      & > a.ui-state-active {background-color: $color-red-01; color:$color-white-01; border:none;}
    }
  }//.ui-datepicker-calendar End
}

.dpk_normal_type.dpk_open {
  display: inline-block;
  position: absolute; z-index:1; top:0; left:0;
  .ui-datepicker {
    @include border01(1px, $color-gray-01, 0);
    @include box-shadow01(0px, 30px, 40px, -20px, #000, 0.0);
  }
  .ui-datepicker-calendar {display: none;}

  &:hover .ui-datepicker-calendar {display: table;}
  &:hover .ui-datepicker {
    @include border01(1px, $color-gray-01, 1);
    @include box-shadow01(0px, 30px, 40px, -20px, #000, 0.7);
  }

}

.dpk_open_type {
  display: inline-block;
  & > .ui-datepicker {
    background-color: transparent; border:none; @include box-shadow-none;
    & > .ui-datepicker-header {
      & > a > span:before {color:$color-dark-01;}
    }
  }
}
/////...... 달력 datepicker End


/////...... timepicker Start
.timepicker {@include flexbase;  @include flex-align-items-center;  height: 40px;}


.timepicker > div, .in-timepicker, .w_input {
  display: inline-block; position: relative; min-width:70px; width:auto; margin:0 2px;
  &, & > select {min-height:40px;}
  &:first-child {margin:0 2px 0 0;}
  & > select {width:100%; min-width:0; height: 100%;}
  & > input  {
    position: absolute; z-index:1; top: 1px; left: 1px;
    width: calc(100% - 30px) !important; width: -webkit-calc(100% - 30px) !important;
    height: calc(100% - 2px) !important; height: -webkit-calc(100% - 2px) !important;
    border: none !important;
  }
  & > input:focus + select { border-color: $color-red-01; }
}

.popupbase .timepicker > div input {border: none !important;}

input.datepicker + button + .in-timepicker {z-index:1; left:-1px; margin:0;}
.timepicker, .filter_box, .filter_set { & em {margin:0 10px;} }
/////...... timepicker End


///// input[type="checkbox"] checkBox label base 정의 Start
.csl_style01 {@include csl-check;} // 원형 체크박스
.csl_style02 {@include csl-onoff;} // ON or OFF
.csl_style03 {@include csl-yesno;} // YES or NO
.csl_style04 {@include csl-showhide;} // SHOW or HIDE
.csl_style05 {@include csl-icon;} // 아이콘 사각
.csl_style06 {@include csl-useunused;} // YES or NO
.csl_style07 {@include csl-check-sq;} // 사삿 체크박스
///// input[type="checkbox"] checkBox label base 정의 End




/////...... button base 정의 Start
a.btn {@include flex-midddle; span {width:100%; text-align:center;} }

.btn      {@include btn-box;}        // 160_40 박스 버튼
.btn-line {@include btn-line; }      // 160_40 라인 버튼

.btn-itype03b   {@include btn-itype03b;  }   // 50_50 정사각 버튼
.btn-itype01b   {@include btn-itype01b;  }   // 40_40 정사각 버튼
.btn-itype03b-t {@include btn-itype03b-t;}   // 50_50 정사각 투명 버튼
.btn-itype01b-t {@include btn-itype01b-t;}   // 40_40 정사각 투명 버튼
.btn-itype03b-l {@include btn-itype03b-l;}   // 50_50 정사각 라인 버튼
.btn-itype01b-l {@include btn-itype01b-l;}   // 40_40 정사각 라인 버튼
.btn-itype03c   {@include btn-itype03c;  }   // 50_50 원형 버튼
.btn-itype01c   {@include btn-itype01c;  }   // 40_40 원형 버튼
.btn-itype03c-t {@include btn-itype03c-t;}   // 50_50 원형 투명 버튼
.btn-itype01c-t {@include btn-itype01c-t;}   // 40_40 원형 투명 버튼
.btn-itype03c-l {@include btn-itype03c-l;}   // 50_50 원형 라인 버튼
.btn-itype01c-l {@include btn-itype01c-l;}   // 40_40 원형 라인 버튼

.dim {@include dim_btn; } // 버튼 비활성화

button.btn ~ button.btn {margin:0 0 0 5px;} // 버튼이 나란히 배치 되었을때 버튼간 간격 유지

.sett_btn, .refl_btn  {margin:0 0 0 15px;}
.sett_btn:before {content: "\e905" !important;}
.refl_btn:before {content: "\e95e" !important;}
/////...... button base 정의 End


/////...... contenteditable 정의 Start
div[contenteditable] {}
/////...... contenteditable 정의 End


.chart_label {

  &, & > * {@include flexbase;  }
  /* min-height:50px;*/
  @include flex-justify-content-start; @include flex-align-items-start;
  & > span {
    @include flex-align-items-center;
    overflow: hidden; margin:0 0 10px 0; background-color: transparent;
    &, & * {position: relative;}
    &:before {
      $clsb-wh:17px;
      content:""; display: inline-block; position: relative;
      top:1px; width:$clsb-wh; height:$clsb-wh; margin:0 7px 0 0;
      //@include transform-str(1, -10px, auto, 45deg);
    }
    b { top:-2px; font-weight:bold; padding:0 0 0 30px; font-size:1.5rem;  }
  }
}
//////...... 차트 상태 표시 시작
/*차트 color a~z 26 가지 */

$n01:26n+ 1;  $n11:26n+11;  $n21:26n+21;
$n02:26n+ 2;  $n12:26n+12;  $n22:26n+22;
$n03:26n+ 3;  $n13:26n+13;  $n23:26n+23;
$n04:26n+ 4;  $n14:26n+14;  $n24:26n+24;
$n05:26n+ 5;  $n15:26n+15;  $n25:26n+25;
$n06:26n+ 6;  $n16:26n+16;  $n26:26n+26;
$n07:26n+ 7;  $n17:26n+17;
$n08:26n+ 8;  $n18:26n+18;
$n09:26n+ 9;  $n19:26n+19;
$n10:26n+10;  $n20:26n+20;


* {
  // 상태 표시
  .ch_name, .mh_name {
    position: relative; margin:0 20px 0 0; background-color: transparent;
    &:before {
      content:""; display: inline-block; position: relative; top:1px;
      width:14px; height:14px; margin:0 5px 0 0; @include border-radius(20px);
    }
  }

  .mp_header {@include flexbase;}

  .check_th tbody tr:before, .check_th tbody tr td:first-of-type:before {@include border-radius(200px);}
  .check_th tbody tr.top00 td:first-of-type:before {background-color: #ccc;}

  .check_th tbody tr.top01 td:first-of-type:before,
  .chart_label > span:nth-of-type(26n+ 1):before, .mp_header > div > .ch_name:nth-of-type(26n+ 1):before
  {background-color: $chart-color-01;}
  .excel .chart_label > span:nth-of-type(26n+ 1), .chart_label > span:nth-of-type(26n+ 1) > b
  {color: $chart-color-01;}

  .chart_label > span:nth-of-type(26n + 2):before, .mp_header > div > .ch_name:nth-of-type(26n + 2):before
  {background-color: $chart-color-02;}
  .excel .chart_label > span:nth-of-type(26n + 2), .chart_label > span:nth-of-type(26n + 2) > b
  {color: $chart-color-02;}

  .chart_label > span:nth-of-type(26n + 3):before, .mp_header > div > .ch_name:nth-of-type(26n + 3):before
  {background-color: $chart-color-03;}
  .excel .chart_label > span:nth-of-type(26n + 3), .chart_label > span:nth-of-type(26n + 3) > b
  {color: $chart-color-03;}

  .chart_label > span:nth-of-type(26n + 4):before, .mp_header > div > .ch_name:nth-of-type(26n + 4):before
  {background-color: $chart-color-04;}
  .excel .chart_label > span:nth-of-type(26n + 4), .chart_label > span:nth-of-type(26n + 4) > b
  {color: $chart-color-04;}

  .chart_label > span:nth-of-type(26n + 5):before, .mp_header > div > .ch_name:nth-of-type(26n + 5):before
  {background-color: $chart-color-05;}
  .excel .chart_label > span:nth-of-type(26n + 5), .chart_label > span:nth-of-type(26n + 5) > b
  {color: $chart-color-05;}

  .chart_label > span:nth-of-type(26n + 6):before, .mp_header > div > .ch_name:nth-of-type(26n + 6):before
  {background-color: $chart-color-06;}
  .excel .chart_label > span:nth-of-type(26n + 6), .chart_label > span:nth-of-type(26n + 6) > b
  {color: $chart-color-06;}

  .chart_label > span:nth-of-type(26n + 7):before, .mp_header > div > .ch_name:nth-of-type(26n + 7):before
  {background-color: $chart-color-07;}
  .excel .chart_label > span:nth-of-type(26n + 7), .chart_label > span:nth-of-type(26n + 7) > b
  {color: $chart-color-07;}

  .chart_label > span:nth-of-type(26n + 8):before, .mp_header > div > .ch_name:nth-of-type(26n + 8):before
  {background-color: $chart-color-08;}
  .excel .chart_label > span:nth-of-type(26n + 8), .chart_label > span:nth-of-type(26n + 8) > b
  {color: $chart-color-08;}

  .chart_label > span:nth-of-type(26n + 9):before, .mp_header > div > .ch_name:nth-of-type(26n + 9):before
  {background-color: $chart-color-09;}
  .excel .chart_label > span:nth-of-type(26n + 9), .chart_label > span:nth-of-type(26n + 9) > b
  {color: $chart-color-09;}

  .chart_label > span:nth-of-type(26n + 10):before, .mp_header > div > .ch_name:nth-of-type(26n + 10):before
  {background-color: $chart-color-10;}
  .excel .chart_label > span:nth-of-type(26n + 10), .chart_label > span:nth-of-type(26n + 10) > b
  {color: $chart-color-10;}

  .chart_label > span:nth-of-type(26n + 11):before, .mp_header > div > .ch_name:nth-of-type(26n + 11):before
  {background-color: $chart-color-11;}
  .excel .chart_label > span:nth-of-type(26n + 11), .chart_label > span:nth-of-type(26n + 11) > b
  {color: $chart-color-11;}

  .chart_label > span:nth-of-type(26n + 12):before, .mp_header > div > .ch_name:nth-of-type(26n + 12):before
  {background-color: $chart-color-12;}
  .excel .chart_label > span:nth-of-type(26n + 12), .chart_label > span:nth-of-type(26n + 12) > b
  {color: $chart-color-12;}

  .chart_label > span:nth-of-type(26n + 13):before, .mp_header > div > .ch_name:nth-of-type(26n + 13):before
  {background-color: $chart-color-13;}
  .excel .chart_label > span:nth-of-type(26n + 13), .chart_label > span:nth-of-type(26n + 13) > b
  {color: $chart-color-13;}

  .chart_label > span:nth-of-type(26n + 14):before, .mp_header > div > .ch_name:nth-of-type(26n + 14):before
  {background-color: $chart-color-14;}
  .excel .chart_label > span:nth-of-type(26n + 14), .chart_label > span:nth-of-type(26n + 14) > b
  {color: $chart-color-14;}

  .chart_label > span:nth-of-type(26n + 15):before, .mp_header > div > .ch_name:nth-of-type(26n + 15):before
  {background-color: $chart-color-15;}
  .excel .chart_label > span:nth-of-type(26n + 15), .chart_label > span:nth-of-type(26n + 15) > b
  {color: $chart-color-15;}

  .chart_label > span:nth-of-type(26n + 16):before, .mp_header > div > .ch_name:nth-of-type(26n + 16):before
  {background-color: $chart-color-16;}
  .excel .chart_label > span:nth-of-type(26n + 16), .chart_label > span:nth-of-type(26n + 16) > b
  {color: $chart-color-16;}

  .chart_label > span:nth-of-type(26n + 17):before, .mp_header > div > .ch_name:nth-of-type(26n + 17):before
  {background-color: $chart-color-17;}
  .excel .chart_label > span:nth-of-type(26n + 17), .chart_label > span:nth-of-type(26n + 17) > b
  {color: $chart-color-17;}

  .chart_label > span:nth-of-type(26n + 18):before, .mp_header > div > .ch_name:nth-of-type(26n + 18):before
  {background-color: $chart-color-18;}
  .excel .chart_label > span:nth-of-type(26n + 18), .chart_label > span:nth-of-type(26n + 18) > b
  {color: $chart-color-18;}

  .chart_label > span:nth-of-type(26n + 19):before, .mp_header > div > .ch_name:nth-of-type(26n + 19):before
  {background-color: $chart-color-19;}
  .excel .chart_label > span:nth-of-type(26n + 19), .chart_label > span:nth-of-type(26n + 19) > b
  {color: $chart-color-19;}

  .chart_label > span:nth-of-type(26n + 20):before, .mp_header > div > .ch_name:nth-of-type(26n + 20):before
  {background-color: $chart-color-20;}
  .excel .chart_label > span:nth-of-type(26n + 20), .chart_label > span:nth-of-type(26n + 20) > b
  {color: $chart-color-20;}

  .chart_label > span:nth-of-type(26n + 21):before, .mp_header > div > .ch_name:nth-of-type(26n + 21):before
  {background-color: $chart-color-21;}
  .excel .chart_label > span:nth-of-type(26n + 21), .chart_label > span:nth-of-type(26n + 21) > b
  {color: $chart-color-21;}

  .chart_label > span:nth-of-type(26n + 22):before, .mp_header > div > .ch_name:nth-of-type(26n + 22):before
  {background-color: $chart-color-22;}
  .excel .chart_label > span:nth-of-type(26n + 20), .chart_label > span:nth-of-type(26n + 22) > b
  {color: $chart-color-22;}

  .chart_label > span:nth-of-type(26n + 23):before, .mp_header > div > .ch_name:nth-of-type(26n + 23):before
  {background-color: $chart-color-23;}
  .excel .chart_label > span:nth-of-type(26n + 23), .chart_label > span:nth-of-type(26n + 23) > b
  {color: $chart-color-23;}

  .chart_label > span:nth-of-type(26n + 24):before, .mp_header > div > .ch_name:nth-of-type(26n + 24):before
  {background-color: $chart-color-24;}
  .excel .chart_label > span:nth-of-type(26n + 24), .chart_label > span:nth-of-type(26n + 24) > b
  {color: $chart-color-24;}

  .chart_label > span:nth-of-type(26n + 25):before, .mp_header > div > .ch_name:nth-of-type(26n + 25):before
  {background-color: $chart-color-25;}
  .excel .chart_label > span:nth-of-type(26n + 25), .chart_label > span:nth-of-type(26n + 25) > b
  {color: $chart-color-25;}

  .chart_label > span:nth-of-type(26n + 26):before, .mp_header > div > .ch_name:nth-of-type(26n + 26):before
  {background-color: $chart-color-26;}
  .excel .chart_label > span:nth-of-type(26n + 26), .chart_label > span:nth-of-type(26n + 26) > b
  {color: $chart-color-26;}


}
//////...... 차트 상태 표시 끝

/////...... 차트 색상 정의 Start
.ct-series {
  /*
  .ct-series-a .ct-area,
  .ct-series-a .ct-slice-pie, 파이차트
  .ct-series-a .ct-bar,
  .ct-series-a .ct-line,
  .ct-series-a .ct-point, 라이차트 포인트
  .ct-series-a .ct-slice-donut
  */

  & {
    .ct-line, .ct-series .ct-point {stroke-linecap: square;}
    .ct-line  { stroke-width: 1px !important; }
    .ct-point { stroke-width: 7px !important; }
    .ct-bar {opacity: 0.7;  }
    fill-opacity: .1;
  }

  &-a {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $chart-color-01 !important; stroke: $chart-color-01 !important;}
    .ct-line, .ct-point {stroke: $chart-color-01 !important;}
  }

  &-b {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $chart-color-02 !important; stroke: $chart-color-02 !important;}
    .ct-line, .ct-point {stroke: $chart-color-02 !important;}
  }

  &-c {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $chart-color-03 !important; stroke: $chart-color-03 !important;}
    .ct-line, .ct-point {stroke: $chart-color-03 !important;}
  }

  &-d {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $chart-color-04 !important; stroke: $chart-color-04 !important;}
    .ct-line, .ct-point {stroke: $chart-color-04 !important;}
  }

  &-e {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $chart-color-05 !important; stroke: $chart-color-05 !important;}
    .ct-line, .ct-point {stroke: $chart-color-05 !important;}
  }

  &-f {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $chart-color-06 !important; stroke: $chart-color-06 !important;}
    .ct-line, .ct-point {stroke: $chart-color-06 !important;}
  }

  &-g {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $chart-color-07 !important; stroke: $chart-color-07 !important;}
    .ct-line, .ct-point {stroke: $chart-color-07 !important;}
  }

  &-h {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $chart-color-08 !important; stroke: $chart-color-08 !important;}
    .ct-line, .ct-point {stroke: $chart-color-08 !important;}
  }

  &-i {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $chart-color-09 !important; stroke: $chart-color-09 !important;}
    .ct-line, .ct-point {stroke: $chart-color-09 !important;}
  }

  &-j {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $chart-color-10 !important; stroke: $chart-color-10 !important;}
    .ct-line, .ct-point {stroke: $chart-color-10 !important;}
  }

  &-k {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $chart-color-11 !important; stroke: $chart-color-11 !important;}
    .ct-line, .ct-point {stroke: $chart-color-11 !important;}
  }

  &-l {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $chart-color-12 !important; stroke: $chart-color-12 !important;}
    .ct-line, .ct-point {stroke: $chart-color-12 !important;}
  }

  &-m {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $chart-color-13 !important; stroke: $chart-color-13 !important;}
    .ct-line, .ct-point {stroke: $chart-color-13 !important;}
  }

  &-n {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $chart-color-14 !important; stroke: $chart-color-14 !important;}
    .ct-line, .ct-point {stroke: $chart-color-14 !important;}
  }

  &-o {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $chart-color-15 !important; stroke: $chart-color-15 !important;}
    .ct-line, .ct-point {stroke: $chart-color-15 !important;}
  }

  &-p {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $chart-color-16 !important; stroke: $chart-color-16 !important;}
    .ct-line, .ct-point {stroke: $chart-color-16 !important;}
  }

  &-q {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $chart-color-17 !important; stroke: $chart-color-17 !important;}
    .ct-line, .ct-point {stroke: $chart-color-17 !important;}
  }

  &-r {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $chart-color-18 !important; stroke: $chart-color-18 !important;}
    .ct-line, .ct-point {stroke: $chart-color-18 !important;}
  }

  &-s {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $chart-color-19 !important; stroke: $chart-color-19 !important;}
    .ct-line, .ct-point {stroke: $chart-color-19 !important;}
  }

  &-t {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $chart-color-20 !important; stroke: $chart-color-20 !important;}
    .ct-line, .ct-point {stroke: $chart-color-20 !important;}
  }

  &-u {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $chart-color-21 !important; stroke: $chart-color-21 !important;}
    .ct-line, .ct-point {stroke: $chart-color-21 !important;}
  }

  &-v {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $chart-color-22 !important; stroke: $chart-color-22 !important;}
    .ct-line, .ct-point {stroke: $chart-color-22 !important;}
  }

  &-w {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $chart-color-23 !important; stroke: $chart-color-23 !important;}
    .ct-line, .ct-point {stroke: $chart-color-23 !important;}
  }

  &-x {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $chart-color-24 !important; stroke: $chart-color-24 !important;}
    .ct-line, .ct-point {stroke: $chart-color-24 !important;}
  }

  &-y {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $chart-color-25 !important; stroke: $chart-color-25 !important;}
    .ct-line, .ct-point {stroke: $chart-color-25 !important;}
  }

  &-z {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $chart-color-26 !important; stroke: $chart-color-26 !important;}
    .ct-line, .ct-point {stroke: $chart-color-26 !important;}
  }

}
/////...... 차트 색상 정의 End


///// 데시보드 라인 차트 시작
.ct-chart-line {
  overflow: hidden; position: relative;
  & > g:nth-of-type(2) {position: absolute; left:0; top:0; bottom:0;  right:0;}
  & > * {width:100%;}
}
.ct-grids, .ct-grids * {color:#fff !important;}
.ct-grid {
  stroke: rgba(0,0,0,.4) !important;
  stroke-width: 1px;
  stroke-dasharray: 0 !important;

  &.ct-horizontal {opacity: 0.4 !important;}
}

.ct-label {
  //font-size: 0.85rem;
  color:$color-a-text !important; fill:$color-a-text !important;
  &.ct-vertical.ct-start {width:auto !important;}
  &.ct-horizontal.ct-end {
    position: relative; left: -50% !important;
    -webkit-box-align:   flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align:      flex-start;
    align-items:         flex-start;
    -webkit-box-pack:        center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack:           center !important;
    justify-content:         center !important;
    text-align:              center !important;
    text-anchor:              start;
  }

}
.pie .ct-label {font-size: 1rem !important; font-weight:bold;}
.ct-label01 {stroke:rgba(255,255,255,0.8) !important; font-size:13px;}

/////..... 통계 툴팁 시작
.chartist-tooltip {
  @include flex-midddle-important; @include flex-column; min-height:40px !important; min-width:40px !important;
  background-color: $color-dark-01 !important; color: #fff !important;
  @include border-radius(200px);

  &:before {
    margin: -2px 0 0 -5px  !important;
    border-style:solid !important; border-width: 10px 5px 0 5px !important;
    border-color:$color-dark-01 transparent transparent transparent !important;
  }
}
/////..... 통계 툴팁 끝
///// 데시보드 라인 차트 끝


/////...... 날짜 선택 버튼 셋 정의 Start
.month_btn_set {
  @include flexbase;
  width:auto; @include flex-align-items-center;
  p { text-align:center; font-size:30px; padding:0 20px;}
  button {
    font-size:36px;
    &:before {font-weight:bold;}
    &:first-of-type:before {content:"\e918";}
    &:last-of-type:before  {content:"\e919";}
    &:hover:before { color: $color-red-01;}
  }
}
/////...... 날짜 선택 버튼 셋 정의 End


///// 그래프로 보기 , 표로보기 버튼 셋 정의 Start
.depthtabs_btn_set {
  button {
    height:40px; margin:0 0 0 15px;
    &:hover, &.tabs_on {color: $color-red-01;}
    &.tabs_on:after {opacity: 1}
    &:before {padding:0 4px 0 0;}
    &:first-of-type:before {content:"\e908";}
    &:last-of-type:before  {content:"\e91f";}
    &:after {
      content:"";  position: absolute; left:0; bottom:0; width:100%; height:1px;
      background-color: $color-red-01; opacity: 0;
    }
  }
}
///// 그래프로 보기 , 표로보기 버튼 셋 정의 End
.chart_box.type01 {overflow-x:auto;}
.chart_box.type02 {overflow-y:auto;}


////// ----------------- Loading Start
.loding_bar  {&.on {@include loding_bar;}}
.loading_ico {&.on {@include loding_ico;}}
////// ----------------- Loading End


// page 정의 Start [처음 + 이전 + 페이지 + 다음 + 마지막]
.page {
  /*
  <div class="page">
      <button class="pll"></button>
      <button class="pl"></button>
      <div>
          <button class="on">1</button>
          <button>2</button>
          <button>3</button>
          <button>4</button>
          <button>5</button>
      </div>
      <button class="pl"></button>
      <button class="pll"></button>
  </div>
  */


  position:relative; width:100%; height:40px; margin:20px 0;
  &, & > div {@include flex-midddle; }
  button {
    @include btn-itype01b; @include text-overflow-ellipsis; margin:0 2px; display: inline-block !important;
    /*@include mhwidth($btn-type01);*/
    @include mmheight(40px); min-width:40px; max-width:60px; padding:0 5px;

    &, &:before {color:$color-a-text;}
    &:before, &:after {position: absolute; @include flex-midddle; }
    &:after {border-style:solid; border-width:1px; border-color:rgba($color-a-text,.8); background-color:rgba($color-white-01,.8) !important;}
    &:hover, &.on {
      &, &:before {color:$color-white-01;}
      &:after {@include scale(1.07); border:none;}
    }

  }

  & > button {
    &.pll { &:before {content:"\e935";} }
    &.pl  { &:before {content:"\e918";} }
    &:last-of-type, &:nth-last-of-type(2) {@include rotate(180deg);}
  }

  & > div {margin:0 10px;}
}
/////...... Table_layout 정의 End


////// -----------------  MAP 설정 Start
.map_images {
  @include flex-midddle; position: absolute; z-index: 1;

  background-repeat:no-repeat; background-position: center;

  &:after {
    content:""; position: absolute; z-index:-2;
    width:100%; height:100%; background-image: url("../images/bg/gbg02.svg"); background-repeat:repeat;
  }

  .g-angle{
    width:100%;height:100%; z-index: 1;

    &.deg10 > .g-ico > div{transform: rotateX(10deg);}
    &.deg15 > .g-ico > div{transform: rotateX(15deg);}
    &.deg20 > .g-ico > div{transform: rotateX(20deg);}
    &.deg25 > .g-ico > div{transform: rotateX(25deg);}
    &.deg30 > .g-ico > div{transform: rotateX(30deg);}
    &.deg35 > .g-ico > div{transform: rotateX(35deg);}
    &.deg40 > .g-ico > div{transform: rotateX(40deg);}
    &.deg45 > .g-ico > div{transform: rotateX(45deg);}
    &.deg50 > .g-ico > div{transform: rotateX(50deg);}
  }

  .gm-style {
    &-pbc { opacity: 0 !important;}
    & > div {
      &:after, &:before {content:""; position: absolute; width:100%; height:100%;}
      &:after {background-color: $color-bas; z-index: -1;}
      &:before {}

      & > div:first-of-type {
        canvas {color:$color-white-01 !important;}
        & > div:last-of-type > div > div img { opacity: 0;}
      }
    }
  } // GPS 구동 시 사용. 현재 버전에서는 사용하지 않음.

  &.onlyhuman {
    .object, .vehicle {display:none;}
  }

  & > * {position: absolute !important;}
  .map_bg {
    width:100%; height:100%; background-repeat:no-repeat; background-position: center;
    /*opacity: 0.4;*/
    /*
    &, &:before, &:after {position: absolute; width:100%; height:100%;}
    &:before, &:after {content:"";}
    &:after { background-position:center; background-repeat:no-repeat;}
    */

    /*

    .grid {
      position: absolute; z-index:-1 !important;
      width:100%; height:100%; background-image: url("../images/bg/gbg02.svg"); background-repeat:repeat;
    }
    */

    /*
    &:after {
      content:""; position: absolute; z-index:-1 !important;
      width:100%; height:100%; background-image: url("../images/bg/gbg02.svg"); background-repeat:repeat;
    }
    */
  }
  //&.cursor_cros {}
}

.g-ico {}
.g-tracking {}

.g {
  /*
  */
  &-ico  {z-index: 50; &:before {font-size:1.2rem !important;}}
  &-tracking,&-line {z-index: 100;}
  &-area  {z-index:10;}
  &-fence {z-index: 5;}

  &-ico, &-tracking, &-line, &-area, &-fence {position: absolute !important;}

  // 감시, 감지 디바이스 공통
  &-ico, &-area {
    //@include scale(0.5);
    &, & > * {cursor: pointer;}
    @include box-shadow01(0, 3px, 8px, 0px, #000, 1); @include resize;

    // 디바이스, 구역 이름표
    & > span {
      @include flex-midddle; position: absolute; width: max-content; bottom:-17px;
      padding:3px 10px; font-size:0.9rem; line-height: 0.9rem;
      background-color:$color-gray-09; @include border-radius(200px); @include scale(0.4);
    }
    //&:hover { &, & > span {background-color: rgba($color-yellow-01,0.5);} }
    &.on:hover {&, &:before, & > span {background-color: $color-on;}}
  }

  // 감시, 감지 디바이스, 트레킹 아이콘 공통
  &-ico, &-tracking {
    background-color: $color-bas;
    &, &:before, &:after {@include flex-midddle; @include border-radius(500px); @include transition(200ms);}
    &:before, &:after {content:""; position: absolute; width:100%; height:100%;}
    &:after {z-index: -1;}
  }

  // MAP 설정 시 크기, 위치 버튼 표시
  &-ico {

    $g-wh-01 : 400px;
    $g-wh-02 : 800px; //기본값
    $g-wh-03 : 1200px;
    $g-wh-04 : 1600px;

    $g-r10 : 10deg;  $g-r20 : 20deg;  $g-r30 : 30deg;  $g-r40 : 40deg;  $g-r50 : 50deg;
    $g-r60 : 60deg;  $g-r70 : 70deg;  $g-r80 : 80deg;  $g-r90 : 90deg;  $g-r100 : 100deg;

    width:$devi_w; height:$devi_w;

    .ui-resizable-e, .ui-resizable-s {display: none !important;}
    .ui-resizable-e {right:-16px;} .ui-resizable-s {bottom:-23px;}
    .ui-resizable-se {margin-top:10px; margin-left: 10px;}

    &:after {background-color:$color-lidar; }

    & > span + div {
      z-index: -1; &, &:after, &:before {overflow: hidden; position: absolute;}
    }

    &.on {
      background-color: $color-on;
      &:hover { .ui-resizable-se {display: block !important;} }
      & > span + div {
        display: none;
        &, &:after, &:before {@include mhwidth(0);}
      }
    }

    &.lidar {
      & > span + div {
        z-index: -1;
        &, &:after, &:before {@include mhwidth($g-wh-03);}
        @include lidar-bg($color-lidar);
      }
      &.wh {
        &-01 > span + div { &, &:after, &:before {@include mhwidth($g-wh-01);} }
        &-02 > span + div { &, &:after, &:before {@include mhwidth($g-wh-02);} }
        &-03 > span + div { &, &:after, &:before {@include mhwidth($g-wh-03);} }
        &-04 > span + div { &, &:after, &:before {@include mhwidth($g-wh-04);} }
      }
      &.half {
        & > div {bottom:($devi_w / 2);  @include mmheight($g-wh-02 / 2); @include origin(50%, 100%);}

        &.wh {
          &-01 > div {@include mmheight($g-wh-01 / 2 ); &:before, &:after {@include mhwidth($g-wh-01);} }
          &-02 > div {@include mmheight($g-wh-02 / 2 ); &:before, &:after {@include mhwidth($g-wh-02);} }
          &-03 > div {@include mmheight($g-wh-03 / 2 ); &:before, &:after {@include mhwidth($g-wh-03);} }
          &-04 > div {@include mmheight($g-wh-04 / 2 ); &:before, &:after {@include mhwidth($g-wh-04);} }
        }
      }
      &.quarter {
        & > div {
          right:(0 + ($devi_w / 2)); bottom:($devi_w / 2);  @include origin(100%, 100%);
          @include mmwidth($g-wh-02 / 2); @include mmheight($g-wh-02 / 2);
        }

        &.wh {
          &-01 > div {
            @include mmwidth($g-wh-01 / 2); @include mmheight($g-wh-01 / 2);
            &:before, &:after {@include mhwidth($g-wh-01);}
          }
          &-02 > div {
            @include mmwidth($g-wh-02 / 2); @include mmheight($g-wh-02 / 2);
            &:before, &:after {@include mhwidth($g-wh-02);}
          }
          &-03 > div {
            @include mmwidth($g-wh-03 / 2); @include mmheight($g-wh-03 / 2);
            &:before, &:after {@include mhwidth($g-wh-03);}
          }
          &-04 > div {
            @include mmwidth($g-wh-04 / 2); @include mmheight($g-wh-04 / 2);
            &:before, &:after {@include mhwidth($g-wh-04);}
          }
        }

      }
    }

    &.level-die > div {@include mhwidth(10px);}

    // 설정화면에서의 아이콘
    &.level {
      &-caution,&-warning,&-danger,&-die {
        &:before {
          color:$color-white-01 !important; border-style:solid;
          @include notice-opacity; @include notice-border-type01;
        }
      }

      &-caution {
        &,&:after,& > span {background-color:$color-caution;}
        &:before {border-color:$color-caution; }
      }

      &-warning {
        &,&:after,& > span {background-color:$color-warning;}
        &:before {border-color:$color-warning;}
      }

      &-danger  {
        &,&:after,& > span {background-color:$color-danger;}
        &:before {border-color:$color-danger; }
      }

      &-die     {
        &,&:after,& > span {background-color:$color-die;}
        &:before {border-color:$color-die;}
        & > span + div:before {display: none;}
/*
        & > span + div {
          &:before {@include die02; animation-play-state: paused; top:auto;left:auto; opacity: .5;}
          &:after {display: none !important;}
        }
        */
      }
    }


    // 감시화면에서의 아이콘
    &.lidar.level {

      &-caution { & > span + div { @include lidar-bg($color-caution); } }

      &-warning { & > span + div { @include lidar-bg($color-warning); } }

      &-danger  { & > span + div {@include lidar-bg($color-danger); } }

      &-die     { /*& > span + div {@include lidar-bg($color-die);}*/ }
    }
  }

  &-tracking {
    width:24px; height:24px; background-color: transparent;
    @include box-shadow01(0, 0, 0, 0px, #000, 0);
    &:before {
      content:"\e950"; font-size:1.2rem !important; color:$color-blue-03 !important;
      background-repeat: no-repeat; background-position: 50%; background-size: 80%;
      //color:$color-blue-03 !important; @include scale(0.8);
      ///background-image: url(../images/map/tracking.svg); background-size: 60% !important;
    }
    &.object:before {content:"\e926"; color:$color-white-01 !important;  opacity: 0.7; @include scale(0.8);}
    &:after {display: none;}

    &.level {
      &-caution,&-warning,&-danger  {
        &:before {@include notice-opacity;} &:after {border-style:solid; @include notice-border; }
      }

      &-caution {
        &,& > span {background-color:$color-caution;} &:before {border-color:$color-caution;}
      }

      &-warning {
        &,& > span {background-color:$color-warning;} &:before {border-color:$color-warning;}
      }

      &-danger  {
        &,& > span {background-color:$color-danger; } &:before {border-color:$color-danger;}
      }

      &-die {
        &, span {background-color:#000;} &:before {@include die02;}
      }
    }
  }

  &-area {
    z-index: 5; width:70px; height:70px; background-color: rgba(255,255,255,0.2);
    border-style:dashed; border-width:1px; border-color:$color-white-01;

    .ui-resizable-e  {bottom: ($resi_w); right:-($resi_w / 2); }
    .ui-resizable-s  {bottom:-($resi_w / 2); right: ($resi_w); }
    .ui-resizable-se {bottom:-($resi_w / 2); right:-($resi_w / 2); }

    &.on {
      background-color: rgba($color-on,0.4); border-color:$color-on;
      &:hover  { .ui-resizable-se, .ui-resizable-e, .ui-resizable-s {display: block !important;} }
    }
  }

  &-fence {
    width:100% !important; height:100% !important; background-color: transparent !important; cursor:move;
    polygon, path {
      stroke-width:1px; fill: rgba($color-yellow-01, 0.2); stroke: $color-yellow-01;
      text {font-size:5px !important; letter-spacing: 0;}
      &.level {
        &-caution, &-warning, &-danger, &-die {@include notice-opacity; stroke-width:2px;}
        &-caution { fill: rgba($color-caution, 0.8) !important; stroke: $color-caution !important; }
        &-warning { fill: rgba($color-warning, 0.8) !important; stroke: $color-warning !important; }
        &-danger  { fill: rgba($color-danger,  0.8) !important; stroke: $color-danger !important;  }
        &-die     { fill: rgba($color-die,     0.8) !important; stroke: $color-die !important;     }
        &-ignore  { fill: rgba($color-gray-05, 0.8) !important; stroke: $color-gray-05 !important; }
      }
    }
  }

  &-line {
    polyline {fill: transparent !important; stroke-width:1px; stroke: $color-caution;}
    marker {overflow: visible;}
    image {width:20px; height:20px;  background: url("../images/ico/sico_81.svg");}

    &.scale-20 image {width:20px; height:20px;}
    /*sico_39
    <circle fill="none" cx="10" cy="11" r="8"/>
    <circle fill="none" cx="10" cy="11" r="11"/>
    <circle fill="none" cx="10" cy="11" r="16"/>
    */
    &.scale-30 image {width:30px; height:30px;}
    /*
    <circle fill="none" cx="15" cy="15" r="15"/>
    <circle fill="none" cx="15" cy="15" r="20"/>
    <circle fill="none" cx="15" cy="15" r="25"/>
    */
    &.scale-40 image {width:40px; height:40px;}
    /*
    <circle fill="none" cx="20" cy="20" r="20"/>
    <circle fill="none" cx="20" cy="20" r="25"/>
    <circle fill="none" cx="20" cy="20" r="30"/>
    */


    polyline.object {stroke: $color-caution;}


    // 마크 반경표시
    marker circle {
      margin: 0 auto;
      animation-name: radar;
      animation-direction: normal;
      animation-iteration-count: infinite;
      animation-play-state: running;
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.6, 0.13, 0.79, 0.49);

      &:nth-of-type(1){
        animation-delay: #{1.3}s;
        stroke-width: 2px;
        stroke-opacity: 0.3;
      }

      &:nth-of-type(2){
        animation-delay: #{1.6}s;
        stroke-width: 3px;
        stroke-opacity: 0.4;
      }

      &:nth-of-type(3){
        animation-delay: #{2}s;
        stroke-width: 4px;
        stroke-opacity: 0.4;
      }
    }
    #human   circle {stroke:#efd914;} // 사람
    #vehicle circle {stroke:#99d622;} // 차량
    #unknown circle {stroke:#ffffff;} // 오브젝트

    g {overflow: visible; width:20px; height:20px; position: relative; }
    polyline.level {
      &-caution, &-warning, &-danger {@include notice-opacity;}
      &-caution { stroke: $color-caution; }
      &-warning { stroke: $color-warning; }
      &-danger  { stroke: $color-danger; }
    }
  }

  &-ignore_fence {fill: rgba($color-gray-05, 0.5) !important;  stroke: $color-gray-07 !important;}

}


////// ----------------- OFFINLE MAP 설정  End

/////..... 감시화면 옵션 버튼 셋 Start
$cbs-w:200px;
$cbs-h:60px;

@mixin cbs-before {
  @include flex-midddle; @include mhwidth($cbs-h - 10px);
  font-size:2.4rem; @include text-shadow(0, 4px, 8px, #000,1);
} // @include cbs-before;
@mixin cbs-after  {
  letter-spacing: 0; line-height: 0.9rem; padding:0 10px;
  text-align: left; font-size:0.9rem; font-weight: bold;
} // @include cbs-after;

@mixin cbs-label  {
  @include flexbase; @include flex-align-items-center; @include flex-justify-content-start;
  position: relative; height:100%; opacity: 0.7;
} // @include cbs-label;

@mixin cbs-checkbtn {

  width:100%; height:$cbs-h; padding:10px;

  input {
    opacity: 0; position: absolute; z-index: 1; top:0; left:0; width:100%; height:100%;
    cursor:pointer; padding:0; margin:0;
  }
  label {
    @include cbs-label;
    &:before {@include cbs-before;}
    &:after {@include cbs-after;}
  }

  input:hover + label {color:$color-ho; opacity: 1;}
  input:checked + label {
    opacity: 1;
    &:before, &:after {color:$color-on; }
    &:before {}
  }

} // @include cbs-checkbtn;
@mixin cbs-base {
  position: absolute; z-index: 80 !important; background-color: rgba(#000,0.2);
  @include transition(200ms);
} // @include cbs-base;

/////..... 온오프 리스트 버튼
.check_btn_menu {
  @include cbs-base; @include cbs-checkbtn; width:$cbs-w !important; left:0; bottom:0;
  label {
    &:before {content:"\e959";  }
    &:after  {content:"VIEW OPTIONS";}
  }
  input:checked + label {
    &:before {content:"\e92c"; }
    &:after {content:"VIEW OPTIONS"; }
  }
}
.check_btn_menu.on + .check_btn_set{left:0;}

/////..... 온오프 리스트 메뉴
.check_btn_set {

  @include flexbase; @include flex-column; @include flex-align-items-start;
  @include flex-justify-content-start; @include cbs-base; left:-100%;

  width:$cbs-w; bottom:$cbs-h;

  & > div {
    @include cbs-checkbtn; position: relative;

    &.tracking_scale {
      @include cbs-label; cursor:pointer;

      &:hover {
        &, & * {color:$color-ho; opacity: 1;}
      }

      &:before {content:"\e950"; @include cbs-before;}
      &:after {@include cbs-after;}
      &.scale {
        &-20:after {content:"SCALE Ⅹ 1";}
        &-30:after {content:"SCALE Ⅹ 1.5";}
        &-40:after {content:"SCALE Ⅹ 2";}
      }
    }

    &.ignore_check {

      label {
        &:before {content:"\e992";  }
        &:after  {content:"SHOW IGNORE FENCE";}
      }

      input:hover + label { opacity: 1;}
      input:checked + label {
        &:before {content:"\e991"; }
        &:after {content:"HIDE IGNORE FENCE"; }
      }
    }

    &.range_check {

      label {
        &:before {content:"\e97f";  }
        &:after  {content:"LIDAR RANGE";}
      }

      input:hover + label { opacity: 1;}
      input:checked + label {
        &:before {content:"\e978"; }
        &:after {content:"LIDAR RANGE OFF"; }
      }
    }

    &.object_check {

      label {
        &:before {content:"\e943";  }
        &:after  {content:"SHOW TRACKING";}
      }

      input:hover + label { opacity: 1;}
      input:checked + label {
        &:before {content:"\e926"; }
        &:after {content:"HIDE TRACKING"; }
      }
    }

    &.human_check {
      label {
        &:before {content:"\e906";  }
        &:after  {content:"ALL OBJECT ";}
      }

      input:hover + label { opacity: 1;}
      input:checked + label {
        &:before {content:"\e950"; }
        &:after {content:"ONLY HUMAN"; }
      }
    }

    &.fence_check {
      label {
        &:before {content:"\e941";  }
        &:after  {content:"FENCE TRACKING";}
      }

      input:hover + label { opacity: 1;}
      input:checked + label {
        &:before {content:"\e921"; }
        &:after {content:"FENCE TRACKING OFF"; }
      }
    }
  }

}

/////..... 화면 플러스 마이너스 메뉴 Start
.view_size {

  @include cbs-base; right:0; bottom:0;

  //&.on{right:0;}

  & > div {
    position: relative;

    button {
      @include flex-midddle; color:$color-white-01; @include mhwidth($cbs-h);
      &:before { font-size:2.4rem; @include text-shadow(0, 4px, 8px, #000,1);}
      &:hover:before {color: $color-ho;}
    }

    &.view_plus {
      button {
        &:before {content:"\e95d"; }
        &:hover {@include notice-plus;}
      }
    }
    &.view_minus {
      button {
        &:before {content:"\e95c"; }
        &:hover {@include notice-minus;}
      }
    }

  }
}
/////..... 감시화면 옵션 버튼 셋 End

.fencebtn_set {
  @include cbs-base; @include flexbase; @include flex-column; bottom:-100%; right:$cbs-h; width:150px;

  &.on {bottom:0; }
  &, .box_area {background-color: rgba(#000, 0.4);}
  &.custom-mode {
    .btn-custom {
      &:before {content:"CUSTOM MODE"; }
      &:after {background-color: $color-on;}
    }
    .box_area {@include flexbase;}
  }
  & > button {
    @include flexbase; @include flex-align-items-center; @include flex-justify-content-between;
    width:100%; height:$cbs-h; margin:0; padding:0 10px;
    &, & * {color:$color-white-01; }
    &:before {order:2; @include flex-midddle;}
    &:after {order:1; opacity: 1; text-align: left; padding:0 10px 0 0;}

  }
  .btn-custom {
    @include btn-box; width:100%; max-width:none; height:($cbs-h - 20px);
    &:before {width:100%; height:100%; content:"NORMAL MODE";}
  }

  .btn-pdel, .btn-canc {
    &:hover {&:before, &:after {color:$color-ho; border-color:$color-ho; } }
    &:before {
      @include mhwidth($cbs-h / 2); @include border-radius(200px);
      @include border01(3px,$color-white-01,1 );
    }
  }

  .btn-pdel { &:before {content:"\e92c";} &:after {content:"Point Del";width:auto;}}
  .btn-canc { &:before {content:"\e91a";} &:after {content:"Cancle";width:auto;}}

  .box_area {
    display:none; @include cbs-base; top:-($cbs-h); left:0;
    width:100%; @include mmheight($cbs-h); padding:10px; @include border01(1px,$color-on,1 );
    span {display: none;}
    input {
      width: 100%;
      &:nth-of-type(1) {order:1;}
      &:nth-of-type(2) {order:3;}
    }
    &:before {content:"\e91a"; order:2; @include flex-midddle; @include mmwidth(30px); height:100%;}
  }
}

.skew {
  &-btn {
    @include btn-itype01b; margin:0 auto 0 0;
    & * {border:none !important;}
    &:before {content:"\e959";}
  }

  &-popup{
    $skew-width:250px; @include transition(200ms);
    @include flexbase; @include flex-row-wrap; @include flex-align-content-start; padding:0 0 20px 0 !important;
    position:absolute !important; z-index: 10; bottom:40px; left:-($skew-width + 1);
    width:$skew-width; background-color: rgba($color-popup,0.8);
    @include border01(1px,$color-on,1 ); border-color:$color-on !important;

    &.on {left:0;}
    & > * {padding:0 15px !important;}

    h4,h5 {@include mmwidth(100%);}
    h4 {color:$color-white-01; }
    h5 { @include h5; &:before {left: 15px;}}

    button {
      @include btn-itype01b; margin:0;
      &:before {position: absolute; content:"\e902";}
      &:after {@include border01(1px 0 1px 1px,#000,1 );}
    }

    .set-item > div > button {
      &:nth-of-type(1) {
        &:before {content:"\e902";}
        &:hover:before {@include xloding;}
      }
      &:nth-of-type(2) {
        &:before {content:"\e988";}
        &:hover:before {@include loding;}
      }
    }
  }
}
