@charset "utf-8";
@import "filters";

.ico {
  &-safeeye:before  {content:"\e941" !important;} // -safeeye
  &-blinker:before  {content:"\e944" !important;} // -blinker
  &-tracker:before  {content:"\e943" !important;} // -tracker
  &-function:before {content:"\e940" !important;} // 설정새로고침
  &-pool:before     {content:"\e942" !important;} // 수영장
  &-health:before   {content:"\e93f" !important;} // 의료
  &-nhr:before      {content:"\e945" !important;} // detector
  &-invasion:before {content:"\e93e" !important;} // 침입
  &-exhibit:before  {content:"\e93c" !important;} // 전시물보호
  &-speaker:before  {content:"\e93a" !important;} // 스피커
  &-wlight:before   {content:"\e93b" !important;} // 경광등
  &-mobile:before   {content:"\e939" !important;} // 모바일
  &-close:before    {content:"\e91a" !important;} // 닫기
  &-plus:before     {content:"\e92b" !important;} // 더보기
  &-minus:before    {content:"\e92c" !important;} // 빼기
  &-login:before    {content:"\e900" !important;} // 로그인
  &-admin:before    {content:"\e909" !important;} // 관리자
  &-user:before     {content:"\e90e" !important;} // 사용자
  &-update:before   {content:"\e961" !important;} // 업데이트
  &-confirm:before  {content:"\e941" !important;} // 확인
  &-cancle:before   {content:"\e937" !important;} // 알림해지
  &-more:before     {content:"\e95c" !important;} // 더보기
  &-zoom:before     {content:"\e925" !important;} // 자세히보기
  &-area:before     {content:"\e91b" !important;} // 장소
  &-tof:before      {content:"\e962" !important;} // TOF 센서
  &-m8:before       {content:"\e95f" !important;} // m8 센서
  &-ptz:before      {content:"\e961" !important;} // PTZ 카메라
  &-camera:before   {content:"\e964" !important;} // PTZ 카메라
  &-chart:before    {content:"\e908" !important;} // 차트
  &-four:before     {content:"\e938" !important;} // 4분할
  &-gate:before     {content:"\e92f" !important;} // 게이트 웨이 센서
  &-temp:before     {content:"\e949" !important;} // 온도
  &-humi:before     {content:"\e947" !important;} // 습도
  &-co2:before      {content:"\e955" !important;} // CO2
  &-co:before       {content:"\e956" !important;} // CO
  &-plug:before     {content:"\e933" !important;} // 스마트 플러그
  &-smok:before     {content:"\e963" !important;} // 연기
  &-gas:before      {content:"\e910" !important;} // 가스
  &-hlds:before     {content:"\e959" !important;} // 근거리 HLDS 센서
  &-device:before   {content:"\e92f" !important;} // 근거리 HLDS 센서
  &-led:before      {content:"\e963" !important;} // LED
  &-sioc:before     {content:"\e96e" !important;} // sioc
  &-qguard:before   {content:"\e96c" !important;} // q가드 서버
  &-shock:before    {content:"\e942" !important;} // 압전센서
  &-server:before   {content:"\e96b" !important;} // 서버
  &-check:before    {content:"\e901" !important;} // 체크
  &-open:before     {content:"\e917" !important;} // 열기
  &-save:before     {content:"\e927" !important;} // 저장
  &-reso:before     {content:"\e964" !important;} // 리소스 모니터링
  &-docker:before   {content:"\e938" !important;} // 도커
  &-qguard:before   {content:"\e96c" !important;} // Q가드
}

.cursor_cros {cursor:crosshair !important;}
.cursor_auto {cursor:auto !important;}
.cursor_default {cursor:default !important;}
.cursor_poin {cursor:pointer !important;}


////// 시계 Start
.datetime_set {
  @include flex-midddle; opacity: 0.6;
  & span {
    @include font-size-h3; height:auto !important; letter-spacing: 1px;
    &.c-Day,&.c-Date,&.c-Week {padding:0 10px 0 0;}
  }
}
////// 시계 End

////// form_area  Start
.form_area {
  span, input {width:100%;}
  span  {margin: 0 0 5px 0;}
  input {margin: 0 0 20px 0;}
}
////// form_area  End


////// btn_set 정의 Start
.btn_set  {
  @include flexbase; @include flex-justify-content-between;
  position: relative;
  & > button {
    @include flex-width-option(1, 100%);
    @include mmwidth(auto);  max-width: none !important;
    margin:0 0 0 5px;
    &:first-of-type {margin:0;}
  }
}
////// btn_set 정의 End


////// 시,분, 초 선택 폼 Start
.select_edit {
  @include flexbase;
  position: relative; height:40px;
  & > div {
    position: relative; height:100%; margin:0 2px; @include flex-option(0, 1, 100%);

    input, select {position: absolute; top:0; left:0; height:100%;}
    input  {width:calc(100% - 25px);width:-webkit-calc(100% - 25px); z-index: 1;}
    select {width:100%;}
  }
  &.disabled {opacity: 0.2; input, select {pointer-events:none;} }
}
////// 시,분, 초 선택 폼 End



//////...... 달력 datepicker Start
input.datepicker {width:100px;}
// datepicker Start
button.ui-datepicker-trigger {
  @include length01; @include border(1px 1px 1px 0,$color-gray-01);
  background-color: #fff;
  &:before {content:"\e91f"; font-size:1.8rem; margin:0 1px 0 0; color:$color-dark-01;}
  &:hover:before {color:$color-red-01;}
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
{@include border-radius(0px);}

.ui-datepicker {
  display: none;
  width:320px; padding:10px; background-color:$color-white-01;
  @include border01(1px,$color-gray-01,1);
  @include box-shadow01(0px, 30px, 40px, -20px, #000, 0.7);

  table {width: 100%;  font-size: .9em; border-collapse: collapse;}

  //.ui-datepicker-header start
  .ui-datepicker-header {
    position: relative; height:40px; margin:10px 0;

    // .ui-datepicker-header 좌우 화살표 Start
    & > a {
      overflow: hidden; position: absolute; top:0;  @include length01;

      &:hover > span:before {color:$color-red-01;}
      &.ui-datepicker-prev {left:0;}
      &.ui-datepicker-next {right:0;}
      &.ui-datepicker-prev > span:before {content:"\e918";}
      &.ui-datepicker-next > span:before {content:"\e919";}

      & > span {
        @include flex-midddle; position:relative; width:100%; height:100%;
        &:before {font-size:1.8rem; color:$color-dark-01; }
      }
    } // .ui-datepicker-header 좌우 화살표 End

    // .ui-datepicker-header 타이틀 Start
    .ui-datepicker-title {
      @include flex-midddle;
      position: absolute; top:0; left:40px; right:40px; height:40px; cursor: pointer;
      & > select  {
        font-size:1.6rem; line-height: 1.8rem; width:110px;
        &:first-of-type {border-right-width:0;}
      }
      &, & > span {font-size:2rem;}
    } // .ui-datepicker-header 타이틀 End

  } //.ui-datepicker-header End

  //.ui-datepicker-calendar Start
  .ui-datepicker-calendar {
    thead {opacity: 0.5;}
    th, td {
      height:40px; text-align: center; padding:0; border:none;
      & > span, & > a {@include flex-midddle; height:100%; font-size:16px;}
      &.ui-datepicker-week-end, &.ui-datepicker-week-end > a {color:$color-dark-01;}
      & > a.ui-state-highlight {color:$color-red-01; font-weight:bold;}
      & > a:hover {background-color: $color-orange-01; color:$color-white-01;}
      & > a.ui-state-active {background-color: $color-red-01; color:$color-white-01; border:none;}
    }
  }//.ui-datepicker-calendar End
}

.dpk_normal_type.dpk_open {
  display: inline-block;
  position: absolute; z-index:1; top:0; left:0;
  .ui-datepicker {
    @include border01(1px, $color-gray-01, 0);
    @include box-shadow01(0px, 30px, 40px, -20px, #000, 0.0);
  }
  .ui-datepicker-calendar {display: none;}

  &:hover .ui-datepicker-calendar {display: table;}
  &:hover .ui-datepicker {
    @include border01(1px, $color-gray-01, 1);
    @include box-shadow01(0px, 30px, 40px, -20px, #000, 0.7);
  }

}

.dpk_open_type {
  display: inline-block;
  & > .ui-datepicker {
    background-color: transparent; border:none; @include box-shadow-none;
    & > .ui-datepicker-header {
      & > a > span:before {color:$color-dark-01;}
    }
  }
}
/////...... 달력 datepicker End


/////...... timepicker Start
.timepicker {@include flexbase;  @include flex-align-items-center;  height: 40px;}


.timepicker > div, .in-timepicker, .w_input {
  display: inline-block; position: relative; min-width:70px; width:auto; margin:0 2px;
  &, & > select {min-height:40px;}
  &:first-child {margin:0 2px 0 0;}
  & > select {width:100%; min-width:0; height: 100%;}
  & > input  {
    position: absolute; z-index:1; top: 1px; left: 1px;
    width: calc(100% - 30px) !important; width: -webkit-calc(100% - 30px) !important;
    height: calc(100% - 2px) !important; height: -webkit-calc(100% - 2px) !important;
    border: none !important;
  }
  & > input:focus + select { border-color: $color-red-01; }
}

.popupbase .timepicker > div input {border: none !important;}

input.datepicker + button + .in-timepicker {z-index:1; left:-1px; margin:0;}
.timepicker, .filter_box, .filter_set { & em {margin:0 10px;} }
/////...... timepicker End


///// input[type="checkbox"] checkBox label base 정의 Start
.csl_style01 {@include csl-check;} // 원형 체크박스
.csl_style02 {@include csl-onoff;} // ON or OFF
.csl_style03 {@include csl-yesno;} // YES or NO
.csl_style04 {@include csl-showhide;} // SHOW or HIDE
.csl_style05 {@include csl-icon;} // 아이콘 사각
///// input[type="checkbox"] checkBox label base 정의 End


/////...... button base 정의 Start
a.btn {@include flex-midddle; span {width:100%; text-align:center;} }

.btn      {@include btn-box;}        // 160_40 박스 버튼
.btn-line {@include btn-line; }      // 160_40 라인 버튼

.btn-itype03b   {@include btn-itype03b;  }   // 40_40 정사각 버튼
.btn-itype01b   {@include btn-itype01b;  }   // 50_50 정사각 버튼
.btn-itype03b-t {@include btn-itype03b-t;}   // 40_40 정사각 투명 버튼
.btn-itype01b-t {@include btn-itype01b-t;}   // 50_50 정사각 투명 버튼
.btn-itype03b-l {@include btn-itype03b-l;}   // 40_40 정사각 라인 버튼
.btn-itype01b-l {@include btn-itype01b-l;}   // 50_50 정사각 라인 버튼
.btn-itype03c   {@include btn-itype03c;  }   // 40_40 원형 버튼
.btn-itype01c   {@include btn-itype01c;  }   // 50_50 원형 버튼
.btn-itype03c-t {@include btn-itype03c-t;}   // 40_40 원형 투명 버튼
.btn-itype01c-t {@include btn-itype01c-t;}   // 50_50 원형 투명 버튼
.btn-itype03c-l {@include btn-itype03c-l;}   // 40_40 원형 라인 버튼
.btn-itype01c-l {@include btn-itype01c-l;}   // 50_50 원형 라인 버튼

.dim {@include dim_btn; } // 버튼 비활성화

button.btn ~ button.btn {margin:0 0 0 5px;} // 버튼이 나란히 배치 되었을때 버튼간 간격 유지

.sett_btn, .refl_btn  {margin:0 0 0 15px;}
.sett_btn:before {content: "\e905" !important;}
.refl_btn:before {content: "\e95e" !important;}
/////...... button base 정의 End


/////...... contenteditable 정의 Start
div[contenteditable] {}
/////...... contenteditable 정의 End


//////...... 차트 상태 표시 시작
* {
  // 상태 표시
  .ch_name, .chart_label span, .mh_name {
    position: relative; margin:0 20px 0 0; background-color: transparent;
    &:before {
      content:""; display: inline-block; position: relative; top:1px;
      width:14px; height:14px; margin:0 5px 0 0; @include border-radius(20px);
    }
  }

  /*
   &.co_gren:before {background-color: rgba(0,212,88,  0.4);} !*1 작업자상태, 안전복 미착용*!
   &.co_purp:before {background-color: rgba(204,61,211,0.4);} !*2 크레인상태, 헬멧 미착용 *!
   &.co_yell:before {background-color: rgba(255,206,83,0.4);} !*3 유해가스상태, 배회 쓰러짐*!
   &.co_redd:before {background-color: rgba(254,77,59,0.4); } !*4 위험지역 감지  *!
   &.co_viol:before {background-color: rgba(151,83,220,0.4);} !*5  *!
   &.co_blue:before {background-color: rgba(41,161,247,0.4);} !*6  *!
   */

  .mp_header {@include flexbase;}

  .check_th tbody tr:before, .check_th tbody tr td:first-of-type:before {@include border-radius(200px);}
  .check_th tbody tr.top00 td:first-of-type:before {background-color: #ccc;}

  .check_th tbody tr.top01 td:first-of-type:before,
  .chart_label > span:nth-of-type(1):before,
  .mp_header > div > .ch_name:nth-of-type(1):before
  {background-color: $color-green-01;} // 1 #01d65a 작업자상태, 안전복 미착용

  .check_th tbody tr.top02 td:first-of-type:before,
  .chart_label > span:nth-of-type(2):before,
  .mp_header > div > .ch_name:nth-of-type(2):before
  {background-color: $color-purple-01;} // 2 #cc3dd3 크레인상태, 헬멧 미착용

  .check_th tbody tr.top03 td:first-of-type:before,
  .chart_label > span:nth-of-type(3):before,
  .mp_header > div > .ch_name:nth-of-type(3):before
  {background-color: $color-yellow-01;} // 3 #ffce53 유해가스상태, 배회 쓰러짐

  .check_th tbody tr.top04 td:first-of-type:before,
  .chart_label > span:nth-of-type(4):before,
  .mp_header > div > .ch_name:nth-of-type(4):before
  {background-color: $color-red-01;} // 4 #e41717 위험지역 감지

  .check_th tbody tr.top05 td:first-of-type:before,
  .chart_label > span:nth-of-type(5):before,
  .mp_header > div > .ch_name:nth-of-type(5):before
  {background-color: $color-purple-02;} // 5 #9753dc

  .check_th tbody tr.top06 td:first-of-type:before,
  .chart_label > span:nth-of-type(6):before,
  .mp_header > div > .ch_name:nth-of-type(6):before
  {background-color: $color-blue-02;} // 6 #29a1f7

  .check_th tbody tr.top07 td:first-of-type:before,
  .chart_label > span:nth-of-type(7):before,
  .mp_header > div > .ch_name:nth-of-type(7):before
  {background-color: $color-green-02;} // 7 #56c96e

  .check_th tbody tr.top08 td:first-of-type:before,
  .chart_label > span:nth-of-type(8):before,
  .mp_header > div > .ch_name:nth-of-type(8):before
  {background-color: $color-yellow-02;} // 8 #ff7a39

  .check_th tbody tr.top09 td:first-of-type:before,
  .chart_label > span:nth-of-type(9):before,
  .mp_header > div > .ch_name:nth-of-type(9):before
  {background-color: $color-blue-03;} // 9 #de4ec1

  .check_th tbody tr.top10 td:first-of-type:before,
  .chart_label > span:nth-of-type(10):before,
  .mp_header > div > .ch_name:nth-of-type(10):before
  {background-color: $color-purple-03;} // 10  #7894c2

}
//////...... 차트 상태 표시 끝

// 1  $color-green-01;
// 2  $color-purple-01;
// 3  $color-yellow-01;
// 4  $color-red-01;
// 5  $color-purple-02;
// 6  $color-blue-02;
// 7  $color-green-02;
// 8  $color-yellow-02;
// 9  $color-blue-03;
// 10 $color-purple-03;

/////...... 차트 색상 정의 Start
.ct-series {
  /*
  .ct-series-a .ct-area,
  .ct-series-a .ct-slice-pie, 파이차트
  .ct-series-a .ct-bar,
  .ct-series-a .ct-line,
  .ct-series-a .ct-point, 라이차트 포인트
  .ct-series-a .ct-slice-donut
  */

  & {
    .ct-line, .ct-series .ct-point {stroke-linecap: square;}
    .ct-line  { stroke-width: 1px !important; }
    .ct-point { stroke-width: 7px !important; }
    .ct-bar {opacity: 0.7;  }
  }

  &-a {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $color-green-01 !important; stroke: $color-green-01 !important;}
    .ct-line, .ct-point {stroke: $color-green-01 !important;}
  } // 1 #01d65a // rgba(0,212,88,1) 작업자상태, 차트01

  &-b {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $color-purple-01 !important; stroke: $color-purple-01 !important;}
    .ct-line, .ct-point {stroke: $color-purple-01 !important;}
  }  // 2 #cc3dd3; // rgba(204,61,211,1) 크레인상태, 차트02

  &-c {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $color-yellow-01 !important; stroke: $color-yellow-01 !important;}
    .ct-line, .ct-point {stroke: $color-yellow-01 !important;}
  } // 3 #ffce53; // rgba(255,206,83,1) 유해가스상태, 주위, 차트03

  &-d {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $color-red-01 !important; stroke: $color-red-01 !important;}
    .ct-line, .ct-point {stroke: $color-red-01 !important;}
  } // 4 #e41717; // rgba(254,77,59,1) 감지, 차트04

  &-e {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $color-purple-02 !important; stroke: $color-purple-02 !important;}
    .ct-line, .ct-point {stroke: $color-purple-02 !important;}
  } // 5 #9753dc; // rgba(151,83,220,1) 차트05

  &-f {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $color-blue-02 !important; stroke: $color-blue-02 !important;}
    .ct-line, .ct-point {stroke: $color-blue-02 !important;}
  } // 6 #259dcf;   // rgba(37,157,207,1) 차트06

  &-g {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $color-green-02 !important; stroke: $color-green-02 !important;}
    .ct-line, .ct-point {stroke: $color-green-02 !important;}
  }  // 7 #56c96e;  // rgba(86,201,110,1) 차트07

  &-h {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $color-yellow-02 !important; stroke: $color-yellow-02 !important;}
    .ct-line, .ct-point {stroke: $color-yellow-02 !important;}
  } // 8 #ef8116; // rgba(239,129,22,1) 차트08

  &-i {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $color-blue-03 !important; stroke: $color-blue-03 !important;}
    .ct-line, .ct-point {stroke: $color-blue-03 !important;}
  } // 9 #259dcf;   // rgba(37,157,207,1) 차트09

  &-j {
    .ct-area, .ct-slice-pie, .ct-bar, .ct-slice-donut
    {fill: $color-purple-03 !important; stroke: $color-purple-03 !important;}
    .ct-line, .ct-point {stroke: $color-purple-03 !important;}
  } // 10 #7894c2; // rgba(120,148,194,1) 차트10

}
/////...... 차트 색상 정의 End


///// 데시보드 라인 차트 시작
.ct-chart-line {
  overflow: hidden; position: relative;
  & > g:nth-of-type(2) {position: absolute; left:0; top:0; bottom:0;  right:0;}
  & > * {width:100%;}
}
.ct-grids, .ct-grids * {color:#fff !important;}
.ct-grid {
  stroke: rgba(0,0,0,.4) !important;
  stroke-width: 1px;
  stroke-dasharray: 0 !important;

  &.ct-horizontal {opacity: 0.4 !important;}
}
.ct-label {
  font-size: 0.85rem !important;
  color:$color-gray-05 !important; fill:$color-gray-05 !important;
  &.ct-vertical.ct-start {width:auto !important;}
  &.ct-horizontal.ct-end {
    position: relative; left: -50% !important;
    -webkit-box-align:   flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align:      flex-start;
    align-items:         flex-start;
    -webkit-box-pack:        center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack:           center !important;
    justify-content:         center !important;
    text-align:              center !important;
    text-anchor:              start;
  }

}
.ct-label01 {stroke:rgba(255,255,255,0.8) !important; font-size:13px;}

/////..... 통계 툴팁 시작
.chartist-tooltip {
  @include flex-midddle-important; @include flex-column; min-height:40px !important; min-width:40px !important;
  background-color: $color-dark-01 !important; color: #fff !important;
  @include border-radius(200px);

  &:before {
    margin: -2px 0 0 -5px  !important;
    border-style:solid !important; border-width: 10px 5px 0 5px !important;
    border-color:$color-dark-01 transparent transparent transparent !important;
  }
}
/////..... 통계 툴팁 끝
///// 데시보드 라인 차트 끝


/////...... 날짜 선택 버튼 셋 정의 Start
.month_btn_set {
  @include flexbase;
  width:auto; @include flex-align-items-center;
  p { text-align:center; font-size:30px; padding:0 20px;}
  button {
    font-size:36px;
    &:before {font-weight:bold;}
    &:first-of-type:before {content:"\e918";}
    &:last-of-type:before  {content:"\e919";}
    &:hover:before { color: $color-red-01;}
  }
}
/////...... 날짜 선택 버튼 셋 정의 End


///// 그래프로 보기 , 표로보기 버튼 셋 정의 Start
.depthtabs_btn_set {
  button {
    height:40px; margin:0 0 0 15px;
    &:hover, &.tabs_on {color: $color-red-01;}
    &.tabs_on:after {opacity: 1}
    &:before {padding:0 4px 0 0;}
    &:first-of-type:before {content:"\e908";}
    &:last-of-type:before  {content:"\e91f";}
    &:after {
      content:"";  position: absolute; left:0; bottom:0; width:100%; height:1px;
      background-color: $color-red-01; opacity: 0;
    }
  }
}
///// 그래프로 보기 , 표로보기 버튼 셋 정의 End
.chart_box.type01 {overflow-x:auto;}
.chart_box.type02 {overflow-y:auto;}


////// ----------------- Loading Start
.loding_bar  {&.on {@include loding_bar;}}
.loading_ico {&.on {@include loding_ico;}}
////// ----------------- Loading End


// page 정의 Start [처음 + 이전 + 페이지 + 다음 + 마지막]
.page {
  /*
  <div class="page">
      <button class="pll"></button>
      <button class="pl"></button>
      <div>
          <button class="on">1</button>
          <button>2</button>
          <button>3</button>
          <button>4</button>
          <button>5</button>
      </div>
      <button class="pl"></button>
      <button class="pll"></button>
  </div>
  */


  position:relative; width:100%; height:40px; margin:20px 0;
  &, & > div {@include flex-midddle; }
  button {
    @include btn-itype01b-l; margin:0 2px;

    &,&:before {color:$color-a-text;}
    &:before {border-color:rgba($color-a-text,.8); background-color:rgba($color-white-01,.8) !important; }
  }

  & > button {
    &.pll { &:before {content:"\e935";} }
    &.pl  { &:before {content:"\e918";} }
    &:last-of-type, &:nth-last-of-type(2) {@include rotate(180deg);}
  }

  & > div {margin:0 10px;}
}
/////...... Table_layout 정의 End


////// -----------------  MAP 설정 Start
.map_images {
  @include flex-midddle; position: absolute; z-index: 1;

  background-repeat:no-repeat; background-position: center;
  &:before {content:""; position: absolute; z-index:-1; /*background-color: rgba(#fff,0.4);*/ }
  /*&:after  {width:100%; height:1px; left:0; top:50%;}*/
  &:before {
    /*width:1px; height:100%; left:50%; top:0;*/
    width:100%; height:100%;
    background-image: url("../images/bg/gbg02.svg");
    background-repeat:repeat, no-repeat;
  }

  .g-angle{width:100%;height:100%;
    &.deg10 > .g-ico > div{transform: rotateX(10deg);}
    &.deg15 > .g-ico > div{transform: rotateX(15deg);}
    &.deg20 > .g-ico > div{transform: rotateX(20deg);}
    &.deg25 > .g-ico > div{transform: rotateX(25deg);}
    &.deg30 > .g-ico > div{transform: rotateX(30deg);}
    &.deg35 > .g-ico > div{transform: rotateX(35deg);}
    &.deg40 > .g-ico > div{transform: rotateX(40deg);}
    &.deg45 > .g-ico > div{transform: rotateX(45deg);}
    &.deg50 > .g-ico > div{transform: rotateX(50deg);}
  }

  .gm-style {
    &-pbc { opacity: 0 !important;}
    & > div {
      &:after, &:before {content:""; position: absolute; width:100%; height:100%;}
      &:after {background-color: $color-bas; z-index: -1;}
      &:before {}

      & > div:first-of-type {
        canvas {color:$color-white-01 !important;}
        & > div:last-of-type > div > div img { opacity: 0;}
      }
    }
  } // GPS 구동 시 사용. 현재 버전에서는 사용하지 않음.

  &.onlyhuman .object {display:none;}

  & > * {position: absolute !important;}
  .map_bg {
    z-index: -1;background-repeat:no-repeat;background-position: center;
    &, &:before, &:after {position: absolute; width:100%; height:100%;}
    &:before, &:after {content:"";}
    &:after { opacity: .4; /* background-image: url("../images/map/map.jpg"); */ background-position:center; background-repeat:no-repeat;}
  }
  //&.cursor_cros {}
}

.g-ico {}
.g-tracking {}


.g {
  /*
  */
  &-ico  {z-index: 50;}
  &-tracking,&-line {z-index: 100;}
  &-area  {z-index:10;}
  &-fence {z-index: 5;}

  &-ico, &-tracking, &-line, &-area, &-fence {position: absolute !important;}

  // 감시, 감지 디바이스 공통
  &-ico, &-area {
    //@include scale(0.5);
    &, & > * {cursor: pointer;}
    @include box-shadow01(0, 3px, 8px, 0px, #000, 1); @include resize;

    // 디바이스, 구역 이름표
    & > span {
      @include flex-midddle; position: absolute; width: max-content; bottom:-17px;
      padding:3px 10px; font-size:0.9rem;
      /*padding:0 10px 2px 10px; font-size:0.9rem; height:20px; bottom:-($devi_w - 5px); */line-height: 0.9rem;
      background-color:$color-gray-09; @include border-radius(200px);
      @include scale(0.4);
    }
    &:hover { &, & > span {background-color: rgba($color-yellow-01,0.5);} }
    &.on {&, & > span {background-color: $color-on;}}

  }

  // 감시, 감지 디바이스, 트레킹 아이콘 공통
  &-ico, &-tracking {
    background-color: $color-bas;
    &, &:before, &:after {@include flex-midddle; @include border-radius(500px); @include transition(200ms);}
    &:before, &:after {content:""; position: absolute; width:100%; height:100%;}
    &:after {z-index: -1;}
  }

  // MAP 설정 시 크기, 위치 버튼 표시
  &-ico {

    $g-wh-01 : 400px;
    $g-wh-02 : 800px; //기본값
    $g-wh-03 : 1200px;
    $g-wh-04 : 1600px;

    $g-r10 : 10deg;  $g-r20 : 20deg;  $g-r30 : 30deg;  $g-r40 : 40deg;  $g-r50 : 50deg;
    $g-r60 : 60deg;  $g-r70 : 70deg;  $g-r80 : 80deg;  $g-r90 : 90deg;  $g-r100 : 100deg;

    width:$devi_w; height:$devi_w;
    .ui-resizable-e, .ui-resizable-s {display: none !important;}
    .ui-resizable-e{right:-16px;} .ui-resizable-s{bottom:-23px;}
    .ui-resizable-se {margin-top:10px; margin-left: 10px;}

    &.on {
      background-color: $color-on;
      &:hover { .ui-resizable-se {display: block !important;} }
    }
    &.lidar > div {display: block !important; cursor: move;}
    & > div {
      z-index: -1; display: none;
      &, &:after {overflow: hidden; position: absolute; @include mhwidth($g-wh-04); }
      &:not(.ui-resizable-handle), &:after:not(.ui-resizable-handle) {@include mhwidth(10px);}
      &.ui-resizable-handle, &.ui-resizable-handle:after{@include mhwidth(10px);}
      &.ui-resizable-handle.ui-resizable-s:before{background:none;}
      &:after {@include lidar-bg($color-lidar); @include lidar; @include border-radius(10000px);}
    }
    &.level-die > div{@include mhwidth(10px);}

    &.wh-01 > div {&, &:after { @include mmwidth($g-wh-01); @include mmheight($g-wh-01); } }
    &.wh-03 > div {&, &:after { @include mmwidth($g-wh-03); @include mmheight($g-wh-03); } }

    &.half {
      & > div {bottom:($devi_w / 2);  @include mmheight($g-wh-02 / 2); @include origin(50%, 100%);}

      &.wh-01 > div {  @include mmheight($g-wh-01 / 2); }
      &.wh-03 > div {  @include mmheight($g-wh-03 / 2); }
    }

    &.quarter {
      & > div {
        right:(0 + ($devi_w / 2)); bottom:($devi_w / 2);  @include origin(100%, 100%);
        @include mmwidth($g-wh-02 / 2); @include mmheight($g-wh-02 / 2);
      }

      &.wh-01 > div {@include mmwidth($g-wh-01 / 2);  @include mmheight($g-wh-01 / 2); }
      &.wh-03 > div {@include mmwidth($g-wh-03 / 2);  @include mmheight($g-wh-03 / 2); }
    }






    &.level {
      &-caution,&-warning,&-danger,&-die {
        &:before {
          color:$color-white-01 !important; border-style:solid;
          @include notice-opacity; @include notice-border-type01;
        }
      }

      &-caution {
        &,& > span {background-color:$color-caution;}
        &:before {border-color:$color-caution; }
        & > div { &:after {@include lidar-bg($color-caution);} }
      }

      &-warning {
        &,& > span {background-color:$color-warning;}
        &:before {border-color:$color-warning;}
        & > div { &:after {@include lidar-bg($color-warning);} }
      }

      &-danger  {
        &,& > span {background-color:$color-danger;}
        &:before {border-color:$color-danger; }
        & > div {&:after {@include lidar-bg($color-danger);cursor: move;}}
      }

      &-die     {
        &,& > span {background-color:$color-die;}
        &:before {border-color:$color-die;}

        & > div {

          &:after {@include die02; @include lidar-bg($color-die);  animation-play-state: paused; top:auto;left:auto;}
        }
      }
    }
  }

  /*&-ico.lidar {
    &:after {overflow: hidden; @include mhwidth(800px); @include lidar-bg($color-lidar); @include lidar;}

    &.w100:after { @include mhwidth(1000px);}
    &.w120:after { @include mhwidth(1200px);}
    &.w160:after { @include mhwidth(1600px);}

    &.level {
      &-caution,&-warning,&-danger { &:after {} }
      &-caution { &:after {@include lidar-bg($color-caution);} }
      &-warning { &:after {@include lidar-bg($color-warning);} }
      &-danger  { &:after {@include lidar-bg($color-danger);}  }
      &-die {
        &:after {
          @include lidar-bg($color-die); @include mhwidth(100px); animation-play-state: paused; top:auto;left:auto;
        }
      }
    }

    & > div {display: none !important;}
  }*/

  &-ico:before     {font-size:1.2rem !important;}
  &-m8:before      {content:"\e95f";} // M8 센서
  &-camera:before  {content:"\e961";} // PTZ 카메라
  &-wlight:before  {content:"\e93b";} // 경광등
  &-led:before     {content:"\e963";} // LED
  &-speaker:before {content:"\e93a";} // 스피커
  &-qguard:before  {content:"\e96c";} // Q가드
  &-shock:before   {content:"\e942";} // 압전센서
  &-server:before  {content:"\e96b";} // 서버


  &-tracking {
    width:24px; height:24px; background-color: transparent;
    @include box-shadow01(0, 0, 0, 0px, #000, 0);
    &:before {
      content:"\e950"; font-size:1.2rem !important; color:$color-blue-03 !important;
      background-repeat: no-repeat; background-position: 50%; background-size: 80%;
      //color:$color-blue-03 !important; @include scale(0.8);
      ///background-image: url(../images/map/tracking.svg); background-size: 60% !important;
    }
    &.object:before {content:"\e926"; color:$color-white-01 !important;  opacity: 0.7; @include scale(0.8);}
    &:after {display: none;}

    &.level {
      &-caution,&-warning,&-danger  {
        &:before {@include notice-opacity;} &:after {border-style:solid; @include notice-border; }
      }

      &-caution {
        &,& > span {background-color:$color-caution;} &:before {border-color:$color-caution;}
      }

      &-warning {
        &,& > span {background-color:$color-warning;} &:before {border-color:$color-warning;}
      }

      &-danger  {
        &,& > span {background-color:$color-danger; } &:before {border-color:$color-danger;}
      }

      &-die {
        &, span {background-color:#000;} &:before {@include die02;}
      }
    }
  }

  &-area {
    z-index: 5; width:70px; height:70px; background-color: rgba(255,255,255,0.2);
    border-style:dashed; border-width:1px; border-color:$color-white-01;

    .ui-resizable-e  {bottom: ($resi_w); right:-($resi_w / 2); }
    .ui-resizable-s  {bottom:-($resi_w / 2); right: ($resi_w); }
    .ui-resizable-se {bottom:-($resi_w / 2); right:-($resi_w / 2); }

    &.on {
      background-color: rgba($color-on,0.4); border-color:$color-on;
      &:hover  { .ui-resizable-se, .ui-resizable-e, .ui-resizable-s {display: block !important;} }
    }
  }

  &-fence {
    width:100% !important; height:100% !important; background-color: transparent !important; cursor:move;
    polygon, path {
      stroke-width:1px; fill: rgba($color-yellow-01, 0.2); stroke: $color-yellow-01;
      text {font-size:5px !important; letter-spacing: 0;}
      &.level {
        &-caution, &-warning, &-danger, &-die {@include notice-opacity; stroke-width:1px;}
        &-caution { fill: rgba($color-caution, 0.2); stroke: $color-caution; }
        &-warning { fill: rgba($color-warning, 0.2); stroke: $color-warning; }
        &-danger  { fill: rgba($color-danger, 0.2);  stroke: $color-danger;  }
        &-die     { fill: rgba($color-die, 0.2);     stroke: $color-die;     }
        &-ignore  { fill: rgba($color-gray-05, 0.2); stroke: $color-gray-05; }
      }
    }
  }

  &-line {
    polyline {fill: transparent !important; stroke-width:1px;}
    marker {overflow: visible;} image {width:20px; height:20px;  background: url("../images/ico/sico_81.svg");} polyline.object {stroke: $color-caution;}

    // 마크 반경표시
    marker circle{
      margin: 0 auto;
      animation-name: radar;
      animation-direction: normal;
      animation-iteration-count: infinite;
      animation-play-state: running;
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.6, 0.13, 0.79, 0.49);

      &:nth-of-type(1){
        animation-delay: #{1.3}s;
        stroke-width: 2px;
        stroke-opacity: 0.3;
      }

      &:nth-of-type(2){
        animation-delay: #{1.6}s;
        stroke-width: 3px;
        stroke-opacity: 0.4;
      }

      &:nth-of-type(3){
        animation-delay: #{2}s;
        stroke-width: 4px;
        stroke-opacity: 0.4;
      }
    }
    #human circle{stroke:#109dcb;}
    #unknown circle{stroke:#ffffff;}

    g {overflow: visible; width:20px; height:20px; position: relative; }
    polyline.level {
      &-caution, &-warning, &-danger {@include notice-opacity;}
      &-caution { stroke: $color-caution; }
      &-warning { stroke: $color-warning; }
      &-danger  { stroke: $color-danger; }
    }
  }

  &-ignore_fence {fill: rgba($color-gray-05, 0.5) !important;  stroke: $color-gray-07 !important;}

}
////// ----------------- OFFINLE MAP 설정  End

.fencebtn_set{width:164px !important;
  button.btn-custom{@include mmheight(35px);max-width: 164px !important;width:164px !important;z-index: 1;border-radius: 0 !important;
    background-color: #FF8400 !important; font-size:0.9rem;display:inline-block !important; text-align:center;
    &:hover{background-color: #32A0BE !important; color:#fff !important; }
    &:after{content: "NORMAL MODE";}
  }
  .box_area{display: none; flex-direction: row;height: 50px;padding-top:5px;
    input{float:left;width:70px !important;}
    span{float:left;padding:10px 7px 0;font-weight: bold;}
  }
}
.fencebtn_set.custom-mode{
  button.btn-custom{@include mmheight(35px);max-width: 164px !important;width:164px !important;z-index: 1;border-radius: 0 !important;
    background-color: #C00606 !important; font-size:0.9rem;display:inline-block !important; text-align:center;
    &:hover{background-color: #32A0BE !important; color:#fff !important; }
    &:after{content: "CUSTOM MODE";}
  }
  .btn-pdel{display: none !important;}
  .box_area{display: flex;}
}

// map설정 skew레이어 
.skew-btn{margin-right:auto;padding: 0 10px; background: #393939; height:100%; width:160px; border-right:1px solid #040404 !important;background:#1D80A0;
    &:hover{background-color: #32A0BE;}
    &:active{background-color: $color-ac;}
    &.on{background-color: $color-on;}
}
.skew-popup{display:none; position:absolute !important; bottom:40px; left:0; width:240px; background-color:#3C3C3C; border-top:1px solid #393939;
    span{float:left; height:40px !important;clear:both; border-top:1px solid #040404 !important;border-left:0 !important;width:100px !important;}
    input{float:left; display: block; border-bottom:none !important;}
    .btn{float:left;}
    &.on{display: block;}
    select#angleClass{width:140px;border-bottom:none;border-left: none;}
    h4{float:left; color:#fff; padding: 5px; font-size:16px; font-weight:bold; width:100%; background-color:#0F4151; border-right:1px solid #040404;border-top:1px solid #040404;}
}
.uplist{left:1px; width:40px !important;
  & > button{
    &:before{content:"\e917" !important; font-size:1rem !important; border:1px solid #f5f5f5;}
    &:after{content:"" !important; background-color: #a9a9a9; height: 14px; width: 1px !important; top: -9px; left: 29px !important;}
    &.on{
      &:before{content:"\e917" !important; transform: rotateX(180deg);}
    }
  }
  .ico-up{padding-top:5px !important; color:#f5f5f5 !important; background-color: #3c3c3c; z-index: 9;
  }
  .ico-up:hover{color:#32a0be !important;
    &:before{border-color:#32a0be !important;}
 }
}

.btn-tarea{width:30px !important;
  &:before{content:"\e92e" !important;}
}

.ico-up{padding-top:5px !important;color:#f5f5f5 !important;}
.ico-up.on{color:#f5f5f5 !important; }
