@charset "utf-8";
@import "filters";

body.adaptive_landscape {}
body.adaptive_mobile    {}
body.adaptive_tablet    {}
body.adaptive_pc        {}
body.adaptive_ios       {}
body.adaptive_android   {}
body.adaptive_window    {}

section {}
article {}
footer  {}
nav     {}
aside   {}
menu    {}
///// ----------------- <h> START
h1,h2,h3,h4,h5,h6 {position: relative; letter-spacing: 0;}

body {
  position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 100%;
  min-width: $body-minwidth; min-height: 300px;

  //@include webkit_scroll;

  &, & > .wrap, main {
    overflow: hidden;
  }
}

// LayOut Set - 데시보드와 어드민 레이아웃 뎁스는 동일.

/* DashBoard
<body class="dashboard_mode">
  <div class="wrap">
    <header></header>
    <main>
      <aside></aside>
      <article>
        <div class="sub_title_area"></div>
        <section class=""></section>
        <section class="popup-layer"></section>
      </artcle>
    </main>
  </div>
</body>
*/

/* Admin

<body class="dashboard_mode">
  <div class="wrap">
    <header></header>
    <main>
      <aside></aside>
      <article>
        <div class="sub_title_area"></div>
        <section class="container"></section>
        <section class="popup-layer"></section>
      </artcle>
    </main>
  </div>
</body>
*/


// isaver_1.8 view_mode
.dashboard_mode.view_mode,.admin_mode.view_mode{
  & > .wrap {
    @include flexbase; @include flex-column; position:relative; width:100%; height:100%;

    // 체크박스 Start
    .checkbox-style01 {@include checkbox-style01;} // 알림센터 체크 박스 스타일  .db-checkbox
    // 체크박스 End

    // btn-set 정의 Start
    .btn-set  {
      @include flexbase; @include flex-justify-content-between; position: relative;

      & > button {
        @include line-btn; @include flex-width-option(1, 100%);
        width: auto; min-width: auto; max-width: none; margin:0 0 0 5px;
        &:first-of-type {margin:0;}
      }
    }
    // btn-set 정의 End

    // button  Start
    .notice-area{
      @include flexbase; @include flex-option(1, 0, 24px); @include mmwidth(24px); height: 100%;
      &:before{@include bbl(9,0,auto,0,0,1px,100%,$color-bline);}
      .notice-btn{
        width:100%; height:100%;
        @include noticelevel-style01; @include noticelevel-motion-01; @include noticelevel-ani03;
      }
      &.on {@include flex-option(0, 0, 0);}
    }

    button {
      &.notice-btn {
        @include action_boxbtn; @include noticelevel-style01; @include noticelevel-motion-01; @include noticelevel-ani03;
      }
      // 알림버튼

      &.db-openbtn {
        pointer-events: none; opacity: 0.5;
        &.active {pointer-events: auto; opacity: 1;}
        &:before {content:"\e983"; }
      } // 알림 해지 / 확인 열기 버튼

      &.db-delebtn:before {content: "\e974";} // 알림 전체 해지 버튼

      &.db-inforbtn {
        margin:0 5px 0 0;
        &:before {content:"\e92e"; opacity: 0.8; font-size:1.3rem;  background-color: rgba(0,0,0,0.2);}
        &:hover:before {background-color: rgba(0,0,0,0.6);}
        &.on {
          &:before {background-color: rgba(0,0,0,0.6); opacity: 1;}
        }
      } // 알림이력 대응보기 버튼

      &.db-serabtn {
        &.on ~ .db-searchbox { display: inline-block;  }
        &:before {content:"\e925";}
      } // 알림이력 찾기 버튼

      &.db-morebtn {
        overflow: hidden; width:100%; height:0;  @include action_boxbtn;
        &:before {width:100%; height:30px; @include flex-midddle; background-color: $color-gray-09;}
        &.on {height:30px; min-height:30px;}

      } // 알림이력 더보기 버튼

      &.pin {
        @include icon_btn; &:before {content:"\e984";} &.on:before {content:"\e985";}
      } // 데시보드 메뉴 고정 핀 버튼

      &.dim {@include dim_btn;}
    }
    // button End

    //****************** 트리 Start
    //세로형 트리
    @mixin tree-type-vertical {
      @include treebase2;

      ul, li { &:before {top:20px; width:10px; height:1px;} }
      li {
        display: block; margin:0 0 0 $mt_btn_w; z-index:1;
        &:before {display: none;}
      }

      ul:before {left:-20px;}
      li:before {left:-10px;}

      input[type="checkbox"] {

        &:checked ~ div, &:checked ~ button {
          & ~ ul {
            & > li {display: block !important; height:auto;}
            &:after {content:"\e92c" !important;}
          }
        }
      }

      & > li ul li:after {top:-7px;}
      & > li ul li:first-child:after {display:flex; width:1px !important; height:auto;}
    } // @include  tree-type-vertical;
    .tree-vertical-circle, .tree-vertical-square {@include tree-type-vertical; & > li ul li {display: none; height:0;}}

    .tree-vertical-circle { & > li ul { &:after {@include plus-icon-circle;} } } // 원형버튼 - 구역 디바이스 관리 트리
    .tree-vertical-square { & > li ul { &:after {@include plus-icon-square;} } } // 사각버튼 - 대시보드 메뉴 트리

    //가로형 트리
    @mixin tree-type-horizontal {
      @include treebase2;

      li {@include flexbase; @include flex-align-items-start;}

      input[type="checkbox"] {
        &:checked ~ div, &:checked ~ button {
          & ~ ul {
            & > li {@include flexbase; height:auto;}
            &:after {content:"\e92c" !important;}
            &:before {display: block !important;}
          }
        }
      }

      & > li {
        margin:0 0 0 $mt_btn_w;
        ul,li { &:before {display: none;} }
        li {margin:0 0 0 ($mt_btn_w + 20px);}
        ul {
          &:before {width:$mt_btn_w; height:1px; top: 20px; left: auto;}
          li {
            &:after {top:20px;}
            //ul li:after {top:-7px;}
          }
        }
      }
    } // @include tree-type-horizontal;

    .tree-horizontal-square, .tree-horizontal-circle, .tree-horizontal-view  {@include tree-type-horizontal; }
    .tree-horizontal-square, .tree-horizontal-circle {& > li ul li {display: none; height:0;}}

    .tree-horizontal-square {& > li ul { &:after {@include plus-icon-square;} } } //원형버튼
    .tree-horizontal-circle {& > li ul { &:after {@include plus-icon-circle;} } } //사각버튼

    @mixin tree-type-view {
      @include treebase2;

      ul,li { &:before {display: block !important;} }

      li {
        @include flexbase; @include flex-align-items-start;
        &:before { @include tree-line; top:20px; left:-($bar_w); width:$bar_w; height:1px;}
        &:after {top:21px !important;}
      }

      & > li {
        margin:0 0 0 0;
        &:before {display: none !important;}
        li {margin:0 0 0 ($mt_btn_w);}
        ul {&:before {width:$mt_btn_w; height:1px; top: 20px; left: auto;} }
      }
    } // @include tree-type-view;  열고 닫기 없음

    .tree-rolemenu {
      @include tree-type-view;

      button {
        @include flex-justify-content-start; @include tree-button-action;
        min-width:200px !important; min-height:$mt_btn_w; padding:0 10px 0 ($mt_btn_w + 10px) ; margin:0 0 6px 0;

        &:after {
          content:"OFF"; @include flex-midddle;
          position: absolute; top:0; left:0; width:$mt_btn_w; height:$mt_btn_w;
          background-color: rgba(0,0,0,0.2);
        }
        &.on:after {content:"ON" !important;}
      }

    } //원형버튼 - 메뉴권한관리
    //****************** 트리 End

    .popupbase {}
    aside.db_area > article {
      position: relative;
      .notice-btn {
        position: absolute !important; z-index: 100;
        //top:10px; right:10px; width:40px; height:40px;
        top:0; right:0;

        @include btn-itype03b; @include mhwidth(50px);


        // &, &:before, &:after {@include border-radius(800px);  @include flex-midddle;}
        // &:before, &:after {content:""; position: absolute; width:100%; height: 100%; font-size:1.6rem;}
        &:before {
          content:"\e91a" !important;
          //@include border01(1px,$color-gray-05,1 );
          //@include box-shadow01(0px, 9px, 8px, -5px, #000, 1); @include box-inset-shadow(0px, 0px, 8px, #000, 1);
        }
      }
    }

    & > header {display:none;}

    /*전체 레이아웃 순서*/
    & > main {
      width:100%; @include flex-option(0, 1, 100%);
      &, & > * {@include flexbase; position: relative; @include transition(200ms); }
      & > * {}
      & > section, .common-popup-layer {order:1;}
      & > menu {order:2}
      & > article {order:3; @include flex-option(0, 1, 100%); width:100%; overflow: hidden;@include flex-column; }
      & > aside   {order:5; }
      & > .notice-area {order:4; overflow: hidden;}

      .popup-layer {} // 특정 화면 기능 수행 팝업
      .common-popup-layer {} // 모든 화면 공통 팝업

      & > menu {
        z-index: 100; background-color: $color-not;

        /*
     <!-- 좌측 메뉴 / 기능 버튼 영역 -->
     <menu id="menu">

         <!-- 메뉴 SET -->
         <div class="menu-btnset">

             <!-- 데시보드, 통계, 어드민 링크 버튼 -->
             <div class="group-menubtn">
                 <button class="ico-dash">DASHBOARD</button>
                 <button class="ico-stic">STATISTICS</button>
                 <button class="ico-admi">ADMINISTRATION</button>
             </div>

             <!-- 기능 버튼 -->
             <div class="group-functionbtn">
                 <button class="ico-user">USER INFORMATION</button>
                 <button class="ico-info">LICENSE INFORMATION</button>
                 <button class="ico-logi">LOGOUT</button>
             </div>
         </div>

         <div class="menu-naviset">
         </div>
     </menu>
     */

        button {padding:0; height:31px; min-width: 120px;}

        @include flex-justify-content-start; @include flex-align-items-start;
        @include flex-option(1, 0, $menu-width); min-width:$menu-width;
        &.pin  {@include flex-option(1, 0, ($menu-width + 300px)); min-width:($menu-width + 300px);}
        &.hide {overflow: hidden;  @include flex-option(1, 0, 0); min-width:0 !important;}
        &, & > * {@include transition(200ms); }


        .menu-btnset {
          &, & > div {@include flexbase; @include flex-column; position: relative;}
          @include flex-justify-content-between;
          z-index: 10; width:$menu-width; min-width:$menu-width; height:100%; background-color:rgba($color-gray-11,1);

          &:after {@include bbl(0,0,0,0,auto,1px,100%, $color-gray-09);}

          button {
            @include menu_btn;display: flex;align-items: center;
            &.hover {background-color: $color-ho;}

            //-- 버튼안에 테그 삽입 시 사용 시작
            /*& > * {
              @include flexbase; @include flex-align-items-center; position: absolute; z-index: -1; top:0; left:-300px;
              font-size:1rem; min-width:170px; height:$menu-width; padding:0 10px; background-color:$color-blue-01;
            }*/
            &:hover & > *  {left:50px;}
            &:active & > * {background-color: $color-green-01;}
            //-- 버튼안에 테그 삽입 시 사용 끝

            &.menubtn-dash { &:before {content:"\e90a";} }
            &.menubtn-stic { &:before {content:"\e908";} }
            &.menubtn-admi { &:before {content:"\e909";} }
            &.funcbtn-user { &:before {content:"\e90e";} }
            &.funcbtn-info { &:before {content:"\e946";} }


            &.funcbtn-reso { &:before {content:"\e907";} }
            &.funcbtn-logi { &:before {content:"\e900";} }
            &.funcbtn-mscr { &:before {content:"\e903";} }

          }

          & > div {
            @include flex-justify-content-start; z-index: 10;
            &.ignore {flex:auto;}
          }

          .group {
            &-menubtn {} // 데시보드, 통계, 어드민 링크 버튼
            &-informationbtn {} // 기능 버튼
            &-functionbtn {
              button {

                &:hover {width:200px; min-width:200px; }
                &:after  {display: none;}
                &.funcbtn-mscr.on {
                  position: fixed !important; left:0 !important; bottom:0 !important;
                  p { display: none !important;}
                  &,&:before {width:30px; height:30px; min-width:30px; min-height:30px;}
                  &:before {content:"\e904"; font-size:1.4rem;}
                  &:after  { display: block !important; font-size:0.9rem; }
                  &:hover  {width:200px; min-width:200px; }
                }
              }
            } // 기능 버튼
          }
        }

        .menu-navset {
          @at-root { .admin_mode .menu-navset {  @include webkit_scroll_dashboard;} }
          position: relative; z-index: -1; height:100%;
          & > * {

            @include flexbase; @include flex-column; @include flex-justify-content-start; @include flex-align-items-start;
            overflow: hidden; z-index: 10; position: absolute; top:0; left:-(300px + $menu-width); width:300px; height:100%;
            background-color:rgba($color-gray-09,0.7); @include transition(200ms);

            &:after {
              content:""; position: absolute; z-index: -1; width:100%; height:100%; opacity: 0.7;
              background-image: url("../images/bg/bg_spot.svg");
            }
            &:before {@include bbl(0,0,0,0,auto,1px,100%, $color-gray-09);}
            &.on {left:0;}

            & > * {padding: 10px;}

            & > ul {@include flex-option(0, 1, 100%); overflow: auto; position: relative; width:100%;}

            h3 {font-size:1.1rem; font-weight:bold; margin:0 0 4px 0;  opacity: 0.6;}
          } // nav

          .nav {
            &-dash, &-stic, &-admi {
              &.pin {position: relative; z-index: 1; left:0; background-color:rgba($color-gray-11,1);}
              button.pin {position: absolute; top: 0; right: 0; padding:0; }
            }
            &-stic {}
            &-admi {}
            &-user {}
            &-info {}
          }
        }

        // 네비게이션 기본
        .nav-base {
          /*
          <ul class="nav-base">
            <li>
                <h3>이벤트</h3>
                <ul>
                    <li><button>이벤트이력</button></li>
                </ul>
            </li>
          </ul>
          */
          //@at-root { .admin_mode .nav-base {  @include webkit_scroll_dashboard;} }
          h3 {min-height:40px; height:40px; max-height:40px; @include flex-option(0, 1, 50px); padding:10px 0;}
          ul, li {position: relative; width:100%;  }
          & > li {
            margin:0 0 10px 0; padding:0 0 10px 0;
            &:before {@include bbl(auto,0,0,0,0,100%,1px, rgba($color-white-01,0.2));  }
          }
          & > li > ul > li > button {
            @include nav_btn; @include flex-justify-content-start;line-height: 1px;
          }
          & > li > ul > li > button:hover {
            line-height: 1px;
          }
        }
      }

    }
  }
}

// 현재는 쓰지 않음.. 구버젼 사용
/*
.wrap {
  & > header {
    width:100%; @include mmheight($headerHeight); @include flex-option(1, 0, $headerHeight);
    padding:0; background-color:$color-header; color:$color-white-02;

    &:after {
      content:""; position: absolute; left:0; top:($headerHeight - 2px); width:100%; height:2px;
      background: -webkit-linear-gradient(left, rgba($color-blue-01,0) 0%,rgba($color-blue-01,1) 50%,rgba($color-blue-01,0) 100%);
      background: linear-gradient(to right, rgba($color-blue-01,0) 0%,rgba($color-blue-01,1) 50%,rgba($color-blue-01,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#007db9e8',GradientType=1 );
      @include header_ani;
    }
    &:before {@include bbl(1,auto,0,0,0,100%,1px,$color-bline);}

    .header_area {
      @include flexbase; @include flex-justify-content-end;
      position: relative; width:100%; height:$headerHeight;

      & > * {display: inline-block; height: 100%;}

      h1 {
        @include mmwidth($menu-btn-width); background-color: rgba(0,0,0,.4);
        padding:0 ($margin + 10px) 0 $margin;
        a {width:100%; height:100%; }
      }

      .header_right_area {
        margin:0 0 0 auto;
        & * {height:100%;}
        & > * {float:left;}
      }

      .header_btn_set {
        @include flexbase; @include flex-justify-content-end; margin:0 0 0 20px; width:$noticecenter-width;
        & > * {position: relative;}

        button {
          @include btn-iconbase;
          &:after {@include btn_before;}
          &:before {background-color: rgba(0,0,0,0);}
          &:after {@include bbl(1,0,auto,0,0,1px,100%,rgba($color-bline,.8));}

          &:not(.issue_btn) {@include mmwidth(40px);}

          &.issue_btn {
            @include flex-option(0, 1, 100%);
            &:before {content: "\e907";}
          }
          &.issue_btn:before     {content: "\e907";}
          &.loginout_btn:before  {content: "\e900";}
          &.user_btn:before      {content: "\e90e";}
          &.info_btn:before      {content: "\e946";}
          &.reso_btn:before      {content: "\e964";}


          &.level-caution, &.level-warning, &.level-danger {
            &.issue_btn {
              &:before {color:#fff !important;}
              &.on {@include notice-opacity;}
            }
          }
        }
      }
    }
  }
}
*/

header {overflow: hidden; position: relative; width:100%; @include flexbase; @include flex-align-items-center;}

/////..... 알림센터 Start
aside.db_area {
  $db_filter_h:41px;
  $db_morebt_h:40px;

  //@at-root { .admin_mode .db_area {  @include dashboard-bg; @include webkit_scroll_dashboard;} }
  @include dashboard-bg; @include webkit_scroll_dashboard;
  position: relative; @include mmwidth(0); @include z-index-notice;
  &:before {@include bbl(101,0,auto,0,0,1px,100%,$color-bline);}

  &.on {@include mmwidth($noticecenter-width);}

  & * {color:$color-white-01; }
  //&, article {overflow: hidden;}
  article, section {@include flexbase;}
  article {@include mmwidth($noticecenter-width); height:100%; background-color:$color-not;}
  article, section:not(.issue_board), .db_cancel_set {@include flex-column; }

  h2 {
    @include title_icon;  @include mmheight($areaHeaderHeight); padding:10px;
    span {width:100%;  }
  }

  // 알림카운트
  .issue_board {
    @include flex-midddle; margin:10px 0;
    span {
      @include flex-midddle; @include flex-midddle; @include flex-column; @include border-radius(200px);
      @include box-shadow01(0px, 6px, 6px, 0px, #000, 0.1);

      position: relative; width:80px; height:80px; margin:0 5px;
      font-size:1.4rem; color:$color-white-01; line-height: 1.4rem;
      @include text-shadow(0, 1px, 2px, #000, 0.7);

      &:before {font-size:.8rem; padding:5px 0;}
      &:nth-of-type(1) {
        background-color: $color-caution;
        &:before {content:"CAUTION";}
      }
      &:nth-of-type(2) {
        background-color: $color-warning;
        &:before {content:"WARNING";}
      }
      &:nth-of-type(3) {
        background-color: $color-danger;
        &:before {content:"DANGER";}
      }
    }
    & + .checkbox_set.csl_style01{
      border:1px solid #f5f5f5; border-left: none; border-right: none; margin:10px 0;
    }
  }


  // 알림센터
  .db_list_box {

    @mixin listbase {
      @include flex-option(0, 1, 100%);
      p {font-size:0.9rem; opacity: 0.8; letter-spacing: 0; @include text-shadow(0, 1px, 2px, #000, 0.7);}
      p:nth-of-type(2) {font-size:1rem; font-weight:bold; opacity: 1; padding:3px 0;}
      p:nth-of-type(3) {word-spacing: 2px; }
      p:nth-of-type(4) {
        padding:5px 0 0 0; margin:5px 0 0 0; @include border01(1px 0 0 0,$color-gray-09,0.3 );
        &, & ~ p {}
      }
    } // @include listbase; 알림리스트

    @include flex-option(0, 1, 100%); position: relative; z-index:10; overflow: hidden;

    .db_filter_set {
      @include flexbase; @include flex-row-wrap; @include flex-justify-content-end; min-height:$db_morebt_h;

      .checkbox_set {
        margin-right:auto; @include flex-midddle;
        &:after {content:"All Check"; font-size:.8rem;}
      }

      button {
        @include btn-itype01b-t;
        &.dbc_open_btn {
          pointer-events: none; opacity: 0.5;
          &.on {pointer-events: auto; opacity: 1; background-color: $color-bas;}
          &:before {content:"\e937"; }
        }
        &.dbc_dele_btn:before {content: "\e974";}
        &.dbc_sera_btn {
          &.on {opacity: 1; background-color: $color-on;}
          &.on ~ .search_box { height:auto;}
          &:before {content:"\e925";}
        }
      }

      h3 {@include flexbase; @include flex-align-items-center; padding:10px;}
    }

    .search_box {
      overflow: hidden; width:100%; height:0;
      & > * {width:100%; border-width:1px 0 0 0 !important;}
    }

    // 알림이력
    & > ul {
      @include flex-width-one(1); @include webkit_scroll_dashboard; overflow: auto;
      li {
        @include flexbase; @include flex-align-items-center;
        position: relative; width:100%; margin:0 0 1px 0; padding:5px 0;
        //@include border01(0 0 1px 0,$color-gray-01,1);
        & * {color:$color-white-01;}
        & > .checkbox_set, & > button {@include flex-option(1, 0, 40px);}

        & > button {
          $spot-width:4px;
          height:40px; margin: 0 5px;

          &:before, &:after, span:before, span:after {
            content:""; position:absolute;
            @include border-radius(200px);
            @include transition(400ms);
            @include box-shadow01(0, 1px, 2px, 0px, #000, 0.5);
          }

          &:before {top:50%; left:50%; margin: -2px 0 0 -2px;}
          &:after {top:0; left:0; width:100%; height:40px; opacity: 0;
            @include border01(2px,$color-white-01,1 );
          }

          &:before, span:before, span:after {
            width:$spot-width; height:$spot-width; background-color:$color-white-01;
          }

          span {
            position: absolute; top:50%; left:0; margin:-2px 0 0 0; width:100%; height:5px;
            @include transition(200ms);
            &:before {left: 10px;}
            &:after  {right:10px;}

            &:nth-of-type(2) {opacity: 0;}
          }

          &.on {
            span:nth-of-type(1) {margin:-9px 0 0 0;}
            span:nth-of-type(2) {margin:6px 0 0 0; opacity: 1;}
            &:after {opacity: 1;}
          }
        }

        & > button:hover:after{opacity: 1;}

        .video_btn {
          &:before {content:"\e91c" !important;background: none !important; width: 0 !important; height: 0 !important; font-size:30px;
            position: absolute; left: 7px !important; top: 7px !important;
          }
        }

        .infor_set {@include listbase;}

      }
    }

    .dbc_more {
      width:100%; @include mmheight($btnarea-height); @include flex-option(1, 0, $btnarea-height);
      @include action_boxbtn;
      &:before {content:"\e92b";position: absolute;left: 0; top: 0; width:100%; height:100%; justify-content: center;align-items: center;
        display:flex; background-color: #2c2c2c;
      }
    }

    // 알림해지 노출 시 체크박스 및 셀렉트 박스 감춤
    .open_cancel {
      & > div, & > select {opacity: 0; visibility: hidden}
    }
  }

  // 알림해지 사유
  .db_cancel_set {
    @include flexbase; @include transition(200ms); @include translate3d(100%, 0, 0);
    position: absolute; z-index: 50; top:0; bottom:0; width:100%; background-color: $color-not;

    &.on {@include translate3d(0, 0, 0);}

    .title {
      @include flexbase; @include flex-align-items-center; @include flex-justify-content-between;
      @include mmheight($db_morebt_h); padding:0 10px;

      .dbc_close_btn {@include btn-itype01b-t; @include translate3d(10px, 0, 0); &:before {content:"\e91a";} }
    }

    textarea, div[contenteditable] {
      @include flex-option(0, 1, 100%); position: relative; resize: none; outline: none;
      background-color: $color-popup !important; border: none !important;
    }

    .btn_set {
      @include flex-option(1, 0, 40px); margin:10px;
      button {@include btn-line;}
    }
  }

  // 알림상세
  .db_infor_box {

    position: absolute; z-index:-2; bottom:0px; top:0; right:-($noticecenter-width * 2 + 50px);
    width:($noticecenter-width * 2); padding:50px; @include box-shadow02(-60px, 0, 100px, -50px, 0, 0, 0, 1);
    @include transition(200ms);

    & > * {
      position: relative;
      display: inline-block;  width:100%; margin: 0 0 40px 0;
      & * {color:$color-adm; @include text-shadow(0, 1px, 2px, #000, 0.7);}
      *:last-of-type {margin:0;}
    }

    .dbi {

      &_event {
        p {
          &:nth-of-type(odd) {font-size:3rem; opacity: 0.8; }
          &:nth-of-type(2)   {font-size:3.5rem; padding:0 0 20px 0;}
          &:last-of-type     {font-size:8.5rem;}
        }
      }

      &_cctv {
        button {
          @include border01(1px,$color-white-01,1); width: 100%;

          &:before, &:after {position:relative;}
          &:before {content:"\e91c"; font-size: 4rem;}
          &:after  {content:"CCTV VIEW"; font-size: 2rem; top:-15px; padding:0 0 0 15px;}

          &:hover {
            background-color: $color-white-01;
            &:before, &:after {color:$color-dark-01;}
          }
        }
      }

      &_copy {
        @include flex-width-one(1);
        textarea {
          position: absolute; top:0; left:0; width:100%; height:100%;
          background-color: transparent; border:none; resize: none;
        }
        p {font-size:1.5rem; }
      }

      &_contact {
        /*
        <div class="dbi_contact">
            <p>
                <span>입주자</span>
                <span>나주인</span>
                010-1234-5678
            </p>
            <p>
                <span>현장책임</span>
                <span>홍길동 소장</span>
                010-1234-5678
            </p>
            <p>
                <span>안전담당</span>
                <span>이순신 안전요원</span>
                010-9876-5432
            </p>
        </div>
        */
        p {
          font-size:1.1rem; padding:5px 0 0 0; opacity: 1;
          span {
            position:relative;
            &:first-of-type {width:90px;}
            &:last-of-type  {width:160px;}
          }
        }
      }
    }
    &.on { right:($noticecenter-width); }
  }
  /////..... 알림센터 End
}

//////......   menu Start
menu {

  @mixin font-size-navbtn  {font-size:1.25rem;}  //ex)  depth @include font-size-navbtn;
  @mixin font-size-menubtn {font-size:1.3rem; }  //ex)  root  @include font-size-menubtn;

  *, *:after, *:before{color:$color-white-01;}

  button {
    padding:0 10px; height: 40px; text-align: left; word-break: break-all; @include action_menubtn; min-width:200px;
  }

  & > ul {
    display: inline-block; @include webkit_scroll_dashboard;
    & > li, & > li > ul > li { @include border01(0 1px 0 0 ,$color-bline,1 ); &:first-of-type {border-width:0 1px;}}
    & > li > ul > li button{padding: 0 25px;}
    & > li {
      float:left;

      & > button {
        @include font-size-menubtn; text-align: center; text-transform:uppercase;
      }
      // menu > ul > li > button

      & > ul {
        @include flexbase; @include flex-row-wrap; @include transition(200ms);
        overflow-y: auto; overflow-x: hidden; position: fixed; @include z-index-menu;
        top:$headerHeight; left:0; width:100%; height:auto !important; max-height:0; padding:0 $menu-btn-width;
        background-color: $color-header; @include box-shadow02(0px, 60px, 100px, -50px, 0, 0, 0, 1);

        & > li {
          position:relative;margin: 0 0 30px 0;
          &:first-of-type{border-width:0 1px;}
          & > * {width:100%;}
          & > button {@include font-size-navbtn; opacity: 1 !important;}
        }
      }// menu > ul > li > ul

      &:hover { & > ul {max-height:calc(100vh - 200px); padding:40px $menu-btn-width; z-index:81;} }

    }// menu > ul > li
  }// menu > ul
}
//////......   menu End


/////...... sub_title_area 정의 시작
.sub_title_area {
  @include flexbase; @include flex-align-items-center;
  &, .navigation, .navigation span {position: relative;}
  h3 {@include title_icon; @include mmheight($headerHeight);}
  .navigation {
    display: inline-block; margin:0 0 0 30px; padding: 10px 0 0 0;
    span {
      color:$color-gray-01; padding:0 15px; cursor:pointer;
      &:before, &:after {position: absolute;}
      &:before {content: "〉" !important; right:-5px; top:0; }
      &:last-of-type { /*font-weight:bold; color:$color-blue-01;*/}
      &:last-of-type:before {display: none;}
      &:after {
        content:""; display: none; bottom:-5px; left:10px; right:10px; height:2px;
        background-color: $color-blue-01;
      }
      &:hover {
        color:$color-ho;
        &:after {display: block;}
      }
    }
  }

  .checkbox_set.csl_style01{
    margin:0 0 0 auto; @include flex-midddle;justify-content: flex-end;
    &:after {font-size:1rem;}
    span{margin: 0 5px 0 0;}
  }

  &.hide{position:fixed;top:-41px; background-color: none;}
}

.expl {
  margin: 0 0 0 25px; padding-left: 15px; border-left: 1px solid #a9a9a9;
  span {
    position: relative; padding: 0 0 0 21px; margin: 0 0 0 11px;
    &:before {
      content:""; position: absolute; left:0; bottom:1px; width:18px; height:18px;
      @include border-radius(200px);  @include borderwidth(3px);
    }
    &:nth-of-type(1):before {border-color:$color-caution;}
    &:nth-of-type(2):before {border-color:$color-warning;}
    &:nth-of-type(3):before {border-color:$color-danger;}
  }

  &.inout {
    /*position: relative; right:auto; padding:0 20px 0 0;
    @include flex-align-self-center;*/
    span {
      &:nth-of-type(1):before {border-color:$color-blue-01;}
      &:nth-of-type(2):before {border-color:$color-green-03;}
    }

    & + * {margin:0 5px 0 0;}
  }

}
/////...... sub_title_area 정의 끝

/////..... 라이센스 만료 경고   Start
.license_notice {
  display: none; position: fixed; top:auto; bottom:0; left:0; right:0; height:25px;
  color:#fff !important; text-align: center;

  p {
    overflow: hidden; @include flexbase-inline; @include flex-align-items-center; font-size: 0.8rem;
    background-color: $color-red-01; height:100%; padding:0 20px; @include border-radius(200px 200px 0 0);
    &:before {content:"\e90f"; padding:0 10px 0 0; font-size:1.4rem;}
  }

  &.on {display: block; @include notice-opacity;}

  .login_area & {
    position:absolute; width:100%; bottom:0;
    p { width:100%;  @include flex-justify-content-center; @include border-radius(0 0 0 0);}
  }
}
/////..... 라이센스 만료 경고  End

////// ----------------- 로그인 영역 Start
.login_mode {@include webkit_scroll_dashboard;}
.login_area {
  position: absolute; @include flex-midddle; width:100%; height:100%;
  @include dashboard-bg; background-image: url(../images/bg/bg_spot.svg);

  &:after, &:before {content:""; z-index:1; position: absolute;  background-color: rgba(0,0,0,.2); }
  &:after  {width:100vw; height:1px; top:50%;  left:0;}
  &:before {width:1px; height:100vh; left:50%; top:0; }

  h1 {
    min-width: 160px; height:70px;
    background-image: url(../images/logo/icent_isaver_w.svg);
    background-size:170px; background-repeat: no-repeat; background-position:0 50%; border:none;
    font-size: 1.2rem; font-weight:bold; padding:0 0 0 180px;
    @include flexbase; @include flex-row-wrap; @include flex-align-items-center;
  }


  article {
    position: relative; z-index: 3; width: 500px; padding:20px 30px 40px 30px;
    @include box-shadow01(0px, 55px, 90px, -50px, #000, 1); background-color: $color-bas;

    & > * {position: relative;  }

    .login_input_area {
      width:100%; height:125px; text-align: left;  margin:10px 0;
      & > input {
        width:100%;height:40px;margin:0 0 10px 0; background-color: #181818;
        @include border01(1px,#000,1 );
        &.log_pw {margin:0; &.red {border-color:red;} }
        &[type="checkbox"] {width:18px; height:18px;vertical-align: bottom; margin:0;}
      }

    }

    button {float:right; @include btn-line;}

    .caps {color:$color-white-01; background-color: $color-red-01; padding:5px; font-size:0.9rem;}
  }

}
////// ----------------- 로그인 영역 End

////// ---------------- language Start
.language {
  width:90px; min-width:90px; border:none !important; background-color: transparent; letter-spacing: 0;
  .login_area & { float: right; height: 70px;}
}
////// ---------------- language End

/////..... 임계치 적용 표시 Start
.confirm {background-color: rgba($color-blue-02,1) !important;}

.level {

  &-caution {
    background-color: rgba($color-caution,1);
    &, .m_marqueebox:after, &.copybox:after {background-color: rgba($color-caution,1) !important;
    &.confirm{background-color: rgba($color-blue-02,1) !important;}
    }
    &.confirm{background-color: rgba($color-blue-02,1) !important;}
  } // .level-caution 주의

  &-warning {
    &, .m_marqueebox:after, &.copybox:after {background-color: rgba($color-warning,1) !important;
        &.confirm{background-color: rgba($color-blue-02,1)!important;}
    }
    &.confirm{background-color: rgba($color-blue-02,1)!important;}
  } // .level-warning 경고

  &-danger  {
    &, .m_marqueebox:after, &.copybox:after {background-color: rgba($color-danger,1) !important;
        &.confirm{background-color: rgba($color-blue-02,1)!important;}
    }
    &.confirm{background-color: rgba($color-blue-02,1)!important;}
  } // .level-danger  위험

  &-die  {
  } // .level-die  통신오류

  &-caution, &-warning, &-danger {

    &.type-list, .watch_area > div {
      & *, & *:before, & *:after {color:inherit; }
      & {background-color: transparent !important;}
    } // 각 구역

    .m_marqueebox, &.copybox {display: block;}
    .m_marqueebox { & > p > span {@include marquee;} }  //각구역 마키
     &.copybox:after {@include notice-opacity;}

  }
  // 신호등 3단계 끝

}

.issue_board.level {
  &-caution, &-warning, &-danger {
    &.issue_btn {
      width:100%; /*background-color:$color-danger;*/
      &:before {color:#fff !important;}
      &.on {@include notice-opacity;}
    }
  }

  &-caution > div.caution {
    &,&:before {color:$color-white-01;}
    &:after {background-color:$color-caution;}
  }
  &-warning > div.warning {
    &,&:before {color:$color-white-01;}
    &:after { background-color:$color-warning;}
  }
  &-danger > div.danger {
    &,&:before {color:$color-white-01;}
    &:after {background-color:$color-danger;}
  }
}
/////..... 임계치 적용 표시 End

// 국립태권도 박물관 데시보드 - 적용 시 <body> 에 ".taekwon_mode" 클래스 삽입 시 적용.
body.taekwon_mode {
  h1 {background-image: url(../images/logo/taekwon/taekwon_w.svg) !important; background-size:70%;}
  .wrap > article {
    & > section
    &:before {display: none;}
    &:nth-of-type(2) { @include flex-option(1, 0, 33%);}
    & > div {
      h3 {opacity: 0;}
      padding:0 $m_lr ($m_lr - 5px) $m_lr;
    }
  }

  .db_area, .issue_btn {display: none;}

  .watch_area {
    & > div > article {@include flex-column;}
    .blinker_set {@include flex-midddle; width:100%;}
    .kblinker_set {
      @include flexbase; @include flex-justify-content-around; @include flex-align-items-center;
      position: relative; width:100%;

      & > * {@include text-shadow(1px, 2px, 10px, #000, 0.5);}
      .out {
        font-size:($ks_bsize + 5rem); line-height:($ks_ssize + 5rem);
        color:$color-green-03; letter-spacing: -1rem; font-weight:bold;
      }
      .title {
        color:$color-white-01; letter-spacing: 0 !important;
        em {display: block;}
        em:first-of-type {
          font-size:$ks_ssize; @include border01(0 0 2px 0, $color-white-01, 0.5 ); padding:50px 0 10px 0;
        }
        em:last-of-type {font-size:($ks_ssize + 3rem); opacity: 0.5;}
      }
    }
    .chart_area:hover {.chart_select_set {top:0;}}
  }
}
// 삼성전자 온양 BMT  - .watch_area > div 에 "bmt" 클래스 삽입 시 적용.
.bmt {
  height:100%;
  .perspective {
    position: absolute; z-index:20; height:100%; top:0; right:0;
  }
  .copybox_area {
    $bmtwidth:160px;

    @include flex-justify-content-start; @include flex-align-items-center;
    order:2; overflow: hidden; z-index: 20; left:auto; right:0; top:0; /*background-color: rgba(0,0,0,0.5);*/
    min-width:$bmtwidth; max-width:$bmtwidth; width:$bmtwidth; height:auto; padding: 0 0 10px 0;

    //@include perspective01(600px, 50%, 50%);

    &:hover {
      overflow: overlay;
      //& > div {@include rotate-y(0deg);}
    }

    &, & > div {@include flexbase; @include flex-column; }

    & > div, .copybox {
      display:none;
      @include flex-justify-content-center; @include flex-align-items-start;
      @include transition(200ms);  // @include rotate-y(-20deg);
      order: 2; width:calc(100% - 20px); min-height:auto; padding: 10px; margin:10px; margin-bottom:0;
      @include box-shadow01(0px, 10px, 15px, -15px, #000, 1);

      &.level-danger {order:1 !important;}
      &.level-caution, &.level-warning, &.level-danger{display:block;}

      //&:before {@include bbl(auto,0,0,0,100%,1px,#000); }
      &:after  {background-color: $color-not; opacity: 0.95;}

      & > * {width:100%; }

      span {order:2; font-size:3.1rem; left:-5px; &:before {font-size:2.8rem;}}
      em {order:1; top:0; font-size:1.2rem; &:before {display: none;} }
      p { &:first-of-type {order:3; font-size:1rem;} &:last-of-type  {order:4; font-size:0.9rem;} }
    }
  }
}









