@charset "UTF-8";
/*
 @at-root {.class { } } 존속받지 않고 root에 위치
 */
/*
일반, 주의, 경고, 위험 색상단계 정의
일반 :
주의 : 회색  $color-gray-03    level-caution
경고 : 주황  $color-orange-01  level-warning
위험 : 빨강  $color-red-01     level-danger
*/
/*50px 버튼*/
/* 40px 버튼 */
@-webkit-keyframes radar {
  0% {
    opacity: 0;
    width: 0;
    height: 0; }
  50% {
    opacity: 1;
    width: 10px;
    height: 10px; }
  100% {
    opacity: 0.5;
    width: 70px;
    height: 70px;
    border-width: 1; } }
@-moz-keyframes radar {
  0% {
    opacity: 0;
    width: 0;
    height: 0; }
  50% {
    opacity: 1;
    width: 10px;
    height: 10px; }
  100% {
    opacity: 0.5;
    width: 70px;
    height: 70px;
    border-width: 1; } }
@-o-keyframes radar {
  0% {
    opacity: 0;
    width: 0;
    height: 0; }
  50% {
    opacity: 1;
    width: 10px;
    height: 10px; }
  100% {
    opacity: 0.5;
    width: 70px;
    height: 70px;
    border-width: 1; } }
@keyframes radar {
  0% {
    opacity: 0;
    width: 0;
    height: 0; }
  50% {
    opacity: 1;
    width: 10px;
    height: 10px; }
  100% {
    opacity: 0.5;
    width: 70px;
    height: 70px;
    border-width: 1; } }
::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border-width: 1px;
  border-style: solid; }

::-webkit-scrollbar-thumb:hover {
  background-color: #32a0be !important; }

::-webkit-scrollbar-thumb:active {
  background-color: #00af9b !important; }

[data-title]:after {
  content: attr(data-title);
  visibility: hidden;
  opacity: 0;
  font-size: 0.8rem !important;
  white-space: nowrap;
  position: absolute;
  z-index: 100;
  right: 0;
  bottom: -40px;
  height: 35px;
  padding: 16px 5px 5px 5px;
  background-image: url("../images/bg/tooltipbg.svg"), url("../images/bg/tooltipboxbg.svg");
  background-repeat: no-repeat, repeat-x;
  background-size: 10px, 25px;
  background-position: calc(100% - 14px) 0, 0 10px;
  box-shadow: 0px 12px 15px -7px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 12px 15px -7px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 12px 15px -7px rgba(0, 0, 0, 0.8); }
[data-title]:hover:after {
  visibility: visible;
  opacity: 1;
  bottom: -30px; }

[data-name]:before {
  content: attr(data-name);
  visibility: visible;
  position: relative;
  letter-spacing: 0;
  line-height: normal;
  font-size: .9rem;
  text-shadow: 0 1px 2px transparent;
  -webkit-text-shadow: 0 1px 2px transparent;
  -moz-text-shadow: 0 1px 2px transparent; }

[data-content]:after {
  content: attr(data-content);
  visibility: visible;
  position: relative;
  letter-spacing: 0; }

/*****************************************************************
 * filename			:	reset.scss
 * date				:	2019. 01. 00
 현병춘 차장
******************************************************************/
*, *:after, *:before {
  padding: 0;
  margin: 0;
  list-style-type: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font: inherit;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  letter-spacing: -0.01rem;
  text-transform: none;
  color: inherit;
  line-height: normal;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
*:after, *:before {
  font-family: 'svgbase' !important;
  transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1); }

html {
  font-size: 16px;
  font-family: '맑은고딕','Malgun Gothic';
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-appearance: none; }

html, body {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent; }

::-webkit-resizer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  background-image: url("../images/ico/select_allow_upw.svg"); }

/* 테이블 정의 */
table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse; }
  table td, table th {
    overflow: hidden; }

dl, ul, ol, menu, li {
  list-style: none; }

/* 리스트 초기화 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1rem; }

audio, canvas, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

@supports (-ms-ime-align: auto) {
  table {
    border-collapse: separate; } }
fieldset, img {
  border: 0 none; }

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
  -webkit-transition-property: width;
  -webkit-transition-property: height;
  -webkit-transition-duration: .3s; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none; }

legend {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  text-align: left;
  width: 0;
  height: 0;
  top: 0;
  left: -999em;
  font-size: 0;
  line-height: 0; }

pre {
  overflow: auto; }

caption {
  position: static; }

optgroup {
  font-weight: bold; }

abbr[title] {
  border-bottom: 1px dotted; }

sub, sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

small {
  font-size: 80%;
  opacity: 0.6; }

svg:not(:root) {
  overflow: hidden; }

form, span, address, textarea, div[contenteditable], input, select, textarea, label {
  position: relative;
  display: inline-block; }

form {
  display: block;
  width: 100%; }

label {
  text-shadow: none !important; }

a {
  -webkit-appearance: none; }

button {
  -webkit-appearance: button; }

a, button {
  position: relative;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border: none;
  border-radius: 0; }
  a, a:before, a:after, button, button:before, button:after {
    transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1); }

input, textarea, select, div[contenteditable] {
  display: inline-block;
  position: relative;
  margin: 0;
  outline: none;
  padding: 7px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: darkgray; }
  input[disabled], textarea[disabled], select[disabled], div[contenteditable][disabled] {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: default;
    pointer-events: none; }
  input:focus, textarea:focus, select:focus, div[contenteditable]:focus {
    border-color: #109dcb !important; }
  input:active, textarea:active, select:active, div[contenteditable]:active {
    border-color: #ff8400 !important; }

input, select {
  vertical-align: middle;
  height: 40px;
  transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1); }

select, input[type="date"] {
  padding-right: 30px !important;
  background-position: calc(100% - 6px) 50%;
  background-size: 15px;
  background-repeat: no-repeat; }

select::-ms-expand {
  display: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  select:focus option[disabled] {
    display: none; }

input[type="radio"] {
  width: 20px;
  height: 20px; }

input[type="date"] {
  padding: 0 10px; }

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0; }

input[type="date"]::-webkit-inner-spin-button {
  height: 100%; }

input[type="date"]::-webkit-clear-button {
  position: relative;
  font-size: 30px;
  right: 5px;
  margin-right: 5px; }

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="search"], input[type="image"],
input[type="tel"], input[type="button"], input[type="reset"], input[type="submit"], input[type="date"] {
  text-align: left;
  vertical-align: middle;
  font-style: normal;
  border-radius: 0;
  cursor: pointer; }

input[type="checkbox"], input[type="radio"] {
  width: 40px;
  height: 40px;
  background-color: transparent !important; }

input[type="number"] {
  -moz-appearance: textfield; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
  display: none;
  -webkit-appearance: none; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

div[contenteditable]:empty:before {
  content: attr(placeholder);
  display: block;
  opacity: 0.5; }

@font-face {
  font-family: 'svgbase';
  src: url("../fonts/svgbase.eot?2qkwbi");
  src: url("../fonts/svgbase.eot?2qkwbi#iefix") format("embedded-opentype"), url("../fonts/svgbase.ttf?2qkwbi") format("truetype"), url("../fonts/svgbase.woff?2qkwbi") format("woff"), url("../fonts/svgbase.svg?2qkwbi#svgbase") format("svg");
  font-weight: normal;
  font-style: normal; }
.sico_01:before {
  content: "\e900"; }

.sico_11:before {
  content: "\e90a"; }

.sico_21:before {
  content: "\e914"; }

.sico_02:before {
  content: "\e901"; }

.sico_12:before {
  content: "\e90b"; }

.sico_22:before {
  content: "\e915"; }

.sico_03:before {
  content: "\e902"; }

.sico_13:before {
  content: "\e90c"; }

.sico_23:before {
  content: "\e916"; }

.sico_04:before {
  content: "\e903"; }

.sico_14:before {
  content: "\e90d"; }

.sico_24:before {
  content: "\e917"; }

.sico_05:before {
  content: "\e904"; }

.sico_15:before {
  content: "\e90e"; }

.sico_25:before {
  content: "\e918"; }

.sico_06:before {
  content: "\e905"; }

.sico_16:before {
  content: "\e90f"; }

.sico_26:before {
  content: "\e919"; }

.sico_07:before {
  content: "\e906"; }

.sico_17:before {
  content: "\e910"; }

.sico_27:before {
  content: "\e91a"; }

.sico_08:before {
  content: "\e907"; }

.sico_18:before {
  content: "\e911"; }

.sico_28:before {
  content: "\e91b"; }

.sico_09:before {
  content: "\e908"; }

.sico_19:before {
  content: "\e912"; }

.sico_29:before {
  content: "\e91c"; }

.sico_10:before {
  content: "\e909"; }

.sico_20:before {
  content: "\e913"; }

.sico_30:before {
  content: "\e91d"; }

.sico_31:before {
  content: "\e91e"; }

.sico_41:before {
  content: "\e928"; }

.sico_51:before {
  content: "\e932"; }

.sico_32:before {
  content: "\e91f"; }

.sico_42:before {
  content: "\e929"; }

.sico_52:before {
  content: "\e933"; }

.sico_33:before {
  content: "\e920"; }

.sico_43:before {
  content: "\e92a"; }

.sico_53:before {
  content: "\e934"; }

.sico_34:before {
  content: "\e921"; }

.sico_44:before {
  content: "\e92b"; }

.sico_54:before {
  content: "\e935"; }

.sico_35:before {
  content: "\e922"; }

.sico_45:before {
  content: "\e92c"; }

.sico_55:before {
  content: "\e936"; }

.sico_36:before {
  content: "\e923"; }

.sico_46:before {
  content: "\e92d"; }

.sico_56:before {
  content: "\e937"; }

.sico_37:before {
  content: "\e924"; }

.sico_47:before {
  content: "\e92e"; }

.sico_57:before {
  content: "\e938"; }

.sico_38:before {
  content: "\e925"; }

.sico_48:before {
  content: "\e92f"; }

.sico_58:before {
  content: "\e939"; }

.sico_39:before {
  content: "\e926"; }

.sico_49:before {
  content: "\e930"; }

.sico_59:before {
  content: "\e93a"; }

.sico_40:before {
  content: "\e927"; }

.sico_50:before {
  content: "\e931"; }

.sico_60:before {
  content: "\e93b"; }

.sico_61:before {
  content: "\e93c"; }

.sico_71:before {
  content: "\e946"; }

.sico_81:before {
  content: "\e950"; }

.sico_62:before {
  content: "\e93d"; }

.sico_72:before {
  content: "\e947"; }

.sico_82:before {
  content: "\e951"; }

.sico_63:before {
  content: "\e93e"; }

.sico_73:before {
  content: "\e948"; }

.sico_83:before {
  content: "\e952"; }

.sico_64:before {
  content: "\e93f"; }

.sico_74:before {
  content: "\e949"; }

.sico_84:before {
  content: "\e953"; }

.sico_65:before {
  content: "\e940"; }

.sico_75:before {
  content: "\e94a"; }

.sico_85:before {
  content: "\e954"; }

.sico_66:before {
  content: "\e941"; }

.sico_76:before {
  content: "\e94b"; }

.sico_86:before {
  content: "\e955"; }

.sico_67:before {
  content: "\e942"; }

.sico_77:before {
  content: "\e94c"; }

.sico_87:before {
  content: "\e956"; }

.sico_68:before {
  content: "\e943"; }

.sico_78:before {
  content: "\e94d"; }

.sico_88:before {
  content: "\e957"; }

.sico_69:before {
  content: "\e944"; }

.sico_79:before {
  content: "\e94e"; }

.sico_89:before {
  content: "\e958"; }

.sico_70:before {
  content: "\e945"; }

.sico_80:before {
  content: "\e94f"; }

.sico_90:before {
  content: "\e959"; }

.sico_91:before {
  content: "\e95a"; }

.sico_101:before {
  content: "\e964"; }

.sico_111:before {
  content: "\e96e"; }

.sico_92:before {
  content: "\e95b"; }

.sico_102:before {
  content: "\e965"; }

.sico_112:before {
  content: "\e96f"; }

.sico_93:before {
  content: "\e95c"; }

.sico_103:before {
  content: "\e966"; }

.sico_113:before {
  content: "\e970"; }

.sico_94:before {
  content: "\e95d"; }

.sico_104:before {
  content: "\e967"; }

.sico_114:before {
  content: "\e971"; }

.sico_95:before {
  content: "\e95e"; }

.sico_105:before {
  content: "\e968"; }

.sico_115:before {
  content: "\e972"; }

.sico_96:before {
  content: "\e95f"; }

.sico_106:before {
  content: "\e969"; }

.sico_116:before {
  content: "\e973"; }

.sico_97:before {
  content: "\e960"; }

.sico_107:before {
  content: "\e96a"; }

.sico_117:before {
  content: "\e974"; }

.sico_98:before {
  content: "\e961"; }

.sico_108:before {
  content: "\e96b"; }

.sico_118:before {
  content: "\e975"; }

.sico_99:before {
  content: "\e962"; }

.sico_109:before {
  content: "\e96c"; }

.sico_119:before {
  content: "\e976"; }

.sico_100:before {
  content: "\e963"; }

.sico_110:before {
  content: "\e96d"; }

.sico_120:before {
  content: "\e977"; }

.sico_121:before {
  content: "\e978"; }

.sico_131:before {
  content: "\e982"; }

.sico_122:before {
  content: "\e979"; }

.sico_132:before {
  content: "\e983"; }

.sico_123:before {
  content: "\e97a"; }

.sico_133:before {
  content: "\e984"; }

.sico_124:before {
  content: "\e97b"; }

.sico_134:before {
  content: "\e985"; }

.sico_125:before {
  content: "\e97c"; }

.sico_135:before {
  content: "\e986"; }

.sico_126:before {
  content: "\e97d"; }

.sico_136:before {
  content: "\e987"; }

.sico_127:before {
  content: "\e97e"; }

.sico_137:before {
  content: "\e988"; }

.sico_128:before {
  content: "\e97f"; }

.sico_138:before {
  content: "\e989"; }

.sico_129:before {
  content: "\e980"; }

.sico_139:before {
  content: "\e98a"; }

.sico_130:before {
  content: "\e981"; }

.sico_140:before {
  content: "\e98b"; }

/*# sourceMappingURL=reset.css.map */
